
  <div class="g-modal-wrapper">
    <table class="g-admin-card-form g-admin-table-list">
      <thead>
        <tr>
          <th>
            {{ GENERAL_LANG?.labels?.date }}
          </th>
          <th>
            {{ GENERAL_LANG?.labels?.page }}
          </th>
          <th>
            {{ GENERAL_LANG?.labels?.user }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let page of pageHisotry">
          <td>
            {{ page?.publishingDate | date: DATE_FORMAT?.ddMMyyyy }}
          </td>
          <td>
            {{ page?.name }}
          </td>
          <td>
            {{ page?.username }}
          </td>
          <td>
            <div class="d-flex">
              <bvl-link (click)="see(page)">
                {{ GENERAL_LANG?.buttons?.see }}
              </bvl-link>
              <div class="mx-3">|</div>
              <bvl-link [swal]="restoreSwal(page)"
                (confirm)="restore(page)">
                {{ GENERAL_LANG?.buttons?.restore }}
              </bvl-link>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
