<div class="box g-px--30">

  <div class="row">

    <div class="page-subsection first col g-pb--0">

      <bvl-section-header title="Suscripciones"></bvl-section-header>

    </div>

  </div>

  <div class="row">

    <div class="col-12">
      <ng-container *ngIf="(subscriptionsList && subscriptionsList.length); else notExistSuscriptions">
        <ul class="row g-list-none g-pb--5"
          *ngFor="let item of subscriptionsList">

          <li class="col-6">
            <strong>{{ item?.plan?.name }}</strong> {{ item?.creation_date | date: DATE_FORMAT.ddMMyyyy }}
          </li>
          <li class="col-6 text-right">
            <a href="javascript:void(0)"
              class="link"
              [swal]="cancelSubscriptionSwal(item)"
              (confirm)="cancelSubscription(item)">
              Cancelar suscripción<i class="icon-arrow-right"></i>
            </a>
          </li>

        </ul>
      </ng-container>
      <ng-template #notExistSuscriptions>
        <div class="g-site-suscription--nofound">
          <div class="icon-writing g-site-suscription--icon"></div>
          <div>
            Actualmente no tiene suscripciones activas
          </div>
        </div>
      </ng-template>
    </div>


    <div class="g-pl--15 g-pt--25">
      <a href="/servicios-informacion/servicios-suscripcion"
        class="btn btn-primary">
        Añadir suscripción
      </a>
    </div>

  </div>

</div>
