<div class="g-alert error text-center">
  <p class="g-fs-12 mb-xs-0 d-inline-flex align-items-center">
    <span class="g-icon la la-warning g-fs-15 g-cl-red2 mr-xs-1"></span>
    <ng-content></ng-content>
  </p>
</div>
