<div class="g-btn-group">

  {{#buttons}}
    <label>
      <input type="radio" name="{{name}}">

      <span class="button">
        <i class="la {{iconClass}}"></i>
      </span>

    </label>
  {{/buttons}}

</div>
