<div class="row align-items-center {{modifierClass}}">

  <div class="col-5">

    {{#title}}
      {{>atoms-Text}}
    {{/title}}

  </div>

  <div class="col-7 text-right">

    {{#linkWithIcon}}
      {{>atoms-Link-with-icon}}
    {{/linkWithIcon}}

  </div>

</div>
