<div class="g-img-preview {{modifierClass}}">

  {{#before}}
    <div class="g-img-preview-icon">

      {{#icon}}
        {{>atoms-Icon}}
      {{/icon}}

      {{#text}}
        {{>atoms-Text}}
      {{/text}}

    </div>
  {{/before}}

  {{#after}}

    <div class="g-img-preview-img" style="background-image: url('{{img}}');">
    </div>

    {{#buttonClose}}
      {{>atoms-Button-close}}
    {{/buttonClose}}

    {{#buttonSelected}}
      {{>atoms-Permission}}
    {{/buttonSelected}}

  {{/after}}

</div>
