<div class="article">
  <div class="title">
    <h2>{{ title }}</h2>
  </div>
  <div class="description" [innerHTML]="(description || '') | safeHtml"></div>
  <div class="link text-right">
    <a [href]="urlLink">
      {{ textLink }}
      <i class="icon-arrow-right"></i>
    </a>
  </div>
</div>

