.article {
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid #ececec;
  margin-bottom: 1rem;
  h2 {
    margin-top: 0px;
  }
  a {
    font-weight: bold;
    i {
      position: relative;
      top: 2px;
    }
  }
}
