<div class="g-site-nofound"
  [ngClass]="{
    'g-site-nofound--data': type === WITHOUT_DATA_TYPE.chart,
    'g-site-nofound--list': type === WITHOUT_DATA_TYPE.table
  }">
  <div class="g-site-nofound--content">

    <div class="g-site-nofound--icon"
      [ngClass]="icon">
    </div>

    <div class="g-site-nofound--text">
        {{ message }}
    </div>

  </div>
</div>