<form [formGroup]="frmAddItemMenu">
  <div class="g-mb--15">
    <bvl-select placeholder="Sin acción"
      formControlName="mActions"
      [dataList]="SITE_MENU_ACTIONS"
      valueField="code"
      textField="description">
    </bvl-select>
  </div>
  <div class="g-mb--15">
    <bvl-autocomplete
      placeholder="Buscar página"
      formControlName="mPage"
      [dataList]="pagesList"
      matchField="path"
      textField="path">
    </bvl-autocomplete>
  </div>
  <div class="g-mb--15">
    <bvl-input placeholder="Nombre"
    formControlName="mName"
    [error]="validateControl('mName')"></bvl-input>
    <div class="g-fs-12 d-block mt-1 text-right">
      ({{ (frmAddItemMenu.get('mName').value || '').length }}/{{ this.nameMaxLength }} caracteres max).
    </div>
  </div>
  <div class="g-mb--15">
    <bvl-checkbox formControlName="mVisible">Visible</bvl-checkbox>
  </div>
</form>