<form [formGroup]="frmChangePassword"
  class="w-100">

  <ng-container *ngIf="!isMessageForm; else messageForm">

    <div class="row">

      <div class="page-subsection col-12">

        <div class="row">

          <div class="col-12 col-lg-8">

            <bvl-form-alert *ngIf="errorMessage">{{ errorMessage }}</bvl-form-alert>

            <bvl-form-input type="password"
              label="Contraseña"
              formControlName="mPassword"
              [error]="validateControl('mPassword')">
            </bvl-form-input>

            <bvl-form-input type="password"
              label="Nueva contraseña"
              formControlName="mNewPassword"
              [error]="validateControl('mNewPassword')">
            </bvl-form-input>

          </div>

        </div>

      </div>

      <div class="col-12">

        <div class="row justify-content-around">
          <div class="col-sm-4 col-6">
            <button class="btn btn-outline btn-block"
              (click)="cancel()">
              Cancelar
            </button>
          </div>
          <div class="col-sm-4 col-6">
            <button class="btn btn-primary btn-block"
              (click)="changePassword()">
              Aceptar
            </button>
          </div>
        </div>

      </div>

    </div>

  </ng-container>

</form>

<ng-template #messageForm>
  <bvl-message-form [verticalCentered]="verticalCentered"
    message="Se realizo el cambio de su contraseña.">
  </bvl-message-form>
</ng-template>