<div class="table-header">
	<div class="table-header-content">
		<div class="header-items-wrapper">
			<ng-container>
				<div class="category-filter"
					*ngFor="let byCategoryFilter of byCategoryFilters; index as i"
					[ngClass]="{ 'with-selection': selectedCategories[i].value }">
					<h4 *ngIf="byCategoryFilter.title" class="category-filters-title">
									{{ byCategoryFilter.title }}
					</h4>
					<select class="select select-xl white"
									[ngClass]="byCategoryFilter.title ? 'red' : 'arrow-red'"
									[(ngModel)]="selectedCategories[i].value"
									(ngModelChange)="onCategoryChange(byCategoryFilter)">
					<option *ngIf="byCategoryFilter.label"
													[ngValue]="null">{{ byCategoryFilter.label }}</option>
					<option *ngFor="let option of byCategoryFilter.options"
													[ngValue]="+option.id">
													{{ option.label }}</option>
					</select>
				</div>
			</ng-container>
		</div>

		<p class="entries-number" *ngIf="entriesNumber">{{ entriesNumber }}</p>
	</div>
</div>
