<div class="table-header">
  <div class="table-header-content with-only-today" [ngClass]="{ 'search-showed': searchInputShowed }">
    <div class="header-items-wrapper row-sm">

      <ng-container *ngIf="privateSite; else defaultHeader">
        <div class="header-items-wrapper">
          <h3 class="title">Watchlist: {{ TEXT.general.dailyMovements }}</h3>
        </div>
      </ng-container>

      <ng-template #defaultHeader>
        <div class="header-items-wrapper row-sm">

          <div class="only-today checkbox" [ngClass]="{
              disabled: !onlyTodayEnabled,
              'd-none d-md-block': searchInputShowed
            }">
            <input type="checkbox" id="onlyTodayCheckbox" [(ngModel)]="filterOnlyToday" (ngModelChange)="onOnlyTodayChange()"
              ctrl="checkJustToday" (domChange)="onDomChange($event)" />
            <label for="onlyTodayCheckbox">{{ TEXT.filters.onlyToday }}</label>
          </div>

          <div class="search" [ngClass]="{
            'with-search': searchTerm.length,
            'search-focused': searchFocused
          }">
            <div class="form-group" [ngClass]="{ 'd-none d-md-flex': !searchInputShowed }">
              <input
                #searchTermInput
                ctrl="searchText"
                (domChange)="onDomChange($event)"
                type="text"
                class="form-control"
                [(ngModel)]="searchTerm"
                (keyup.enter)="onSearch()"
                (focus)="searchFocused = true"
                (blur)="onSearch(); searchFocused = false" />
            </div>
            <button
              class="btn search--close btn-icon"
              *ngIf="searchTerm"
              (click)="
                toggleSearch();
                setFocusToElement(searchTermInput);
                resetSearch()">
              <i class="icon-close"></i>
            </button>
          </div>

          <div class="type-filters">
            <button
              ctrl="linkAll"
              (domChange)="onDomChange($event, { text: TEXT.filters.all })"
              class="btn active"
              (click)="onTypeChange('')"
              [ngClass]="{ active: !filterOnlyToday && selectedType === '' }">
              {{ TEXT.filters.all }}
            </button>
            <select
              [(ngModel)]="sector"
              (change)="onTypeChange(sector)"
              [ngClass]="{ active: isNumber(selectedType) }"
              class="select arrow-red white"
              ctrl="selectSector"
              (domChange)="onDomChange($event)">
              <option selected value="  ">{{ byTypeFilter?.label }}</option>
              <option
                *ngFor="let option of byTypeFilter?.options"
                [attr.value]="option.code">
                {{ option.label }}
              </option>
            </select>
            <div class="g-site-select">
              <div class="g-site-select--label">
                <span>{{ (selectedType ? getSelectedLabel(selectedType, byTypeFilter?.options) : byTypeFilter?.label) | truncate: 20 }}</span>
                <i class="icon-simple-arrow-down"></i>
              </div>
              <div class="g-site-select--list" [bvlToggleByPosition]="['g-site-select--list-left', 'default']">
                <div (click)="onTypeChange('');"
                ctrl="selectSector"
                (domChange)="onDomChange($event, { label: byTypeFilter?.label })">{{ byTypeFilter?.label }}</div>
                <div *ngFor="let option of byTypeFilter?.options"
                  [ngClass]="{ 'active': selectedType === option.code }"
                  (click)="onTypeChange(option.code);"
                  ctrl="selectSector"
                  (domChange)="onDomChange($event, { label: option.label })">
                  {{ option.label }}
                </div>
              </div>
            </div>
            <button
              ctrl="watchlist"
              (domChange)="onDomChange($event, { action: getAction() })"
              class="btn"
              [ngClass]="{ active: selectedType === 'inWatchList' }"
              (click)="onTypeChange('inWatchList')">
              Watchlist <i class="icon-watch"></i>
            </button>
          </div>

        </div>
      </ng-template>
    </div>
  </div>
</div>
