<div class="g-card-header">

  <div class="row align-items-strech">

    {{#col}}
      <div class="{{colClass}}">

        {{#cardInfo}}
          {{>molecules-Card-info}}
        {{/cardInfo}}

        {{#squareBtn}}
          {{>atoms-Square-button}}
        {{/squareBtn}}

      </div>
    {{/col}}

  </div>

</div>
