<div class="g-acordion-list">

  {{#item}}
    <div class="g-acordion-list-item {{itemClass}}">

      {{#acordionListHeader}}
        {{>molecules-Acordion-list-header}}
      {{/acordionListHeader}}

      {{#acordionListBody}}
        {{>organisms-Acordion-list-body}}
      {{/acordionListBody}}

    </div>
  {{/item}}

</div>
