bvl-details-chart {
  .g-site-select {
    &--label {
      span {
        margin-left: 20px;
        margin-right: 0px;
        color: #fff;
      }
    }
  }
  .highcharts-contextmenu {
    display: block !important;
    top: 25% !important;
    right: 0px !important;
    padding: 0px !important;
    .highcharts-menu {
      background: rgba(115, 114, 114, 0.6196078431372549) !important;
      padding: 0px !important;
      box-shadow: none !important;
      border-color: transparent !important;
      border-radius: 4px 0px 0px 4px;
    }
    .highcharts-menu-item {
      color: #fff !important;
      padding: 7px 10px !important;
      &:hover {
        background: #4c4c4c !important;
      }
      & > i {
        font-size: 16px;
      }
    }
  }
  .head-detail-chart {
    border-top: 1px solid #5b5b5b;
    border-bottom: 1px solid #5b5b5b;
    .row {
      & > div:not(:first-of-type) {
        padding: 10px;
        border-left: 1px solid #5b5b5b;
      }
    }
    .select-container {
      margin-top: 17px;
      float: left;
      h2 {
        float: left;
        margin: 0px;
        margin-top: 4px;
      }
      select {
        color: #fff;
        float: left;
        margin-left: 16px;
        padding: 0px;
      }
    }
  }
  .chart-wrapper {
    background: #302e2e;
    position: relative;
    top: -5px;
    height: 400px;

    .noData {
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      z-index: 1;
      background: #302e2e;

      span {
        color: red;
        font-size: 50px;
      }
    }
  }
  .highcharts-container {
    width: 100%;
  }
  .comparar {
    position: relative;
    float: right;
    button {
      background: #fff;
      border: 0;
      padding: 15px 21px;
      border-radius: 6px;
      font-weight: 700;
      color: #353535;
      box-shadow: inset 0 -2px 0 #d4d4d4;
      margin-top: 10px;
      cursor: pointer;
      &.active:after {
        content: "";
        display: block;
        width: 0px;
        border-right: 14px solid transparent;
        border-left: 14px solid transparent;
        border-bottom: 14px solid #edecf1;
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 5;
      }
      & > i {
        position: relative;
        top: 2px;
        right: 3px;
      }
    }
  }
  .nemonicsCompare {
    margin: 18px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-right: 8px;
      }
      button {
        background: transparent;
        border: 0px;
        color: #cbf2ff;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}
