<div class="details-chart">
  <ng-container *ngIf="nemonics?.length; else noNemonics">
    <section class="page-section dark p-0">
      <header class="head-detail-chart">
        <div class="container">
          <div class="row">
            <div [ngClass]="indexName ? 'col-sm-6' : 'col-sm-8'">
              <ng-container *ngIf="indexName">
                <h2>{{ indexName }}</h2>
              </ng-container>
              <ng-container *ngIf="!indexName">
                <div class="select-container">
                  <h2>{{ TEXT.general.quotation }}</h2>
                  <select
                    class="select select-xl red tablist"
                    role="tablist"
                    [(ngModel)]="nemonic"
                    (change)="onNemonicChange(nemonic)">
                    <option
                      *ngFor="let item of nemonics; index as i"
                      [ngValue]="item">
                      {{ item }}
                    </option>
                  </select>
                  <div class="g-site-select">
                    <div class="g-site-select--label g-site-select--label--large">
                      <span>{{ nemonic }}</span>
                      <i class="icon-simple-arrow-down"></i>
                    </div>
                    <div class="g-site-select--list">
                      <div
                      [ngClass]="{ 'active' : nemonic === item }"
                      (click)="nemonic = item; onNemonicChange(nemonic)"
                      *ngFor="let item of nemonics">
                        {{ item }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="comparar">
                  <button [disabled]="nemonicsToCompare.length === 6" [ngClass]="{'active': active}" (click)="active = !active">
                    <ng-container *ngIf="nemonicsToCompare.length === 6; else Compare">
                      {{ TEXT.general.comparisonLimit }}
                    </ng-container>
                    <ng-template #Compare>
                      <i class="icon-plus"></i>
                      {{ TEXT.general.compare }}
                    </ng-template>
                  </button>
                  <bvl-autocomplete
                    placeholder="Ingrese el nombre de un nemónico"
                    [active]="active"
                    [data]="allNemonics"
                    (itemSelected)="onItemSelected($event)">
                  </bvl-autocomplete>
                </div>
              </ng-container>
            </div>
            <div [ngClass]="indexName ? 'col-sm-6' : 'col-sm-4'">
              <div class="table-header-content">
                <div class="time-filter">
                  <div class="btn-group-toggle d-none d-lg-block">
                    <label
                      class="btn"
                      [ngClass]="{ 'btn-primary': selectedTime === 1 }"
                    >
                      <input
                        type="radio"
                        [value]="1"
                        name="timeFilter"
                        [(ngModel)]="selectedTime"
                        (ngModelChange)="getChartByDate()"
                      />
                      <span>{{ TEXT.filters.datesRange.day }}</span>
                    </label>
                    <label
                      class="btn"
                      [ngClass]="{ 'btn-primary': selectedTime === 30 }"
                    >
                      <input
                        type="radio"
                        [value]="30"
                        name="timeFilter"
                        [(ngModel)]="selectedTime"
                        (ngModelChange)="getChartByDate()"
                      />
                      <span>{{ TEXT.filters.datesRange.month }}</span>
                    </label>
                    <label
                      class="btn"
                      [ngClass]="{ 'btn-primary': selectedTime === 90 }"
                    >
                      <input
                        type="radio"
                        [value]="90"
                        name="timeFilter"
                        [(ngModel)]="selectedTime"
                        (ngModelChange)="getChartByDate()"
                      />
                      <span>3 {{ TEXT.filters.datesRange.months }}</span>
                    </label>
                    <label
                      class="btn"
                      [ngClass]="{ 'btn-primary': selectedTime === 180 }"
                    >
                      <input
                        type="radio"
                        [value]="180"
                        name="timeFilter"
                        [(ngModel)]="selectedTime"
                        (ngModelChange)="getChartByDate()"
                      />
                      <span>6 {{ TEXT.filters.datesRange.months }}</span>
                    </label>
                    <label
                      class="btn"
                      [ngClass]="{ 'btn-primary': selectedTime === 365 }"
                    >
                      <input
                        type="radio"
                        [value]="365"
                        name="timeFilter"
                        [(ngModel)]="selectedTime"
                        (ngModelChange)="getChartByDate()"
                      />
                      <span>{{ TEXT.filters.datesRange.year }}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="chart-wrapper">
        <ng-container *ngIf="chartData?.length === 0">
          <div class="noData">
            <div>
              <span class="icon-info"></span>
              <h3>{{ TEXT.filters.datesRange.noData }}</h3>
            </div>
          </div>
        </ng-container>
        <div id="details-chart"></div>
      </div>
      <div class="nemonicsCompare">
        <ul>
          <li [ngStyle]="{color : item.color.lineColor}" *ngFor="let item of nemonicsToCompare">
            {{item.name}} <button (click)="removeNemonic(item)"><i class="icon-close"></i></button>
          </li>
        </ul>
      </div>
    </section>
  </ng-container>
  <ng-template #noNemonics>
    <section class="g-site-nofound">
      <div class="g-site-nofound--content">
        <div class="g-site-nofound--icon icon-bar-chart"></div>
        <div class="g-site-nofound--text">
          {{ TEXT.general.noData }}
        </div>
      </div>
    </section>
  </ng-template>
</div>
