<div class="g-site-input-autocomplete">
  <div class="g-site-input-autocomplete-icon">
    <i class="icon-search"></i>
  </div>
  <div class="g-site-input-autocomplete-close" [hidden]="iconSearch">
    <button type="button"
      class="g-site-btn g-site-btn-circle invert"
      (click)="delete()">
      <i class="icon-close"></i>
    </button>
  </div>
  <input #autoComplete
        type="text"
        class="g-site-input"
        [ngClass]="{'g-site-input-error': error}"
        [attr.placeholder]="placeholder"
        [(ngModel)]="model"
        [disabled]="disabled"
        [readonly]="readonly"
        [ngbTypeahead]="search"
        [resultTemplate]="rt"
        [inputFormatter]="formatter"
        (selectItem)="oSelectItem($event)"/>

    <ng-template #rt let-r="result" let-t="term">
      <ngb-highlight [result]="r[textField]" [term]="t">
      </ngb-highlight>
    </ng-template>

</div>
