<bvl-card-wrapper>
  <ng-container *ngFor="let item of rolesList?.content">
    <admin-collapse-role [role]="item" [disabled]="item?.disabled"></admin-collapse-role>
  </ng-container>
</bvl-card-wrapper>
<bvl-paginator *ngIf="rolesList?.totalPages > 1"
  [(page)]="pagination.page"
  [collectionSize]="rolesList?.totalElements"
  (pageChange)="pageChange($event)">
</bvl-paginator>