<bvl-card-wrapper>
  <form [formGroup]="frmKeys">
    <div class="g-card-form mb-xs-3">
      <div>
        <h3>Api Keys </h3>
        <p>
          Permite el acceso a servicios externos.
        </p>
        <div class="pt-xs-3 pb-xs-3 pl-xs-6 pr-xs-6  g-bgc-white">
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center no-gutters mb-xs-2">
                <div class="col-2 g-w-100">
                  <label class="g-fw-bold">Google Maps:</label>
                </div>
                <div class="col-6">
                  <bvl-input formControlName="googleMaps"></bvl-input>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center no-gutters mb-xs-2">
                <div class="col-2 g-w-100">
                  <label class="g-fw-bold">Google Analytics:</label>
                </div>
                <div class="col-6">
                  <bvl-input formControlName="gtm"></bvl-input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-2">
          <button bvl-button type="button" (click)="saveKey()"><i
              class="la la-save g-pr--5 g-fs-20"></i><span>{{ btnSaveLabel }}</span></button>
        </div>
      </div>
    </div>
  </form>
</bvl-card-wrapper>
