<form [formGroup]="frmUser">
  <bvl-card accordion="true" [disabled]=user?.disabled>
    <bvl-card-header>
      <div class="row align-items-strech">
        <div class="col-5">
          <div class="g-admin-card-info">
            <span class="g-fs-13 g-fw-medium">{{ USER_LANG?.labels?.user }}</span>
            <span class="g-info-w-icon">
            <i class="la la-user"></i>
            <strong>{{ user?.fullname }}</strong> - {{ user?.username }}
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="g-admin-card-info">
            <span class="g-fs-13 g-fw-medium">{{ USER_LANG?.labels?.role }}</span>
            <span class="g-info-w-icon">
            <i class="la la-briefcase"></i>
            {{ user?.role?.roleName }}
            </span>
          </div>
        </div>
        <div class="col-3 text-right">
          <ng-container *ngFor="let item of TRAY_COLLAPSE_BUTTONS">
            <button *ngIf="item.isCollapsed === isCollapsed"
              bvl-button
              theme="square"
              [ngClass]="item.customClass"
              (click)="buttonAction(item)">
              <i class="la" [ngClass]="item.icon"></i>
              <span>{{ item?.description }}</span>
            </button>
          </ng-container>
        </div>
      </div>
    </bvl-card-header>
    <div [collapse]="isCollapsed">
      <bvl-card-content>
        <div class="row">
          <div class="col mb-xs-1">
            <span class="g-info-w-icon">
            <i class="la la-briefcase"></i>
            {{ USER_LANG?.labels?.role }}
            </span>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-9">
            <ng-container *ngFor="let item of rolesList">
              <bvl-radio-button
                formControlName="radioRoles"
                [value]="item">
                {{ item?.roleName }}
              </bvl-radio-button>
            </ng-container>
          </div>
        </div>
      </bvl-card-content>
    </div>
  </bvl-card>
</form>

<swal
  #swalDelete
  [options]="swalDeleteOptions"
  (confirm)="delete()">
</swal>
