<bvl-toolbar
  [capabilities]="capabilities"
  [byTypeFilter]="byTypeFilter"
  [periods]="periods"
  [dateFilter]="datesFilter ? {
    startDate: startDate,
    endDate: toDate,
    defaultFrom: fromDate,
    defaultTo: toDate
  } : false"
  [yearRange]="yearRange"
  [yearLabel]="yearLabel"
  alignClass="g-site-select--left"
  [periodByYear]="periodByYear"
  [toolBarFilterIsVisible] = "toolBarFilterIsVisible"
  (activeFilters)="onToolbarFilterChange($event)">
</bvl-toolbar>
<ng-container *ngIf="(resources | json) !== '[]'; else noData">
  <section class="resources-wrapper">
    <ng-container *ngIf="!tableDownload; else table">
      <bvl-table-file-link
        [header]="tableHeader"
        [tableData]="objects">
      </bvl-table-file-link>
    </ng-container>
    <ng-template #table>
      <bvl-table-download-file
        [header]="tableHeader"
        [tableData]="objects">
      </bvl-table-download-file>
    </ng-template>
    <ng-container *ngIf="totalPages ? totalPages > 1 : true">
      <div class="g-mt--15">
        <bvl-pagination
          [totalPages]="totalPages"
          [max]="!paginateByService ? maxObjects : null "
          [data]="!paginateByService ? resources : '' "
          [paginateByService]="paginateByService"
          (emitChangePage)="emitChangePage($event)">
        </bvl-pagination>
      </div>
    </ng-container>
  </section>
</ng-container>
<ng-template #noData>
  <br>
  <div class="text-center">
    <p>{{ TEXT.filters.noData }}</p>
  </div>
</ng-template>
