<div class="row align-items-center no-gutters {{modifierClass}}">

  {{#column}}
    <div class="{{colClass}}">

      {{#label}}
        {{>atoms-Label}}
      {{/label}}

      {{#select}}
        {{>atoms-Select}}
      {{/select}}

      {{#text}}
        {{>atoms-Text}}
      {{/text}}

    </div>
  {{/column}}

</div>
