<div class="row align-items-center no-gutters {{modifierClass}}">

  {{#column}}
    <div class="{{colClass}}">

      {{#label}}
        {{>atoms-Label}}
      {{/label}}

      {{#alignButtons}}
        {{>molecules-Align-button-group}}
      {{/alignButtons}}

    </div>
  {{/column}}

</div>
