<div class="row">

  <div class="col-12">

    {{#userInput}}
      {{>atoms-Input}}
    {{/userInput}}

    {{#passwordInput}}
      {{>atoms-Input-password}}
    {{/passwordInput}}

    {{#switchInput}}
      {{>atoms-Input-switch}}
    {{/switchInput}}
    
  </div>

</div>