
    <script src="../../js/vendor/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/mf-togglebox.js"></script>
    <script src="../../js/mf-modal.js"></script>
    <script src="../../js/mf-header.js"></script>
    <script src="../../js/mf-accordion.js"></script>
    <script src="../../js/mf-tab-horizontal.js"></script>
    <script src="../../js/mf-dropdown.js"></script>
    <script src="../../js/mf-boxhead.js"></script>
    <script src="../../js/mf-filter.js"></script>
    <script src="../../js/mf-tabs.js"></script>
    <script src="../../js/mf-menu.js"></script>
    <!--<script src="../../js/mf-tooltip.js"></script>-->

    <script>
      window.onresize = function () {
        fullModal.resize();
        boxToggle.init();
      }
    </script>
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  </body>
</html>