<section>
  <div class="tables">
    <bvl-entries-header (activeFilters)="onFilterChange($event)"></bvl-entries-header>

    <div
      class="table-selector btn-group-toggle"
      *ngIf="tablesData.data.length > 1 && !tablesFitInContainer"
    >
      <label
        class="btn"
        *ngFor="let table of tablesData.data"
        [ngClass]="[
          selectedTable === table.id ? 'active' : '',
          table.theme ? 'font-' + table.theme : ''
        ]"
      >
        <input
          #tableSelector
          type="radio"
          [value]="table.id"
          name="table-selector"
          [(ngModel)]="selectedTable"
        />
        <span>{{ table.title }}</span>
        <i *ngIf="table.iconTitle" [ngClass]="table.iconTitle"></i>
      </label>
    </div>
    <div
      class="tables-container loaded"
    >
      <ng-container *ngFor="let table of tablesData.data">
        <article
          class="table-article"
          *ngIf="
            tablesFitInContainer ||
            tablesData.data.length === 1 ||
            selectedTable === table.id
          "
          [ngClass]="{ 'scrolling-table': scrollingTable }"
        >
          <header
            class="table-article-header"
            *ngIf="tablesData.data.length > 1 && tablesFitInContainer"
          >
            <h4
              class="table-title"
              [ngClass]="table.theme ? 'font-' + table.theme : ''"
            >
              {{ table.title }}
              <i *ngIf="table.iconTitle" [ngClass]="table.iconTitle"></i>
            </h4>
          </header>
          <div class="table-wrapper" topScrollbar>
            <div class="scrolling-table-header" *ngIf="scrollingTable">
              <table
                class="table table-dark"
                [ngClass]="table.theme ? 'table-' + table.theme : ''"
              >
                <thead>
                  <th
                    *ngFor="let column of columnsName; index as i"
                    [ngStyle]="{ 'width.px': headerCellsWidth[i] }"
                    [ngSwitch]="column"
                  >
                    <ng-container *ngSwitchCase="'inWatchlist'">
                      <i class="icon-watch"></i>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{ tableColumns[i].label }}
                      <button
                        type="button"
                        (click)="sortBy(tableColumns[i], table)"
                        class="btn btn-icon btn-sortBy"
                        [class.active]="
                          table.metadata.sortedBy.column === tableColumns[i]
                        "
                      >
                        <i class="icon-sort"></i>
                      </button>
                    </ng-container>
                  </th>
                </thead>
              </table>
            </div>
            <table class="table-dark table" scrolledElement>
              <thead>
                <tr class="bvl-row">
                  <th
                    [ngSwitch]="column"
                    *ngFor="let column of columnsName; index as i"
                  >
                    <ng-container *ngSwitchCase="'inWatchlist'">
                      <i class="icon-watch"></i>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{ tableColumns[i].label }}
                      <button
                        type="button"
                        (click)="sortBy(tableColumns[i], table)"
                        class="btn btn-icon btn-sortBy"
                        [class.active]="
                          table.metadata.sortedBy.column === tableColumns[i]
                        "
                      >
                        <i class="icon-sort"></i>
                      </button>
                    </ng-container>
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let element of table.entries._value; index as i"
                >
                  <tr
                    class="bvl-row"
                    [ngClass]="{
                      'selected-row':
                        table.metadata.expandedElement &&
                        table.metadata.expandedElement.id === element.id
                    }"
                  >
                    <td
                      *ngFor="let column of columnsName; index as y"
                      [ngSwitch]="tableColumns[y].valueType"
                    >
                      <ng-container *ngSwitchCase="'amount'">
                        {{
                          element[column]
                            | currency
                              : element.currency.code
                              : element.currency.symbol
                        }}
                      </ng-container>
                      <ng-container *ngSwitchCase="'percent'">
                        {{ element[column] | percent: "1.2-2" | slice: 0:-1 }}
                      </ng-container>
                      <ng-container *ngSwitchCase="'date'">
                        {{ element[column] | date: "dd/MM/yy" }}
                      </ng-container>
                      <ng-container *ngSwitchCase="'number'">
                        {{ element[column] | number }}
                      </ng-container>
                      <ng-container *ngSwitchCase="'list'">
                        <ng-container
                          *ngFor="let el of element[column]; last as isLast"
                        >
                          {{ el }}<span *ngIf="!isLast">, </span>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'boolean'">
                        <ng-container
                          *ngIf="
                            column === 'inWatchlist';
                            then inWatchListCell;
                            else booleanCell
                          "
                        >
                        </ng-container>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        {{ element[column] }}
                      </ng-container>

                      <ng-template #inWatchListCell>
                        <button
                          class="btn btn-icon"
                          (click)="toggleInWatchList(element)"
                        >
                          <i
                            [ngClass]="
                              element.inWatchlist
                                ? 'icon-minus-circle'
                                : 'icon-add'
                            "
                            [style.color]="element.inWatchlist ? 'red' : ''"
                          ></i>
                        </button>
                      </ng-template>

                      <ng-template #booleanCell>
                        <ng-container *ngIf="element[column]">
                          Yes
                        </ng-container>
                        <ng-container *ngIf="!element[column]">
                          No
                        </ng-container>
                      </ng-template>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </article>
      </ng-container>
    </div>
  </div>
</section>
