<form [formGroup]="frmNewPassword"
  class="w-100">

  <div class="row">

    <div class="col">

      <bvl-section-header title="Nueva contraseña"></bvl-section-header>

    </div>

  </div>

  <div class="row">

    <div class="page-subsection col-12">

      <div class="row">

        <div class="col-12 col-lg-8">

          <bvl-form-alert *ngIf="errorMessage">{{ errorMessage }}</bvl-form-alert>

          <bvl-form-input label="Email"
            formControlName="mEmail"
            [error]="validateControl('mEmail')">
          </bvl-form-input>

          <bvl-form-input type="password"
            label="Nueva Contraseña"
            formControlName="mNewPassword"
            [error]="validateControl('mNewPassword')">
          </bvl-form-input>
          <span class="help-text">8 caracteres como mínimo, al menos un número, una mayúscula y una minúscula</span>

        </div>

      </div>

    </div>

    <div class="col-12 col-md-4 col-lg-3">

      <button class="btn btn-primary btn-block"
        (click)="newPassword()">
        Aceptar
      </button>

    </div>

  </div>

</form>