<form [formGroup]="frmSignUp"
  class="w-100">

  <div class="row">

    <div class="col">

      <bvl-section-header title="Registro"
        *ngIf="!modalPayload">
      </bvl-section-header>

    </div>

  </div>

  <div class="row">

    <div class="page-subsection first col-12">

      <bvl-form-alert *ngIf="errorMessage">{{ errorMessage }}</bvl-form-alert>

      <div class="row g-pb--15"  *ngIf="!modalPayload">

        <div class="col-6 col-sm-6 col-md-4 col-lg-3 g-pb--10">
          <bvl-form-radio name="tipoRegistro" formControlName="mPersonType"
            [value]="PERSON_TYPE.natural">
            Persona Natural
          </bvl-form-radio>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 g-pb--10">
          <bvl-form-radio name="tipoRegistro" formControlName="mPersonType"
            [value]="PERSON_TYPE.legal">
            Persona Jurídica
          </bvl-form-radio>
        </div>

      </div>

      <ng-container *ngTemplateOutlet="mPersonType.value === PERSON_TYPE.natural ? natural : legal;
        context: { $implicit: frmSignUp }">
      </ng-container>

      <ng-container *ngIf="!modalPayload">
        <div class="row">

          <div class="col-12 col-sm-6 g-pb--15">
            <bvl-form-input label="Email"
              formControlName="mEmail"
              [error]="validateControl('mEmail')">
            </bvl-form-input>
          </div>

        </div>

        <div class="row">

          <div class="col-12 col-sm-6 g-pb--15">
            <bvl-form-input type="password"
              label="Contraseña"
              formControlName="mPassword"
              [error]="validateControl('mPassword')">
            </bvl-form-input>
            <span class="g-fs--12">
              La contraseña debe tener 8 caracteres como mínimo, al menos un número, una mayúscula, una minúscula y un caracter especial
            </span>
          </div>

          <div class="col-12 col-sm-6 g-pb--15">
            <bvl-form-input type="password"
              label="Confirmar contraseña"
              formControlName="mConfirmPassword"
              [error]="validateControl('mConfirmPassword')">
            </bvl-form-input>
          </div>

        </div>

      </ng-container>
    </div>


    <div class="col-12 g-pb--15"
      *ngIf="!modalPayload">
        <bvl-form-checkbox formControlName="mTerms">
          He leído y acepto los <a ctrl="termsConditionsLink" href="javascript:void(0)" (click)="termsConditions()">terminos y condiciones.</a>
        </bvl-form-checkbox>
    </div>

    <div class="col-12 col-md-4 col-lg-3"
      *ngIf="!modalPayload">

      <button ctrl="registerButton"
        class="btn btn-primary btn-block"
        (click)="buttonAction()">
        Registrar
      </button>

    </div>

  </div>

</form>


<ng-template #natural let-form>
  <ng-container [formGroup]="form">
    <div class="row">

      <div class="col-12 col-sm-6 g-pb--15">
        <bvl-form-input label="Nombres"
          formControlName="mNames"
          [error]="validateControl('mNames')">
        </bvl-form-input>
      </div>

      <div class="col-12 col-sm-6 g-pb--15">
        <bvl-form-input label="Apellido paterno"
          formControlName="mFathersSurname"
          [error]="validateControl('mFathersSurname')">
        </bvl-form-input>
      </div>

    </div>

    <div class="row">

      <div class="col-12 col-sm-12 col-md-6 g-pb--15">
        <bvl-form-input label="Apellido materno"
          formControlName="mMothersSurname"
          [error]="validateControl('mMothersSurname')">
        </bvl-form-input>
      </div>

      <div class="col-12 col-sm-6 col-md-2 g-pb--15">
        <bvl-form-select name="tipoDocumento"
          label="Tipo doc."
          placeholder="-Seleccione-"
          formControlName="mDocumentType"
          [error]="validateControl('mDocumentType')"
          [dataList]="DOCUMENT_TYPE"
          valueField="code"
          textField="description"
          (change)="changeDocumentType(mDocumentType.value)">
        </bvl-form-select>
      </div>

      <div class="col-12 col-sm-6 col-md-4 g-pb--15">
        <bvl-form-input label="Número doc."
          formControlName="mDocumentNumber"
          [error]="validateControl('mDocumentNumber')">
        </bvl-form-input>
      </div>

    </div>
  </ng-container>
</ng-template>

<ng-template #legal let-form>
  <ng-container [formGroup]="form">
    <div class="row">

      <div class="col-12 col-sm-6 g-pb--15">
        <bvl-form-input label="Razon social"
          formControlName="mLegalName"
          [error]="validateControl('mLegalName')">
        </bvl-form-input>
      </div>

      <div class="col-12 col-sm-6 g-pb--15">
        <bvl-form-select label="Giro del negocio"
          placeholder="-Seleccione-"
          formControlName="mCoreBusiness"
          [error]="validateControl('mCoreBusiness')"
          [dataList]="businessCoreList"
          valueField="business"
          textField="business">
        </bvl-form-select>
      </div>

    </div>

    <div class="row">

      <div class="col-12 col-sm-6 g-pb--15">
        <bvl-form-input label="Representante / contacto"
          formControlName="mRepresentative"
          [error]="validateControl('mRepresentative')">
        </bvl-form-input>
      </div>

      <div class="col-12 col-sm-6 g-pb--15">
        <bvl-form-input label="RUC"
          formControlName="mRucNumber"
          [error]="validateControl('mRucNumber')">
        </bvl-form-input>
      </div>

    </div>
  </ng-container>
</ng-template>