@import "../styles/main.scss";

fieldset {
  legend {
    position: relative;
    margin-bottom: 1.23rem;
    padding: 0.77rem 0 0 1.5em;
    font-family: $title-font;
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.15rem;
    i {
      position: absolute;
      top: 0.77rem;
      left: 0;
    }
  }
}

.select {
  margin-top: 0.6em;
  font-size: 1.15rem;
}
