<fieldset>
  <legend *ngIf="title"><i *ngIf=iconTitle [ngClass]="iconTitle"></i> {{title}}</legend>
  <div class="btn-group-toggle g-pr-lg--25"
    *ngIf="!showSelectOn || !media.isActive(showSelectOn)">
    <label class="btn"
      *ngFor="let filter of filters; index as i"
      [attr.for]="name + '-filter-' + filter.id"
      [ngClass]="{
        'btn-primary': active && filter.id === active.id
      }">
      <input ctrl="filtersButton" (domChange)="onDomChange($event, { label: filter?.label })"
        type="radio"
        [value]="filter.id"
        [attr.name]="name"
        [id]="name + '-filter-' + filter.id"
        [checked]="active && filter.id === active.id"
        (change)="_onFilterChange(filter.id)"> {{ filter.label }}
    </label>
  </div>
  <div *ngIf="showSelectOn && media.isActive(showSelectOn)">
    <select ctrl="filtersButton" (domChange)="onDomChange($event)"
      class="select"
      [(ngModel)]="active"
      (change)="_onFilterChange(active.id)">
      <option *ngFor="let filter of filters;"
        [ngValue]="filter"
        [selected]="active && filter.id === active.id">
        {{ filter.label }}
      </option>
    </select>
  </div>
</fieldset>
