<div class="g-site-datepicker">

  <div *ngIf="label" class="g-pr--5">
    {{ label }}
  </div>

  <div class="g-site-datepicker-data" (click)="dp.toggle()">
    <span>{{ model | date: format }}</span>
    <i class="icon-simple-arrow-down"></i>
  </div>

  <input type="text"
    [attr.placeholder]="placeholder"
    [(ngModel)]="model"
    [readonly]="readonly"
    ngbDatepicker
    #dp="ngbDatepicker"
    outsideDays="collapsed"
    (dateSelect)="onDateSelect($event)"
    [minDate]="minDate"
    [maxDate]="maxDate">

</div>
