<div class="row align-items-center no-gutters mb-xs-2" [formGroup]="group">
  <div class="col-auto g-w-100">
    <label [for]="config.label" class="g-fw-bold g-fs-15">{{ label || config.label }}:</label>
  </div>
  <div class="col">
    <bvl-input
      [type]="config.type"
      [maxlength]="config.maxLength"
      [pattern]="pattern"
      [placeholder]="config.placeholder || ''"
      [error]="validateControl()"
      [formControl]="control"
      (onblur)="focus()">
    </bvl-input>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-auto" *ngIf="config.parameter">
        <span class="g-fs-12 d-block mt-1">({{ config.parameter }})</span>
      </div>
      <div class="col" *ngIf="config.type === 'text' && config.maxLength">
        <span class="g-fs-12 d-block mt-1 text-right">
          ({{ (control.value || '').length }}/{{ config.maxLength }} caracteres max).
        </span>
      </div>
    </div>
  </div>
</div>
