<div class="g-admin-notification"
  [ngClass]="{
    'g-admin-notification-success': type === NOTIFICATION_TYPES.success,
    'g-admin-notification-warning': type === NOTIFICATION_TYPES.warning,
    'g-admin-notification-error': type === NOTIFICATION_TYPES.error,
    'active': active
  }">
  <i class="la"
    [ngClass]="{
      'la-check-circle': type === NOTIFICATION_TYPES.success,
      'la-warning': type === NOTIFICATION_TYPES.warning || type === NOTIFICATION_TYPES.error
    }">
  </i>
  <span>
    <ng-content></ng-content>
  </span>
</div>