<div class="page-section background">
  <div class="container">

    <div class="page-subsection">
      <div class="box">

        <div class="row">

          <div class="page-subsection col-12 col-sm-10 offset-sm-1">

            <ng-container *ngIf="!confirmation; else messageForm">
              <bvl-new-password-form></bvl-new-password-form>
            </ng-container>

          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<ng-template #messageForm>
  <bvl-message-form title="Nueva contraseña"
    message="Se ha realizado con éxito el cambio de contraseña.">
    <div class="row">

      <div class="col-12 col-md-5 col-lg-3">

        <a routerLink="/login" class="btn btn-primary btn-block">
          Ir al login
        </a>

      </div>

    </div>
  </bvl-message-form>
</ng-template>