<section>
  <div
    class="grid-wrapper row no-gutters variant-basic"
    [ngClass]="{
      'grid-dark': isBasic
    }">
    <div class="grid-item p-0" [ngClass]="column" *ngFor="let item of items">
      <bvl-entry *ngIf="isBasic" [ga]="ga" [entry]="item" [variant]="itemsVariant"></bvl-entry>
      <bvl-file *ngIf="!isBasic" [ga]="ga" [file]="item"></bvl-file>
    </div>
  </div>
</section>
