@import "../../../../core/lib/src/styles/main.scss";

bvl-items-grid {
  display: block;
  margin-bottom: 20px;
  width: 100%;

  .grid-wrapper {
    border-left: 1px solid #ececec;
    border-radius: 5px;
    border-top: 1px solid #ececec;
    overflow: hidden;

    &.variant-basic {
      &.grid-dark {
        border-color: $darker-gray;

        .grid-item {
          border-color: lighten($darker-gray, 10%);
        }
      }
    }
  }

  .grid-item {
    border-bottom: 1px solid $lightest-gray;
    border-right: 1px solid $lightest-gray;
    flex: 1 1 100%;

    &:last-child {
      border-bottom-right-radius: 5px;
    }

    @include media-breakpoint-up(sm) {
      flex: 1 1 50%;
    }
  }
}
