<div class="row">
  <div class="col-12">
    <bvl-section-header title="Datos de pago"></bvl-section-header>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ol>
      <li>Banco: Scotiabank</li>
      <li>Número de cuenta: 011-0983211</li>
      <li>Tipo de cuenta: Cuenta corriente</li>
      <li>Moneda: Soles</li>
    </ol>
  </div>
  <div class="col-12">
    Importante: Enviar copia del comprobante de depósito al correo <a href="mailto:ventas@bvl.com.pe">ventas@bvl.com.pe</a>
  </div>
  <div class="col-12 g-pt--15">
    <h3 class="g-m-0">Para no residentes</h3>
  </div>
  <div class="col-12">
    <ol>
      <li>Banco: Scotiabank</li>
      <li>Localidad: Lima - Perú</li>
      <li>Cuenta Corriente en soles Nro. 009 028 00001006231125</li>
      <li>Código SWIFT: BSUDPEPL</li>
      <li>Enviar copia del comprobante de depósito al correo <a href="mailto:ventas@bvl.com.pe">ventas@bvl.com.pe</a> Atención: Ventas de Información</li>
    </ol>
  </div>
</div>
