<div class="g-site-textarea"
[ngClass]="{'g-site-textarea--error': error}">
  <div class="g-site-textarea--label" *ngIf="label">
    {{ label }}
  </div>
  <textarea rows="4"
    [(ngModel)]="model"
    [disabled]="disabled">
  </textarea>
</div>