<form [formGroup]="frmSearch">
  <div class="g-admin-search-form">
    <div class="row align-items-center py-2">
      <div [ngClass]="getClassSearch()">
        <bvl-input type="search" [placeholder]="GENERAL_LANG?.labels?.search"
          formControlName="mSearch">
        </bvl-input>
      </div>
      <ng-container *ngIf="showUsers || showPageStates || showCalendar">
        <div *ngIf="showUsers"
          class="col-2">
          <admin-dropdown-checkboxes icon="la-user"
            [placeholder]="GENERAL_LANG?.labels?.users"
            formControlName="mUsers"
            [dataList]="usersList"
            valueField="username"
            textField="username">
          </admin-dropdown-checkboxes>
        </div>
        <div *ngIf="showPageStates"
          class="col-2">
          <admin-dropdown-checkboxes icon="la-tag"
            [placeholder]="GENERAL_LANG?.labels?.states"
            formControlName="mStates"
            [dataList]="pageStates"
            valueField="codeParameterSystem"
            textField="parameterName">
          </admin-dropdown-checkboxes>
        </div>
        <ng-container *ngIf="showCalendar">
          <div class="col-2">
            <bvl-datepicker [placeholder]="GENERAL_LANG?.labels?.startDate"
              formControlName="mStartDate">
            </bvl-datepicker>
          </div>
          <div class="col-2">
            <bvl-datepicker [placeholder]="GENERAL_LANG?.labels?.endDate"
              formControlName="mEndDate">
            </bvl-datepicker>
          </div>
        </ng-container>
      </ng-container>
      <div class="col-2">
        <div class="d-flex justify-content-end">
          <div class="pr-1">
            <button bvl-button
              type="button"
              theme="outline"
              [title]="GENERAL_LANG?.buttons?.filter"
              (click)="oSearch()">
              Buscar
            </button>
          </div>
          <div class="pl-1">
            <button bvl-button
              type="button"
              theme="secundary"
              [title]="GENERAL_LANG?.buttons?.clear"
              (click)="clear()">
              Limpiar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>