@import "../../../../core/lib/src/styles/main.scss";

bvl-banner-featured {
  article {
    background-position: center;
    background-size: cover;
    background-color: $darkest-gray;
    padding: 50px 0;
  }

  .content {
    color: #fff;
    padding: 60px 70px;
    border: 1px solid #fff;
    border-radius: 6px;

    @include media-breakpoint-down(lg) {
      padding: 40px 50px;
    }

    @include media-breakpoint-down(md) {
      padding: 30px;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }
}
