<article [style.background-image]="'url(' + image + ')'">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6">
        <div class="content">
          <h2>{{ title }}</h2>
          <p>{{ text }}</p>
          <ng-container *ngIf="isLink">
            <a class="link" [href]="urlLink">{{ textLink }}<i class="icon-arrow-right"></i></a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</article>
