@import '../styles/main.scss';

article {
    min-height: 194px;
    color: $body-color;
    border-radius: 10px;
    transition: transform .2s;
    .row {
        border: 1px solid $lighter-gray;
    }
    .row:nth-child(1) {
        text-align: center;
        font-family: $title-font;
        background-color: $lighter-gray;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        h2 {
            margin-top: 5px;
            margin-bottom: 5px;
            span {
                color: $red;
                font-size: 1.1rem;
                margin-left: 10px;
                font-family: $base-font;
            }
        }
    }
    .row:nth-child(2) {
        text-align: center;
        background-color: white;
        padding: 20px 15px 30px 15px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        p {
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.6rem;
            span {
                width: 100%;
                display: block;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }
    &:hover {
        transform: scale(1.1);
        .row:nth-child(2) {
            box-shadow: 0 9px 24px -10px rgba(0, 0, 0, 0.29);
        }
    }
    &.withOutPrice {
        .row:nth-child(2) {
            padding-top: 0;
            p {
                margin-top: 1.5em;
                margin-bottom: 1.5em;
            }
        }
    }
}