<article [ngClass]="{'withOutPrice': !  price}" class="container">
  <div class="row">
    <div class="col">
      <h2>{{title}} <span>{{subTitle}}</span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p><span *ngIf="price">{{price}}</span>{{salePrice}}</p>
    </div>
    <div class="col-12">
      <a [attr.href]="url" class="btn btn-primary btn-block">{{btnText}}</a>
    </div>
  </div>
</article>