@mixin fancyScrollbar($thumbColor, $trackColor) {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-track-piece {
    background: darken($trackColor, 5%);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border-radius: 4px;
  }
}

$black: #000000;
$white: #FFFFFF;

.shared-modal {
  background-color: rgba($black, .65);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding-left: 35px;
  padding-right: 35px;
  position: fixed;
  top: 0;
  transition: all .3s ease-out .2s;
  width: 100%;
  z-index: 1050;

  &-dialog {
    align-items: center;
    display: flex;
    margin: 30px auto;
    min-height: calc(100% - 60px);
    pointer-events: none;
    position: relative;
    transform: translateY(-50px);
    transition: all .2s ease 0s;
    width: 100%;

    &.sm {
      max-width: 550px;
    }

    &.md {
      max-width: 750px;
    }

    &.lg {
      max-width: 970px;
    }

    &.xl {
      max-width: 1200px;
    }

  }

  &-content {
    background-color: $white;
    border-radius: 5px;
    opacity: 0;
    padding: 20px;
    position: relative;
    transition: all .3s ease-out 0s;
    width: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;

    .title {
      line-height: 1;
      padding-right: 50px;
    }
  }

  &-close {
    appearance: none;
    background-color: #ff0100;
    border-radius: 5px;
    border: 0;
    color: $white;
    cursor: pointer;
    font-size: 13px;
    line-height: 0;
    padding: .75rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease;

    &:hover {
      background-color: darken(#ff0100, 5%);
      color: #fff;
    }
  }

  &-body {
    @include fancyScrollbar(rgba($black, .3), rgba($black, .1));
    max-height: 65vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;

    button {
      min-width: 220px;
    }
  }

  &-open {
    overflow: hidden;

    .shared-modal {
      opacity: 1;
      transition: all .3s ease 0s;

      &-dialog {
        pointer-events: auto;
        transform: none;
        transition: all .5s ease .2s;
      }

      &-content {
        opacity: 1;
        transition: all .5s ease-in .2s;
      }
    }
  }
}
