<div class="shared-modal" [ngClass]="config.modalClass">
  <div class="shared-modal-dialog" [ngClass]="config.size">
    <div class="shared-modal-content">
      <div class="shared-modal-header"
        *ngIf="config.showHeader" [ngClass]="config.headerClass">
        <div *ngIf="config.titleText">
          <h3 class="title">{{ config.titleText }}</h3>
        </div>
        <button class="shared-modal-close"
          *ngIf="config.showCloseButton" [ngClass]="config.closeButtonClass"
          (click)="buttonAction(BUTTON_ACTIONS.cancel)">
          <i [ngClass]="config.closeIconClass"></i>
        </button>
      </div>
      <!-- <bvl-notify [type]="notification?.type" [active]="notifyActive">{{ notification?.description }}</bvl-notify> -->
      <div class="shared-modal-body" [ngClass]="config.bodyClass">
        <ng-content></ng-content>
      </div>
      <div class="shared-modal-footer"
          *ngIf="config.showFooter" [ngClass]="config.footerClass">
          <button *ngIf="config.showCancelButton" [ngClass]="config.cancelButtonClass"
            (click)="buttonAction(BUTTON_ACTIONS.cancel)">
            {{ config?.cancelButtonText }}
          </button>
          <button *ngIf="config.showConfirmButton" [ngClass]="config.confirmButtonClass"
            (click)="buttonAction(BUTTON_ACTIONS.acept)">
            {{ config?.confirmButtonText }}
          </button>
      </div>
    </div>
  </div>
</div>
