@import '../styles/main.scss';

article {
    border-radius: .38rem;
    background-color: white;
    display: flex;
    color: $body-color;
    font-family: $title-font;
    & > div {
        flex: 1;
        padding: 1.08rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $lightest-gray;
        &:last-of-type {
            border-right: 0;
        }
        i {
            font-size: .85rem;
            border-radius: 50%;
            line-height: 1;
            display: block;
            color: white;
            padding: .62em .54em .46em;
            margin-right: 1.09em;
        }
        dl {
            display: flex;
            flex-direction: column-reverse;
            line-height: 1;
        }
        dt {
            font-size: .92rem;
        }
        dd {
            font-size: 1.62rem;
        }
        &.rise {
            i {
                background-color: $green;
            }
            dd {
                color: $green;
            }
        }
        &.maintain {
            i {
                background-color: $blue;
            }
            dd {
                color: $blue;
            }
        }
        &.downside {
            i {
                background-color: $light-red;
            }
            dd {
                color: $light-red;
            }
        }
    }
}