<article>
  <div class="rise">
    <i class="icon-arrow-up"></i>
    <dl>
      <dt>{{ TEXT.general.toUp }}</dt>
      <dd>{{ risingValues }}</dd>
    </dl>
  </div>
  <div class="maintain">
    <i class="icon-arrow-right"></i>
    <dl>
      <dt>{{ TEXT.general.same }}</dt>
      <dd>{{ maintainedValues }}</dd>
    </dl>
  </div>
  <div class="downside">
    <i class="icon-arrow-down"></i>
    <dl>
      <dt>{{ TEXT.general.toDown }}</dt>
      <dd>{{ downsidingValues }}</dd>
    </dl>
  </div>
</article>
