<button [attr.pressed]="isMobile" type="button" (click)="onClick(true)">
  <svg aria-hidden="true" role="img" focusable="false" class="icon-seo-switcher" xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1792 1792" fill="currentColor">
    <path
      d="M976 1408q0-33-23.5-56.5t-56.5-23.5-56.5 23.5-23.5 56.5 23.5 56.5 56.5 23.5 56.5-23.5 23.5-56.5zm208-160v-704q0-13-9.5-22.5t-22.5-9.5h-512q-13 0-22.5 9.5t-9.5 22.5v704q0 13 9.5 22.5t22.5 9.5h512q13 0 22.5-9.5t9.5-22.5zm-192-848q0-16-16-16h-160q-16 0-16 16t16 16h160q16 0 16-16zm288-16v1024q0 52-38 90t-90 38h-512q-52 0-90-38t-38-90v-1024q0-52 38-90t90-38h512q52 0 90 38t38 90z">
    </path>
  </svg>
  <span class="screen-reader-text">Mobile preview</span></button>
<button [attr.pressed]="!isMobile" type="button" (click)="onClick(false)">
  <svg aria-hidden="true" role="img" focusable="false" class="icon-seo-switcher" xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1792 1792" fill="currentColor">
    <path
      d="M1728 992v-832q0-13-9.5-22.5t-22.5-9.5h-1600q-13 0-22.5 9.5t-9.5 22.5v832q0 13 9.5 22.5t22.5 9.5h1600q13 0 22.5-9.5t9.5-22.5zm128-832v1088q0 66-47 113t-113 47h-544q0 37 16 77.5t32 71 16 43.5q0 26-19 45t-45 19h-512q-26 0-45-19t-19-45q0-14 16-44t32-70 16-78h-544q-66 0-113-47t-47-113v-1088q0-66 47-113t113-47h1600q66 0 113 47t47 113z">
    </path>
  </svg><span class="screen-reader-text">Desktop preview</span>
</button>
