admin-seo-btn-platform{
  display: inline-block !important;
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(219, 219, 219);
  border-image: initial;
  border-radius: 4px;

  button {
    box-shadow: rgb(204, 204, 204) 0px 1px 0px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    color: rgb(85, 85, 85);
    background: rgb(247, 247, 247);
    margin: 0px;
    padding: 5px 10px;
    overflow: visible;
    border-style: none none solid;
  }

  button[pressed="true"] {
    border-image: initial;
    color: #008eaa;
    border-bottom: 4px solid #008eaa;
    border-color: #008eaa;
    transition: border-color 0.15s ease-in-out 0s, 0.15s ease-in-out 0s, 0.15s ease-in-out 0s;
    border-radius: 3px 0px 0px 3px;
  }

  button span {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  .icon-seo-switcher {
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
  }
}
