{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    {{#searchForm}}
      {{>organisms-Search-form}}
    {{/searchForm}}

    <div class="g-card-wrapper">

      {{#summaryPages}}
        {{>organisms-Page-summary}}
      {{/summaryPages}}

      {{#pagination}}
        {{>molecules-Pagination}}
      {{/pagination}}

    </div>

  </main>
</div>
