<section class="onboarding-indices" [ngClass]="{'horizontal': isVertical != true}">
  <header>
    <h2>{{ TEXT.general.indexes }}
      <span>S&P/BVL</span>
    </h2>
    <a [href]="getUrlMarketIndex()" class="link"
    ctrl="linkAllView" (domChange)="onDomChange($event, { textLink: TEXT.general.viewAll })">{{ TEXT.general.viewAll }} <i class="icon-arrow-right"></i></a>
  </header>
  <div class="stock-wrapper" *ngIf="indices">
    <div class="index-wrapper" *ngFor="let index of indices">
      <bvl-stock-index
        [index]="index"
        size="md"></bvl-stock-index>
    </div>
  </div>
</section>
