@import "../../../../core/lib/src/styles/main.scss";

bvl-indices {
  section {
    position: relative;
    width: 100%;
    @include media-breakpoint-down(sm) {
      background-color: white;
      padding: 0 0 2rem;
    }
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
  .horizontal {
    .stock-wrapper {
      display: flex;
      width: calc(100% - 11.62rem);
      overflow: hidden;
      border-bottom: 1px solid #ececec;
      max-height: 140px;
      border-radius: 0px 6px 6px 0px;
      .index-wrapper {
        flex: 1;
      }
      @include media-breakpoint-down(lg) {
        overflow-x: auto;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
  header {
    width: 100%;
    padding: 1rem 15px;
    border-bottom: 1px solid $lightest-gray;
    @include media-breakpoint-up(md) {
      border-radius: 5px 0 0 5px;
      background-color: white;
      padding: 2.46rem 2.15rem;
      width: 11.62rem;
      height: 10.77rem;
      float: left;
      position: relative;
      z-index: 1;
    }
    h2 {
      font-size: 1.62rem;
      margin: 0;
      font-family: $lucida-font;
      letter-spacing: 0.035em;
      span {
        font-family: $title-font;
      }
    }
    .link {
      @include media-breakpoint-down(sm) {
        position: absolute;
        bottom: 0;
        left: 15px;
      }
    }
  }
  .index-wrapper {
    transition: transform 0.3s ease-in;
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in;
    }
  }
  .stock-wrapper {
    z-index: 1;
    @include media-breakpoint-up(md) {
      float: left;
      position: relative;
    }
    @include clearfix();
    ::ng-deep .carousel .carousel-inner {
      border-radius: 0 5px 5px 0;
      //overflow: hidden;
      @include media-breakpoint-up(md) {
        border-left: 1px solid $lightest-gray;
      }
      .tracker .carousel-item:last-of-type .index {
        border-right: 0;
      }
    }
  }

  .index-wrapper {
    @include media-breakpoint-up(md) {
      border-right: 1px solid $lightest-gray;
    }
  }
  & > .stock-active {
    & > .stock-wrapper {
      width: 87%;
    }
  }
}
bvl-indices.in-column {
  height: 100%;
  display: flex;
  section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
  }
  header {
    display: flex;
    width: auto;
    height: auto;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1.25rem 1.75rem;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid $lightest-gray;
    h2 {
      width: 50%;
      line-height: 1.5;
    }
  }
  .stock-wrapper {
    flex: 1 auto;
    width: 100%;
    min-height: 300px;
    border-radius: 0 0 5px 5px;
    @include fancyScrollbar(rgba(black, 0.32), rgba(black, 0.08));
    @include media-breakpoint-down(sm) {
      height: auto;
      min-height: initial;
      overflow-x: auto;
    }
    @include media-breakpoint-down(xs) {
      overflow: hidden;
    }
  }
  .index-wrapper {
    border-bottom: 1px solid $lightest-gray;
    border-right: 0;
    transition: transform 0.3s ease-in;
    overflow: hidden;
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in;
    }
  }
}
