<div class="d-flex flex-column justify-content-center align-content-center p-xs-5">
  <div class="g-admin-circle-icon mx-auto mb-xs-2">
    <i class="la la-plug"></i>
  </div>
  <p class="g-fs-20 text-center">
    {{ message }}
  </p>
</div>