.g-admin-acordion {
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-component {
      .g-admin-acordion-list {
        &-item {
          background-color: $c-gray7;

          &.active {
            .g-admin-acordion-list-header {
              &:before {
                content: "\f131";
              }
            }
          }
        }

        &-header {
          &:before {
            content: "\f131";
          }
        }
      }
    }

    &-sidebar {
      .g-admin-acordion-list {
        &-item {
          &.active {
            .g-admin-acordion-list {
              &-header {
                &:before {
                  content: none;
                }
              }

              &-body {
                padding: 20px 15px 10px;
              }
            }
          }
        }

        &-header {
          background-color: $c-gray5;
          border-radius: 0;
          padding: 15px 25px;

          i {
            font-size: $font-20;
            margin-right: 8px;
            vertical-align: middle;
          }

          &:before {
            content: none;
          }
        }

        &-body {
          align-content: flex-start;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0 15px;
        }
      }
    }

    &-item {
      @include prefix(border-radius, 5px);
      @include prefix(box-shadow, $box-shadow2);
      background: $c-gray6;
      display: block;
      margin-bottom: 10px;

      &.active > {
        bvl-accordion-header > {
          .g-admin-acordion-list-header {
            @include prefix(box-shadow, $box-shadow-button2);

            &:before {
              content: "\f200";
            }

            &:after {
              content: "\f113";
            }
          }
        }
        bvl-accordion-content > {
          .g-admin-acordion-list-body {
            padding: 20px 30px;

            .g-admin-card {
              opacity: 1;
              transition: opacity .3s ease .2s;
            }
          }
        }
      }
    }

    &-header {
      @include prefix(border-radius, 5px);
      align-items: center;
      background-color: $c-white;
      color: $c-gray1 !important;
      display: flex;
      font-weight: $fw-bold;
      padding: 20px 25px;
      position: relative;

      &:before {
        @extend %pseudo-icon;
        content: "\f1ff";
        font-size: $font-20;
        margin-right: 8px;
        vertical-align: middle;
      }

      &:after {
        @extend %pseudo-icon;
        color: $c-red1;
        content: "\f110";
        font-size: $font-17;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-body {
      list-style: none;
      margin: 0;
      padding: 0 30px;

      .g-admin-card {
        box-shadow: none;
        opacity: 0;
        transition: opacity .2s ease 0s;
      }
    }
  }
}
