.g-admin-badge {
  @include prefix(border-radius, 5px);
  align-items: center;
  background-color: $c-gray5;
  display: inline-flex;
  font-size: $font-13;
  font-weight: $fw-medium;
  padding: 2px 12px 2px 8px;
  white-space: nowrap;

  i {
    font-size: $font-20;
    margin-right: 3px;
  }

  &-success {
    background-color: $c-green2;
    color: $c-green1;
  }

  &-pause {
    background-color: $c-orange2;
    color: $c-orange1;
  }

  &-warning {
    background-color: $c-orange4;
    color: $c-orange3;
  }

  &-danger {
    background-color: $c-red3;
    color: $c-red2;
  }
}
