body {
  background-color: $c-gray6 !important;
  color: $c-gray1;
  font-family: $font-family;
  font-size: $font-15;
  font-weight: $fw-normal;
  line-height: 1.2;

  .main-app {
    display: flex;
    min-height: 100vh;
    position: relative;
    width: 100%;

    .g-content-wrapper {
      order: 2;
      overflow: hidden;
      padding: 25px 30px;
      position: relative;
      width: 100%;
    }
  }
}

a {
  &:hover,
  &:focus,
  &:link,
  &:visited {
    cursor: pointer;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fw-bold;
  margin-bottom: 15px;
  margin-top: 0;
}

h1 {
  font-size: $font-30;
}

h2 {
  font-size: $font-24;
}

h3 {
  font-size: $font-20;
}

h4 {
  font-size: $font-17;
}

h5 {
  font-size: $font-14;
}

h6 {
  font-size: $font-13;
}

p {
  margin-bottom: 5px;
  margin-top: 0;
}

input,
button {
  outline: none;
}
