.g-admin-breadcrumb {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 3px 0;
  width: 100%;

  li {
    color: $c-red1;
    font-size: $font-12;
    font-weight: $fw-normal;
    white-space: nowrap;

    &::after {
      @extend %pseudo-icon;
      content: '\f112';
      font-size: $font-15;
      margin-left: 3px;
      vertical-align: bottom;
    }

    + li {
      margin-left: 3px;
    }
  }
}
