.g-admin-btn {
  border-radius: 7px;
  border: none;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-weight: $fw-medium;
  justify-content: center;
  outline: none;
  padding: 10px 20px;
  position: relative;
  transition: $tr-3-ease;

  &-icon {
    display: inline;
    padding: 13px 13px 12px;

    i {
      font-size: $font-20;
    }
  }

  &-default {
    min-width: 160px;
  }

  &-with-icon {
    padding-left: 50px !important; // sass-lint:disable-line no-important
    padding-right: 50px !important; // sass-lint:disable-line no-important

    i {
      @include prefix(transition, all 0.3s ease);
      position: absolute;
      right: 25px;
      top: 35%;
    }

    &:hover {
      i {
        right: 18px;
      }
    }
  }

  &-login {
    width: 100%;
  }

  &-primary {
    background-color: $c-red1;
    border: 1px solid $c-red1;
    color: $c-white;

    &:hover {
      background-color: darken($c-red1, 5%);
      color: $c-white;
    }
  }

  &-green {
    @include prefix(box-shadow, inset 0 3px 0 0 lighten($c-green1, 20%));
    background-color: $c-green1;
    color: $c-white;

    &:hover {
      background-color: darken($c-green1, 5%);
    }
  }

  &-secundary {
    background-color: $c-white;
    border: 1px solid $c-gray2;
    color: $c-gray2;

    &:hover {
      background-color: darken($c-gray2, 5%);
      color: $c-white;
    }
  }

  &-gray {
    background-color: $c-gray2;
    border: 1px solid $c-gray2;
    color: $c-white;

    &:hover {
      background-color: darken($c-gray2, 5%);
    }
  }

  &-transparent {
    background-color: $c-transparent;
    color: $c-white;

    &:hover {
      background-color: $c-transparent;
      color: $c-white;
    }
  }

  &-outline {
    background-color: $c-transparent;
    border: 1px solid $c-red1;
    color: $c-red1;

    &:hover {
      background-color: $c-red1;
      color: $c-white;
    }
  }

  &-create {
    background-color: $c-transparent;
    border: 2px dotted $c-gray2;
    color: inherit;
    padding: 20px;
    text-transform: uppercase;

    &:hover {
      opacity: .6;
    }
  }

  &-small {
    @include prefix(border-radius, 5px);
    align-content: center;
    align-items: center;
    background-color: $c-white;
    color: $c-gray1;
    display: block;
    height: 100%;
    justify-content: center;
    min-height: 54px;
    padding: 5px;
  }

  &-square {
    @include prefix(border-radius, 5px);
    align-content: center;
    align-items: center;
    background-color: $c-gray6;
    color: $c-gray1;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    min-height: 54px;
    min-width: 66px;
    padding: 5px 10px;
    vertical-align: top;

    span {
      font-size: $font-12;
      font-weight: $fw-normal;
      text-transform: none;
    }

    i {
      font-size: $font-20;
      margin-bottom: 3px;
      position: static !important; // sass-lint:disable-line no-important
    }

    &-danger {
      color: $c-red1;
    }

    &-primary {
      background-color: $c-red1;
      border-radius: 0;
      color: $c-white;
      min-width: 100px;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &-circle {
    @include prefix(border-radius, 50%);
    align-items: center;
    background-color: $c-red1;
    color: $c-white;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 0;
    width: 32px;

    i {
      font-size: $font-20;
      position: static !important; // sass-lint:disable-line no-important
    }

    &:hover {
      background-color: darken($c-red1, 5%);
    }

    &.invert {
      background-color: transparent;
      color: $c-red1;
      min-width: inherit !important; // sass-lint:disable-line no-important

      &:hover {
        color: darken($c-red1, 5%);
      }
    }
  }

  &-dropdown {
    border: 1px solid $c-transparent;
    cursor: pointer;
    font-size: $font-15;
    padding: 12px 15px;
    position: relative;

    &.border {
      border: 1px solid $c-gray4;
    }

    .g-block {
      > span {
        margin-right: 5px;
      }

      > i {
        color: $c-red1;
        pointer-events: none;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%) rotate(0);
      }
    }

    .g-options-list,
    .g-months-wrapper {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 1000;
    }

    .g-options-list {
      min-width: 220px;
      left: 0;

      > ul {
        max-height: 370px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateZ(0);

        &::-webkit-scrollbar {
          height: 8px;
          width: 8px;
        }

        &::-webkit-scrollbar-track-piece {
          background: darken(rgba(0,0,0, .1), 5%);
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(0,0,0, .3);
          border-radius: 4px;
        }
      }
    }

    .g-months-wrapper {
      min-width: 220px;
      right: 0;
      background-color: $c-white;
      border-radius: 5px;
      box-shadow: 0 4px 16px 0 rgba($c-gray2, .4);
      list-style: none;
      margin: 0;
      padding: 0;
      transition: $tr-3-ease;

      &::before {
        border-bottom: 7px solid $c-white;
        border-left: 7px solid $c-transparent;
        border-right: 7px solid $c-transparent;
        content: '';
        height: 0;
        right: 17px;
        position: absolute;
        top: -7px;
        width: 0;
      }

      .g-months-list {
        max-height: 200px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateZ(0);
        padding: 15px;
        list-style: none;
        text-align: left;

        &::-webkit-scrollbar {
          height: 8px;
          width: 8px;
        }

        &::-webkit-scrollbar-track-piece {
          background: darken(rgba($c-black, .1), 5%);
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba($c-black, .3);
          border-radius: 4px;
        }
      }

      .g-months-list-item {
        margin-bottom: 10px;

        span {
          background-color: rgba($c-black, .04);
          text-align: center;
          display: block;
          border-radius: 4px;
          padding: 10px;
          margin-bottom: 5px;
        }
      }
    }

    &.active {
      .g-options-list,
      .g-months-wrapper {
        display: block;
      }

      .g-block {
        > i {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }
  }

  &-group {
    background-color: $c-white;
    border-radius: 5px;
    border: 1px solid $c-gray4;
    display: inline-flex;
    padding: 3px;

    input {
      display: none;

      &:checked {
        + .button {
          background-color: $c-gray4;
        }
      }
    }

    .button {
      background-color: $c-white;
      border-radius: 3px;
      display: block;
      margin: 0;
      padding: 8px 10px;
      transition: $tr-3-ease;

      &:hover {
        background-color: $c-gray6;
      }

      i {
        font-size: $font-20;
      }
    }

    .g-admin-btn {
      border-radius: 0;
      padding: 8px 10px 7px;

      span {
        align-items: center;
        background-color: $c-red1;
        border-radius: 100%;
        color: $c-white;
        display: flex;
        font-size: $font-10;
        height: 14px;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 14px;
      }

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
  }

  &-close {
    align-items: center;
    appearance: none;
    background-color: $c-red1;
    border-radius: 5px;
    border: none;
    color: $c-white;
    cursor: pointer;
    display: flex;
    height: 20px;
    justify-content: center;
    padding: 0;
    transition: $tr-3-ease;
    width: 20px;

    i {
      font-size: $font-14;
    }

    &:hover {
      background-color: darken($c-red1, 10%);
    }
  }

  &-disabled {
    @include prefix(box-shadow, none);
    background-color: $c-gray2;
    cursor: not-allowed;

    &:hover {
      background-color: $c-gray2;
    }
  }

  &-iconLeft,
  &-icon-left {
    i {
      left: 25px;
      right: 100% !important; // sass-lint:disable-line no-important
    }

    &:hover {
      i {
        left: 18px;
      }
    }
  }
}

.g-admin-link {
  align-items: center;
  color: $c-green4;
  display: inline-flex;
  font-size: $font-13;
  font-weight: $fw-bold;

  &-icon {
    i {
      font-size: $font-20;
      margin: 0 3px;
    }
  }

  &:link {
    color: $c-green4;
  }

  &:hover {
    color: darken($c-green4, 5%);
  }

  &-red {
    color: $c-red1;

    &:link {
      color: $c-red1;
    }

    &:hover {
      color: darken($c-red1, 5%);
    }
  }

  &-gray {
    color: $c-gray1;

    &:link {
      color: $c-gray1;
    }

    &:hover {
      color: darken($c-gray1, 10%);
    }
  }
}
