.g-admin-card {
  @include prefix(border-radius, 5px);
  @include prefix(box-shadow, $box-shadow3);
  background-color: $white;
  margin-bottom: 10px;

  &-wrapper {
    background-color: $c-gray5;
    display: block;
    margin-top: 10px;
    padding: 20px;

    &--light {
      background-color: $c-gray6;
    }

    &-tabs {
      background-color: $c-gray6;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      margin: 0;
      padding: 20px 40px 0 40px;
    }

    &-images {
      @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
      height: 320px;
      overflow-y: auto;
    }
  }

  &-none {
    @include prefix(border-radius, 0);
  }

  &-header {
    @include prefix(border-radius, 5px);
    @include prefix(box-shadow, $box-shadow1);
    background-color: $white;
    padding: 3px 3px 3px 20px;

    .g-admin-btn-square {
      margin-left: 3px;
    }

    .g-admin-btn-small {
      margin-left: 3px;
    }
  }

  &-body {
    @include prefix(border-radius, 0 0 5px 5px);
    display: block;
    padding: 30px 20px;

    .g-admin-radio, .g-admin-checkbox {
      margin:  5px 40px 5px 0;
    }
  }

  &-dropdown {
    display: inline-flex;
    vertical-align: top;
    width: 30px;
  }

  &-show {
    margin-left: 20px;
    position: relative;

    &.active {
      @include prefix(border-radius, 5px);
      @include prefix(box-shadow, $box-shadow1);
      background: $c-white;
      margin-bottom: 20px;
      padding: 15px 15px 0;

      .g-admin-card-dropdown {
        display: none;
      }
    }

    &::before {
      background: #ccc;
      content: '';
      height: 42px;
      left: -10px;
      position: absolute;
      top: -15px;
      width: 1px;
    }

    &::after {
      background: #ccc;
      content: '';
      height: 2px;
      left: -9px;
      position: absolute;
      top: 25px;
      width: 8px;
    }
  }

  &-arrow {
    cursor: pointer;

    &.disabled {
      cursor: default;
      opacity: .3;
    }
  }

  &-info {
    display: block;
    padding: 12px 0;

    span {
      display: block;

      &:first-child {
        margin-bottom: 3px;
      }
    }

    &-border {
      align-content: center;
      align-items: center;
      border-right: 1px solid $c-gray5;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      padding: 12px 15px 12px 0;

      span {
        &:first-child {
          display: block;
          margin-bottom: 3px;
        }
      }
    }
  }

  &-gray {
    background-color: $c-gray6;
    box-shadow: none;
    margin-bottom: 0;
    padding: 20px 25px;

    .g-admin-radio,
    .g-admin-checkbox {
      margin: 7px 0;
    }
  }

  &-form {
    background-color: $c-gray6;
  }

  &-mini-component {
    align-items: center;
    background-color: $c-gray5;
    display:flex;
    flex-direction:column;
    height: 140px;
    justify-content: center;
    max-height: 140px;
    padding: 10px;
    width:100%;

    img {
      height: 100% !important;
    }
  }

}
