// Bacground Colors
.g-bgc-white { background-color: $c-white; }
.g-bgc-black { background-color: $c-black; }
.g-bgc {
  @each $color in map-keys($colors) {
    &-#{$color} {
      background-color: map-get($colors, $color) !important;
    }
  }
}
.g-bgc-gd-gray {
  background: $acordion-gradient;
}

// Font Colors
.g-cl-white { color: $c-white }
.g-cl-black { color: $c-black }
.g-cl {
  @each $color in map-keys($colors) {
    &-#{$color} {
      color: map-get($colors, $color) !important;
    }
  }
}

// Border Color
.g-br-white { border-color: $c-white }
.g-br-black { border-color: $c-black }
.g-br {
  @each $color in map-keys($colors) {
    &-#{$color} {
      border-color: map-get($colors, $color) !important;
    }
  }
}
