.g-admin-document {
  height: 100%;
  width: 100%;

  &--document {
    width: 100%;
  }

  &--icon {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    height: 70%;
    justify-content: center;
    margin-bottom: 5px;
    text-align: center;
  }

  &--description {
    background: $c-white;
    font-size: $font-12;
    height: 30%;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.g-icon-preview {
  i {
    font-size: 6em;
  }
}
