// Font Size
$f-start: 9;
$f-end: 60;

@for $i from $f-start through $f-end {
  .g-fs-#{$i} {
    font-size: #{$i * 1px} !important;
  }
}

@media (min-width: $break-small) {
  @for $i from $f-start through $f-end {
    .g-fs-sm-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@media (min-width: $break-medium) {
  @for $i from $f-start through $f-end {
    .g-fs-md-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@media (min-width: $break-large) {
  @for $i from $f-start through $f-end {
    .g-fs-lg-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@media (min-width: $break-xlarge) {
  @for $i from $f-start through $f-end {
    .g-fs-xl-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

// Font Weight
@each $font-weight in map-keys($font-weights) {
  .g-#{$font-weight} {
    font-weight: map-get($font-weights, $font-weight);
  }
}

// Text Transform
.g-text {
  &--uppercase {
    text-transform: uppercase;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--none {
    text-transform: none;
  }
}

// Headings
.g-admin-heading {
  &-1 {
    font-size: $font-20;
    margin-bottom: 25px;
    position: relative;

    &::before {
      background-color: $c-red1;
      bottom: -10px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 30px;
    }
  }

  &-2 {
    font-size: $font-15;
    margin-bottom: 20px;
    position: relative;

    &::before {
      background-color: $c-red1;
      bottom: -6px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 30px;
    }
  }
}

.g-admin-subheading-section {
  align-items: center;
  display: flex;
  font-size: $font-15;
  font-weight: $fw-normal;
  text-transform: uppercase;

  span {
    font-size: $font-13;
    font-weight: $fw-bold;
    margin-left: 5px;
  }
}

// Cursor
.g-c {
  &-pointer {
    cursor: pointer;
  }

  &-default {
    cursor: initial;
  }
}
