.g-admin-search-form {
  background-color: $c-white;
  border-bottom: 1px solid $c-gray5;
  border-top: 1px solid $c-gray5;
  padding: 0 15px;
  position: relative;

  .g-admin-btn-icon {
    margin-left: 3px;
  }
}
