.g-admin-gallery {
  &--wrapper {
    margin-top: 0;
    padding-right: 15px;
  }

  &--content {
    @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
    max-height: 65vh;
    overflow-x: auto;
    overflow-y: auto;
  }
}
