.g-admin-header {
  align-items: center;
  background-color: $c-gray11;
  display: flex;
  justify-content: space-between;

  .g-admin-brand {
    padding: 10px;
    width: 235px;

    img {
      max-height: 60px;
    }
  }

  .g-admin-profile {
    height: 80px;
  }

  &-editor {
    .g-admin-brand {
      img {
        max-height: 30px;
      }
    }

    .g-admin-profile {
      height: 50px;

      &-info {
        i {
          font-size: $font-24;
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

// Image brand
.g-admin-brand {
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

// Profile info block
.g-admin-profile {
  display: flex;

  &-info,
  &-logout {
    align-items: center;
    color: $c-white;
    display: flex;
    padding: 10px 30px;
  }

  &-info {
    i {
      align-items: center;
      background-color: $c-red1;
      border-radius: 50%;
      display: flex;
      font-size: $font-26;
      height: 40px;
      justify-content: center;
      margin-right: 10px;
      width: 40px;
    }

    span {
      font-size: $font-13;

      strong {
        display: block;
        font-size: $font-15;
      }
    }
  }

  &-logout {
    border-left: 1px solid $c-gray1;
    justify-content: center;

    a {
      align-items: center;
      color: $c-white;;
      display: flex;
      font-size: $font-13;
      font-weight: $fw-bold;
      height: 100%;
      justify-content: center;
      transition: $tr-3-ease;
      width: 100%;

      i {
        font-size: $font-20;
        margin-right: 5px;
      }

      &:link {
        color: $c-white;
      }

      &:hover {
        color: $c-red1;
      }
    }
  }
}
