.g-admin-img {
  &-preview {
    align-items: center;
    background-color: $c-gray4;
    border-radius: 5px;
    border: 1px solid $c-transparent;
    cursor: pointer;
    display: inline-flex;
    height: 120px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: $tr-3-ease;
    vertical-align: top;
    width: 260px;

    &-before {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h6 {
        font-size: $font-30;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    &-upload {
      width: calc(100% - 30px);
      max-width: 250px;
      display: flex;
      justify-content: center;
      font-size: $font-16;
      border: 2px dashed $c-gray6;
      padding: 6px;

      i {
        font-size: $font-20;
        margin-right: 10px;
      }
    }

    &-icon {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      i {
        font-size: $font-60;
      }

      span {
        font-size: $font-15;
        text-align: center;
      }
    }

    &-img {
      background-position: center;
      background-size: cover;
      height: 100%;
      transition: $tr-3-ease;
      width: 100%;
    }

    .g-admin-btn-close {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    &-select {
      height: 94px;
      margin-bottom: 15px;
      margin-right: 15px;
      width: 94px;

      .g-admin-img-preview-icon {
        i {
          font-size: 50px;
          margin-bottom: 8px;
        }
      }

      .g-admin-checkbox, .g-admin-radio {
        left: 9px;
        position: absolute;
        top: 9px;
      }

      &.active {
        border-color: $c-red1;
        border-width: 2px;
      }
    }

    &:hover {
      background-color: $c-gray5;

      .g-admin-img-preview-img {
        opacity: .75;
      }
    }

    &--sm {
      width: 180px;
    }

    &--lg {
      height: 260px;
    }

  }

  &-full {
    display: block;
    width: 100%;
  }

  &-fluid {
    height: auto;
    max-width: 100%;
  }

  &-border {
    border-radius: 5px;
  }
}
