.g-admin-input {
  background-color: $c-white;
  border: 1px solid $c-gray4;
  color: $c-gray1;
  font-family: $font-family;
  font-size: $font-15;
  padding: 13px 20px;
  width: 100%;

  &-error {
    border-color: $c-red1 !important;
  }

  &-password {
    position: relative;

    span {
      position: absolute;
      right: 20px;
      top: 12px;
      z-index: 1;
    }
  }

  &-search {
    position: relative;

    span {
      font-size: $font-20;
      left: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    .g-admin-input {
      border-color: $c-transparent;
      padding: 13px 20px 13px 40px;
    }

    &.border {
      border: 1px solid $c-gray4;
    }
  }

  &-autocomplete {
    position: relative;

    &-search,
    &-close {
      align-items: center;
      display: flex;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 3;
    }

    &-search {
      font-size: $font-20;
      left: 12px;
    }

    &-close {
      right: 8px;

      .g-admin-btn-circle {
        i {
          font-size: $font-20;
        }
      }
    }

    .g-admin-input {
      padding: 13px 20px 13px 40px;
      position: relative;
      z-index: 2;
    }

    .dropdown-menu {
      @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
      @include prefix(border-radius, 0 0 5px 5px);
      @include prefix(box-shadow, $box-shadow2);
      max-height: 114px;
      overflow-y: auto;
      width: 100%;
      z-index: 1;
    }

    .dropdown-item {
      appearance: none;
      background-color: $c-white;
      border: none;
      color: $c-gray1;
      cursor: pointer;
      padding: 10px 15px;
      text-align: left;
      width: 100%;

      &.active {
        background-color: $c-gray5;
      }
    }

    ul {
      @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
      background-color: $c-white;
      border-top: none;
      border: 1px solid $c-gray4;
      left: 0;
      margin: 0;
      max-height: 130px;
      overflow-x: auto;
      padding: 10px 0;
      position: absolute;
      top: inherit;
      width: 100%;
      z-index: 10;

      li {
        list-style: none;
        padding: 7px 15px;
      }
    }
  }
}

.g-admin-switch {
  cursor: pointer;
  display: inline-block;
  font-weight: $fw-normal;
  margin: 6px 0;
  padding: 0 0 0 45px;
  position: relative;
  text-align: left;

  input {
    display: none;

    &:checked {
      + .switch {
        background-color: $c-green1;

        &::before {
          @include prefix(transform, translate(90%, -50%));
        }
      }
    }
  }

  .switch {
    @include prefix(border-radius, 30px);
    @include prefix(transform, translate(0, -50%));
    @include prefix(transition, all 0.3s ease);
    background-color: $c-gray3;
    height: 20px;
    left: 0;
    margin: 0;
    outline: 0;
    position: absolute;
    top: 50%;
    width: 35px;

    &::before {
      @include prefix(border-radius, 50%);
      @include prefix(transform, translate(0, -50%));
      @include prefix(transition, all 0.3s ease);
      background-color: $c-white;
      content: '';
      height: 15px;
      left: 3px;
      position: absolute;
      top: 50%;
      width: 15px;
    }
  }

  &-text {
    padding: 0;

    input {
      display: none;

      &:checked {
        + .switch {
          background-color: $c-white;

          &::before {
            @include prefix(transform, translate(30px, -50%));
          }

          span {
            &:first-child {
              color: $c-gray1;
            }

            &:last-child {
              color: $c-white;
            }
          }
        }
      }
    }

    .switch {
      @include prefix(transform, translate(0, 0));
      background-color: $c-white;
      border: 1px solid $c-gray5;
      display: inline-flex;
      font-size: $font-12;
      height: 32px;
      margin-left: 5px;
      position: static;
      text-transform: uppercase;
      vertical-align: middle;
      width: 62px;

      &::before {
        @include prefix(transform, translate(0, -50%));
        background-color: $c-gray1;
        height: 30px;
        left: 0;
        width: 30px;
      }

      span {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: relative;
        transition: $tr-3-ease;
        width: 50%;

        &:first-child {
          color: $c-white;
        }

        &:last-child {
          color: $c-gray1;
        }
      }
    }
  }
}

.g-admin-checkbox,
.g-admin-radio {
  cursor: pointer;
  display: inline-block;
  font-weight: $fw-normal;
  margin: 0;
  min-height: 18px;
  padding: 0 0 0 32px;
  position: relative;
  text-align: left;

  input {
    display: none;

    &:checked {
      & ~ .checkmark {
        &::before {
          content: '';
        }
      }
    }
  }

  .checkmark {
    @include prefix(border-radius, 5px);
    background-color: $c-white;
    border: 2px solid $c-gray3;
    height: 22px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;

    &::before {
      background: $c-red1;
      box-shadow: 2px 0 0 $c-red1, 4px 0 0 $c-red1, 4px -2px 0 $c-red1, 4px -4px 0 $c-red1, 4px -6px 0 $c-red1, 4px -8px 0 $c-red1;
      content: none;
      height: 2px;
      left: 20%;
      position: absolute;
      top: 55%;
      transform: rotate(45deg) translate(-50%, -50%);
      width: 2px;
    }
  }
}

.g-admin-radio {
  .checkmark {
    @include prefix(border-radius, 50%);
  }
}
