.g-admin-login-block {
  @include prefix(border-radius, 10px);
  @include prefix(box-shadow, $box-shadow3);
  background-color: $c-white;
  background-size: 45% 40%;
  padding: 50px 70px 80px 70px;
  position: relative;
  width: 500px;

  &::before,
  &::after {
    background-image: url($url-images + '/texture.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 100px;
    opacity: .6;
    position: absolute;
    width: 100px;
    z-index: -1;
  }

  &::before {
    left: -15px;
    top: -30px;
  }

  &::after {
    right: -15px;
    top: 86%;
  }
}
