.g-admin-modal {

  &-alert {

    .swal2-popup {

      .swal2-title {
        font-size: 1.4em;
      }
    }

    .swal2-icon {
      background-color: $c-orange2;
      border: none;
      margin: 1.25em auto;

      &.swal2-warning {
        color: $c-orange5;

        .swal2-icon-text {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0;

          &:before {
            content: "\f376";
            @extend %pseudo-icon;
            font-size: $font-40;
          }
        }
      }
    }

    .swal2-actions {

      button {
        min-width: 110px;
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
      }
    }

  }

}