.g-admin-pagination {
  display: flex;
  justify-content: center;

  .pagination {
    border-radius: 5px;
    display: inline-block;
    margin: 15px 0;
    padding-left: 0;
    text-align: center;
    width: 100%;

    > li {
      display: inline-flex;
      margin: 0 5px;
      zoom: 1;

      > a {
        @include prefix(border-radius, 7px);
        background-color: $c-transparent;
        border: 0;
        color: $c-gray1;
        font-weight: $fw-bold;
        padding: 6px 10px;

        span {
          display: none;
        }
      }

      &.page {
        > a {
          &:hover {
            background-color: $c-red1;
            border-color: $c-red1;
            color: $c-white;
          }
        }
      }

      &.active {
        > a {
          background-color: $c-red1;
          border-color: $c-red1;
          color: $c-white;
          cursor: default;
          z-index: 2;
        }
      }

      &.disabled {
        > a {
          cursor: not-allowed;
          opacity: 0;
        }
      }

      &:first-child,
      &:last-child {
        margin: 2px 0 0 0;

        > a {
          border: 0;
          color: $c-red1;
          padding: 0;

          &:hover {
            color: $c-red1;
          }
        }
      }

      &:first-child {
        margin-right: 10px;
        > a {
          &:before {
            @extend %pseudo-icon;
            content: "\f111";
            left: 0;
          }
        }
      }

      &:last-child {
        margin-left: 10px;

        > a {
          &:before {
            @extend %pseudo-icon;
            content: "\f112";
            right: 0;
          }
        }
      }
    }
  }
}
