.g-admin-select {
  display: block;
  position: relative;
  width: 100%;

  select {
    appearance: none;
    background-color: $c-white;
    border: 1px solid $c-gray4;
    color: $c-gray1;
    font-family: $font-family;
    font-size: $font-15;
    padding: 13px 20px;
    width: 100%;
  }

  span {
    background-color: $c-white;
    padding: 5px 10px;
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      @extend %pseudo-icon;
      color: $c-gray1;
      content: '\f110';
      font-size: $font-17;
    }
  }

  &-error {
    select {
      border-color: $c-red1;
    }
  }
}
