.g-admin-sidebar {
  background-color: $c-gray11;
  max-width: 80px;
  min-height: calc(100vh - 80px);
  min-width: 80px;
  padding: 50px 0;
  transition: $tr-2-ease-out .1s;

  &:hover {
    max-width: 235px;
    min-width: 235px;
    transition: $tr-3-ease-in 0s;

    ~ .g-admin-main {
      max-width: calc(100% - 235px);
      min-width: calc(100% - 235px);
      transition: $tr-3-ease-in 0s;

      &-full {
        max-width: 100%;
        min-width: 100%;
      }
    }

    .g-admin-main-menu-link {
      max-height: 50px;

      span {
        opacity: 1;
        transition: $tr-5-ease-in .2s;
        visibility: visible;
      }

      &:hover,
      &:focus,
      &:active,
      &.active {
        &::before {
          border-radius: 0 5px 5px 0;
          width: 58px;
        }
      }
    }
  }

  &-static {
    background-color: $c-white;
    box-shadow: inset 0 25px 30px 0 rgba($c-black, .05);
    max-width: 265px;
    min-width: 265px;
    padding: 0;

    &:hover {
      max-width: 265px;
      min-width: 265px;

      ~ .g-admin-main {
        &-static {
          max-width: calc(100% - 265px);
          min-width: calc(100% - 265px);
        }
      }
    }
  }
}

// Main menu
.g-admin-main-menu {
  display: block;
  width: 100%;

  &-list {
    list-style: none;
    padding: 0;
  }

  &-item {
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
  }

  &-link {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    max-height: 40px;
    padding: 7px 27px;
    position: relative;
    transition: $tr-3-ease;
    width: 235px;

    i,
    span {
      color: $c-white;
      position: relative;
    }

    i {
      font-size: $font-26;
    }

    span {
      margin-left: 10px;
      opacity: 0;
      transition: $tr-3-ease-out 0s;
      visibility: hidden;
    }

    &::before {
      background-color: rgba($c-white, .1);
      content: '';
      height: 40px;
      left: 0;
      position: absolute;
      top: calc(50% - 20px);
      transition: $tr-3-ease;
      width: 0;
    }

    &:hover,
    &:focus,
    &:active,
    &:link {
      color: $c-white;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      &::before {
        border-radius: 0;
        width: 80px;
      }
    }

    &.active {
      &::before {
        background-color: $c-red1;
      }
    }
  }
}
