.g-admin-tabs {
  &-heading {
    background-color: $c-white;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &-item {
    color: $c-gray1;
    cursor: pointer;
    font-size: $font-13;
    font-weight: $fw-medium;
    margin: 0 20px;
    padding: 22px;
    text-transform: uppercase;
    transition: $tr-3-ease;

    &.active,
    &:hover {
      border-bottom: 2px solid $c-red1;
      color: $c-red1;
    }
  }
}
