.g-admin-table-list {
  font-size: 90%;

  th {
    background: $white;
    font-weight: normal;
  }

  th,
  td {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    padding-top: 15px;

    a {
      font-weight: 400;
    }
  }

  tr {
    &:nth-child(even) {
      td {
        background: $white;
      }
    }
  }
}
