.g-admin-textarea {
  @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
  background-color: $c-white;
  border: 1px solid $c-gray4;
  color: $c-gray1;
  font-family: $font-family;
  font-size: $font-15;
  padding: 13px 20px;
  width: 100%;

  &-error {
    border-color: $c-red1;
  }
}
