// Marging
.no-margin-xs {
  margin: 0 !important
}

@for $i from 0 through 10 {
  .m-xs-#{$i * 1} {
    margin: #{$i * 10px} !important;
  }
}

@each $prefijo,
$position in (mt, top),
(mr, right),
(mb, bottom),
(ml, left) {
  .no-#{$prefijo}-xs {
    margin-#{$position}: 0 !important;
  }
}

@each $prefijo,
$position in (mt, top),
(mr, right),
(mb, bottom),
(ml, left) {
  @for $i from 0 through 10 {
    .#{$prefijo}-xs-#{$i * 1} {
      margin-#{$position}: #{$i * 10px} !important;
    }
  }
}

@each $prefijo,
$position in (mt, top),
(mr, right),
(mb, bottom),
(ml, left) {
  @for $i from 0 through 2 {
    @for $y from 1 through 9 {
      .#{$prefijo}-xs-#{$i * 1}-#{$y} {
        margin-#{$position}: #{$i}#{$y}px !important;
      }
    }
  }
}

// Padding
.no-padding-xs {
  padding: 0 !important;
}

@for $i from 0 through 10 {
  .p-xs-#{$i * 1} {
    padding: #{$i * 10px} !important;
  }
}

@each $prefijo,
$position in (pt, top),
(pr, right),
(pb, bottom),
(pl, left) {
  .no-#{$prefijo}-xs {
    padding-#{$position}: 0 !important;
  }
}

@each $prefijo,
$position in (pt, top),
(pr, right),
(pb, bottom),
(pl, left) {
  @for $i from 0 through 10 {
    .#{$prefijo}-xs-#{$i * 1} {
      padding-#{$position}: #{$i * 10px} !important;
    }
  }
}

@each $prefijo,
$position in (pt, top),
(pr, right),
(pb, bottom),
(pl, left) {
  @for $i from 0 through 2 {
    @for $y from 1 through 9 {
      .#{$prefijo}-xs-#{$i * 1}-#{$y} {
        padding-#{$position}: #{$i}#{$y}px !important;
      }
    }
  }
}

@media (min-width: $break-xsmall) {
  // Marging
  .no-margin-ms {
    margin: 0 !important;
  }

  @each $prefijo,
  $position in (mt, top),
  (mr, right),
  (mb, bottom),
  (ml, left) {
    .no-#{$prefijo}-ms {
      margin-#{$position}: 0 !important;
    }
  }

  @each $prefijo,
  $position in (mt, top),
  (mr, right),
  (mb, bottom),
  (ml, left) {
    @for $i from 0 through 10 {
      .#{$prefijo}-ms-#{$i * 1} {
        margin-#{$position}: #{$i * 10px} !important;
      }
    }
  }

  @each $prefijo,
  $position in (mt, top),
  (mr, right),
  (mb, bottom),
  (ml, left) {
    @for $i from 0 through 2 {
      @for $y from 1 through 9 {
        .#{$prefijo}-ms-#{$i * 1}-#{$y} {
          margin-#{$position}: #{$i}#{$y}px !important;
        }
      }
    }
  }

  // Padding
  .no-padding-ms {
    padding: 0 !important;
  }

  @each $prefijo,
  $position in (pt, top),
  (pr, right),
  (pb, bottom),
  (pl, left) {
    .no-#{$prefijo}-ms {
      padding-#{$position}: 0 !important;
    }
  }

  @each $prefijo,
  $position in (pt, top),
  (pr, right),
  (pb, bottom),
  (pl, left) {
    @for $i from 0 through 10 {
      .#{$prefijo}-ms-#{$i * 1} {
        padding-#{$position}: #{$i * 10px} !important;
      }
    }
  }

  @each $prefijo,
  $position in (pt, top),
  (pr, right),
  (pb, bottom),
  (pl, left) {
    @for $i from 0 through 2 {
      @for $y from 1 through 9 {
        .#{$prefijo}-ms-#{$i * 1}-#{$y} {
          padding-#{$position}: #{$i}#{$y}px !important;
        }
      }
    }
  }
}

@media (min-width: $break-small) {
  // Marging
  .no-margin-sm {
    margin: 0 !important;
  }

  @each $prefijo,
  $position in (mt, top),
  (mr, right),
  (mb, bottom),
  (ml, left) {
    .no-#{$prefijo}-sm {
      margin-#{$position}: 0 !important;
    }
  }

  @each $prefijo,
  $position in (mt, top),
  (mr, right),
  (mb, bottom),
  (ml, left) {
    @for $i from 0 through 10 {
      .#{$prefijo}-sm-#{$i * 1} {
        margin-#{$position}: #{$i * 10px} !important;
      }
    }
  }

  @each $prefijo,
  $position in (mt, top),
  (mr, right),
  (mb, bottom),
  (ml, left) {
    @for $i from 0 through 2 {
      @for $y from 1 through 9 {
        .#{$prefijo}-sm-#{$i * 1}-#{$y} {
          margin-#{$position}: #{$i}#{$y}px !important;
        }
      }
    }
  }

  // Padding
  .no-padding-sm {
    padding: 0 !important;
  }

  @each $prefijo,
  $position in (pt, top),
  (pr, right),
  (pb, bottom),
  (pl, left) {
    .no-#{$prefijo}-sm {
      padding-#{$position}: 0 !important;
    }
  }

  @each $prefijo,
  $position in (pt, top),
  (pr, right),
  (pb, bottom),
  (pl, left) {
    @for $i from 0 through 10 {
      .#{$prefijo}-sm-#{$i * 1} {
        padding-#{$position}: #{$i * 10px} !important;
      }
    }
  }

  @each $prefijo,
  $position in (pt, top),
  (pr, right),
  (pb, bottom),
  (pl, left) {
    @for $i from 0 through 2 {
      @for $y from 1 through 9 {
        .#{$prefijo}-sm-#{$i * 1}-#{$y} {
          padding-#{$position}: #{$i}#{$y}px !important;
        }
      }
    }
  }
}

@media (min-width: $break-medium) {
  // Marging
  .no-margin-md {
    margin: 0 !important;
  }

  @each $prefijo,
  $position in (mt, top),
  (mr, right),
  (mb, bottom),
  (ml, left) {
    .no-#{$prefijo}-md {
      margin-#{$position}: 0 !important;
    }
  }

  @each $prefijo,
  $position in (mt, top),
  (mr, right),
  (mb, bottom),
  (ml, left) {
    @for $i from 0 through 10 {
      .#{$prefijo}-md-#{$i * 1} {
        margin-#{$position}: #{$i * 10px} !important;
      }
    }
  }

  @each $prefijo,
  $position in (mt, top),
  (mr, right),
  (mb, bottom),
  (ml, left) {
    @for $i from 0 through 2 {
      @for $y from 1 through 9 {
        .#{$prefijo}-md-#{$i * 1}-#{$y} {
          margin-#{$position}: #{$i}#{$y}px !important;
        }
      }
    }
  }

  // Padding
  .no-padding-md {
    padding: 0  !important;
  }

  @each $prefijo,
  $position in (pt, top),
  (pr, right),
  (pb, bottom),
  (pl, left) {
    .no-#{$prefijo}-md {
      padding-#{$position}: 0 !important;
    }
  }

  @each $prefijo,
  $position in (pt, top),
  (pr, right),
  (pb, bottom),
  (pl, left) {
    @for $i from 0 through 10 {
      .#{$prefijo}-md-#{$i * 1} {
        padding-#{$position}: #{$i * 10px} !important;
      }
    }
  }

  @each $prefijo,
  $position in (pt, top),
  (pr, right),
  (pb, bottom),
  (pl, left) {
    @for $i from 0 through 2 {
      @for $y from 1 through 9 {
        .#{$prefijo}-md-#{$i * 1}-#{$y} {
          padding-#{$position}: #{$i}#{$y}px !important;
        }
      }
    }
  }
}

// Borders
@each $prefijo,
$position in (bt, top),
(br, right),
(bb, bottom),
(bl, left) {
  .#{$prefijo} {
    @each $color in map-keys($colors) {
      &-#{$color} {
        border-#{$position}: 1px solid map-get($colors, $color);
      }
    }
  }
}

// Width
@for $i from 1 through 20 {
  .g-w-#{$i * 10} {
    width: #{$i * 10px} !important;
  }
}
