<div>
  <div class="row">
    <div class="col-12 mb-xs-2">
      <label class="mb-xs-1 g-fw-bold">Frase/Palabra clave</label>
      <input type="text" class="g-admin-input" (input)="changeKeyFocus($event)" [value]="seo.focusKeyword || ''">
      <div class="mt-xs-0-5 character-not-allowed" *ngIf="showCharacterNotAllowed">
        No debe usar estos caracteres: &#91;&#38;&#92;&#47;&#92;&#92;&#35;&#44;&#43;&#40;&#41;&#45;&#59;&#94;&#36;&#126;&#37;&#46;&#34;&#58;&#42;&#63;&#60;&#62;&#123;&#125;&#93; Dentro del campo de palabras clave.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="mb-xs-1 g-fw-bold">Resultado de Analisis</label>
    </div>
    <div class="col-12 mb-xs-2">
      <label class="mb-xs-1 g-fw-bold">Problemas</label>
      <ul>
        <li *ngFor="let item of listProblems;">{{ item.description }}</li>
      </ul>
    </div>
    <div class="col-12">
      <label class="mb-xs-1 g-fw-bold">Buen resultado</label>
      <ul>
        <li *ngFor="let item of listGood;">{{ item.description }}</li>
      </ul>
    </div>
  </div>
</div>
