<div class="g-admin-img-preview g-admin-img-preview--{{ size || 'md' }}"
     (click)="openModal()"
     [ngStyle]="{
       'width.px': type === FILE_TYPE.document? 250 : false,
       'height.px': type === FILE_TYPE.document? 90 : false
     }"
     [ngClass]="{ 'g-admin-input-error' : error }"
     *ngIf="!model || (model && !model.length)">
  <div class="g-admin-img-preview-before">
    <h6 *ngIf="type !== FILE_TYPE.document">{{ placeholder }}</h6>
    <div class="g-admin-img-preview-upload ">
      <i class="la la-upload"></i>
      <span class="">
        {{ buttonText }}
      </span>
    </div>
  </div>
</div>

<div
  class="g-admin-img-preview g-admin-img-preview--{{ size || 'md' }}"
  [ngStyle]="{
    'width.px': type === FILE_TYPE.document? 250 : false,
    'height.px': type === FILE_TYPE.document? 90 : false
  }"
  *ngFor="let file of (model || []); let i = index"
  (click)="openModal()">

  <ng-container
    *ngTemplateOutlet="
      type === FILE_TYPE.document? documentPreview: imagePreview;
      context:{
        $implicit: file
      }">
  </ng-container>

  <button class="g-admin-btn-close" type="button" (click)="removeImage(i)">
    <i class="la la-close"></i>
  </button>
</div>

<ng-template #imagePreview let-file>
  <div
    class="g-admin-img-preview-img"
    [ngClass]="{ 'g-admin-img-preview-img--badge': type === FILE_TYPE.badge }"
    [ngStyle]="{ 'background-image': 'url(' + (!file.medium? file.url : file.medium.imageUri) + ')'}">
  </div>
</ng-template>

<ng-template #documentPreview let-file>
  <div class="g-admin-img-preview-before">
    <div class="g-admin-img-preview-upload">
      <i [iconFile]="file.name"></i>
      <span class="g-fs-12 break-all">
        {{ file.name }}
      </span>
    </div>
  </div>
</ng-template>
