<section class="shared__StyledEditor-sc-1qsmlb9-5 clYtQB">
  <div class="shared__FormSection-sc-1qsmlb9-4 cdrbsx">
    <div class="mb-xs-1 g-fw-bold">SEO title</div>
    <div>
      <input class="g-admin-input" (input)="changeTitleContent($event)" [value]="seo.titleSnippet || ''">
    </div>
    <progress [attr.max]="rulesValid.pageTitleMaxLength" [value]="seo.titleLength"
      class="progress-bar"></progress>
    <div>
      <div class="mt-xs-2 mb-xs-1 g-fw-bold">Variables:</div>
      <div><span class="g-fw-bold">%Titulo%:</span> Se reemplaza por el Titulo de la página</div>
      <div><span class="g-fw-bold">%Titulo del sitio%:</span> Se reemplaza por el Titulo del Sitio</div>
      <div><span class="g-fw-bold">%Separador%:</span> Se reemplaza por un guión (-)</div>
    </div>
  </div>
  <div class="cdrbsx">
    <div class="mt-xs-2 mb-xs-1 g-fw-bold">Slug</div>
    <div>
      <input class="g-admin-input" (input)="changeSlug($event)" [value]="seo.slug || ''">
    </div>
  </div>
  <div>
    <div class="mt-xs-2 mb-xs-1 g-fw-bold">Meta description</div>
    <div>
      <textarea class="g-admin-textarea" rows="4" [value]="seo.description || seo.descriptionSite || ''" (input)="changeDescription($event)"></textarea>
    </div><progress [attr.max]="rulesValid.metaDescriptionMaxlength" [value]="seo.descriptionLength"
      class="progress-bar"></progress>
  </div>
</section>
