.shared-spinner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  position: fixed;
  overflow-y: auto;
  background-color: rgba(#ffffff, .65);

  &-content {
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &-ico {
    animation: fa-spin 2s infinite linear;
    font-size: 48px;
  }

  @keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }

  &-container {
    position: relative;

    .shared-spinner {
      position: absolute;
      overflow: hidden;
    }
  }
}