<div class="shared-spinner" [ngClass]="config?.spinnerClass">
  <div class="shared-spinner-content">
    <span class="shared-spinner-ico" [ngClass]="config?.spinnerIconClass">
    </span>
  </div>
</div>