@import "../../../../core/lib/src/styles/main.scss";

section ::ng-deep {
  .tracker .tracker-child {
    display: flex;
    margin-top: 20px;
  }

  .carousel-item {
    vertical-align: top;
    width: 295px;

    @include media-breakpoint-down(sm) {
      min-width: 40vw;
      width: 40vw;
    }

    @include media-breakpoint-down(xs) {
      min-width: 80vw;
      width: 80vw;
    }
  }

  bvl-entry article.entry-default header h3 {
    font-size: 1.4rem !important;
    white-space: normal !important;
  }

}
