<div class="container">
  <section>
    <div class="row">
      <div class="col-md-6">
        <bvl-section-header [title]="TEXT.general.bvlNews"></bvl-section-header>
      </div>
      <div class="col-md-6 text-right">
        <bvl-filters
          *ngIf="filters"
          [ga]="ga"
          [filters]="filters"
          [active]="activeFilter"
          showSelectOn="lt-md"
          (filterChanged)="onFilterChanged($event)">
        </bvl-filters>
      </div>
    </div>
    <!-- TODO: Cambiar a dinámico -->
    <bvl-carousel [ga]="ga"
      urlLink="/emisores/noticias-emisores" textLink="Ver todos" *ngIf="news">
      <ng-container *ngFor="let entry of news">
        <ng-template bvlCarouselSlide>
          <bvl-entry [ga]="ga"
            [entry]="entry"
            class="slide">
          </bvl-entry>
        </ng-template>
      </ng-container>
    </bvl-carousel>
  </section>
</div>
