<div class="table-header">
  <div class="table-header-content search-showed">
    <div class="header-items-wrapper">
      <h3 class="title">
        {{ TEXT.general.dailyMovements }}
      </h3>
    </div>

    <div class="type-filters">
      <select
        class="select arrow-red white"
        [(ngModel)]="sector"
        (change)="onTypeChange('sector', sector)"
        [ngClass]="{'active': isNumber(selectedType)}">
        <option selected value=''>{{ byTypeFilter?.label }}</option>
        <option *ngFor="let option of byTypeFilter?.options" [attr.value]="option.code">{{ option.label }}
        </option>
      </select>
      <div class="g-site-select">
        <div class="g-site-select--label">
            <span>{{ (selectedType ? getSelectedLabel(selectedType, byTypeFilter?.options) : byTypeFilter?.label) | truncate: 20 }}</span>
          <i class="icon-simple-arrow-down"></i>
        </div>
        <div class="g-site-select--list" [bvlToggleByPosition]="['g-site-select--list-left', 'default']">
          <div (click)="onTypeChange('sector', ''); selectedType = ''"
          ctrl="optionSector"
          (domChange)="onDomChange($event, { optionText: byTypeFilter?.label, title: TEXT.general.dailyMovements })">{{ byTypeFilter?.label }}</div>
          <div
            [ngClass]="{ 'active': selectedType === option.code }"
            *ngFor="let option of byTypeFilter?.options"
            (click)="onTypeChange('sector', option.code); selectedType = option.code"
            ctrl="optionSector"
            (domChange)="onDomChange($event, { optionText: option.code, title: TEXT.general.dailyMovements })">
            {{ option.label }}
          </div>
        </div>
      </div>
      <button class="btn" [ngClass]="{'active': selectedType === 'inWatchList'}"
        (click)="onTypeChange('inWatchList', '')"
        ctrl="filterWatchlist"
        (domChange)="onDomChange($event, { action: getAction() })">
        Watchlist <i class="icon-watch"></i>
      </button>
    </div>
  </div>
</div>
