<div class="s-form-input" [ngClass]="{'s-form-error': error}">
  <label *ngIf="label">{{ label }}</label>
  <input class="form-control"
    [attr.type]="type"
    [(ngModel)]="model"
    [disabled]="disabled">
</div>