@import '../../styles/main.scss';

.s-form-input {
  label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    border-radius: 0;
    margin-bottom: 5px;
    padding: 12px 15px;
  }

  .help-text {
    display: block;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &.s-form-error {
    input {
      background: #fdf7f7;
      border: 1px solid #f3bcbc;
    }
  }
}
