<div class="ng-content"></div>
<div class="g-admin-component-edit">
  <div class="g-admin-btn-group">
    <button #btnEdit
      type="button"
      class="g-admin-btn g-admin-btn-gray"
      (click)="openModalEdit()"
      [title]="GENERAL_LANG?.buttons?.edit">
      <i class="la la-edit"></i>
    </button>
    <button type="button"
      class="g-admin-btn g-admin-btn-gray"
      (click)="openModalComment()"
      [title]="GENERAL_LANG?.buttons?.comment">
      <span *ngIf="comments?.length">{{ comments?.length }}</span>
      <i class="la la-comment"></i>
    </button>
    <button #btnDelete
      type="button"
      class="g-admin-btn g-admin-btn-gray"
      (click)="remove()"
      [title]="GENERAL_LANG?.buttons?.delete">
      <i class="la la-trash"></i>
    </button>
  </div>
</div>
