<div class="row" *ngIf="indice">
  <div class="col-md-4 col-lg-3">
    <bvl-side-menu [title]="'Índice ' + indice.title" [isDetail]="true"></bvl-side-menu>
  </div>
  <div class="col-md-8 col-lg-9">
    <div class="details-main">
      <div id="page-content">
        <ng-container *ngFor="let item of indice.content; index as i">
          <bvl-section-header [title]="item.title"></bvl-section-header>
          <ng-container *ngIf="item.description">
            <p>{{ item.description }}</p>
          </ng-container>
          <ng-container *ngIf="i === 0">
            <bvl-details-chart [indexName]="indice.title"></bvl-details-chart>
          </ng-container>
          <ng-container *ngIf="item.files.length > 0">
            <bvl-items-grid
              [items]="item.files"
              [itemsType]="'Archivo'"
              [space]="item.files.length > 4 ? 4 : item.files.length">
            </bvl-items-grid>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
