bvl-index-details {
  bvl-details-chart {
    .head-detail-chart .row > div:not(:first-of-type) {
      border: 0px;
      text-align: right;
    }
    .details-chart {
      overflow: hidden;
      border-radius: 4px;
      position: relative;
      margin-bottom: 16px;
      .chart-wrapper {
        top: 0px;
      }
    }
  }
}
