@import "../../../../core/lib/src/styles/main.scss";

bvl-agents-list {
  display: block;
  bvl-links-list {
    @include media-breakpoint-down(xs) {
      display: block;
      margin-bottom: 1rem;
    }
  }
  .map {
    height: 220px;
  }
}
