<div class="page-subsection">
  <bvl-toolbar
    [ga]="ga"
    [onlyOneFilter]="true"
    [capabilities]="['search', 'sortByLocation']"
    (activeFilters)="onFilterChange($event)">
  </bvl-toolbar>
</div>
<div class="page-subsection">
  <div class="box-white">
    <ng-container *ngIf="getValueType(agents) === 'object'">
      <ng-container *ngIf="agents?.length; else noData">
        <bvl-accordion
          [id]="i"
          [ga]="ga"
          *ngFor="let agent of agents; index as i"
          (state)="openElement(agent, i, $event)">
          <div bvl-accordion-toggler>
            <bvl-section-header [title]="agent.name" noMargins> </bvl-section-header>
          </div>
          <div class="row">
            <div class="col-lg-5">
              <dl class="description-list">
                <ng-container *ngIf="agent.ruc">
                  <dt>RUC</dt>
                  <dd>{{ agent.ruc }}</dd>
                </ng-container>

                <ng-container *ngIf="agent.stock">
                  <dt>Capital</dt>
                  <dd>S/ {{ agent.stock }}</dd>
                </ng-container>

                <ng-container *ngIf="agent.phones">
                  <dt>{{ TEXT.general.phones }}</dt>
                  <dd>
                    <ng-container *ngFor="let phone of agent.phones; last as isLast">
                      {{ phone }}<span *ngIf="!isLast">, </span>
                    </ng-container>
                  </dd>
                </ng-container>

                <ng-container *ngIf="agent.email">
                  <dt>Email</dt>
                  <dd>{{ agent.email }}</dd>
                </ng-container>

                <ng-container *ngIf="agent.website">
                  <dt>{{ TEXT.general.webSite }}</dt>
                  <dd>{{ agent.website }}</dd>
                </ng-container>

                <ng-container *ngIf="agent.generalManager">
                  <dt>{{ TEXT.general.manager }}</dt>
                  <dd>{{ agent.generalManager }}</dd>
                </ng-container>
              </dl>
            </div>

            <div class="col-sm-6 col-lg-3">
              <bvl-links-list [ga]="ga" [links]="agent.links"></bvl-links-list>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="map" [id]="'map-' + agent.code"></div>
            </div>
          </div>
        </bvl-accordion>
      </ng-container>
      <ng-template #noData>
        <div class="text-center">
          {{ TEXT.filters.noData }}
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>

