<bvl-card-wrapper>
  <form [formGroup]="frmAdvanced">
    <div class="g-card-form mb-xs-3">
      <div>
        <p>
          Los ajustes de esta página te permiten especificar cuál debería ser la apariencia en el buscador por defecto para cualquier tipo de contenido que tengas. Puedes elegir qué tipos de contendido aparecerán en los resultados de búsqueda y cuál debería ser su descripción por defecto.
        </p>
        <div class="pt-xs-3 pb-xs-3 pl-xs-6 pr-xs-6  g-bgc-white">
          <div class="row">
            <div class="col-12">
              <div>
                <div class="row">
                  <div class="col-12">
                    <div class="row align-items-center no-gutters mb-xs-2">
                      <div class="col g-w-100">
                        <label class="g-fw-bold">¿Mostramos en los resultados de búsqueda?</label>
                        <span>No mostrar en los resultados de búsqueda técnicamente significa que tendrán un meta robots <strong>noindex</strong> y que se excluirán de los mapas del sitio XML.</span>
                      </div>
                    </div>
                    <div class="row align-items-center no-gutters mb-xs-2">
                      <div class="col">
                        <div class="row align-items-center">
                          <div class="col-3">
                            <bvl-radio-button
                              formControlName="noindex"
                              [value]="'1'">
                              Si
                            </bvl-radio-button>
                          </div>
                          <div class="col-3">
                            <bvl-radio-button
                              formControlName="noindex"
                              [value]="'0'">
                              No
                            </bvl-radio-button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row align-items-center no-gutters mb-xs-2">
                      <div class="col-2 g-w-100">
                        <label class="g-fw-bold">Titulo SEO:</label>
                      </div>
                      <div class="col-6">
                        <bvl-input formControlName="titleSnippet"></bvl-input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-2">
          <button bvl-button type="button" (click)="saveAdvanced()"><i
              class="la la-save g-pr--5 g-fs-20"></i><span>{{ btnSaveLabel }}</span></button>
        </div>
      </div>
    </div>
  </form>
</bvl-card-wrapper>
