<table class="table">
  <thead>
    <tr>
      <th *ngFor="let itemTh of header">
        {{ itemTh }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="tableData?.length; else withoutData">

      <ng-container *ngFor="let itemTr of tableData; let odd = odd">
        <tr class="g-site-table-show" [ngClass]="{'g-site-table-odd': odd}">
          <td *ngFor="let itemTh of header" [attr.data-title]="itemTh">

            <ng-container
              *ngTemplateOutlet="
                (!isObject(itemTr[itemTh]) ? tplDefault : isObject(itemTr[itemTh].link) ? tplLinkPopup : tplLinkFile);
                context:{
                  itemTd: itemTr[itemTh]
                }">
            </ng-container>

          </td>

          <ng-template #tplDefault let-itemTd="itemTd">
            {{ itemTd }}
          </ng-template>

          <ng-template #tplLinkFile let-itemTd="itemTd">
            <a [href]="getPathfile(itemTd)" target="_blank" [title]="getPathfile(itemTd)">{{ itemTd?.description }}</a>
            <span class="icon-simple-arrow-right g-site-color--red1 g-site-icon-link"></span>
          </ng-template>

          <ng-template #tplLinkPopup let-itemTd="itemTd">
            <a href="javascript:void(0)" (click)="openPopup(itemTd)">{{ itemTd?.description }}</a>
            <span class="icon-simple-arrow-right g-site-color--red1 g-site-icon-link"></span>
          </ng-template>

        </tr>
      </ng-container>

    </ng-container>
  </tbody>
</table>

<ng-template #withoutData>
  <tr class="g-site-table-show">

    <td [attr.colspan]="header?.length">

      <bvl-without-data [type]="WITHOUT_DATA_TYPE?.table"
        [message]="message">
      </bvl-without-data>

    </td>

  </tr>
</ng-template>
