<div class="tooltip">
  <h5 class="head">{{data.title}}</h5>
  <div class="content">

    <ng-container *ngIf="typetip === 'memory'; else tmplImportantFact">

      <ng-container *ngIf="data.array">
        <ng-container *ngFor="let item of data.array; last as isLast; first as isFirst">
          <ng-container [ngSwitch]="checkType(item)">
            <ng-container *ngSwitchCase="'string'">
              <span *ngIf="!isFirst">{{item}}{{!isLast ? ', ' : ''}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'object'">
              <div class="info-item">
                <div class="row m-0">
                  <div class="col-sm-4 text-center">
                    <span class="new-info {{item.type}}">{{item.shortLabel}}</span>
                  </div>
                  <div class="col-sm-6">
                    <strong>{{item.document}}</strong>
                    <br>
                    <span [title]="item.companyName">{{item.companyName | truncate}}</span>
                    <br>
                    <small>{{item.date | date: 'shortDate'}}</small>
                  </div>
                  <div class="col-sm-2">
                    <a [href]="getPathFile(item)" target="_blank" class="path" ctrl="toolTipLink"
                      (domChange)="onDomChange($event, { textLink: item.companyName, document: item.document, date: item.date })"></a>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>

    </ng-container>
    <ng-template #tmplImportantFact>

      <ng-container *ngIf="data.array">
        <ng-container *ngFor="let item of data.array; last as isLast; first as isFirst">
          <ng-container [ngSwitch]="checkType(item)">
            <ng-container *ngSwitchCase="'string'">
              <span *ngIf="!isFirst">{{item}}{{!isLast ? ', ' : ''}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'object'">
              <div class="info-item">
                <div class="row m-0">
                  <div class="col-sm-2 text-center">
                    <span class="new-info ef">HI</span>
                  </div>
                  <div class="col-sm-10">

                    <ng-container *ngIf="!item.titles.length">
                      <span>{{ item.subtitle }}</span>
                    </ng-container>

                    <ng-container *ngIf="item.titles.length">
                      <div *ngFor="let title of item?.titles">
                        <span>{{ title.text }}</span>
                      </div>
                    </ng-container>

                    <a *ngFor="let file of item?.files" [href]="file.url" target="_blank">
                      <i class="icon-file g-fw-bold g-fs--15" [title]="file.url"></i>
                    </a>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>

    </ng-template>
  </div>
</div>
