.tooltip {
  color: #5c5c5c;
  position: absolute;
  background: #fff;
  padding: 1.12em 1.54em;
  z-index: 99;
  font-size: 1rem;
  width: 320px;
  border-radius: 0.77em;
  .head {
    font-size: 1em;
    margin: 0;
    margin-bottom: 10px;
  }
  .content{
    max-height: 120px;
    overflow-y: auto;
    .info-item:not(:last-child){
      margin-bottom: 14px;
      border-bottom: 1px solid #e2e2e2;
      padding-bottom: 10px;
    }
  }
  &:after{
    content: '';
    position: absolute;
    border-top: 16px solid #fff;
    border-right: 14px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 14px solid transparent;
    top: 99%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0;
  }
  .path{
    &:after {
      font-family: 'font-icons';
      content: '\e946';
      cursor: pointer;
      color: red;
      position: absolute;
      top: calc(50% - .5em);
      line-height: 1;
      right: 1.54em;
      transition: right .2s;
    }  
    &:hover{
      &:after {
        right: 1.24em;
      } 
    }
  }
  span.new-info{
    font-size: 24px;
  }
}
