<div class="row">

  <div class="col-12 col-md-8">
    <bvl-tab-header [tabHeaderList]="TAB_PLAN_PLAYMENT"></bvl-tab-header>
  </div>

</div>

<div class="row">
  <div class="col-12 col-md-8">
    <bvl-tab-content>
      <bvl-form-alert *ngIf="currentRoute.path === 'tarjeta' && errorMessage">{{ errorMessage }}</bvl-form-alert>
      <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </bvl-tab-content>
  </div>

  <div class="col-12 col-md-4">
    <div class="box g-pt-sm-15 g-px-sm-25 g-pb-sm-25">
      <div class="row">
        <div class="col-12">
          <bvl-section-header title="Resumen del pedido"></bvl-section-header>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <div>Tipo de suscripción</div>
            <div>{{ plan?.interval }}</div>
          </div>
          <div class="d-flex justify-content-between g-summary-footer g-pt--15">
            <div>Precio Total</div>
            <div>{{ plan?.amount | currency: 'PEN ' }}</div>
          </div>
        </div>
        <ng-container *ngIf="currentRoute.path === 'tarjeta'">
          <div class="col-12 g-py--15">
            <div class="g-h-1"></div>
          </div>
          <div class="col-12">
            <form [formGroup]="frmCulqi">
              <div class="d-none">
                <input type="text"
                  formControlName="mEmail"
                  size="50"
                  data-culqi="card[email]"
                  id="card[email]">
                <input type="text"
                  formControlName="mCardNumber"
                  size="20"
                  data-culqi="card[number]"
                  id="card[number]">
                <input type="text"
                  formControlName="mCVV"
                  size="4"
                  data-culqi="card[cvv]"
                  id="card[cvv]">
                <input size="2"
                  formControlName="mMM"
                  data-culqi="card[exp_month]"
                  id="card[exp_month]">
                <input size="4"
                  formControlName="mYYYY"
                  data-culqi="card[exp_year]"
                  id="card[exp_year]">
              </div>
              <div class="g-pb--15">
                <bvl-form-checkbox formControlName="mTerms">
                  He leído y acepto los <a href="javascript:void(0)" (click)="termsConditions()">terminos y condiciones.</a>
                </bvl-form-checkbox>
              </div>
              <bvl-form-alert *ngIf="validateControl('mTerms')">
                Debe aceptar los terminos y condiciones.
              </bvl-form-alert>
            </form>
          </div>
          <div class="col-12 g-pb--15">
            <div>
              Aceptamos los siguientes métodos de pago:
            </div>
            <div class="g-payment-images">
              <ng-container *ngFor="let srcCard of SRC_PAYMENT_CARDS">
                <img [src]="srcCard" alt="">
              </ng-container>
            </div>
          </div>
          <div class="col-12">
            <a href="javascript:void(0)"
              class="btn btn-primary w-100 g-text--uppercase"
              (click)="pay()">
              <span class="icon-lock-o g-pr-5"></span>
              <span>Pagar y Confirmar</span>
            </a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>