<div class="carousel" [ngClass]="active ? 'carousel-active' : ''">

  <div class="carousel-inner">
    <div class="tracker">
      <div class="tracker-child">
        <div *ngFor="let slide of slides; index as i"
          [id]="slide.id"
          class="carousel-item">
          <ng-template [ngTemplateOutlet]="slide.tplRef"></ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between g-pr-lg--40">

    <div class="carousel-btn g-pt--10 g-pt-md--0">
      <a ctrl="carouselLink"
        (domChange)="onDomChange($event)"
        class="link"
        [href]="urlLink"
        *ngIf="urlLink">
        {{ textLink }} <i class="icon-arrow-right"></i>
      </a>
    </div>

    <div class="carousel-controls" *ngIf="active">
      <button *ngIf="prevButtonActive"
        ctrl="carouselPrev"
        (domChange)="onDomChange($event)"
        class="btn" (click)="prev()">
        <i class="icon-arrow-left"></i>
      </button>
      <button *ngIf="nextButtonActive"
        ctrl="carouselNext"
        (domChange)="onDomChange($event)"
        class="btn" (click)="next()">
        <i class="icon-arrow-right"></i>
      </button>
    </div>

  </div>
</div>
