
@import '../styles/main.scss';

.carousel {
    .carousel-inner {
        will-change: transform;
        @include media-breakpoint-down(sm) {
            display: flex;
        }
    }
    .tracker {
        white-space: nowrap;
        @include media-breakpoint-down(sm) {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    }
    .carousel-item {
        display: inline-block;
        padding-left: 1.153rem;
        padding-right: 1.153rem;
        vertical-align: top;
    }
    &.carousel-active {
        .carousel-inner {
            display: flex;
            margin-bottom: 1.23rem;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .tracker {
            white-space: nowrap;
        }
        .carousel-item {
            white-space: normal;
        }
    }
}

.carousel-controls {
  display: flex;
  justify-content: flex-end;
  @include media-breakpoint-down(sm) {
      display: none;
  }
  .btn {
    color: white;
    background-color: rgba($body-color, .8);
    line-height: 0;
    height: 32px;
    padding: .75rem;
    margin-left: .5rem;
    i {
        top: 0;
    }

    &:hover {
      background-color: $red;
    }
  }
}
