{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#editorSidebar}}
    {{>organisms-Editor-sidebar}}
  {{/editorSidebar}}

  <main class="g-main g-main-static">

    {{#editorHeader}}
      {{>organisms-Editor-header}}
    {{/editorHeader}}

    <div class="p-xs-2">

      <div class="mb-xs-2">

        {{#editorPageInfo}}
          {{>organisms-Editor-page-info}}
        {{/editorPageInfo}}

      </div>

      <div class="g-editor-form-wrapper">

        {{#editorFormHeader}}
          {{>molecules-Editor-form-header}}
        {{/editorFormHeader}}

        <div class="g-editor-form-body">

          {{#componentSection}}
            {{>templates-Component-section}}
          {{/componentSection}}

        </div>

      </div>

    </div>

  </main>
</div>
