{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#editorSidebar}}
    {{>organisms-Editor-sidebar}}
  {{/editorSidebar}}

  <main class="g-main g-main-static">

    {{#editorHeader}}
      {{>organisms-Editor-header}}
    {{/editorHeader}}

    <div class="g-overflow-hidden m-xs-2">

      <div class="mb-xs-2">

        {{#editorPageInfo}}
          {{>organisms-Editor-page-info}}
        {{/editorPageInfo}}

      </div>

      <div class="g-bgc-gray6">

        {{#siteLayout}}
          {{>templates-Layout}}
        {{/siteLayout}}

      </div>

    </div>

  </main>
</div>
