{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">
  <main class="g-main g-main-full">

    <div class="g-container">
      <div class="row">

        <div class="col-12 mt-xs-3 mb-xs-2">

          {{#button}}
            {{>atoms-Button-with-icon}}
          {{/button}}

        </div>

        <div class="col-12">

          {{#title}}
            {{>atoms-Text}}
          {{/title}}

        </div>

      </div>

      <div class="row">

        {{#templateSelect}}
          <div class="col-6">
            {{>organisms-Template-select}}
          </div>
        {{/templateSelect}}

      </div>
    </div>

  </main>
</div>
