{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#editorSidebar}}
    {{>organisms-Editor-sidebar}}
  {{/editorSidebar}}

  <main class="g-main g-main-static">

    {{#editorHeader}}
      {{>organisms-Editor-header}}
    {{/editorHeader}}

    <div class="p-xs-2">

      {{#restoredPreview}}
        {{>molecules-Restored-preview}}
      {{/restoredPreview}}

    </div>

  </main>

</div>
