bvl-banner {
  display: block;
  margin-bottom: 20px;

  article {
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    color: white;
    display: flex;
    height: 100%;
    min-height: 170px;
    overflow: hidden;
    padding: 2.77rem 3.85rem;
    position: relative;

    &.g-site-size--pequeno {
      min-height: 170px;
    }

    &.g-site-size--mediano {
      min-height: 270px;
    }

    &.g-site-size--grande {
      min-height: 370px;
    }

    &::before {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      @media (min-width: 768px) {
        background-color: rgba(0, 0, 0, 0.4);
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0.2) 60%,
          rgba(0, 0, 0, 0) 100%
        );
        width: 80%;
      }
    }

    .content {
      color: white;
      max-width: 100%;
      width: 100%;

      @media (min-width: 768px) {
        width: 50%;
      }

      .section-title {
        color: white;
      }
    }

    h2 {
      margin-top: 0;
    }

    p {
      margin: 0 0 1rem;
      position: relative;
    }

    .modal-link {
      cursor: pointer;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .btn {
      position: relative;
      z-index: 1;
    }

    @media (max-width: 767px) {
      padding: 1.77rem 2.5rem;
    }
  }
}
