<article [ngClass]="size" [style.background-image]="'url(' + image + ')'">
  <div class="content" id="content">
    <bvl-section-header *ngIf="title" [title]="title"></bvl-section-header>
    <p *ngIf="description">{{ description }}</p>
    <a ctrl="button" (domChange)="onDomChange($event, { headerTitle: title, button: textButton })"
      *ngIf="isButton" [href]="urlButton" class="btn btn-primary g-min-w--18">{{ textButton }}</a>
    <ng-container *ngIf="isLink">
      <a [href]="urlLink">
        {{textLink}}
        <i class="icon-simple-arrow-right"></i>
      </a>
    </ng-container>
  </div>
</article>
