<article [style.background-image]="'url(' + image + ')'">
  <div class="container">
    <h2 class="page-title">{{ title }}</h2>
    <p>{{ text }}</p>
    <ng-container *ngIf="isButton">
      <a ctrl="button" (domChange)="onDomChange($event, { title: title, button: textButton })"
        [href]="urlButton" class="btn btn-primary">{{ textButton }}</a>
    </ng-container>
    <ng-container *ngIf="isLink">
      <a [href]="urlLink">{{ textLink }}</a>
    </ng-container>
  </div>
</article>