@import "../../../../core/lib/src/styles/main.scss";

bvl-banner-background {
  article {
    background-position: center;
    background-size: cover;
    padding: 100px 100px 150px;

    @include media-breakpoint-down(md) {
      padding: 80px 100px 125px;
    }

    @include media-breakpoint-down(sm) {
      padding: 60px 50px 100px;
    }

    @include media-breakpoint-down(xs) {
      padding: 40px 0 75px;
    }
  }

  .container {
    text-align: center;

    .bottom-bordered {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 30px;
    }
  }
}
