<div class="table-header"
     *ngIf="title || tableCapabilities.length"
     [ngClass]="{'full-width': fullWidth}">
    <div class="table-header-content"
         [ngClass]="{
             'container': fullWidth,
             'search-showed': searchInputShowed,
             'with-only-today': isCapableOf('filterOnlyToday')
         }">
        <div class="header-items-wrapper"
             *ngIf="title || isCapableOf('filterByCategory')">
            <h3 class="title"
                *ngIf="title">
                {{ title }}
            </h3>
            <ng-container *ngIf="isCapableOf('filterByCategory')">
                <div class="category-filter"
                    *ngFor="let byCategoryFilter of byCategoryFilters; index as i"
                    [ngClass]="{ 'with-selection': selectedCategories[i].value }">
                    <h4 *ngIf="byCategoryFilter.title" class="category-filters-title">
                        {{ byCategoryFilter.title }}
                    </h4>
                    <select class="select select-xl white"
                            [ngClass]="(title || byCategoryFilter.title) ? 'red' : 'arrow-red'"
                            [(ngModel)]="selectedCategories[i].value"
                            (ngModelChange)="onCategoryChange(byCategoryFilter)">
                        <option *ngIf="byCategoryFilter.label"
                                [ngValue]="null">{{ byCategoryFilter.label }}</option>
                        <option *ngFor="let option of byCategoryFilter.options"
                                [ngValue]="+option.id">
                                {{ option.label }}</option>
                    </select>
                </div>
            </ng-container>
        </div>
        <div class="header-items-wrapper"
             *ngIf="isCapableOf('search') || isCapableOf('filterOnlyToday')"
             [ngClass]="{
                 'row-sm': isCapableOf('search') && isCapableOf('filterOnlyToday')
             }">
            <div class="only-today checkbox"
                 *ngIf="isCapableOf('filterOnlyToday')"
                 [ngClass]="{
                     'disabled': !onlyTodayEnabled,
                     'd-none d-md-block': searchInputShowed
                 }">
                <input type="checkbox"
                       id="onlyTodayCheckbox"
                       [(ngModel)]="filterOnlyToday"
                       (ngModelChange)="onOnlyTodayChange()"
                       [disabled]="!onlyTodayEnabled">
                <label for="onlyTodayCheckbox">Solo hoy</label>
            </div>
            <div class="search"
                 *ngIf="isCapableOf('search')"
                 [ngClass]="{
                     'with-search': searchTerm.length,
                     'search-focused': searchFocused }">
                <div class="form-group"
                     [ngClass]="{'d-none d-md-flex': !searchInputShowed}">
                    <input #searchTermInput
                           type="search"
                           class="form-control"
                           [(ngModel)]="searchTerm"
                           (keyup.enter)="onSearch()"
                           (ngModelChange)="onSearch(true)"
                           (focus)="searchFocused = true"
                           (blur)="onSearch(); searchFocused = false">
                </div>
                <button class="btn btn-primary btn-icon d-md-none"
                        (click)="
                            toggleSearch();
                            setFocusToElement(searchTermInput);
                            resetSearch()
                        ">
                    <i [ngClass]="'icon-' + (searchInputShowed ? 'close' : 'search')"></i>
                </button>
            </div>
        </div>

        <div class="time-filter" *ngIf="isCapableOf('filterByTime')">
            <select class="select white arrow-red d-lg-none" [(ngModel)]="selectedTime" (change)="onTimeChange()">
                <option [ngValue]="1">Day</option>
                <option [ngValue]="30">Month</option>
                <option [ngValue]="90">3 months</option>
                <option [ngValue]="180">6 months</option>
                <option [ngValue]="365">Year</option>
            </select>
        </div>

        <div class="type-filters"
             *ngIf="isCapableOf('filterByType')">
            <button class="btn active"
                    (click)="onTypeChange(null)"
                    [ngClass]="{'active': selectedType === null}">
                Todos
            </button>
            <select class="select arrow-red white" 
                    (change)="onTypeChange(+$event.target.value)"
                    [ngClass]="{'active': isNumber(selectedType)}">
                <option selected disabled>{{ byTypeFilter.label }}</option>
                <option *ngFor="let option of byTypeFilter.options"
                        [attr.value]="option.id">{{ option.label }}</option>
            </select>
            <button class="btn"
                    [ngClass]="{'active': selectedType === 'inWatchList'}"
                    (click)="onTypeChange('inWatchList')">
                Watchlist <i class="icon-watch"></i>
            </button>
        </div>

        <div class="initial-filter"
             *ngIf="isCapableOf('filterByInitial')">
            <ng-container *ngFor="let initial of byInitialFilter">
                <button class="btn btn-link"
                        (click)="onInitialChange(initial)"
                        [ngClass]="{'active': initial === selectedInitial}">
                    {{ initial }}
                </button>
            </ng-container>
        </div>

        <div class="time-filter" *ngIf="isCapableOf('filterByTime')">
            <div class="btn-group-toggle d-none d-lg-block">
                <label class="btn"
                    [ngClass]="{'btn-primary': selectedTime === 1}">
                    <input type="radio"
                        [value]="1"
                        name="timeFilter"
                        [(ngModel)]="selectedTime"
                        (ngModelChange)="onTimeChange()">
                    <span>Day</span>
                </label>
                <label class="btn"
                    [ngClass]="{'btn-primary': selectedTime === 30}">
                    <input type="radio"
                        [value]="30"
                        name="timeFilter"
                        [(ngModel)]="selectedTime"
                        (ngModelChange)="onTimeChange()">
                    <span>Month</span>
                </label>
                <label class="btn"
                    [ngClass]="{'btn-primary': selectedTime === 90}">
                    <input type="radio"
                        [value]="90"
                        name="timeFilter"
                        [(ngModel)]="selectedTime"
                        (ngModelChange)="onTimeChange()">
                    <span>3 months</span>
                </label>
                <label class="btn"
                    [ngClass]="{'btn-primary': selectedTime === 180}">
                    <input type="radio"
                        [value]="180"
                        name="timeFilter"
                        [(ngModel)]="selectedTime"
                        (ngModelChange)="onTimeChange()">
                    <span>6 months</span>
                </label>
                <label class="btn"
                    [ngClass]="{'btn-primary': selectedTime === 365}">
                    <input type="radio"
                        [value]="365"
                        name="timeFilter"
                        [(ngModel)]="selectedTime"
                        (ngModelChange)="onTimeChange()">
                    <span>Year</span>
                </label>
            </div>
        </div>
        <p class="entries-number" *ngIf="entriesNumber">{{ entriesNumber }}</p>
    </div>
</div>