@import "../../../../../core/lib/src/styles/main.scss";

.table-header {
  color: white;
  background-color: $table-dark-background;
  padding: 0.5rem 0;
  display: flex;
  min-height: 4.38rem;
  font-family: $title-font;
  border-radius: 5px 5px 0px 0px;
}

.table-header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  position: relative;
  padding-bottom: 0;
  padding: 0.5rem 1.46rem 0.4rem;
  @include media-breakpoint-up("md") {
    padding: 0 2.7rem;
  }
  .full-width & {
    @include media-breakpoint-down("xl") {
      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header-items-wrapper {
  display: flex;
  align-items: center;
  margin: 0 -0.5rem;
  &.row-sm {
    @include media-breakpoint-down("sm") {
      width: calc(100% + 1rem);
      justify-content: space-between;
    }
  }
  & > * {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.title,
.category-filters-title {
  font-size: 1.46rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  @include media-breakpoint-up("md") {
    font-size: 1.53rem;
  }
}
.category-filters-title {
  margin-right: 0.5rem;
}
.category-filter {
  display: flex;
  align-items: center;
  & + .category-filter {
    margin-left: 2rem;
  }
  select:not(.red) {
    transition: opacity 0.2s;
    opacity: 0.4;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  &.with-selection {
    select {
      opacity: 1;
    }
  }
}
.search {
  display: flex;

  @include media-breakpoint-down("md") {
    flex: 1;
    justify-content: flex-end;
  }

  .form-group {
    align-items: center;
    color: white;
    display: flex;
    opacity: 0.4;
    position: relative;
    transition: opacity .2s;

    @include media-breakpoint-down("md") {
      flex: 1;
      margin-right: 1rem;
    }

    &::before {
      content: $icon-search;
      font-family: $icon-font-family;
      font-size: 20px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
    }

    &:hover {
      opacity: 1;
    }
  }
  &.with-search .form-group,
  &.search-focused .form-group {
    opacity: 1;
  }
  .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $gray;
    padding: 0.425rem 0 0.375rem 2rem;
    color: white;
    @include media-breakpoint-up("lg") {
      min-width: 230px;
    }
    @include media-breakpoint-up("xl") {
      min-width: 230px;
    }
  }
}

.table-header-content.search-showed:not(.with-only-today) {
  @include media-breakpoint-down("sm") {
    padding-bottom: 40px;
  }
  .search .form-group {
    @include media-breakpoint-down("sm") {
      position: absolute;
      bottom: 0.5rem;
      left: 1.46rem;
      right: 1.46rem;
      margin-right: 0;
    }
  }
  .full-width & {
    .search .form-group {
      @include media-breakpoint-down("sm") {
        left: 15px;
        right: 15px;
      }
    }
  }
}

.only-today {
  margin-right: 1rem;
  label {
    font-weight: 700;
  }
}

.type-filters {
  align-items: center;
  display: flex;
  margin: 0 -0.5rem;

  @include media-breakpoint-up("md") {
    margin: 0 -1.39rem;
  }

  .btn {
    background: transparent;
    border-radius: 0;
    font-weight: normal;
    line-height: 1;
    margin: 0 0.5rem;
    opacity: 0.4;
    padding: 0.77rem 0.3rem;
    transition: opacity 0.2s;

    @include media-breakpoint-up("md") {
      margin: 0 1.19rem;
    }

    &:hover {
      opacity: 1;
    }

    i {
      font-size: 1.2em;
      line-height: 0;
      margin-left: 0.25em;
      position: relative;
      top: 2px;
    }

    &.active {
      box-shadow: inset 0 -0.153rem 0 0 $red;
      opacity: 1;
    }
  }

  .select {
    background-position: right 0.2rem center;
    border-radius: 0;
    cursor: pointer;
    line-height: 1;
    margin: 0 0.5rem;
    opacity: 0.4;
    padding: 0.77em 1.31em 0.77em 0.31em;
    transition: opacity 0.2s;

    @include media-breakpoint-up("md") {
      margin: 0 1.19rem;
    }

    &:hover,
    &.active {
      opacity: 1;
    }

    &.active {
      box-shadow: inset 0 -0.153rem 0 0 $red;
    }
  }
}

.initial-filter {
  margin: 0 -0.1rem;
  @include media-breakpoint-down("sm") {
    display: none;
  }
  .btn-link {
    padding: 0.77rem 0.23rem;
    margin: 0 0.1rem;
    opacity: 0.4;
    transition: opacity 0.2s;
    &:hover {
      opacity: 1;
    }
    &.active {
      box-shadow: inset 0 -0.153rem 0 0 $red;
      opacity: 1;
    }
  }
}

.time-filter {
  @include media-breakpoint-up("md") {
    margin-right: -1.19rem;
  }
  .btn {
    font-weight: normal;
    &:not(.btn-primary) {
      opacity: 0.4;
      transition: opacity 0.2s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.entries-number {
  font-size: 1.62rem;
  margin: 0;
}
select.arrow-red {
    max-width: 190px;
}