<bvl-tabs>

  <bvl-tab header="Facebook">

    <div class="g-admin-card-wrapper g-admin-card-wrapper--light">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12 mb-xs-1 g-fw-bold">Título de Facebook</div>
            <div class="col-12">
              <input class="g-admin-input" (input)="changeTitle($event, true)" [value]="seo?.social?.ogTitle || ''">
            </div>
            <div class="col-12 mt-xs-0-5">Si no quieres utilizar el título de la publicación para compartirla en
              Facebook
              pero quieres
              utilizar otro título, escríbelo aquí.</div>
          </div>
          <div class="row">
            <div class="col-12 mt-xs-2 mb-xs-1 g-fw-bold">Descripción de Facebook</div>
            <div class="col-12">
              <textarea rows="3" class="g-admin-textarea" (input)="changeDescription($event, true)" [value]="seo?.social?.ogDescription || ''"></textarea>
            </div>
            <div class="col-12 mt-xs-0-5">Si no quieres usar la meta description para compartir la entrada en Facebook
              pero sí quieres
              usar otra descripción, escríbela aquí.</div>
          </div>
          <div class="row">
            <div class="col-12 mt-xs-2 mb-xs-1 g-fw-bold">Imagen de Facebook</div>
            <div class="col-12">
              <admin-gallery-select size="lg" [mimeTypes]="['image/jpg', 'image/png']"
                placeholder="1200x630" type="image" responseFormat="string" [maxSize]="20" (ngModelChange)="changeImage($event, true)" [ngModel]="seo?.social?.ogImage">
              </admin-gallery-select>
            </div>
            <div class="col-12 mt-xs-0-5">Si quieres reemplazar la imagen usada en Facebook para esta publicación,
              sube/elige una imagen. El tamaño de imagen recomendado para Facebook es de 1200x630 píxeles.
            </div>
          </div>
        </div>
        <div class="col-6">
          <div id="facebook" class="metadata-group__display is-active">
            <div class="card-seo-facebook">
              <div class="card-seo-facebook__image js-preview-image"
                [ngStyle]="{'background-image': 'url(' + facebook?.image + ')'}">
              </div>
              <div class="card-seo-facebook__text">
                <span class="card-seo-facebook__link js-preview-domain">{{ seo?.urlSite }}</span>
                <div class="card-seo-facebook__content">
                  <div style="margin-top:5px">
                    <div class="card-seo-facebook__title js-preview-title">{{ facebook?.title }}</div>
                  </div>
                  <span class="card-seo-facebook__description js-preview-description">{{ facebook?.description }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </bvl-tab>

  <bvl-tab header="Twitter">

    <div class="g-admin-card-wrapper g-admin-card-wrapper--light">
      <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12 mb-xs-1 g-fw-bold">Título de Twitter</div>
          <div class="col-12">
            <input type="text" class="g-admin-input" (input)="changeTitle($event, false)" [value]="seo?.social?.twitterTitle || ''">
          </div>
          <div class="col-12 mt-xs-0-5">Si no quieres utilizar el título de la publicación para compartirla en
            Twitter pero quieres utilizar otro título, escríbelo aquí.</div>
        </div>
        <div class="row">
          <div class="col-12 mt-xs-2 mb-xs-1 g-fw-bold">Descripción de Twitter</div>
          <div class="col-12">
            <textarea (input)="changeDescription($event, false)" rows="3" class="g-admin-textarea" [value]="seo?.social?.twitterDescription || ''"></textarea>
          </div>
          <div class="col-12 mt-xs-0-5">Si no quieres usar la meta description para compartir la entrada en Twitter
            pero sí quieres usar otra descripción, escríbela aquí.</div>
        </div>
        <div class="row">
          <div class="col-12 mt-xs-2 mb-xs-1 g-fw-bold">Imagen de Twitter</div>
          <div class="col-12">
            <admin-gallery-select size="lg" [mimeTypes]="['image/jpg', 'image/png']"
              placeholder="1024x512" type="image" responseFormat="string" [maxSize]="20" (ngModelChange)="changeImage($event, false)" [ngModel]="seo?.social?.twitterImage">
            </admin-gallery-select>
            {{ seo?.social?.twitterImage }}
          </div>
          <div class="col-12 mt-xs-0-5">Si quieres reemplazar la imagen usada en Twitter para esta publicación,
            sube/elige una imagen. El tamaño de imagen recomendado para Facebook es de 1024x512 píxeles.
          </div>
        </div>
      </div>
      <div class="col-6">
        <div id="twitter" class="metadata-group__display is-active">
          <div class="card-seo-twitter">
            <div class="card-seo-twitter__image js-preview-image"
            [ngStyle]="{'background-image': 'url(' + twitter?.image + ')'}">
          </div>
            <div class="card-seo-twitter__text">
              <span class="card-seo-twitter__title js-preview-title">{{ twitter?.title }}</span>
              <span class="card-seo-twitter__description js-preview-description">{{ twitter?.description }}</span>
              <span class="card-seo-twitter__link js-preview-domain">{{ seo?.urlSite }}</span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

  </bvl-tab>

</bvl-tabs>
