<article>
  <div class="row no-gutters">
    <div class="col-lg-4 col-md-5">
      <div class="img" [style.background-image]="'url(' + image + ')'"></div>
    </div>
    <div class="col-lg-8 col-md-7">
      <div class="content">
        <bvl-section-header [title]="title"></bvl-section-header>
        <p>{{ text }}</p>
        <div class="text-right" *ngIf="isButton">
          <a ctrl="button" (domChange)="onDomChange($event, { headerTitle: title, button: textButton })"
            [href]="urlButton" class="btn btn-primary g-min-w--18">{{ textButton }}</a>
        </div>
      </div>
    </div>
  </div>
</article>
