@import "../../../../core/lib/src/styles/main.scss";

bvl-img-info {
  display: block;
  height: 100%;
  article {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 4px 4px 10px -6px #00000017;
    .img {
      height: 100%;
      background-position: center;
      background-size: cover;

      @include media-breakpoint-down(sm) {
        height: 250px;
      }

      @include media-breakpoint-down(xs) {
        height: 200px;
      }
    }
  }

  .content {
    padding: 50px;

    .text-right {
      text-align: right;
    }

    @include media-breakpoint-down(sm) {
      padding: 40px 30px;
    }

    @include media-breakpoint-down(xs) {
      padding: 20px 15px;
    }
  }
}
