<admin-search-form (search)="search($event)"></admin-search-form>
<bvl-card-wrapper [withoutResults]="withoutResults">
  <div class="mb-xs-2">
    <button bvl-button
      (click)="goAddUser()">
      <i class="la la-plus-circle g-pr--5 g-fs-20"></i>
      <span>{{ USER_LANG?.links?.addUser }}</span>
    </button>
  </div>
  <ng-container *ngFor="let item of usersList?.content">
    <admin-collapse-user [user]="item" [disabled]="item?.disabled"></admin-collapse-user>
  </ng-container>
</bvl-card-wrapper>
<bvl-paginator *ngIf="usersList?.totalPages > 1"
  [(page)]="pagination.page"
  [collectionSize]="usersList?.totalElements"
  (pageChange)="pageChange($event)">
</bvl-paginator>