<div class="row no-gutters onboarding-intro">
  <div class="col-md-4">
    <div class="mb-40">
      <h2 class="mb-40">Bienvenido al nuevo sitio web de la BVL</h2>
      <p>A partir de ahora tendrás una experiencia diferente.</p>
      <p>Comienza el recorrido, donde te mostraremos las nuevas funcionalidades en nuestra web.</p>
    </div>

    <div class="onboarding-intro-buttons">
      <button class="btn btn-primary g-text--uppercase" (click)="start()">Comenzar recorrido</button>
      <button class="btn btn-link g-text--uppercase" (click)="close()">Ver después</button>
    </div>
  </div>
</div>
