.onboarding-intro {
  &-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .btn {
      margin: 0 20px 20px;
      @media (min-width: 768px) {
        margin: 0 0 20px;
        width: 100%;
      }
    }
  }

  @media (min-width: 768px) {
    background-image: url(/assets/images/onboarding-intro.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-left: 40px;
    min-height: 356px;
  }
}
