<div class="main-app">
  <div class="container-fluid">
    <div class="row">
      <div class="col mt-xs-8">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row mt-xs-4 justify-content-center">
      <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
        <p class="g-fs-13 text-center">Si tiene algun problema por favor contactar al <strong>{{ BVL?.supportPhone }}</strong> o al correo <strong>{{ BVL?.supportEmail }}</strong></p>
      </div>
    </div>
  </div>
</div>