<ng-container *ngIf="modalPayload?.action !== 'delete' ">
  <form [formGroup]="formCategory">
    <p class="mb-sm-1">
      <strong>Nombre de categoría:</strong>
    </p>
    <div class="row">
      <div class="col-6">
        <label>Español:</label>
        <bvl-input
          name="esName"
          formControlName="esName"
          [error]="validateControl('esName')">
        </bvl-input>
        <div class="g-fs-12 d-block mt-1 text-right">
          ({{ (formCategory.get('esName').value || '').length }}/{{ this.nameMaxLength }} caracteres max).
        </div>
      </div>
      <div class="col-6">
        <label>Inglés:</label>
        <bvl-input
          placeholder=""
          formControlName="enName"
          [error]="validateControl('enName')">
        </bvl-input>
        <div class="g-fs-12 d-block mt-1 text-right">
          ({{ (formCategory.get('enName').value || '').length }}/{{ this.nameMaxLength }} caracteres max).
        </div>
      </div>
    </div>

    <p class="mb-sm-1 mt-sm-2">
      <strong>Ruta de la categoría:</strong>
    </p>
    <div class="row">
      <div class="col-6">
        <label>Español:</label>
        <bvl-input
          placeholder=""
          formControlName="esPath">
        </bvl-input>
      </div>
      <div class="col-6">
        <label>Inglés:</label>
        <bvl-input
          placeholder=""
          formControlName="enPath">
        </bvl-input>
      </div>
    </div>
  </form>
</ng-container>