<div class="page-section">
  <div class="container">

    <div class="row">

      <div class="col">
        <bvl-section-header title="Sitio privado" align="center"></bvl-section-header>
      </div>

    </div>

    <div class="row">

      <div class="page-subsection col">

        <bvl-personal-data-card></bvl-personal-data-card>

      </div>

    </div>

    <div class="row">

      <div class="page-subsection col-12 col-sm-6">

        <bvl-subscriptions-card></bvl-subscriptions-card>

      </div>

      <div class="page-subsection col-12 col-sm-6">

        <div [innerHTML]="tplBannerSlider | safeHtml"></div>

      </div>

    </div>

    <div id="web-components"></div>

  </div>
</div>