<admin-header></admin-header>
<div class="g-admin-wrapper">
  <aside class="g-admin-sidebar">
    <admin-menu></admin-menu>
  </aside>
  <main class="g-admin-main">

    <bvl-notify [type]="notification?.type" [active]="activeNotify">{{ notification?.description }}</bvl-notify>
    <router-outlet></router-outlet>
  </main>
</div>
