{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    {{#notification}}
      {{>molecules-Main-notification}}
    {{/notification}}

    <div class="pl-xs-2 pr-xs-2 mt-xs-3 mb-xs-2">

      {{#dashboardTitle}}
        {{>atoms-Text}}
      {{/dashboardTitle}}

    </div>

    <div class="g-card-wrapper">

      <div class="row">
        <div class="col-8">

          {{#subheadingPublished}}
            {{>atoms-Section-subheading}}
          {{/subheadingPublished}}

        </div>
        <div class="col-4 text-right">

          {{#seeAllLink}}
            {{>atoms-Link-with-icon}}
          {{/seeAllLink}}

        </div>
      </div>

      {{#summaryPublished}}
        {{>organisms-Page-summary}}
      {{/summaryPublished}}

    </div>

    <div class="g-card-wrapper">

      <div class="row">
        <div class="col-8">

          {{#subheadingEdition}}
            {{>atoms-Section-subheading}}
          {{/subheadingEdition}}

        </div>
        <div class="col-4 text-right">

          {{#seeAllLink}}
            {{>atoms-Link-with-icon}}
          {{/seeAllLink}}

        </div>
      </div>

      {{#summaryEdition}}
        {{>organisms-Page-summary}}
      {{/summaryEdition}}

    </div>

    <div class="g-card-wrapper">

      <div class="row">
        <div class="col-8">

          {{#subheadingWaiting}}
            {{>atoms-Section-subheading}}
          {{/subheadingWaiting}}

        </div>
        <div class="col-4 text-right">

          {{#seeAllLink}}
            {{>atoms-Link-with-icon}}
          {{/seeAllLink}}

        </div>
      </div>

      {{#summaryWaiting}}
        {{>organisms-Page-summary}}
      {{/summaryWaiting}}

    </div>

    <div class="g-card-wrapper">

      <div class="row">
        <div class="col-8">

          {{#subheadingObserved}}
            {{>atoms-Section-subheading}}
          {{/subheadingObserved}}

        </div>
        <div class="col-4 text-right">

          {{#seeAllLink}}
            {{>atoms-Link-with-icon}}
          {{/seeAllLink}}

        </div>
      </div>

      {{#summaryObserved}}
        {{>organisms-Page-summary}}
      {{/summaryObserved}}

    </div>

  </main>

</div>
