<div class="image" [ngStyle]="{'background-image': 'url(' + image?.large?.imageUri + ')'}">
  <div *ngIf="hasLink && link">
    <a [href]="link" target="_blank" class="btn-donwload">
      <i class="icon-download"></i>
    </a>
  </div>
</div>
