@import '../styles/main.scss';

.image {
  align-items: center;
  background-color: white;
  background-position: center;
  background-size: cover;
  color: inherit;
  display: flex;
  height: 260px;
  justify-content: space-between;
  position: relative;
  transition: color .2s, background-color .2s;
  width: 214px;

  .btn-donwload {
    background-color: white;
    border-radius: 5px;
    bottom: 5px;
    cursor: pointer;
    line-height: 1;
    padding: 7px 5px 3px 5px;
    position: absolute;
    right: 5px;
    z-index: 10;
    i {
      color: $red;
      font-size: 2rem;
    }
  }
}
