<admin-search-form (search)="search($event)">
</admin-search-form>
<bvl-card-wrapper [withoutResults]="withoutResults">
  <div *ngIf="type === TYPES_CODE?.popup"
    class="mb-xs-2">
    <button bvl-button
      (click)="goCreatePopup()">
      <i class="la la-plus-circle g-pr--5 g-fs-20"></i>
      <span>Crear popup</span>
    </button>
  </div>
  <ng-container *ngFor="let item of componentsList?.content">
    <admin-item-component [component]="item"></admin-item-component>
  </ng-container>
</bvl-card-wrapper>
<bvl-paginator *ngIf="componentsList?.totalPages > 1"
  [(page)]="pagination.page"
  [collectionSize]="componentsList?.totalElements"
  (pageChange)="pageChange($event)">
</bvl-paginator>