<div class="pl-xs-3 pr-xs-3">
  {{#row}}
    <div class="row">

      {{#col}}
        <div class="{{colClass}}">

          {{#formGroupImg}}
            {{>molecules-Form-group-img}}
          {{/formGroupImg}}

          {{#formGroupInput}}
            {{>molecules-Form-group-input}}
          {{/formGroupInput}}

          {{#formGroupTextarea}}
            {{>molecules-Form-group-textarea}}
          {{/formGroupTextarea}}

          {{#formGroupSelect}}
            {{>molecules-Form-group-select}}
          {{/formGroupSelect}}

          {{#formGroupAlign}}
            {{>molecules-Form-group-align}}
          {{/formGroupAlign}}

          {{#checkbox}}
            {{>atoms-Permission}}
          {{/checkbox}}

          {{#divider}}
            <hr class="g-hr {{modifierClass}}">
          {{/divider}}

        </div>
      {{/col}}

    </div>
  {{/row}}
</div>
