<div class="g-acordion-list g-acordion-list-component">

  {{#item}}
    <div class="g-acordion-list-item {{itemClass}}">

      {{#componentListHeader}}
        {{>molecules-Component-list-header}}
      {{/componentListHeader}}

      {{#componentListBody}}
        {{>organisms-Component-list-body}}
      {{/componentListBody}}

    </div>
  {{/item}}

</div>
