<div class="g-card {{modifierClass}}">
  <div class="pt-xs-3 pb-xs-1 pl-xs-2 pr-xs-2">

    {{#row}}
      <div class="row">

        {{#col}}
          <div class="{{colClass}}">

            {{#addItem}}
              {{>atoms-Link-with-icon}}
            {{/addItem}}

            {{#componentList}}
              {{>organisms-Component-list}}
            {{/componentList}}

            {{#componentFormBlock}}
              {{>organisms-Component-form-block}}
            {{/componentFormBlock}}

          </div>
        {{/col}}

      </div>
    {{/row}}

  </div>
</div>
