<aside class="g-sidebar g-sidebar-static">

  <div class="sticky-top-sidebar">

    {{#title}}
      <div class="p-xs-2 g-bgc-gray11 mb-xs-1">

        {{#infoWithIcon}}
          {{>atoms-Info-with-icon}}
        {{/infoWithIcon}}

      </div>
    {{/title}}

    {{#content}}

      {{#restoredList}}
        <div class="g-card-wrapper">
          {{>molecules-Restored-list}}
        </div>
      {{/restoredList}}

      {{#conversation}}
        {{>organisms-Conversation}}
      {{/conversation}}

      {{#acordionSidebar}}
        {{>organisms-Sidebar-acordion}}
      {{/acordionSidebar}}

    {{/content}}

  </div>

</aside>
