<div class="g-template-select {{modifierClass}}">

  <div class="g-template-select-img">

    {{#img}}
      {{>atoms-Image}}
    {{/img}}

    <div class="g-template-select-overlay">

      {{#button}}
        {{>atoms-Button-with-icon}}
      {{/button}}

    </div>

  </div>

  <div class="mb-xs-2">

    {{#text}}
      {{>atoms-Text}}
    {{/text}}

  </div>

</div>
