<form [formGroup]="form">

  <div class="g-site-bar">
    <div class="row align-items-center">

      <ng-container *ngFor="let property of searcherControls">

        <ng-container
          *ngTemplateOutlet="
            property?.type === CONTROL_TYPE?.autocomplete
              ? tplAutocomplete
              : property?.type === CONTROL_TYPE?.select
                ? tplSelect
                : tplDatepicker;
            context:{
              $implicit: form,
              property: property
            }">
        </ng-container>

      </ng-container>

      <div class="col-lg-3 ml-auto">
        <div class="g-site-form-options">
          <button ctrl="clearButton" (domChange)="onDomChange($event)"
            class="btn btn-secundary g-site-w-px--12 g-mr--5"
            (click)="clear()">
            Limpiar
          </button>

          <button ctrl="searchButton" (domChange)="onDomChange($event)"
            class="btn btn-primary g-site-w-px--12 g-ml--5"
            (click)="search()">
            Buscar
          </button>
        </div>
      </div>

    </div>
  </div>

  <ng-template #tplAutocomplete let-form let-property="property">
    <ng-container [formGroup]="form">

      <div [ngClass]="property?.parentClass">
        <bvl-form-autocomplete
          [placeholder]="property?.placeholder"
          [formControlName]="property?.code"
          [dataList]="property?.list | async"
          [matchField]="property?.matchField"
          [textField]="property?.textField"
          (selectItem)="property?.selectItem($event)">
        </bvl-form-autocomplete>
      </div>

    </ng-container>
  </ng-template>

  <ng-template #tplSelect let-form let-property="property">
    <ng-container [formGroup]="form">

      <div [ngClass]="property?.parentClass">
        <bvl-form-select
          [class]="property?.class"
          [label]="property?.label"
          [placeholder]="property?.placeholder"
          [formControlName]="property?.code"
          [dataList]="property?.list | async | orderBy: [property?.orderBy || '']"
          [valueField]="property?.valueField"
          [textField]="property?.textField"
          (change)="property?.changeSelect(form.controls[property?.code].value)">
        </bvl-form-select>
      </div>

    </ng-container>
  </ng-template>

  <ng-template #tplDatepicker let-form let-property="property">
    <ng-container [formGroup]="form">

      <div [ngClass]="property?.parentClass">
        <bvl-form-datepicker
          [label]="property?.label"
          [formControlName]="property?.code"
          [format]="property?.format"
          [minDate]="property?.minDate | async"
          [maxDate]="property?.maxDate | async"
          (dateSelect)="property?.changeDate($event)">
        </bvl-form-datepicker>
      </div>

    </ng-container>
  </ng-template>

</form>


