<table class="table">
  <thead>
    <tr>
      <th *ngFor="let itemTh of header">
        {{ itemTh }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="tableData?.length; else withoutData">

      <ng-container *ngFor="let itemTableData of tableData; let odd = odd">
        <ng-container *ngFor="let itemTr of itemTableData; let last = last">
          <tr class="g-site-table-show" [ngClass]="{'g-site-table-odd': odd}">

            <ng-container
              *ngTemplateOutlet="
                (!last ? tplDefault : tplFiles);
                context:{
                  $implicit: itemTr
                }">
            </ng-container>

            <ng-template #tplDefault let-itemTr>
              <td *ngFor="let itemTh of header" [attr.data-title]="itemTh">

                <ng-container
                  *ngTemplateOutlet="
                    (isArray(itemTr[itemTh]) ? tplUl : (isObject(itemTr[itemTh]) ? tpObject : tplString) );
                    context:{
                      itemTd: itemTr[itemTh]
                    }">
                </ng-container>

                <ng-template #tplUl let-itemTd="itemTd">
                  <ul>
                    <li *ngFor="let itemLi of itemTd">
                      {{ itemLi }}
                    </li>
                  </ul>
                </ng-template>

                <ng-template #tpObject let-itemTd="itemTd">
                  <ul>
                    <li *ngFor="let itemLi of itemTd.list">
                      {{ itemLi }}
                    </li>
                  </ul>
                  <p class="g-pt--10 g-fs-italic">{{ itemTd.text }}</p>
                </ng-template>

                <ng-template #tplString let-itemTd="itemTd">
                  {{ itemTd }}
                </ng-template>

              </td>
            </ng-template>

            <ng-template #tplFiles let-itemTr>
              <td [attr.colspan]="header?.length">
                <div class="d-lg-flex align-items-center">
                  <div class="g-site-table-label d-lg-inline-block">{{ TEXT.general.download }}:</div>
                  <div class="d-lg-inline-block">
                    <ng-container *ngFor="let itemTd of itemTr[TABLE_FILES]">
                      <a [href]="getLinkAction(itemTd)" target="_blank">
                        <span class="g-site-table-icon icon-file-down g-site-pointer" [title]="getLinkAction(itemTd)"></span>
                      </a>
                    </ng-container>
                  </div>
                </div>
              </td>
            </ng-template>

          </tr>
        </ng-container>
      </ng-container>

    </ng-container>

  </tbody>
</table>


<ng-template #withoutData>
  <tr class="g-site-table-show">

    <td [attr.colspan]="header?.length">

      <bvl-without-data [type]="WITHOUT_DATA_TYPE?.table"
        [message]="message">
      </bvl-without-data>

    </td>

  </tr>
</ng-template>
