.pre-loader {
  background-color: white;
  background-image: url(/assets/images/pre-loader.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160px;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
