@import "../../../styles/partials/lib.scss";

.g-site-header {
  box-shadow: 0 -2px 9px 0px rgba(0, 0, 0, .5);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &--content {
    background-color: white;
    padding: .577rem 0;

    @include media-breakpoint-up(md) {
      padding: 2.08rem 0;
    }
  }

  &--no-realtime {
    .g-site-header--content{
      @include media-breakpoint-up(md) {
        padding: .77rem 0;
      }
    }
  }

}

.g-site-no-realtime {

  display: none;

  @include media-breakpoint-up(md) {
    background-color: $body-color;
    color: white;
    display: block;
    font-family: $title-font;
    font-size: .92rem;
    padding: .54rem 0;
  }

  a {
    &:hover {
      color: white;
    }
  }

  &--wrapper {
    align-content: center;
    display: flex;
    justify-content: space-between;
  }

  &--content {
    align-content: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &--text {
    align-content: center;
    display: flex;

    i {
      line-height: 20px;
      margin-left: 5px;
    }
  }

  &--close {
    align-items: center;
    background: $gray10;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 7px;
    height: 18px;
    justify-content: center;
    width: 18px;
  }
}

.left {
  align-items: center;
  align-self: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-left: -.5rem;

  @include media-breakpoint-up(md) {
    padding-right: 2.5rem;
  }

  div {
    align-items: center;
    display: flex;
  }
  .findSab {
    padding: 18px;
    @include media-breakpoint-up(md) {
      margin-right: 10px;
    }
  }
}

.right {
  align-items: center;
  align-self: center;
  display: flex;
  margin: 0 -.5rem;

  @include media-breakpoint-up(md) {
    border-left: 1px solid $gray8;
    padding-left: 1rem;
  }

  .btn,
  .language-switcher {
    font-family: $title-font;
    margin: 0 .5rem;
    i {
      pointer-events: none;
    }
  }
}

.menu-toggler {
  background: transparent;
  border-radius: 0;
  height: 2.31rem;
  margin-right: 1.27rem;
  padding: .5rem;
  position: relative;
  width: 2.46rem;

  @include media-breakpoint-up(md) {
    display: none;
  }

  span,
  &::before,
  &::after {
    background-color: #5c5c5c;
    height: .23rem;
    left: .5rem;
    pointer-events: none;
    position: absolute;
    right: .5rem;
    transition: all .2s;
  }

  span {
    width: 13px;
    opacity: 1;
    top: calc(50% - .115rem);
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: .5rem;
  }

  &::after {
    bottom: .5rem;
  }

  &.menu-opened {
    span {
      opacity: 0;
    }

    &::before,
    &::after {
      background-color: $red1;
    }

    &::before {
      top: 1.04rem;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 1.04rem;
      transform: rotate(-45deg);
    }
  }
}

.logo {
  display: inline-block;
  line-height: 0;
  margin-right: .5rem;

  img {
    height: 45px;

    @include media-breakpoint-up(md) {
      height: 58px;
    }
  }
}
