
<div class="g-site-header"
  [ngClass]="{ 'g-site-header--no-realtime': showlRealTime }">

  <div class="g-site-no-realtime" *ngIf="showlRealTime">
    <div class="container g-site-no-realtime--wrapper">

      <div class="g-site-no-realtime--content">
        <div class="g-site-no-realtime--mesagge">
          {{ TEXT?.general?.quotationByTime }}
        </div>
        <div class="g-px--15">|</div>
        <div class="g-site-no-realtime--text">
          <a class="g-site-color--white" [href]="TEXT?.general?.urlRealTime">
            {{ TEXT?.general?.getRealTimeTime }}
          </a>
          <i class="icon-timer g-fs--15"></i>
        </div>
      </div>

      <a href="javascript:void(0)" class="g-site-no-realtime--close"
        (click)="showlRealTime = !showlRealTime">
        <i class="icon-close"></i>
      </a>

    </div>
  </div>

  <div class="g-site-header--content">
    <div class="container">
      <div class="row no-gutters">
        <div class="left">
          <div>
            <button class="btn menu-toggler"
              [ngClass]="{ 'menu-opened': toggleMenu }"
              (click)="toggleMenu = !toggleMenu">
              <span></span>
            </button>
            <a ctrl="logoLink" (domChange)="onDomChange($event)"
              href="/" class="logo">
              <img src="assets/images/logo.svg" alt="Logo" style="pointer-events: none;" />
            </a>
          </div>
          <a ctrl="findYourSabLink" (domChange)="onDomChange($event)"
            [href]="getPathStaticPage('marketAgentsList')"
            class="link d-none d-md-block onboarding-findsab">
            {{ TEXT?.general?.findYourSab }} <i class="icon-arrow-right"></i>
          </a>
        </div>
        <div class="right">
          <a ctrl="searchIcon" (domChange)="onDomChange($event)"
            [href]="getPathStaticPage('search')"
            class="btn btn-fab btn-red onboarding-search"
            [title]="TEXT?.general?.search">
            <i class="icon-search"></i>
          </a>
          <a ctrl="contactUsIcon" (domChange)="onDomChange($event)"
            [href]="getPathStaticPage('contactUs')"
            class="btn btn-fab onboarding-message"
            [title]="TEXT?.general?.messages">
            <i class="icon-envelope"></i>
          </a>
          <a ctrl="loginIcon" (domChange)="onDomChange($event)"
            [href]="getPathStaticPage('privateSite')"
            class="btn btn-fab onboarding-profile"
            [title]="TEXT?.general?.profile">
            <i class="icon-user"></i>
          </a>
          <a href="javascript:void(0)"
            *ngIf="hasOnboarding"
            class="btn btn-fab"
            [ngClass]="{'btn-red': onboardingActive, 'btn-animated': !onboardingActive}"
            [title]="TEXT?.general?.onboarding"
            (click)="changeOnboarding()">
            <i class="icon-question"></i>
          </a>
          <bvl-switch-language class="d-none d-md-block">
          </bvl-switch-language>
        </div>
      </div>
    </div>
  </div>

  <bvl-site-menu [ga]="ga"
    [ngClass]="(toggleMenu) ? 'menu-opened' : ''"
    [language]="language"
    [menu]="menu"
    [findSabLink]="getPathStaticPage('marketAgentsList')"
    [findSabText]="TEXT?.general?.findYourSab">
  </bvl-site-menu>

</div>

