<div class="pagination" [ngClass]="customClass">
  <div class="d-flex justify-content-center">
    <div>
      <div class="d-flex align-items-center">
        <div class="g-px--5">
          <button
            ctrl="prevPagination"
            (domChange)="onDomChange($event)"
            [ngClass]="{'d-none': currentPage === 1}"
            (click)="changePage('prev')">
            <i class="icon-simple-arrow-left"></i>
          </button>
        </div>
        <div class="g-px--5">

          <div class="pages d-flex align-items-center">
            <ng-container *ngIf="pages[0] !== 1">
              <button
                ctrl="paginationItem"
                (domChange)="onDomChange($event, { textLink: '1' })"
                (click)="changePage(1); setPages()">
                1
              </button>
              {{ pages[0] > 2 ? '...' : ''}}
            </ng-container>

            <ng-container *ngFor="let page of pages">
              <button
                ctrl="paginationItem"
                (domChange)="onDomChange($event, { textLink: page })"
                [ngClass]="{'active' : currentPage == page }"
                (click)="changePage(page)">
                {{ page }}
              </button>
            </ng-container>

            <ng-container *ngIf="totalPages && pages[pages.length - 1] !== totalPages && totalPages > 4">
              {{ pages[pages.length - 1] !== totalPages - 1 ? '...' : '' }}
              <button
                ctrl="paginationItem"
                (domChange)="onDomChange($event, { textLink: totalPages })"
                [ngClass]="{'active' : currentPage == totalPages }"
                (click)="changePage(totalPages)">
                {{ totalPages }}
              </button>
            </ng-container>
          </div>

        </div>
        <div class="g-px--5">
          <button
            ctrl="nextPagination"
            (domChange)="onDomChange($event)"
            [ngClass]="{'d-none': currentPage === totalPages}"
            (click)="changePage('next')">
            <i class="icon-simple-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
