<div class="g-modal-wrapper">
  <form [formGroup]="frmComment">
    <div class="g-admin-card-wrapper mt-0">
      <ng-container *ngIf="comments?.length; else newComment">
        <ng-container *ngFor="let comment of comments">
          <span class="g-info-w-icon mb-xs-1">
            <i class="la la-user"></i>
            {{ comment?.username }}
          </span>
          <p class="g-fs-12 mb-xs-2 g-admin-break-word">
            {{ comment?.note }}
          </p>

          <div *ngIf="responses?.length || isNewComment"
            class="pl-xs-2 g-bl-dotted g-bc-gray1">
            <ng-container *ngFor="let response of responses">
              <div>
                <span class="g-info-w-icon mb-xs-1">
                  <i class="la la-user"></i>
                  {{ response?.username }}
                </span>
                <p class="g-fs-12 mb-xs-2 g-admin-break-word">
                  {{ response?.note }}
                </p>
              </div>
            </ng-container>
            <div *ngIf="isNewComment">
              <ng-container *ngTemplateOutlet="newComment"></ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-template #newComment>
        <span class="g-info-w-icon mb-xs-1">
          <i class="la la-user"></i>
          {{ userProfile?.fullname }}
        </span>
        <div class="g-block mb-xs-1">
          <label for="description" class="g-fs-14 mb-xs-1">{{ EDITOR_LANG?.labels?.comment }}:</label>
          <bvl-textarea [placeholder]="EDITOR_LANG?.labels?.writeACommentHere"
            formControlName="mComment"
            [error]="validateControl('mComment')"></bvl-textarea>
        </div>
      </ng-template>

      <div class="d-flex justify-content-end">
        <button bvl-button
          (click)="linkAction()">
          {{ (isNewComment) ? GENERAL_LANG?.buttons?.send : GENERAL_LANG?.buttons?.reply }}
        </button>
      </div>
    </div>
  </form>
</div>
