<div class="d-flex justify-content-center">

  <div class="g-login-block clearfix">
    <form>

      <div class="row mb-xs-4">
        <div class="col-12">

          {{#bvlBrand}}
            {{>atoms-Image-logo}}
          {{/bvlBrand}}

        </div>
      </div>

      {{#loginForm}}
        {{>molecules-Login-form}}
      {{/loginForm}}

      <div class="row mt-xs-4">
        <div class="col-12">

          {{#loginButton}}
            {{>atoms-Button-with-icon-full}}
          {{/loginButton}}

        </div>
      </div>

      <div class="row mt-xs-1">
        <div class="col">

          {{#alert}}
            {{>molecules-Alert-error}}
          {{/alert}}

        </div>
      </div>

    </form>
  </div>

</div>
