<div class="g-search-form">

  <div class="row">

    {{#column}}
      <div class="{{colClass}}">
        <div class="pt-xs-2 pb-xs-2 {{borderClass}}">

          {{#inputSearch}}
            {{>atoms-Input-with-icon}}
          {{/inputSearch}}

          {{#checkboxListButton}}
            {{>molecules-Checkbox-list-button}}
          {{/checkboxListButton}}

          {{#calendarButton}}
            {{>atoms-Calendar-button}}
          {{/calendarButton}}

          {{#button}}
            {{>atoms-Button}}
          {{/button}}

        </div>
      </div>
    {{/column}}

  </div>

</div>
