@import "../../../../core/lib/src/styles/main.scss";

article {
  header {
    padding: 1.23rem 0.15rem 0;
    p {
      margin-bottom: 0;
    }
  }
  &:first-of-type {
    header {
      padding-top: 0;
    }
  }
}

.title {
  margin: 0;
}

ul {
  padding-left: 1em;
  color: $dark-gray;
}
