<article *ngFor="let office of offices; index as i">
  <header>
    <h4 class="title">{{ office.address }}</h4>
    <p *ngIf="office.phone"><strong>{{ TEXT.general.phones }}:</strong> {{ office.phone }}</p>
  </header>
  <bvl-accordion (state)="onToggleOffice($event, i)">
    <div class="toggler" bvl-accordion-toggler>
      <span *ngIf="getOfficeState(i); then expandedMsg; else collapsedMsg"></span>
    </div>
    <ul>
      <li *ngFor="let salesman of office.salesmen">{{ salesman }}</li>
    </ul>
  </bvl-accordion>
</article>

<ng-template #collapsedMsg>
  {{ TEXT.general.see }} {{ TEXT.general.representatives }}
</ng-template>

<ng-template #expandedMsg>
  {{ TEXT.general.close }} {{ TEXT.general.representatives }}
</ng-template>