<div class="g-months-wrapper">
  <ul class="g-months-list">
    <li class="g-months-list-item" *ngFor="let item of list">
      <span class="">{{ item.year }}</span>
      <ul class="g-admin-list-tags">
        <li class="g-admin-list-tags-item text-capitalize" *ngFor="let date of item.dates">
          <a href="javascript:void(0)" class="g-admin-list-tags-link" [ngClass]="{ 'active': current === date }" (click)="selectedFn(date)">
            {{ date | date:'MMMM' }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

