<div class="g-admin-wrapper">
  <main class="g-admin-main g-admin-main-full">
    <form [formGroup]="frmEdit">

      <admin-editor-buttons-header
        [editorType]="EDITOR_TYPES.commonComponent.code"
        (changeLanguage)="changeLanguage($event)"
        (buttonAction)="buttonAction($event)">
      </admin-editor-buttons-header>

      <div class="container">
        <div *ngIf="type === TYPES_CODE.popup"
          class="row align-items-center no-gutters mt-4">
          <div class="col-auto g-w-100">
            <label class="g-fw-bold">Nombre componente:</label>
          </div>
          <div class="col">
            <bvl-input formControlName="mComponentName"
              [error]="validateControl(mComponentName)">
            </bvl-input>
          </div>
        </div>

        <div class="mt-4 g-admin-editor-form-body">
          <admin-dynamic-form *ngIf="components.length"
            [hideTitleComponent]="type === TYPES_CODE.popup"
            [components]="components"
            (submitted)="saveForm($event)">
          </admin-dynamic-form>
        </div>

        <div *ngIf="template" class="p-xs-2" [innerHTML]="template | safeHtml"></div>
      </div>

    </form>
  </main>
</div>
