<div class="g-acordion-list g-acordion-list-sidebar">

  {{#item}}
    <div class="g-acordion-list-item {{itemClass}}">

      {{#acordionHeader}}
        {{>molecules-Acordion-sidebar-header}}
      {{/acordionHeader}}

      {{#acordionBody}}
        {{>organisms-Acordion-sidebar-body}}
      {{/acordionBody}}

    </div>
  {{/item}}

</div>
