<bvl-card-wrapper>
  <form [formGroup]="frmGeneral">
    <div class="g-card-form mb-xs-3">
      <div class="pt-xs-3 pb-xs-3 pl-xs-6 pr-xs-6 g-bgc-white mb-xs-2">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="clearfix mx-n3">
                <div class="col-6 float-left">
                  <div class="row align-items-center no-gutters mb-xs-2">
                    <div class="col-auto g-w-100">
                      <label for="title" class="g-fw-bold">Título del sitio:</label>
                    </div>
                    <div class="col">
                      <bvl-input formControlName="sitename" [error]="validateControl('sitename')"></bvl-input>
                    </div>
                  </div>
                  <div class="row align-items-center no-gutters mb-xs-2">
                    <div class="col-auto g-w-100">
                      <label for="title" class="g-fw-bold">Dominio del sitio:</label>
                    </div>
                    <div class="col">
                      <bvl-input
                        [error]="validateControl('domain')"
                        formControlName="domain"
                        placeholder="Formato: http://www.dominio.com"
                      >
                      </bvl-input>
                    </div>
                  </div>
                </div>
                <div class="col-6 float-right">
                  <div class="c-browser-preview">
                    <p class="g-fw-bold mb-xs-2">
                      Vista de cómo se ve en el browser:
                    </p>
                    <div class="c-browser-preview-detail">
                      <h5 class="c-browser-preview-title">
                        {{ getSitename() }}
                      </h5>
                      <span class="c-browser-preview-link">
                        {{ getSitename() }}
                      </span>
                      <span class="c-browser-preview-description">
                        {{ description.value }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-6 float-left">
                  <div class="row no-gutters mb-xs-2">
                    <div class="col-auto g-w-100">
                      <label for="description" class="g-fw-bold mt-xs-1">Breve Descripción:</label>
                    </div>
                    <div class="col">
                      <textarea class="g-admin-textarea " rows="4" placeholder="" formControlName="description"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-xs-3 pb-xs-3 pl-xs-6 pr-xs-6 g-bgc-white mb-xs-2">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="row">
                <div class="col-6">
                  <div class="row no-gutters mb-xs-2">
                    <div class="col-auto g-w-100">
                      <label for="icono" class="g-fw-bold">Ícono del sitio:</label>
                    </div>
                    <div class="col">
                      <admin-gallery-select formControlName="iconSite"
                        size="sm"
                        [mimeTypes]="['image/png']"
                        placeholder="16x16"
                        [type]="FILE_TYPE?.image"
                        responseFormat="string"
                        [maxSize]="20">
                      </admin-gallery-select>
                      <div class="mt-xs-1">
                        <span class="d-block g-fs-14">
                          Los íconos del sitio son los que ves en las pestañas del navegador y barras de
                          favoritos.<br><br> Los íconos del sitio deben ser cuadrados y de al menos
                          <strong>16x16</strong> píxeles.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="c-browser-favicon">
                    <div class="c-browser-favicon-control">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div class="c-browser-favicon-top">
                      <div class="c-browser-favicon-tab">
                        <img class="" [src]="iconSite.value || 'https://placehold.it/16x16'" height="16" width="16">
                        <span class="">
                          {{ getSitename() }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-xs-3 pb-xs-3 pl-xs-6 pr-xs-6 g-bgc-white mb-xs-2">
        <div class="row mb-xs-2">
          <div class="col-auto g-w-100">
            <label class="g-fw-bold">Seleccione el home:</label>
          </div>
          <div class="col">
            <bvl-autocomplete placeholder="Buscar página"
              formControlName="page"
              [dataList]="pagesList"
              matchField="path"
              textField="path">
            </bvl-autocomplete>
          </div>
        </div>
      </div>

      <div class="pt-2">
        <button bvl-button type="button" (click)="saveIdentity()"><i
            class="la la-save g-pr--5 g-fs-20"></i><span>{{ btnSaveLabel }}</span></button>
      </div>
    </div>
  </form>
</bvl-card-wrapper>
