<article [ngClass]="size">
  <ng-container *ngIf="sliders">
    <ng-container *ngIf="sliders.type === 'formImage'; else video">
      <ng-container *ngFor="let image of sliders['background-image']">
        <img class="background" [bvlImgSrcset]="image" >
      </ng-container>
    </ng-container>
    <ng-template #video>
      <ng-container *ngFor="let video of sliders['background-video']; let i = index">
        <video
          loop
          autoplay
          oncanplay="this.muted = true"
          class="background"
          [src]="video.url">
        </video>
        <button class="expand-btn" (click)="showVideo = i">
          <span class="icon-expand"></span>
        </button>
        <ng-container *ngIf="showVideo === i">
          <div class="overlay" (click)="showVideo = null"></div>
          <video
            class="modal-video"
            autoplay
            controls
            [src]="video.url">
          </video>
        </ng-container>
      </ng-container>
    </ng-template>
    <div class="container">
      <h2 class="page-title">{{ title }}</h2>
    </div>
  </ng-container>
</article>
