@import "../../../../core/lib/src/styles/main.scss";

bvl-banner-full {
  article {
    height: 420px;
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 4px;

    &.full {
      background-position: center;
      background-size: cover;
      height: calc(100vh - 200px);

      button.expand-btn {
        right: calc(25vw / 2);
      }
    }
    .background {
      position: absolute;
      z-index: 1;
      width: 100%;
    }
    img.background {
      height: 100%;
    }
    button.expand-btn {
      position: absolute;
      z-index: 3;
      right: 20px;
      bottom: 20px;
      background: transparent;
      border: 0px;
      color: #fff;
      font-size: 26px;
      cursor: pointer;
    }

    @include media-breakpoint-up(md) {
      &.medium {
        height: 320px;
      }

      &.small {
        height: 220px;
      }
    }

    @include media-breakpoint-down(md) {
      padding: 160px 100px 180px;
    }

    @include media-breakpoint-down(sm) {
      padding: 140px 50px 160px;
    }

    @include media-breakpoint-down(xs) {
      padding: 120px 0 140px;
    }
  }

  .container {
    text-align: center;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    h2 {
      color: #fff;
      font-size: 35px;
      align-self: center;
      margin: 0 auto;
      text-shadow: 0px 0px 4px #00000066;
    }

    @include media-breakpoint-down(sm) {
      h2 {
        font-size: 32px;
      }
    }

    @include media-breakpoint-down(xs) {
      h2 {
        font-size: 26px;
      }
    }
  }
  .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.47);
    z-index: 100;
  }
  .modal-video {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    max-width: calc(100vw - 60px);
    height: calc(100vh - 60px);
    top: 50%;
    transform: translateY(-50%);
  }
}
