@import "../styles/main.scss";

.amount-cell {
  color: $white;

  &.rise {
    color: $green;
  }
  &.fall {
      color: $light-red;
  }

  &.with-icons {
    &::before,
    &::after {
      color: #4595bd;
      font-family: $icon-font-family;
    }

    &::before {
      content: $icon-dot;
      font-size: .57em;
      margin-right: .4em;
    }

    &::after {
      content: $icon-arrow-right;
      font-size: .77em;
      margin-left: .3em;
    }

    &.rise {
      padding-right: 0;

      &::before,
      &::after {
        color: $green;
      }

      &::after {
        content: $icon-arrow-up;
      }
    }

    &.fall {
      padding-right: 0;

      &::before,
      &::after {
        color: $light-red;
      }

      &::after {
        content: $icon-arrow-down;
      }
    }
  }
}