<form [formGroup]="frmCreateRole">
  <h2 class="g-admin-heading-1">
    {{ ROLE_LANG?.titles?.createRole }}
  </h2>
  <p class="mb-xs-2">
    {{ ROLE_LANG?.descriptions?.createRoleCms }}
  </p>
  <div class="mb-xs-2">
    <bvl-input type="text" maxlength="47"
      name="nRole"
      [placeholder]="ROLE_LANG?.labels?.role"
      formControlName="role"
      [error]="validateControl('role')">
    </bvl-input>
  </div>
  <div class="g-admin-card g-admin-card-gray">
    <div class="row">
      <div class="col-12">
        <span class="d-block mb-xs-2 g-fw-medium">
          {{ ROLE_LANG?.titles?.assignPermissions }}
        </span>
      </div>
      <div class="col-12 g-row">
        <ng-container formArrayName="permissionsCheck" *ngFor="let permission of permissionsList; let i = index">
          <div class="g-col-50">
            <bvl-checkbox [formControlName]="i">
                {{ permission?.permissionName }}
            </bvl-checkbox>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="text-right mt-xs-2">
    <button bvl-button
            (click)="save()">
      {{ GENERAL_LANG?.buttons.save }}
    </button>
  </div>
</form>