<div class="s-form-select--label" *ngIf="label">
  {{ label }}
</div>

<div class="form-select">
  <i class="icon icon-simple-arrow-down"></i>

  <select [(ngModel)]="model"
    class="form-control">
    <option *ngIf="placeholder" ngValue="">{{ placeholder }}</option>
    <option *ngFor="let item of dataList"
      [ngValue]="item">
      {{ item[textField] }}
    </option>
  </select>

  <!-- desktop -->
  <div class="s-form-select--block">
    <div class="d-flex align-items-center"
      (click)="toggleList()">
      <div class="s-form-select--label" *ngIf="label">
        {{ label }}
      </div>
      <div class="s-form-select--text">
        <span>{{ (model) ? model[textField] : placeholder }}</span>
      </div>
    </div>
    <div class="s-form-select--list">
      <div *ngIf="placeholder"
        (click)="selectItem($event, '')">{{ placeholder }}
      </div>
      <div *ngFor="let item of dataList"
        (click)="selectItem($event, item)">
        {{ item[textField] }}
      </div>
    </div>
  </div>
</div>