bvl-simple-table {
  article {
    border-radius: 0.38rem;
    overflow: hidden;
  }
  .table {
    th,
    td {
      &:first-of-type {
        padding-left: 1.5em;
      }

      &:last-of-type {
        padding-right: 1.5em;
      }
    }
    th {
      padding: 0.923rem 0.66rem;
    }
    td {
      a {
        color: white;
        &.arrow {
          color: #ff0100;

          &:hover {
            color: darken(#ff0100, 10%);
          }
        }
      }
    }
  }
}
