<article>
  <div class="table-wrapper" topscrollbar>
    <table class="table table-dark" scrolledelement>
      <thead>
        <tr>
          <ng-container *ngIf="data?.head; else emptyHead">
            <th *ngFor="let title of data?.head">{{ title }}</th>
          </ng-container>
          <ng-template #emptyHead>
            <th>&nbsp;</th>
          </ng-template>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="data?.body; else emptyBody">
          <tr *ngFor="let bodyItem of data?.body">
            <ng-container *ngFor="let item of data?.head; let i = index">
              <ng-container *ngTemplateOutlet="
                      (isObject(bodyItem[i]) ? itemObject : itemDefault );
                      context:{
                        item: bodyItem[i]
                      }">
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
        <ng-template #itemObject let-item="item">
          <td [ngClass]="{'text-right': item.type === 'number' }"><span>{{ item.value }}</span></td>
        </ng-template>
        <ng-template #itemDefault let-item="item">
          <td><span>{{ item }}</span></td>
        </ng-template>
        <ng-template #emptyBody>
          <tr>
            <td><span>&nbsp;</span></td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</article>
