<article>
  <header>
    <div class="image-wrapper">
      <ng-container *ngFor="let image of testimony['background-image']">
        <img [bvlImgSrcset]="image">
      </ng-container>
    </div>
  </header>
  <blockquote>{{ testimony.quote }}</blockquote>
  <cite>
    <span class="name">{{ testimony.name }}</span>
    <span class="position"><span>{{ testimony.position }}</span><span>{{ testimony.company }}</span></span>
  </cite>
</article>
