@import "../styles/main.scss";

bvl-testimony {
  width: 33.333%;

  article {
    border-radius: 0.38rem;
    background-color: white;
    border: 1px solid $lightest-gray;
    display: flex;
    flex-direction: column;
    padding: 1.54rem 1.54rem 2.5rem;
    min-width: 18.46rem;
  }

  .image-wrapper {
    width: 7.38rem;
    height: 7.38rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: $lightest-gray;
    margin: 0 auto 0.25rem;
  }

  img {
    height: 100%;
    width: 100%;
    display: block;
  }

  blockquote {
    position: relative;
    padding: 2.06em 0 1em;
    margin-bottom: 1rem;
    &::before {
      content: $icon-quotes-open;
      font-family: $icon-font-family;
      font-size: 1.31em;
      position: absolute;
      top: 0;
      left: 0;
      color: $darker-gray;
      line-height: 1;
    }
    &::after {
      content: $icon-quotes-close;
      font-family: $icon-font-family;
      font-size: 1.31em;
      position: absolute;
      bottom: 0;
      right: 0;
      color: $darker-gray;
      line-height: 1;
    }
  }

  cite {
    font-style: normal;
    font-weight: 700;
    & > span {
      display: block;
    }
  }

  .name {
    color: $red;
  }

  .position {
    span + span {
      &::before {
        content: " - ";
      }
    }
  }
}
