<form [formGroup]="frmForgotPassword"
  class="w-100">

  <div class="row">

    <div class="col">

      <bvl-section-header title="Restablecer contraseña"></bvl-section-header>

    </div>

  </div>

  <div class="row">

    <div class="col-12">

      Para restablecer la contraseña de la aplicación, escriba su correo electrónico:

    </div>

    <div class="page-subsection col-12">

      <div class="row">

        <div class="col-12 col-lg-8">

          <bvl-form-alert *ngIf="errorMessage">{{ errorMessage }}</bvl-form-alert>

          <bvl-form-input label="Email"
            formControlName="mEmail"
            [error]="validateControl('mEmail')">
          </bvl-form-input>

        </div>

      </div>

    </div>

    <div class="col-12 col-md-4 col-lg-3">

      <button ctrl="sendButton"
        class="btn btn-primary btn-block"
        (click)="forgotPassword()">
        Enviar
      </button>

    </div>

  </div>

</form>