<div class="page-section background">
  <div class="container">

    <div class="page-subsection">
      <div class="box">

        <div class="row" *ngIf="!confirmation">

          <div class="page-subsection first col">

            <a routerLink="/login" class="btn btn-gray">
              <i class="icon icon-arrow-left"></i>
              Volver
            </a>

          </div>

        </div>

        <div class="row">

          <div class="page-subsection col-12 col-sm-10 offset-sm-1">

            <ng-container *ngIf="!confirmation; else messageForm">
              <bvl-sign-up-form></bvl-sign-up-form>
            </ng-container>

          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<ng-template #messageForm>
  <bvl-message-form title="Registro"
    message="Se le ha enviado un link de confirmación a su correo.">
    <div class="row">

      <div class="col-12 col-md-5 col-lg-3">

        <a routerLink="/login" class="btn btn-primary btn-block">
          Ir al login
        </a>

      </div>

    </div>
  </bvl-message-form>
</ng-template>

