<div class="row" *ngIf="agent">
  <div class="col-md-4 col-lg-3">
    <bvl-side-menu
      [title]="agent.name"
      [isButton]="true"
      urlButton="/mercado/agentes/listado"
      textButton="Conocer más agentes"
      [ga]="GA_MENU">
    </bvl-side-menu>
  </div>
  <div class="col-md-8 col-lg-9">
    <div class="details-main">
      <div id="page-content">
        <bvl-section-header [emitChange]="false" [title]="TEXT.general.basicInformation"></bvl-section-header>
        <div class="row">
          <div class="col-lg-7">
            <dl class="description-list">
              <ng-container *ngIf="agent.ruc">
                <dt>RUC</dt>
                <dd>{{ agent.ruc }}</dd>
              </ng-container>
              <ng-container *ngIf="agent.stock">
                <dt>Capital</dt>
                <dd>S/ {{ agent.stock }}</dd>
              </ng-container>
              <ng-container *ngIf="agent.phones">
                <dt>{{ TEXT.general.phones }}</dt>
                <dd>
                  <ng-container
                    *ngFor="let phone of agent.phones; last as isLast"
                  >
                    {{ phone }}<span *ngIf="!isLast">, </span>
                  </ng-container>
                </dd>
              </ng-container>
              <ng-container *ngIf="agent.email">
                <dt>Email</dt>
                <dd>{{ agent.email }}</dd>
              </ng-container>
              <ng-container *ngIf="agent.website">
                <dt>{{ TEXT.general.webSite }}</dt>
                <dd>{{ agent.website }}</dd>
              </ng-container>
              <ng-container *ngIf="agent.generalManager">
                <dt>{{ TEXT.general.manager }}</dt>
                <dd>{{ agent.generalManager }}</dd>
              </ng-container>
            </dl>
          </div>
          <div class="col-sm-5 col-lg-4">
            <div class="map" [id]="'map-' + agent.code"></div>
          </div>
        </div>
        <bvl-section-header [emitChange]="false" [title]="TEXT.general.authorization"></bvl-section-header>
        <div class="autorizacion">
          <dl class="description-list">
            <ng-container *ngFor="let item of agent.authorizations">
              <dt>{{ item.date }}</dt>
              <dd>{{ item.description }}</dd>
            </ng-container>
          </dl>
        </div>
        <bvl-section-header [emitChange]="false" [title]="TEXT.general.representatives"></bvl-section-header>
        <div class="representantes">
          <table>
            <thead>
              <tr>
                <th>{{ TEXT.general.representative }}</th>
                <th>{{ TEXT.general.office }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of agent.representatives">
                <td>{{ item.name }}</td>
                <td>{{ item.office }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <bvl-section-header [emitChange]="false" [title]="TEXT.general.offices"></bvl-section-header>
        <ng-container *ngFor="let office of agent.offices">
          <bvl-accordion (state)="accordionState($event, office)">
            <div class="toggler" bvl-accordion-toggler>
              <bvl-section-header [emitChange]="false" noLine [title]="office.companyName + ', ' + office.direction + ', ' + office.district + ', ' + office.department"></bvl-section-header>
              <dt class="float-left">{{ TEXT.general.phones }}:</dt> <dd class="float-left">{{ office.phone }}</dd>
              <br>
              <span>{{ TEXT.general[office.active ? 'close' : 'see' ] }} {{ TEXT.general.representatives }}</span>
            </div>
            <div class="content">
              <ul>
                <li class="info-content" *ngFor="let representative of office.representatives">
                  {{ representative.name }}
                </li>
              </ul>
            </div>
          </bvl-accordion>
        </ng-container>
        <bvl-section-header [emitChange]="false" [title]="TEXT.general.clientPoliticsMemories"></bvl-section-header>
        <bvl-items-grid
          [items]="agent.policies"
          [itemsType]="'Archivo'"
          [space]="agent.policies.length > 4 ? 4 : agent.policies.length">
        </bvl-items-grid>

        <bvl-section-header [emitChange]="false" [title]="TEXT.general.sanctions"></bvl-section-header>

        <p [innerHTML]="TEXT.general.sanctionsDescripcion"></p>

        <div class="representantes">
            <table class="table">
              <thead>
                <tr>
                  <th>{{ TEXT.general.date }}</th>
                  <th>{{ TEXT.general.rule }}</th>
                  <th>{{ TEXT.general.socialDenomination }}</th>
                  <th>{{ TEXT.general.sommelier }}</th>
                  <th>{{ TEXT.general.document }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of agent.sanctions">
                  <td>{{ item.startDate }}</td>
                  <td>{{ item.resolution }}</td>
                  <td>{{ item.businessName }}</td>
                  <td>{{ item.observation }}</td>
                  <td>
                    <a [href]="item.document" target="_blank">
                      <span class="g-site-table-icon icon-file-down g-site-pointer g-fs--21 g-fw-bold" [title]="item.document"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
