bvl-agent-details {
  .map {
    height: 160px;
  }
  .representantes {
    border-radius: 0.38em;
    overflow-y:hidden;
    overflow-x: auto;
    position: relative;
    margin-bottom: 0.75rem;
    color: #fff;
    table {
      width: 100.1%;
    }
    .head,
    li,
    th,
    td {
      padding: 0.76em 1.3em;
      white-space: normal;
    }
    li {
      width: 50%;
      float: left;
    }
    .head,
    thead {
      background: #403f3f;
    }
    ul,
    tbody tr {
      background: #333232;
    }
    ul {
      display: table;
    }
    footer {
      background: #403f3f;
      padding: 12px;
    }
  }
  bvl-accordion {
    bvl-section-header {
      header {
        margin-bottom: 0px !important;
      }
      .section-title {
        font-size: 15px;
      }
    }
    .accordion-toggler {
      border-bottom: 1px solid #c3c3c3;
      dt,
      dd {
        float: left;
        color: #5c5c5c;
      }
      dd {
        margin-left: 5px;
        font-weight: 500;
      }
    }
    .content {
      ul {
        padding-left: 20px;
      }
    }
  }
}
