@import '../../../../core/lib/src/styles/main.scss';

bvl-testimonial{
  .carousel {
    overflow: hidden;

    .tracker {
      display: flex;
    }

    .carousel-item {
      width: 276px;
      min-width: 276px;

      @include media-breakpoint-down(xs) {
        width: calc(100vw - 30px);
        min-width: calc(100vw - 30px);
      }
    }
  }
}
