<bvl-carousel *ngIf="testimonials" [ga]="ga">
  <ng-template bvlCarouselSlide *ngFor="let testimonial of testimonials">
    <bvl-testimony [testimony]="testimonial" class="slide"></bvl-testimony>
  </ng-template>
</bvl-carousel>
