<div class="table-wrapper">
    <table>
        <tbody>
            <tr>
                <th rowspan="2"
                    scope="row"
                    (click)="toggle()"
                    [ngClass]="expanded ? 'expanded' : 'collapsed'">
                    <h2 [ngClass]="expanded ? 'expanded' : 'collapsed'">Commodities</h2>
                    <div class="select-wrapper"
                         [@expand]="expanded ? 'expanded' : 'collapsed'">
                    <select class="select red"
                            (change)="categoryChanged($event.target.value)">
                            <option *ngFor="let category of categories"
                                    [value]="category"
                                    [selected]="category === selectedCategory">
                                {{ category.label }}
                            </option>
                        </select>
                    </div>
                </th>
                <th *ngFor="let element of commodities"scope="col">
                    {{ element.label }}
                </th>
            </tr>
            <tr [@expand]="expanded ? 'expanded' : 'collapsed'">
                <td *ngFor="let element of commodities"
                    data-title="{{ element.label }}">
                    <bvl-amount-cell [variation]="element.variation">
                        {{ element.value | currency:element.currency.code:element.currency.symbol }}
                    </bvl-amount-cell>
                </td>
            </tr>
        </tbody>
    </table>
</div>
