@import "../../../../core/lib/src/styles/main.scss";

table {
  background-color: white;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

tbody {
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

tr {
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

th,
td {
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  @include media-breakpoint-down(sm) {
    display: block;
    width: auto;
  }
}

th[rowspan="2"] {
  vertical-align: middle;
  border-right: 1px solid $lightest-gray;
  width: 0.000001%;
  @include media-breakpoint-down(sm) {
    padding: 0;
    width: 100%;
    display: block;
    border-right: 0;
    position: relative;
    padding: 1.1rem 1.5rem;
    &.expanded {
      border-bottom: 1px solid $lightest-gray;
    }
  }
}

th:not([rowspan="2"]) {
  border-bottom: 1px solid $lightest-gray;
  width: 16.66%;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

h2 {
  margin: 0.25rem 0 0;
  font-size: 1.15rem;
  font-family: $title-font;
  @include media-breakpoint-down(sm) {
    margin: 0;
    cursor: pointer;
    &::after {
      content: $icon-simple-arrow-down;
      font-family: $icon-font-family;
      position: absolute;
      top: 1.25rem;
      font-size: 0.85em;
      right: 1.5rem;
      transition: transform 0.2s;
    }
    &.expanded {
      &::after {
        transform: rotate(-180deg);
      }
    }
  }
}

.select-wrapper {
  overflow: hidden;
}

@include media-breakpoint-down(sm) {
  .select {
    margin-bottom: -0.375em;
  }
}

td {
  @include media-breakpoint-down(sm) {
    text-align: right;
    position: relative;
    &::before {
      content: attr(title);
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.75rem 1.5rem;
    }
  }
}
