<div class="mb-xs-2">

  {{#componentTitle}}
    {{>molecules-Component-title}}
  {{/componentTitle}}

  {{#staticComponent}}
    {{>organisms-Static-component}}
  {{/staticComponent}}

  {{#componentForm}}
    {{>organisms-Component-form}}
  {{/componentForm}}

</div>
