<div class="g-modal">

  <div class="g-modal-dialog {{modifierClass}}">

    <div class="g-modal-content">

      <div class="g-modal-body {{modifierBodyClass}}">

        <div class="row mb-xs-4">

          <div class="col">

            {{#btnBack}}

              {{>atoms-Button-with-icon}}

            {{/btnBack}}

          </div>

          <div class="col text-right">

            {{#btnSelect}}

              {{>atoms-Button}}

            {{/btnSelect}}

          </div>

        </div>

        {{#notification}}
          {{>molecules-Main-notification}}
        {{/notification}}

        <div class="g-card-wrapper">

          <form>

            <div class="row">

              <div class="{{modifierContentImagesClass}} col-9 d-flex flex-wrap justify-content-start">

                {{#UploadImage}}
                  {{>molecules-Img-upload-preview}}
                {{/UploadImage}}

                {{#Images}}
                  {{>molecules-Img-upload-preview}}
                {{/Images}}

              </div>

              <div class="col-3">

                {{#imageSelected}}
                  {{>molecules-Img-upload-preview}}
                {{/imageSelected}}

                {{#imageInfo}}
                  {{>atoms-Text}}
                {{/imageInfo}}

              </div>

            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

</div>
