<div class="g-modal">

    <div class="g-modal-dialog {{modifierClass}}">

      <div class="g-modal-content">

        <div class="g-modal-body {{modifierBodyClass}}">

          <div class="row mb-xs-4">

            <div class="col">

              {{#btnBack}}

                {{>atoms-Button-with-icon}}

              {{/btnBack}}

            </div>

            <div class="col text-right">

              {{#btnSelect}}

                {{>atoms-Button}}

              {{/btnSelect}}

            </div>

          </div>

          <div class="row">
            <div class="col">

              {{#conversation}}
                {{>organisms-Conversation}}
              {{/conversation}}

            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
