// COLORS
// Basic colors
$c-white: #ffffff;
$c-black: #000000;
$c-transparent: transparent;

// Gray colors
$c-gray1: #4c4c4c;
$c-gray2: #979797;
$c-gray3: #d2d2d2;
$c-gray4: #d8d8d8;
$c-gray5: #e2e4ec;
$c-gray6: #f3f4f8;
$c-gray7: #f9f9f9;
$c-gray8: #403f3f;
$c-gray9: #ececec;
$c-gray10: #353535;
$c-gray11: #0e0e10;


// Red colors
$c-red1: #ff0100;
$c-red2: #842a2a;
$c-red3: #ff7788;
$c-red4: #ad0909;
$c-red5: #ff5d5d;

// Green colors
$c-green1: #27af47;
$c-green2: #d0ffdc;
$c-green3: #3c6b26;
$c-green4: #6bbd45;
$c-green5: #b6e492;

// Orange Colors
$c-orange1: #d88000;
$c-orange2: #ffe29a;
$c-orange3: #e97800;
$c-orange4: #ffd3a4;
$c-orange5: #8b6400;
$c-orange6: #ffca43;

// Blue Colors
$c-blue1: #007aff;

// Alpha colors
$c-alpha-black: rgba($c-black, .65);
$c-alpha-white: rgba($c-white, .65);

// Gradients
$acordion-gradient: linear-gradient(to bottom, $c-gray6, $c-white);
$acordion-gradient2: linear-gradient(to bottom, $c-gray6, $c-gray7);

$colors: (
  gray1: $c-gray1,
  gray2: $c-gray2,
  gray3: $c-gray3,
  gray4: $c-gray4,
  gray5: $c-gray5,
  gray6: $c-gray6,
  gray7: $c-gray7,
  gray8: $c-gray8,
  gray9: $c-gray9,
  gray10: $c-gray10,
  gray11: $c-gray11,
  red1: $c-red1,
  red2: $c-red2,
  red3: $c-red3,
  red4: $c-red4,
  red5: $c-red5,
  green1: $c-green1,
  green2: $c-green2,
  green3: $c-green3,
  green4: $c-green4,
  green5: $c-green5,
  orange1: $c-orange1,
  orange2: $c-orange2,
  orange3: $c-orange3,
  orange4: $c-orange4,
  orange5: $c-orange5,
  orange6: $c-orange6,
  c-blue1: $c-blue1,
  alpha-white: $c-alpha-white,
);

// Shadow colors
$box-shadow1: 0 1px 6px rgba($c-black, .1);
$box-shadow2: 0 2px 8px 0 rgba($c-black, .1);
$box-shadow3: 0 9px 11px -3px rgba($c-black, .1);
$box-shadow-button: 0 3px 7px -5px rgba(60, 60, 60, .9);
$box-shadow-button2: 0 4px 4px -3px rgba($c-black, .1);

// Font family
$font-family: 'Formata', sans-serif;
$font-bvl: 'LineAwesome', sans-serif;

// Font Size
$font: inherit;
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-20: 20px;
$font-24: 24px;
$font-26: 26px;
$font-30: 30px;
$font-40: 40px;
$font-50: 50px;
$font-60: 60px;

// Font Weight
$fw-thin: 100;
$fw-light: 200;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-ultra-bold: 900;

$font-weights: (
  fw-thin: $fw-thin,
  fw-light: $fw-light,
  fw-normal: $fw-normal,
  fw-medium: $fw-medium,
  fw-bold: $fw-bold,
  fw-ultra-bold: $fw-ultra-bold,
);

// Screen sizes
$break-xxsmall: 375px;
$break-xsmall: 426px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
$break-xxlarge: 1820px;

// Path's
$url-fonts: '../fonts';
$url-images: '../images';

// Transitions
$tr-2-ease: all .2s ease;
$tr-2-ease-in: all .2s ease-in;
$tr-2-ease-out: all .2s ease-out;
$tr-3-ease: all .3s ease;
$tr-3-ease-in: all .3s ease-in;
$tr-3-ease-out: all .3s ease-out;
$tr-5-ease: all .5s ease;
$tr-5-ease-in: all .5s ease-in;
$tr-5-ease-out: all .5s ease-out;
