.g-site-alert {
  background: #fdf0f0;
  border-radius: 4px;
  border: 1px solid #f39898;
  color: $red4;
  display: flex;
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 8px 10px;

  .g-site-alert--icon {
    font-size: 20px;
    padding-right: 7px;
  }

  .g-site-alert--content {
    padding-top: 2px;
  }

  &--success {
    background: #d0ffdc;
    border-color: #6bbd45;
    color: darken(#6bbd45, 10%);
  }
}
