.g-site-input-autocomplete {
  align-items: center;
  border-bottom: 1px solid $gray15;
  display: flex;

  &-icon {
    display: flex;
    font-size: 18px;
  }

  input {
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 30px 10px 10px;
    text-overflow: ellipsis;
    width: 100%;
  }

  &-close {
    font-size: 16px;
    position: absolute;
    right: 11px;
    top: 12px;

    button {
      background: $transparent;
      border: none;
      color: $red1;
      cursor: pointer;
      display: block;
      font-size: 13px;
    }
  }

  .dropdown-menu {
    @include fancyScrollbar($gray6, $white);
    background: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 5px #666;
    left: 15px !important;
    margin-top: 1px;
    max-height: 240px;
    overflow: auto;
    top: 100% !important;
    transform: none !important;
    width: calc(100% - 30px);
    z-index: 2;

    .dropdown-item {
      background: $white;
      border-bottom: 1px solid #eee;
      border-left: none;
      border-right: none;
      border-top: none;
      cursor: pointer;
      display: block;
      padding: 10px 20px;
      text-align: left;
      white-space: nowrap;
      width: 100%;

      @include media-breakpoint-up("md") {
        border-bottom: none;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.active,
      &:hover {
        background: $gray8;
      }
    }
  }
}
