.g-box-block {
  border-radius: 4px;
  border: 1px solid $gray7;
  box-shadow: 0 0 10px #eee;
  margin-bottom: 25px;
  overflow: hidden;
  text-align: center;

  &--header {
    align-items: center;
    background-color: $gray7;
    display: flex;
    font-size: 22px;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }

  &--text {
    font-weight: 500;
    padding-right: 7px;
  }

  &--dcto {
    color: $red1;
    font-size: 14px;
    font-weight: 500;
  }

  &--content {
    background: $white;
    line-height: 1.25;
    padding: 15px 10px;

    @include media-breakpoint-up(md) {
      min-height: 130px;
    }
  }
}
