.btn {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  border-radius: $btn-radius;
  border: 0;
  color: inherit;
  display: inline-block;
  font-weight: 700;
  outline: none;
  padding: 0.925em 1.15em;
  text-align: center;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  i {
    position: relative;
    top: 0.15em;

    &.first {
      margin-right: 0.33em;
    }

    &.last {
      margin-left: 0.33em;
    }
  }

  &-width {
    min-width: 170px;
  }

  &-default {
    border-color: transparent;
    box-shadow: none;
    color: $red1;
  }

  &-outline {
    background-color: transparent;
    border: 1px solid $red1;
    color: $red1;

    &:hover {
      background-color: $red1;
      color: $white;
    }
  }

  &-primary {
    background-color: $red1;
    border-color: $red1;
    box-shadow: 0 3px 7px -5px rgba(0, 0, 0, 0.9), inset 0 0.15em 0 lighten($red1, 18%);
    color: $white;

    &:hover {
      background-color: darken($red1, 10%);
      border-color: darken($red1, 10%);
      box-shadow: 0 3px 7px -5px rgba(0, 0, 0, 0.9), inset 0 0.15em 0 lighten($red1, 8%);
      color: $white;
    }
  }

  &-gray {
    background-color: $body-color;
    border-color: $body-color;
    color: $white;

    &:hover {
      background-color: darken($body-color, 10%);
      border-color: darken($body-color, 10%);
      color: $white;
    }
  }

  &-bordered {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid $white;
    box-shadow: 0 3px 7px -5px rgba(0, 0, 0, 0.9);
    color: $white;

    &:hover {
      background-color: $white;
      color: $body-color;
    }
  }
}

.btn-sm {
  padding: .719em 1.15em;
}

.btn-xs {
  padding: .58em 1.15em;

  i {
    font-size: .7em;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-group-toggle {
  & > .btn input[type="checkbox"],
  & > .btn input[type="radio"] {
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
    position: absolute;
  }
}

.btn-link {
  background: transparent;
  border-radius: 0;
  padding: 0;
}

.btn-fab {
  border-radius: 50%;
  border: 1px solid $gray7;
  font-size: 1.15rem;
  line-height: .75;
  padding: .58rem;

  &:hover {
    background-color: $red1;
    border-color: $red1;
    color: $white;
  }
}

.btn-animated {
  animation: 1.5s infinite intermittent;
}

.btn-red {
  background-color: $red1;
  border-color: $red1;
  color: $white;

  &:hover {
    background-color: darken($red1, 10%);
    border-color: darken($red1, 10%);
    color: $white;
  }
}

@keyframes intermittent {
  0% {
    background-color: $white;
    border-color: $gray7;
    color: inherit;
  }
  50% {
    background-color: $white;
    border-color: $gray7;
    color: inherit;
  }
  90% {
    background-color: $red1;
    border-color: $red1;
    color: $white;
  }
}
