.highcharts-root {
    font-family: 'formata', sans-serif !important;
}

.highcharts-container {
	font-size: .85em !important;
}

.highcharts-tooltip {
  text-align: center;
  padding-bottom: 1px;
}

.highcharts-tooltip span {
  display: block;
}

.highcharts-tooltip .tooltip-header {
  margin-bottom: 5px;  
}

.highcharts-prueba{
  display: block!important;
}