.g-checkbox {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  min-height: 18px;
  padding: 0 0 0 32px;
  position: relative;
  text-align: left;

  input {
    display: none;
    &:checked {
      & ~ .checkmark {
        border-color: $red1;

        &:before {
          content: '';
        }
      }
    }
  }

  .checkmark {
    background-color: $white;
    border-radius: 5px;
    border: 2px solid $gray6;
    height: 21px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;

    &:before {
      background: $red1;
      content: none;
      position: absolute;
    }
  }
}

.g-checkbox {
  .checkmark {
    &:before {
      top: 55%;
      left: 20%;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 $red1,
        4px 0 0 $red1,
        4px -2px 0 $red1,
        4px -4px 0 $red1,
        4px -6px 0 $red1,
        4px -8px 0 $red1;
      transform: rotate(45deg) translate(-50%, -50%);
    }
  }
}
