.g-site-datepicker {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  position: relative;

  input {
    display: none;
  }

  &-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    span {
      font-weight: $fw-normal;
    }
  }

  .dropdown-menu {
    background-color: $white;
    border: 0;
    box-shadow: 0 4px 16px 0 rgba($gray5, .4);
    left: auto !important;
    padding: 10px !important;
    right: 0;
    top: 100% !important;
    transform: translate(0, 0) !important;
    width: auto !important;
    z-index: 2;

    &:before {
      border-bottom: 7px solid $white;
      border-left: 7px solid $transparent;
      border-right: 7px solid $transparent;
      content: "";
      height: 0;
      position: absolute;
      right: 0;
      top: -6px;
      width: 0;
    }

    .ngb-dp-header {
      background-color: $gray13;
      border-radius: 3px;
      padding: 6px;

      .custom-select {
        border: 0;

        + .custom-select {
          margin-left: 5px;
        }
      }

      .ngb-dp-arrow-btn {
        color: $gray14;
        outline: none;

        &:hover {
          color: $red1;
        }
      }
    }

    .ngb-dp-months {
      padding: 20px 10px 10px;
    }

    .ngb-dp-weekdays {
      background-color: $transparent !important;
      border: 0;
    }

    .ngb-dp-weekday {
      color: $gray14;
      font-size: $font-13;
      font-style: normal;
      font-weight: $fw-medium;
    }

    [ngbDatepickerDayView] {
      border-radius: 50%;
      font-size: $font-13;
      font-weight: normal;

      &:hover {
        background-color: $gray13;
      }
    }

    .bg-primary {
      background-color: $red1 !important;
      color: $white;
    }
  }
}
