.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid $gray7;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  &:focus {
    outline: none;
  }
}

.checkbox {
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
  }
  label {
    display: flex;
    &::before {
      font-family: $icon-font-family;
      content: '';
      margin-right: 1em;
      display: inline-block;
      vertical-align: text-top;
      width: 1em;
      height: 1em;
      line-height: 1.3;
      padding: 0.2em 0.2em 0.41em 0.41em;
      border: 0.21em solid $gray7;
      border-radius: 0.5em;
      font-size: 0.75em;
      color: $red1;
      font-weight: normal;
    }
  }
  input[type='checkbox']:checked {
    & + label {
      &::before {
        content: $icon-check;
      }
    }
  }
  &.disabled {
    opacity: 0.6;
  }
}
.search {
  position: relative;
  &--close {
    background: transparent;
    position: absolute;
    right: 13px;
    padding: 7px;
    font-size: 10px;
    color: red;
  }
}
