a.link,
span.link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: .85rem;
    i {
        font-size: .8em;
        &.icon-arrow-right {
            margin-left: .38em;
            position: relative;
            left: 0;
            transition: left .2s;
        }
    }
    &:hover {
        i.icon-arrow-right {
            left: .3em;
        }
    }
}