.link-list {
    list-style: none;
    .link {
        padding: .17em 0;
    }
    a {
        padding: .384em 1.5em .383em .3em;
        display: block;
        position: relative;
        color: $body-color;
        &::after {
            content: $icon-simple-arrow-right;
            font-family: $icon-font-family;
            position: absolute;
            top: 50%;
            line-height: 0;
            right: .3em;
            color: $red1;
            transition: right .2s;
        }
        &:hover {
            &::after {
                right: 0;
            }
        }
    }
}

.description-list {
    margin-bottom: 1rem;
    @include media-breakpoint-up(md) {
        line-height: 2.11;
        @include clearfix;
    }
    dt,
    dd {
        @include media-breakpoint-up(md) {
            float: left;
        }
    }
    dt {
        font-weight: 700;
        @include media-breakpoint-up(md) {
            clear: left;
        }
        &:after {
            content: ':';
        }
    }
    dd {
        margin-bottom: .5rem;
        @include media-breakpoint-up(md) {
            margin-left: .38rem;
            margin-bottom: 0;
        }
    }
}

.time-list {
    line-height: 1.25;
    li {
        display: flex;
        margin-bottom: .5rem;
        time {
            font-weight: 700;
            margin-right: 1rem;
            width: 5.77em;
        }
    }
}
