.g-site-modal {

  &-alert {

    .swal2-popup {

      .swal2-title {
        font-size: 1.4em;
      }
    }

    .swal2-icon {
      width: 4em;
      height: 4em;
      line-height: 4em;
      margin: 1.25em auto;

      .swal2-icon-text {
        font-size: 2.75em;
      }
    }

    .swal2-actions {

      button {
        min-width: 110px;
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
      }
    }

  }

}