.g-site {

  &-onboarding {

    &-overlay {
      position: fixed;
      background: rgba(0, 0, 0, 0.56);
      width: 100vw;
      height: 100vh;
      z-index: 110;
      left: 0;
      top: 0;
    }

    &-focus {
      z-index: 112;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border: 1px solid red;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        z-index: -1;
      }

      // Custom styles
      &.onboarding {
        &-message,
        &-profile,
        &-language-switcher {
          background-color: white;
        }

        &-message,
        &-profile,
        &-search,
        &-findsab,
        &-language-switcher {
          &::before {
            border-radius: 26px;
          }
        }

        &-findsab {
          &::before {
            border-radius: 26px;
            background-color: white;
          }
        }

        &-filters {
          &::before {
            background-color: white;
          }
        }
      }

      &.btn-group-toggle {
        &.g-pr-lg--25 {
          display: inline-block;

          &::before {
            background-color: #f4f6fa;
          }
        }
      }

      &.grid-wrapper.variant-basic {
        overflow: visible;
      }

      &.container {
        &::before {
          width: calc(100vw + 20px);
          background-color: #f4f6fa;
        }
      }

      &.content {
        background-color: #5c5c5c;
      }
    }

    &-window {
      background: #fff;
      border-radius: 8px;
      left: 0;
      padding: 12px 12px 28px 30px;
      position: absolute;
      top: 0;
      z-index: 111;

      &::after {
        content: none;
        display: block;
        position: absolute;
        width: 0px;
      }

      @media (min-width: 992px) {
        max-width: 360px;

        &::after {
          content: '';
        }

        &.right {
          &::after {
            border-bottom: 14px solid transparent;
            border-left: 14px solid transparent;
            border-top: 14px solid transparent;
            border-right: white 14px solid;
            left: -26px;
            top: 26px;
          }
        }

        &.left {
          &::after {
            border-bottom: 14px solid transparent;
            border-right: 14px solid transparent;
            border-top: 14px solid transparent;
            border-left: white 14px solid;
            right: -26px;
            top: 26px;
          }
        }

        &.bottom {
          &::after {
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-top: 14px solid transparent;
            border-bottom: white 14px solid;
            top: -26px;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }

        &.top {
          &::after {
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-bottom: 14px solid transparent;
            border-top: white 14px solid;
            bottom: -26px;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
      }
    }

    &-head-buttons {
      button.back{
        background: transparent;
        border: 0px;
        color: #3e3e3e;
        cursor: pointer;
        padding: 0px;
        i {
          position: relative;
          top: 2px;
        }
      }
      button.close {
        background: #7d7d7d;
        border-radius: 4px;
        border: 0px;
        color: #fff;
        cursor: pointer;
        font-size: 10px;
        padding: 5px 5px 3px;
      }
    }

    &-body {
      padding-right: 22px;
      & .title {
        h1 {
          font-weight: 500;
        }
      }
      hr {
        margin-top: 26px;
        margin-bottom: 24px;
      }

      & .process-numbers {
        .total {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }

    &-active {
      .g-site-submenu {
        &.active {
          overflow: initial;

          .container {
            overflow: initial !important;
          }
        }
      }

      bvl-tab-fidecomisos bvl-tabs ul li:nth-child(2),
      bvl-tab-fidecomisos bvl-tabs ul li:nth-child(3),
      bvl-toolbar .btn.btn-link {
        &.g-site-onboarding-focus {
          background-color: #f4f6fa;

          &::before {
            background-color: #f4f6fa;
          }
        }
      }
    }

  }

}
