.pagination {
  button {
    align-items: center;
    background: transparent;
    border-radius: 4px;
    border: 0;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    justify-content: center;
    padding: 6px 10px;

    &.active{
      background: $red1;
    }
  }

  &.pagination--invert {
    color: $black;

    button {
      color: $black;

      &.active {
        color: $white;
      }
    }
  }
}
