.g-payment-images {
  display: flex;
  margin-bottom: 20px;
  margin-top: 5px;

  img {
    height: 30px;
    margin-right: 5px;
    width: 45px;
  }
}

.g-summary {
  &-footer {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
  }
}

.g-h-1 {
  background: #ddd;
  height: 1px;
  width: 100%;
}
