.popover {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    z-index: 1060;
    display: block;
    max-width: 20em;
    background-color: white;
    border-radius: .77em;
    margin-bottom: 1.84em;
    &::after {
        content: '';
        position: absolute;
        width: 2.46em;
        height: 2.46em;
        display: inline-block;
        top: calc(100% - 1em);
        left: calc(50% - 1.23em);
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ffffff' d='M30.813 12.163l-12.247 15.335c-1.171 1.491-3.195 1.704-4.686 0.532-0.213-0.107-0.319-0.319-0.532-0.532l-12.14-15.335c-1.917-2.449-1.491-5.857 0.852-7.774 0.958-0.745 2.236-1.171 3.408-1.171h20.979c3.088 0 5.538 2.449 5.538 5.538 0.106 1.171-0.319 2.449-1.171 3.408z'/%3E%3C/svg%3E");
        background-size: 2.46em 2.46em;
        background-repeat: no-repeat;
        background-position: right 0 center;
        z-index: 1;
    }
    &:not(.with-link) {
        padding: 1.12em 1.54em;
        text-align: center;
    }
    .all-link {
        display: block;
        color: inherit;
        position: relative;
        padding: 1.12em 3.54em 1.12em 1.54em;
        &::after {
            font-family: $icon-font-family;
            content: $icon-simple-arrow-right;
            color: $red1;
            position: absolute;
            top: calc(50% - .5em);
            line-height: 1;
            right: 1.54em;
            transition: right .2s;
        }
        &:hover {
            &::after {
                right: 1.24em;
            }
        }
    }
    .popover-header {
        font-size: 1em;
        margin: 0;
    }
}