.g-site-radio {
  .radio {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    margin: 0 15px 0 0;
    min-height: 18px;
    padding: 0 0 0 32px;
    position: relative;
    text-align: left;

    input {
      display: none;
      &:checked {
        & ~ .checkmark {
          &:before {
            content: "";
          }
        }
      }
    }

    .checkmark {
      background-color: $white;
      border-radius: 50%;
      border: 2px solid $gray4;
      height: 22px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;

      &:before {
        background: $red1;
        border-radius: 50%;
        content: none;
        height: 13px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 13px;
      }
    }
  }
}