.page-section {
  display: inline-block;
  padding-bottom: 1.62rem;
  padding-top: 1.62rem;
  width: 100%;

  @include media-breakpoint-up(md) {
    padding-bottom: 2.62rem;
    padding-top: 2.62rem;
  }

  &.white {
    background-color: $white;
  }

  &.gray {
    background-color: $gray8;
  }

  &.dark {
    background-color: $gray2;
    color: $white;
  }

  &.background {
    background-image: url("assets/images/login-bkg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.page-subsection {
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;

  @include media-breakpoint-up(md) {
    padding-bottom: 1.31rem;
    padding-top: 1.31rem;
  }

  &.first {
    padding-top: 0;
  }

  &.first-md {
    @include media-breakpoint-up(md) {
      padding-top: 0;
    }
  }

  &.first-lg {
    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }
  }

  &.first-xl {
    @include media-breakpoint-up(xl) {
      padding-top: 0;
    }
  }

  &.last {
    padding-bottom: 0;
  }

  &.last-md {
    @include media-breakpoint-up(md) {
      padding-bottom: 0;
    }
  }

  &.last-lg {
    @include media-breakpoint-up(lg) {
      padding-bottom: 0;
    }
  }
}

.box-white {
  background-color: $white;
  padding: 1rem 15px;

  @include media-breakpoint-up(md) {
    border-radius: 0.38rem;
    padding: 2.77rem;
  }
}

.details-main {
  background: $white;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.02);
  padding: 25px 35px;

  @include media-breakpoint-down(sm) {
    padding: 20px 15px;
  }

  @include media-breakpoint-down(xs) {
    padding: 20px 15px;
  }
}
