.select {
  display: inline-block;
  padding: 0.375em 1em 0.375em 0;
  line-height: 1.5;
  color: inherit;
  vertical-align: middle;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%235c5c5c' d='M16 25.156l-16-18.313h32z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0 center;
  background-size: 0.615em 0.77em;
  border: 0;
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  position: relative;
  &::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
  }
  option {
    color: $body-color !important;
  }
  &.white {
    color: white;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ffffff' d='M16 25.156l-16-18.313h32z'/%3E%3C/svg%3E");
  }
  &.red,
  &.arrow-red {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ff0100' d='M16 25.156l-16-18.313h32z'/%3E%3C/svg%3E");
  }
  &.red {
    color: $red1;
  }

  &:not(.d-block) {
    @include media-breakpoint-up('md') {
      display: none !important;
    }
  }
}

.select-xl {
  font-size: 1.3rem;
  @include media-breakpoint-up('lg') {
    font-size: 1.6rem;
  }
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%235c5c5c' d='M28.489 6.972l3.511 4.013-16.351 14.044-15.649-14.044 3.611-4.013 12.238 10.834 12.64-10.834z'/%3E%3C/svg%3E");
  &.white {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ffffff' d='M28.489 6.972l3.511 4.013-16.351 14.044-15.649-14.044 3.611-4.013 12.238 10.834 12.64-10.834z'/%3E%3C/svg%3E");
  }
  &.red,
  &.arrow-red {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ff0100' d='M28.489 6.972l3.511 4.013-16.351 14.044-15.649-14.044 3.611-4.013 12.238 10.834 12.64-10.834z'/%3E%3C/svg%3E");
  }
}

.g-site-select {
  cursor: pointer;
  display: none !important;
  position: relative;
  width: auto;

  .label-xl {
    font-size: 1.6rem;
    text-align: right;
    width: 100%;
  }

  &--full {
    width: 100%;
  }

  &--label {
    align-items: center;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    padding: .7em 0;

    > span {
      margin-right: 30px;
    }
  }

  &--list {
    @include fancyScrollbar(rgba($black, .3), rgba($black, .1));
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba($black, .4);
    color: $black;
    display: none;
    max-height: 180px;
    max-width: 210px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;

    > div {
      color: $body-color;
      cursor: pointer;
      font-size: 10.5px;
      line-height: 1.3em;
      padding: 0.7em 1em;

      &.active {
        background-color: $red1;
        color: $black;
      }

      &:hover:not(.active) {
        background-color: $gray8;
        color: $black;
      }

      &:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      &:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  &--left {
    .g-site-select--list {
      left: 0;
      right: auto;
    }
  }

  &:hover {
    .g-site-select--list {
      display: block;
      &-left {
        left: 0;
        right: initial;
      }
    }
  }

  @include media-breakpoint-up('md') {
    display: inline-block !important;
  }
}

.s-form-select {
  &--label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-right: 10px;
    white-space: nowrap;
  }

  .s-form-select--block {
    .s-form-select--label {
      display: none;
    }
  }

  &--inline {
    .s-form-select--label {
      @include media-breakpoint-up('md') {
        display: none;
      }
    }

    .s-form-select--block {
      .s-form-select--label {
        display: none;

        @include media-breakpoint-up('md') {
          display: block;
        }
      }
    }

    @include media-breakpoint-up('sm') {
      align-items: center;
      display: flex;
    }

    .s-form-select--label {
      @include media-breakpoint-up('sm') {
        margin-bottom: 0;
      }
    }
  }

  .form-select {
    position: relative;
    width: 100%;

    > i {
      color: $red1;
      font-size: 15px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1;
    }

    select {
      padding: 12px 15px;
      margin-bottom: 5px;
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      &::-ms-expand {
        display: none;
      }
    }
  }

  &.s-form-error {
    select {
      background: #fdf7f7;
      border: 1px solid #f3bcbc;
    }
  }

  &--list {
    @include fancyScrollbar(rgba($black, .3), rgba($black, .1));
    background-color: $white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 8px rgba($black, .4);
    display: none;
    max-height: 180px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 100%;
    outline: none;
    width: 100%;
    z-index: 2;

    > div {
      color: $body-color;
      cursor: pointer;
      padding: 10px 20px;

      &.active {
        background-color: $red1;
        color: $black;
      }

      &:hover:not(.active) {
        background-color: $gray8;
        color: $black;
      }
    }
  }

  &--block {
    display: none;
    position: relative;

    @include media-breakpoint-up('md') {
      display: block;
    }
  }

  &--click {
    .s-form-select--list {
      display: block;
    }
  }

  &--left {
    .s-form-select--list {
      left: 0;
      right: auto;
    }
  }

  &--text {
    background: $white;
    border: 1px solid $gray7;
    cursor: pointer;
    min-width: 110px;
    overflow: hidden;
    padding: 10px 35px 10px 10px;
    text-overflow: ellipsis;
    width: 100%;
  }

  &--default {
    .form-select > i {
      color: inherit;
    }

    .s-form-select--label {
      font-size: 13px;
    }

    .s-form-select--text {
      background: none;
      border: none;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-top: 5px;
      white-space: nowrap;
    }
  }

  select {
    @include media-breakpoint-up('md') {
      display: none;
    }
  }
}
