.g-site-slider {
  overflow: hidden;
  position: relative;
  &-wrapper {
    display: flex;
    margin: 0 0 20px;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &-item {
    width: 100%;
    flex-shrink: 0;
  }
  &-payer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 5px;
    &-item {
      cursor: pointer;
      color: #cecece;
      font-size: 45px;
      line-height: 0;
      margin: 0px 4px;
      &.active {
        color: red;
      }
    }
  }
}