.tablist {
  display: flex;
  list-style: none;

  &.select {
    font-family: $title-font;
    font-weight: 700;
  }
}

.main-tabs {
  background-color: white;
  border-radius: .38rem;
  padding: .155rem;

  & > .tablist {
    background: $gray8;
    padding: 10px;
    border-radius: 4px;

    .btn {
        margin: 0 .23rem;
    }

    @include media-breakpoint-up("md") {
      padding: 20px 25px;
    }
  }

  .tabs-content {
    border-top: 1px solid $gray8;
    margin-top: .15rem;
    padding: 1.38rem 2.31rem;
  }
}

.g-tabs {
  display: flex;

  &-item {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: medium;
    outline: none;
    padding: 15px;
    position: relative;

    @media (min-width: 768px) {
      padding: 20px 35px 15px 35px;
    }

    &.active {
      background: $white;
      font-weight: bold;

      &:first-child {
        &::before {
          background: $white;
          bottom: -10px;
          content: '';
          height: 15px;
          left: 0;
          position: absolute;
          width: 15px;
        }
      }
    }
  }
}

.g-site-tabs {
  background: $gray9;
  padding: 10px;
  border-radius: 4px;

  @include media-breakpoint-up("md") {
    padding: 20px 25px;
  }

  li {
    list-style: none;
  }
}
