.table-wrapper {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.font {
  &-green {
    color: $green1;
  }
  &-red {
    color: $red2;
  }
}

.head {
  &-green {
    border-bottom: 1px solid $green1;
  }
  &-red {
    border-bottom: 1px solid $red2;
  }
}

table {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;

  td,
  th {
    padding: 0.66em;
    vertical-align: top;
    white-space: nowrap;

    @include media-breakpoint-down("xs") {
      font-size: 0.845em;
      padding: 0.5em 1.2em;
    }

    &:first-of-type {
      @include media-breakpoint-down("xs") {
        padding-left: 15px;
      }
    }

    &:last-of-type {
      @include media-breakpoint-down("xs") {
        padding-right: 15px;
      }
    }
  }

  .graphic-wrapper{
    height: 115px;
    width: 260px;
  }
}

.table-dark {
  color: $white;

  tr {
    background-color: $table-dark-background;
  }

  th {
    font-weight: 500;
  }

  thead {
    tr {
      background-color: darken($table-dark-background, 5%);
    }
  }

  tbody {
    tr {
      &:nth-of-type(2n) {
        background-color: darken($table-dark-background, 5%);
      }

      &.selected-row {
        .amount-cell {
          color: inherit;
        }
      }
    }

    td {
      &.expanded {
        background: $white;
      }
    }
  }

  &--white {
    thead {
      tr {
        &:first-child {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }

    tbody {
      tr {
        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }

    a {
      color: $white;
    }
  }
}

.table-green,
.table-red,
.table-blue {
  thead th {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0.153rem;
    }
  }
}

.table-green {
  thead th {
    &::before {
      background-color: $green1;
    }
  }
}
.table-red {
  thead th {
    &::before {
      background-color: $red2;
    }
  }
}
.table-blue {
  thead th {
    &::before {
      background-color: $blue1;
    }
  }
}
.more-number {
  cursor: pointer;
  display: inline;
  position: relative;

  & > p {
    float: left;
    margin: 0px;
  }
  & > span {
    margin-left: 8px;
    color: $red1;
  }
  &:hover .tooltip {
    display: block;
  }
}
span.new-info {
  color: #fff !important;
  padding: 1px 5px;
  border-radius: 1.8px;
  font-size: 11px;
  &.memory {
    background: #a35aeb;
  }
  &.hhii {
    background: #FD4B56;
  }
  &.ef {
    background: #449FEE;
  }
  &.obs {
    background: #F79653;
  }
}

.g-site-table-file {
  tr {
    &:nth-child(even) {
      td {
        background-color: $gray8;
        color: $black;
      }
    }
  }

  td {
    padding: 5px 6px;

    @include media-breakpoint-up("md") {
      white-space: normal;
    }
  }

  &--heading {
    background-color: $red1;
    color: $white;
    padding: 5px 6px;
  }

  &--title {
    td {
      background-color: $gray2 !important;
      border-bottom: 1px solid $gray7;
      color: $white !important;
    }
  }

  &--subtitle {
    td {
      background-color: $gray11 !important;
      border-bottom: 1px solid $gray6;
      color: $white !important;
    }
  }
}

.g-site-table-content {
  @include fancyScrollbar(rgba($black, 0.3), rgba($black, 0.1));
  max-height: 55vh;
  overflow: auto;
  width: 100%;
}

.g-site-table-download {
  color: $white;

  table {
    overflow: hidden;
  }

  td,
  th {
    padding: 10px 15px;
    vertical-align: top;
    white-space: normal;

    &::before {
      content: attr(data-title);
      display: block;
      font-weight: 600;
      margin-bottom: 5px;
      text-transform: uppercase;

      @include media-breakpoint-up("lg") {
        display: none;
      }
    }
  }

  th {
    border-bottom: 1px solid #555;
    font-weight: 700;
    padding: 15px;
    text-transform: uppercase;
  }

  table, tbody, thead, tr, td, th {
    @include media-breakpoint-down("md") {
      display: block;
    }
  }

  tr {
    background-color: $table-dark-background;
  }

  thead {
    @include media-breakpoint-down("md") {
      display: none;
    }

    tr {
      background-color: darken($table-dark-background, 5%);
    }
  }

  .g-site-table-icon {
    color: $red1;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;

    @include media-breakpoint-up("lg") {
      margin-right: 0;
      margin-left: 5px;
    }
  }

  tbody {
    tr {
      &.g-site-table-odd {
        background-color: darken($table-dark-background, 10%);
      }

      td {
        @include media-breakpoint-down("md") {
          padding-bottom: 0;
        }

        ul {
          margin-left: 20px;
        }
      }

      &:nth-child(even) {
        td {
          margin-top: -5px;
          padding-bottom: 5px;

          @include media-breakpoint-up("sm") {
            padding-bottom: 10px;
          }

          @include media-breakpoint-up("lg") {
            border-top: 1px solid #555;
            margin-top: 0;
          }
        }

        .g-site-table-label {
          @include media-breakpoint-down("md") {
            display: block;
            font-weight: 600;
            margin-bottom: 5px;
            text-transform: uppercase;
            text-transform: uppercase;
          }
        }
      }
    }

    a {
      color: $white;
      text-decoration: underline;

      &:hover {
        color: $red1;
      }
    }
  }

  &--normal {
    tbody {
      tr {

        td {
          @include media-breakpoint-down("md") {
            padding-bottom: 10px;
          }

          .g-site-icon-link {
            position: relative;
            top: 2px;
            margin-left: 4px;
          }
        }

        &:nth-child(even) {
          td {
            @include media-breakpoint-down("md") {
              margin-top: 0;
              padding-bottom: 10px;
            }
          }
        }
      }
    }

    a {
      color: $white;
      text-decoration: underline;

      &:hover {
        color: $red1;
      }
    }

    .g-site-icon-link {
      position: relative;
      top: 2px;
      margin-left: 4px;
    }
  }

  &--normal {
    tbody {
      tr {

        td {
          @include media-breakpoint-down("md") {
            padding-bottom: 10px;
          }
        }

        &:nth-child(even) {
          td {
            @include media-breakpoint-down("md") {
              margin-top: 0;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.g-site-table-show {
  .g-site-nofound.g-site-nofound--data .g-site-nofound--content,
  .g-site-nofound.g-site-nofound--list .g-site-nofound--content {
    padding-top: 0 !important;
  }
}
