.g-site-textarea {

  &--label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    border: 1px solid $gray7;
    resize: none;
  }

  &--error {

    textarea {
      background: #fdf7f7;
      border: 1px solid #f3bcbc;
    }

  }

}