<admin-search-form #searchFormComponent
  showUsers="true"
  showPageStates="true"
  showCalendar="true"
  (search)="search($event)">
</admin-search-form>
<bvl-card-wrapper [withoutResults]="withoutResults">
  <div class="mb-xs-2">
    <button bvl-button
      (click)="goCreatePublication()">
      <i class="la la-plus-circle g-pr--5 g-fs-20"></i>
      <span>{{ PAGE_LANG?.links?.createPublication }}</span>
    </button>
  </div>
  <ng-container *ngFor="let item of pagesList?.content">
    <admin-item-page [page]="item"
      (deletePage)="deletePage($event)">
    </admin-item-page>
  </ng-container>
</bvl-card-wrapper>
<bvl-paginator *ngIf="pagesList?.totalPages > 1"
  [(page)]="pagination.page"
  [collectionSize]="pagesList?.totalElements"
  (pageChange)="pageChange($event)">
</bvl-paginator>