<div class="prices">
  <ng-container *ngFor="let item of prices">
    <bvl-great-price
      [title]="item.title"
      [subTitle]="item.subtitle"
      [price]="item.price"
      [salePrice]="item.salePrice"
      [btnText]="item.textButton">
    </bvl-great-price>
  </ng-container>
</div>