<section class="with-details-row various-tables">
  <div class="tables">
    <bvl-market-table-header [ga]="ga" (activeFilters)="onFilterChange($event)"></bvl-market-table-header>

    <div class="tables-container tables-fit loaded">
      <ng-container *ngFor="let table of tablesData?.data">
        <article class="table-article">
          <header class="table-article-header">
            <h4 class="table-title" [ngClass]="table.theme ? 'font-' + table.theme : ''">
              {{ table.title }}
              <i *ngIf="table.iconTitle" [ngClass]="table.iconTitle"></i>
            </h4>
          </header>
          <div class="table-wrapper" topScrollbar>
            <ng-container *ngIf="table.entries._value.length; else noData">
              <table class="table-dark table" scrolledElement>
                <thead [ngClass]="table.theme ? 'head-' + table.theme : ''">
                  <tr class="bvl-row">
                    <th [ngSwitch]="column" *ngFor="let column of tableColumns; index as i">
                      <ng-container *ngSwitchCase="'inWatchlist'">
                        <i class="icon-watch"></i>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        {{ tableColumns[i].label }}
                        <button type="button" (click)="sortBy(tableColumns[i], table)" class="btn btn-icon btn-sortBy"
                          [class.active]="
                            table.metadata.sortedBy.column === tableColumns[i]
                          ">
                          <i class="icon-sort"></i>
                        </button>
                      </ng-container>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let element of table.entries._value; index as i">
                    <tr class="bvl-row"
                    ctrl="rowItem"
                    (domChange)="onDomChange($event, element)"
                    [ngClass]="{
                        'selected-row':
                          table.metadata.expandedElement &&
                          table.metadata.expandedElement.id === element.id
                      }">
                      <td
                        *ngFor="let column of tableColumns; index as y" [ngSwitch]="tableColumns[y].valueType" (click)="
                          tableColumns[y].name !== 'inWatchlist' && element.companyCode !== 'XXX'
                            ? expandElement(element, table, table.title)
                            : ''
                        " [style.cursor]="
                          element.companyCode !== 'XXX' ? 'pointer' : ''
                        ">
                        <ng-container *ngSwitchCase="'price'">
                          <span>
                            {{ element[column.name]}}
                          </span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'percent'">
                          <bvl-amount-cell [variation]="element.variation" *ngIf="element[column.name]">
                            {{ element[column.name] | number }}%
                          </bvl-amount-cell>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          <span [title]="element[column.name]">{{ element[column.name] | truncate }}</span>
                        </ng-container>
                      </td>
                    </tr>
                    <tr class="details-row">
                      <td [attr.colspan]="tableColumns.length" [ngClass]="{
                          expanded:
                            table.metadata.expandedElement &&
                            table.metadata.expandedElement.id === element.id
                        }">
                        <article class="element-details" [@detailExpand]="getAnimationState(element, table)">
                          <header>
                            <h3 class="title">{{ element.name }}</h3>
                            <button class="btn btn-close" (click)="table.metadata.expandedElement = null">
                              <span class="sr-only">Close</span>
                              <i class="icon-close"></i>
                            </button>
                          </header>
                          <div class="row no-gutters">
                            <div [ngClass]="
                                tablesData.data.length === 1
                                  ? 'col-md-8'
                                  : 'col-md-12'
                              ">
                              <ng-container *ngIf="(chartData | json) !== '[]'; else noData">
                                <div
                                  [id]="'graphic-' + table.title + '-' + element.id"
                                  class="graphic-wrapper">
                                </div>
                              </ng-container>
                              <ng-template #noData>
                                <section class="g-site-nofound">
                                  <div class="g-site-nofound--content">
                                    <div class="g-site-nofound--icon icon-bar-chart"></div>
                                    <div class="g-site-nofound--text">
                                      {{ TEXT.general.noData }}
                                    </div>
                                  </div>
                                </section>
                              </ng-template>
                            </div>
                            <div [ngClass]="
                                tablesData.data.length === 1
                                  ? 'col-md-4'
                                  : 'col-md-12'
                              ">
                              <bvl-links-list [ga]="ga" [links]="element.links"></bvl-links-list>
                            </div>
                          </div>
                          <div class="advice row no-gutters" *ngIf="media.isActive('xs')">
                            <div class="col-6">
                              <h4>{{ TEXT.general.turnPhone }}</h4>
                            </div>
                            <i class="icon-close"></i>
                          </div>
                        </article>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </ng-container>
            <ng-template #noData>
              <div class="no-data">
                {{ TEXT.filters.noData }}
              </div>
            </ng-template>
          </div>
        </article>
      </ng-container>
    </div>
  </div>
  <footer></footer>
</section>
