@import "../../../../core/lib/src/styles/main.scss";

bvl-text-block {
  display: block;
  margin-bottom: 25px;

  article {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    padding: 1.77rem;
    position: relative;

    @include media-breakpoint-up(md) {
      padding-bottom: 6.27rem;
    }

    .text-box-content {
      word-wrap: break-word;
    }

    p {
      margin-bottom: 0;
    }

    .footer {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;

      @include media-breakpoint-up(md) {
        bottom: 1.77rem;
        left: 1.77rem;
        margin-top: 0;
        position: absolute;
        width: calc(100% - 3.54rem);
      }
    }

    a {
      i {
        font-size: 33px;
      }
    }
  }
}


