<article>
  <bvl-section-header [title]="title"></bvl-section-header>
  <div class="text-box-content" [innerHTML]="(description || '') | safeHtml"></div>

  <div class="footer">
    <ng-container *ngIf="isButton == true">
      <div class="w-100">
        <a ctrl="button" (domChange)="onDomChange($event, { headerTitle: title, button: textButton })"
          href="{{ urlButton }}" class="btn btn-primary w-100">
          {{ textButton }}
        </a>
      </div>
    </ng-container>
    <div class="g-pl--15" *ngIf="isLink == true">
      <a href="{{ urlLink }}">
        <i class="icon-thin-arrow-right"></i>
      </a>
    </div>
  </div>
</article>
