<div class="g-modal">
  <div class="g-modal-dialog {{modifierClass}}">
    <div class="g-modal-content">

      {{#modalHeader}}
        {{>molecules-Modal-header}}
      {{/modalHeader}}

      {{#notification}}
        {{>molecules-Main-notification}}
      {{/notification}}

      <div class="g-modal-body">

        {{#textModal}}
          {{>atoms-Text}}
        {{/textModal}}

        <form>

          <div class="mb-xs-2">

            {{#input}}
              {{>atoms-Input}}
            {{/input}}

          </div>

          {{#grayCard}}
            {{>molecules-Gray-card}}
          {{/grayCard}}

          <div class="text-right mt-xs-2">
            {{#button}}
              {{>atoms-Button}}
            {{/button}}
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
