<nav class="g-admin-main-menu">
  <ul class="g-admin-main-menu-list">
    <li class="g-admin-main-menu-item"
      *ngFor="let item of menu">
      <a href="javascript:void(0)"
        class="g-admin-main-menu-link"
        [routerLink]="item?.route"
        routerLinkActive="active">
        <i class="la"
          [ngClass]="item?.icon"></i>
        <span>{{ item?.name }}</span>
      </a>
    </li>
  </ul>
</nav>