<bvl-searcher
  [searcherControls]="searcherControls"
  (formValue)="formValue($event)"
  (formClear)="clear()">
</bvl-searcher>

<bvl-table-download-file class="g-px--15 g-py--10"
  [header]="tableHeader"
  [tableData]="tableData"
  [message]="tableMessage">
</bvl-table-download-file>

<bvl-pagination *ngIf="tableData?.length && totalPages > 1"
  customClass="pagination--invert"
  paginateByService="true"
  [totalPages]="totalPages"
  (emitChangePage)="pagination($event)">
</bvl-pagination>