@import "../../../../styles/partials/lib.scss";

:host {
  &.menu-opened {
    .g-site-menu {
      left: 0;

      &:after {
        width: 100vw;
      }
    }
  }
}

.g-site-menu {
  background-color: $red1;
  position: relative;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    &:after {
      background-color: rgba($black, .75);
      content: "";
      height: 100%;
      left: 100%;
      position: absolute;
      top: 0;
      width: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    bottom: 0;
    display: flex;
    height: calc(100% - 60px);
    left: -340px;
    position: fixed;
    top: 60px;
    transition: left .3s;
    width: 340px;
  }

  @include media-breakpoint-down(xs) {
    left: -100%;
    width: 100%;
  }

  &-wrapper {
    @include media-breakpoint-down(sm) {
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 30px;
    }

    > .container {
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }

  ul {
    list-style: none;
    background-color: $red1;

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
  }

  li.g-site-menu-item {
    flex: 1 1 auto;

    &.active {
      a.g-site-menu--btn {
        background-color: darken($red1, 10%);

        @include media-breakpoint-down(sm) {
          &::after {
            transform: rotate(-180deg);
          }
        }
      }

      .g-site-submenu {
        max-height: 1000px;
        transition: max-height .4s ease-in;

        li {
          opacity: 1;
          transition: opacity .3s ease-in .1s;
        }
      }
    }
  }

  a:not(.mobile-footer-link) {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: $title-font;
    font-size: 1rem;
    height: 100%;
    letter-spacing: .058em;
    position: relative;
    transition: all .3s ease;

    @include media-breakpoint-down(sm) {
      padding: 0.9em 4.2em 0.9em 2em;

      &::after {
        content: $icon-simple-arrow-right;
        font-family: $icon-font-family;
        font-size: 10px;
        line-height: 1;
        position: absolute;
        right: 2em;
        top: calc(50% - 0.5em);
      }
    }
    @include media-breakpoint-up(md) {
      justify-content: center;
      line-height: 1;
      padding: 1.347em 1em;
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
    @include media-breakpoint-up(xl) {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  a.g-site-menu--btn {
    &:hover {
      background-color: darken($red1, 10%);
    }

    @include media-breakpoint-down(sm) {
      &::after {
        content: $icon-simple-arrow-down;
        transition: transform 0.2s;
      }

      &.active {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }

  a.mobile-footer-link {
    border-radius: 1.45em;
    border: 1px solid #dcdcdc;
    color: $red1;
    font-size: 0.85rem;
    margin-right: 20px;
    padding: 0.54em 1.5em;
    text-transform: uppercase;
    width: 100%;
  }

  &-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 1.81em 0;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

.g-site-submenu {
  background-color: lighten($gray2, 4.7%);
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;

  &.active {
    max-height: 1000px;
    transition: max-height .4s ease-in;

    li {
      opacity: 1;
      transition: opacity .3s ease-in .1s;
    }
  }

  @include media-breakpoint-up(md) {
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
  }

  .container {
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  ul {
    background-color: lighten($gray2, 4.7%);
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0.9em 0;

    @include media-breakpoint-up(md) {
      padding: 0;
      display: flex;
    }
  }

  li {
    flex: 0 1 auto;
    opacity: 0;
    transition: opacity .2s ease-out 0s;

    &:first-child {
      a {
        margin-left: 0;
      }
    }

    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }

  a {
    align-items: center;
    color: $white;
    display: flex;
    font-family: $base-font;
    font-weight: normal !important;
    opacity: .44;
    padding: 0.9em 2em;
    position: relative;
    transition: opacity 0.2s;

    @include media-breakpoint-up(md) {
      margin: 0 .5em;
      padding: 1.12em .5em;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 1.54em;
      padding: 1.12em 0.77em;
    }

    &.active {
      box-shadow: inset 0 -0.153rem 0 0 $red1;
      opacity: 1;
    }
  }
}
