<nav class="g-site-menu">
  <div class="g-site-menu-wrapper">
    <div class="container">
      <ul>
        <li *ngFor="let item of menu | orderBy: ['order']"
          class="g-site-menu-item"
          [ngClass]="{ 'active': item?.active }">
          <ng-container *ngTemplateOutlet="
            (item?.action === SITE_MENU_ACTION.REDIRECT ? headerRedirect : headerDefault );
            context:{
              item: item
            }">
          </ng-container>

          <div #subMenu
            class="g-site-submenu"
            [ngClass]="{ 'active': item?.active }">
            <div class="container">
              <ul *ngIf="item?.children?.length">
                <li *ngFor="let child of item?.children | orderBy: ['order']">
                  <a ctrl="subMenuLink" (domChange)="onDomChange($event, { menu: item?.name, subMenu: child?.name })"
                    [href]="child?.path"
                    [ngClass]="{ 'active': child?.active }">
                    {{ child?.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="g-site-menu-footer">
      <a
        ctrl="findYourSabLink" (domChange)="onDomChange($event)"
        class="btn mobile-footer-link btn-link" [href]="findSabLink">
        {{ findSabText }} <i class="icon-arrow-right"></i>
      </a>

      <bvl-switch-language>
      </bvl-switch-language>
    </div>
  </div>

</nav>
<ng-template #headerRedirect let-item="item">
  <a ctrl="menuLink" (domChange)="onDomChange($event, { menu: item?.name })"
    [href]="item?.path" class="g-site-menu--btn">{{ item?.name }}</a>
</ng-template>
<ng-template #headerDefault let-item="item">
  <a ctrl="menuLink" (domChange)="onDomChange($event, { menu: item?.name })"
    href="javascript:void(0)"
    class="g-site-menu--btn"
    (click)="goMenu(item)">
    {{ item?.name }}
  </a>
</ng-template>
