<div class="sticky-top-sidebar">
  <div class="p-xs-2 g-bgc-gray11 mb-xs-1">
    <span class="g-info-w-icon g-cl-white g-fw-bold">
      <i class="la la-puzzle-piece g-cl-white"></i>
      {{ COMPONENT_LANG?.titles?.components }}
    </span>
  </div>
  <bvl-accordion customClass="g-admin-acordion-list-sidebar">
    <bvl-accordion-group *ngFor="let item of components | groupBy:'category'">
      <bvl-accordion-header>
        <i class="la" [ngClass]="COMPONENT_CATEGORIES[item?.groupCode]?.icon"></i>
        {{ COMPONENT_CATEGORIES[item?.groupCode]?.name }}
      </bvl-accordion-header>
      <bvl-accordion-content>
        <ng-container *ngFor="let component of item?.groupItems">
          <admin-component-icon *ngIf="component?.status" [component]="component"></admin-component-icon>
        </ng-container>
      </bvl-accordion-content>
    </bvl-accordion-group>
  </bvl-accordion>
</div>
