<div class="box g-px--30">

  <div class="row">

    <div class="page-subsection first col g-pb--0">

      <div class="d-flex w-100 justify-content-between">
        <bvl-section-header title="Datos personales"></bvl-section-header>

        <div>
          <button ctrl="logoutButton"
            class="btn btn-primary"
            (click)="logout()">
            Cerrar sesión
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="list col-12 col-lg-9">
      <div class="g-pl--20">
        <ul class="g-list-50">

          <ng-container *ngIf="userAttributes['custom:personType'] === PERSON_TYPE.natural; else legal">
            <li class="g-pb--5"><strong>Nombres:</strong> {{ userAttributes['custom:names'] }}</li>
            <li class="g-pb--5"><strong>Apellido Paterno:</strong> {{ userAttributes['custom:paternalSurname'] }}</li>
            <li class="g-pb--5"><strong>Apellido Materno:</strong> {{ userAttributes['custom:maternalSurname'] }}</li>
          </ng-container>
          <ng-template #legal>
            <li class="g-pb--5"><strong>Razón social:</strong> {{ userAttributes['custom:names'] }}</li>
            <li class="g-pb--5"><strong>Giro de negocio:</strong> {{ userAttributes['custom:coreBusiness'] }}</li>
            <li class="g-pb--5"><strong>Representante:</strong> {{ userAttributes['custom:representative'] }}</li>
          </ng-template>
          <li class="g-pb--5"><strong>Tipo doc.:</strong> {{ userAttributes['custom:documentType'] }}</li>
          <li class="g-pb--5"><strong>Número doc.:</strong> {{ userAttributes['custom:documentNumber'] }}</li>

        </ul>
      </div>
    </div>

    <div class="links col-12 col-lg-3 text-right g-pt--25">

      <div>
        <a href="javascript:void(0)"
          class="link"
          (click)="editData()">
          Editar datos <i class="icon-arrow-right"></i>
        </a>
      </div>
      <div>
        <a href="javascript:void(0)"
          class="link"
          (click)="changePassword()">
          Cambiar contraseña <i class="icon-arrow-right"></i>
        </a>
      </div>

    </div>

  </div>

</div>