<bvl-card-wrapper>
  <form [formGroup]="frm">
    <div class="g-card-form mb-xs-3">
      <h3>Rutas de redirección con código 301</h3>
      <div class="pt-xs-3 pb-xs-3 pl-xs-6 pr-xs-6 g-bgc-white">
        <div class="row justify-content-between">
          <div class="col-8">
            <div class="row align-items-center no-gutters mb-xs-2">
              <div class="col-3 g-w-100">
                <label class="g-fw-bold">URL antigua:</label>
              </div>
              <div class="col-9">
                <bvl-input
                  (keydown.enter)="saveRedirect()"
                  [error]="validateControl('oldUrl')"
                  formControlName="oldUrl"
                  placeholder="/home"
                >
                </bvl-input>
              </div>
            </div>
            <div class="row align-items-center no-gutters mb-xs-2">
              <div class="col-3 g-w-100">
                <label class="g-fw-bold">URL nueva:</label>
              </div>
              <div class="col-9 ">
                <bvl-input
                  (keydown.enter)="saveRedirect()"
                  [error]="validateControl('newUrl')"
                  formControlName="newUrl"
                  placeholder="/"
                >
                </bvl-input>
              </div>
            </div>
            <div class="pt-2 text-right">
              <div class="d-inline-block">
                <button
                  (click)="saveRedirect()"
                  bvl-button
                  type="button"
                >
                  <i class="la la-save g-pr--5 g-fs-20"></i>
                  <span>Agregar</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-3 text-right bl-gray6">
            <div class="d-inline-block">
              <button
                (click)="selectExcel()"
                bvl-button
                theme="green"
                type="button"
              >
                <i class="la la-file-excel-o g-pr--5 g-fs-20"></i>
                <span>Importar</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="pt-xs-3 pb-xs-3 pl-xs-6 pr-xs-6 g-bgc-white">
    <form [formGroup]="frmFilter" class="pb-xs-2">
      <div class="row justify-content-between pb-xs-2">
        <div class="col-5">
          <label class="g-fw-bold mb-2">URL antigua:</label>
          <bvl-input
            (keydown.enter)="search()"
            formControlName="oldUrl"
          >
          </bvl-input>
        </div>
        <div class="col-5">
          <label class="g-fw-bold mb-2">URL nueva:</label>
          <bvl-input
            (keydown.enter)="search()"
            formControlName="newUrl"
          >
          </bvl-input>
        </div>
        <div class="col-2">
          <label class="g-fw-bold mb-2">Estado:</label>
          <bvl-select
            placeholder="Todos"
            [dataList]="SEO_REDIRECT_STATES"
            formControlName="state"
            textField="description"
            valueField="code"
          >
          </bvl-select>
        </div>
      </div>
      <div class="d-flex d-flex justify-content-end">
        <button bvl-button type="button" class="mr-xs-2" (click)="search()">Buscar</button>
        <button bvl-button type="button" theme="secundary" (click)="clear()">Limpiar</button>
      </div>
    </form>

    <table class="g-admin-table-list g-bgc-gray5">
      <thead>
        <tr>
          <th>#</th>
          <th>URL antigua</th>
          <th>URL nueva</th>
          <th>Estado</th>
          <th>Usuario</th>
          <th>Fecha</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of pagination?.content; let i = index">
          <td>{{ ((frmFilter?.value?.page - 1) * frmFilter?.value?.size) + (i + 1) }}</td>
          <td>{{ item.oldUrl }}</td>
          <td>{{ item.newUrl }}</td>
          <td>
            <div class="g-admin-badge" [ngClass]="item.state === 1? 'g-admin-badge-success': 'g-admin-badge-disabled'">
              {{ item.state === 1 ? 'Activo': 'Inactivo' }}
            </div>
          </td>
          <td>{{ item.username }}</td>
          <td>{{ item.updateDate | date:DATE_FORMAT.ddMMyyyyHHmm:'UTC-10' }}</td>
          <td class="text-right pr-xs-2">
            <bvl-link [color]="item.state === 1? 'red': 'green'" (click)="switchStateRedirect(item, i)">
              <i class="la la-edit g-pr--5 g-fs-20"></i><span>{{ item.state === 1 ? 'Desactivar': 'Activar' }}</span>
            </bvl-link>
          </td>
        </tr>
      </tbody>
    </table>

    <bvl-paginator
      (pageChange)="pageChange($event)"
      [collectionSize]="pagination?.totalElements"
      [page]="frmFilter?.value?.page"
      [pageSize]="frmFilter?.value?.size"
      *ngIf="pagination?.totalPages > 1"
    >
    </bvl-paginator>
  </div>

</bvl-card-wrapper>
<input #file type="file" class="d-none"/>
