<form [formGroup]="frmRobots">
  <div class="mb-2">
    <div class="row align-items-center no-gutters mb-3">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Acción:</label>
      </div>
      <div class="col">
        <div class="row align-items-center">
          <div class="col-4"
          *ngFor="let type of listTypes">
            <bvl-radio-button
              formControlName="type"
              [value]="type.value"
              (change)="changeType()">
              {{ type.text }}
            </bvl-radio-button>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2" [ngClass]="{ 'd-none': isSiteMap() }">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Bot:</label>
      </div>
      <div class="col">
        <bvl-select placeholder="-{{GENERAL_LANG?.labels?.userAgent}}-"
          formControlName="userAgent"
          [dataList]="listUserAgent"
          valueField="code"
          textField="name">
        </bvl-select>
      </div>
    </div>
    <div class="row align-items-center no-gutters mb-2">
      <div class="col-auto g-w-100">
        <label for="dolares" class="g-fw-bold">Ingresar valor:</label>
      </div>
      <div class="col">
        <bvl-input formControlName="value" [placeholder]="getPlaceholder()"></bvl-input>
      </div>
    </div>
  </div>
</form>
