<bvl-card-wrapper>
  <div class="g-card-form mb-xs-3">
    <div class="">
      <div class="pb-xs-2">
        <button bvl-button (click)="addRobots()" type="button"><i class="la la-plus-circle g-pr--5 g-fs-20"></i><span>Agregar</span></button>
      </div>
      <div class="py-3 px-3 g-bgc-white">
        <div class="row">
          <div class="col-12">
            <ul class="c-list-robots" *ngFor="let ua of listUserAgent;">
              <li class="c-list-robots-item" *ngIf="existItems(ua.code)" >
                <div class="c-list-robots-title">
                  User-Agent: {{ ua.value }}
                </div>
                <ul class="c-sublist-robots" *ngFor="let r of getRotobos(ua.code)">
                  <li class="c-sublist-robots-item">
                    <div class="c-list-robots-detail">
                      {{ r.type }}: {{ r.value }}
                      <button bvl-button theme="outline" type="button" (click)="deleteCategory(r)"><i class="la la-trash-o g-fs-20"></i></button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <ul  class="c-list-robots" *ngIf="existSitemap()" >
              <li class="c-list-robots-item" *ngFor="let s of getSitemaps()">
                <div class="c-list-robots-title">
                  {{ s.type }}: {{ s.value }}
                  <button bvl-button theme="outline" type="button" (click)="deleteCategory(s)"><i class="la la-trash-o g-fs-20"></i></button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pt-xs-2">
        <button bvl-button (click)="generateRobots()" type="button"><i class="la la-cogs g-pr--5 g-fs-20"></i><span>Generar robots.txt</span></button>
      </div>
    </div>
  </div>
</bvl-card-wrapper>
