<bvl-card-wrapper>
  <form [formGroup]="frmNetworking">
    <div class="g-card-form mb-xs-3">
      <div>
        <h3>Perfiles sociales de la organización </h3>
        <p>
          Para permitir a los motores de búsqueda saber qué perfiles sociales están asociados a este sitio introduce los
          datos de los perfiles sociales de tu sitio a continuación.
        </p>
        <div class="pt-xs-3 pb-xs-3 pl-xs-6 pr-xs-6  g-bgc-white">
          <div class="row">
            <div class="col-12">
              <div>
                <div class="row">
                  <div class="col-12">
                    <div class="row align-items-center no-gutters mb-xs-2">
                      <div class="col-2 g-w-100">
                        <label class="g-fw-bold">URL de la página de Facebook:</label>
                      </div>
                      <div class="col-6">
                        <bvl-input formControlName="urlFacebook"></bvl-input>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row align-items-center no-gutters mb-xs-2">
                      <div class="col-2 g-w-100">
                        <label class="g-fw-bold">Usuario de Twitter:</label>
                      </div>
                      <div class="col-6">
                        <bvl-input [error]="validateControl('urlTwitter')" formControlName="urlTwitter" placeholder="@BVLPeru"></bvl-input>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row align-items-center no-gutters mb-xs-2">
                      <div class="col-2 g-w-100">
                        <label class="g-fw-bold">URL de Instagram:</label>
                      </div>
                      <div class="col-6">
                        <bvl-input formControlName="urlInstagram"></bvl-input>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row align-items-center no-gutters mb-xs-2">
                      <div class="col-2 g-w-100">
                        <label class="g-fw-bold">URL de Linkedin:</label>
                      </div>
                      <div class="col-6">
                        <bvl-input formControlName="urlLinkedin"></bvl-input>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row align-items-center no-gutters mb-xs-2">
                      <div class="col-2 g-w-100">
                        <label class="g-fw-bold">URL de Pinterest:</label>
                      </div>
                      <div class="col-6">
                        <bvl-input formControlName="urlPinterest"></bvl-input>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row align-items-center no-gutters mb-xs-2">
                      <div class="col-2 g-w-100">
                        <label class="g-fw-bold">URL de Youtube:</label>
                      </div>
                      <div class="col-6">
                        <bvl-input formControlName="urlYoutube"></bvl-input>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row align-items-center no-gutters mb-xs-2">
                      <div class="col-2 g-w-100">
                        <label class="g-fw-bold">URL de Flickr:</label>
                      </div>
                      <div class="col-6">
                        <bvl-input formControlName="urlFlickr"></bvl-input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-2">
          <button bvl-button type="button" (click)="saveNetworking()"><i
              class="la la-save g-pr--5 g-fs-20"></i><span>{{ btnSaveLabel }}</span></button>
        </div>
      </div>
    </div>
  </form>
</bvl-card-wrapper>
