{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    {{#notification}}
      {{>molecules-Main-notification}}
    {{/notification}}

    {{#adminRoles}}
      {{>organisms-Tabs-roles}}
    {{/adminRoles}}

  </main>

</div>
