{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    {{#adminUsuarios}}
      {{>organisms-Tabs-usuarios}}
    {{/adminUsuarios}}

  </main>

</div>

{{#modalCreateUser}}
  {{>templates-Modal-create-user}}
{{/modalCreateUser}}
