{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    {{#adminRoles}}
      {{>organisms-Tabs-roles}}
    {{/adminRoles}}

  </main>

</div>

{{#modalCreateRol}}
  {{>templates-Modal-create-rol}}
{{/modalCreateRol}}
