@import "../styles/main.scss";

bvl-side-menu,
bvl-menu {
  .menu {
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.02);
    position: fixed;
    &.static {
      position: static;
    }
    &.with-button.bottom{
      bottom: 60px;
    }
    &.bottom{
      position: absolute;
      bottom: 0px;
    }
    .head{
      font-family: $lucida-font;
      i{
        display: none;
      }
      h2{
        margin: 0px;
        padding: 15px 20px 10px;
      }
      &.is-detail{
        position: relative;
        i{
          display: block;
          position: absolute;
          bottom: calc(50% - 10px);
          margin-left: 10px;
          cursor: pointer;
        }
        h2{
          padding-left: 33px;
        }
      }
    }
    .bullets{
      ul{
        padding-bottom: 10px;
      }
      li{
        list-style: none;
        a{
          cursor: pointer;
          width: 100%;
          display: block;
          padding: 8px 20px;
          font-size: 14px;
          position: relative;
          color: #5c5c5c;
          &.active{
            background: #ddd;
            color: red;
            font-weight: bold;
          }
          i{
            position: absolute;
            right: 10px;
            top: 12px;
            color: red;
          }
        }
      }
    }
    & > a {
      position: absolute;
      width: 100%;
      margin-top: 1rem;
    }
    @include media-breakpoint-down(sm) {
      position: relative;
      text-align: center;
      padding: 0px 15px;
      width: 100%!important;
      ul {
        display: none;
      }
      a {
        position: relative;
      }
    }
  }
}
#page-content {
  & > .col-md-12 {
    position: initial;
  }
}