<div class="menu"
  [ngClass]="{
    'static': _inPreview,
    'with-button': isButton }">
  <div class="head" [ngClass]="{ 'is-detail': isDetail }">
    <i (click)="goBack()" class="icon-arrow-left"></i>
    <h2>{{ title }}</h2>
  </div>
  <div class="bullets">
    <ul>
      <li *ngFor="let item of links; let i = index">
        <a target="_self" (click)="goToAnchor(item.anchor)" [id]="item.id"
        ctrl="link" (domChange)="onDomChange($event, { title: title, textLink: item.title })">
          {{ item.title }}
          <i class="icon-simple-arrow-right"></i>
        </a>
      </li>
    </ul>
  </div>
  <ng-container *ngIf="isButton">
    <a [href]="urlButton" class="btn btn-primary"
    ctrl="button" (domChange)="onDomChange($event, { title: title, textButton: textButton })">
      <i *ngIf="icon" [ngClass]="icon"></i>
      <span style="pointer-events: none;">{{ textButton }}</span>
    </a>
  </ng-container>
</div>
