<form [formGroup]="frmContactUs"
  class="w-100">

  <div class="row" *ngIf="title">

    <div class="col">
      <bvl-section-header [title]="title"></bvl-section-header>
    </div>

  </div>

  <div class="row">

    <div class="col-12" *ngIf="description">

      {{ description }}

    </div>

    <div class="page-subsection col-12">

      <div class="row">

        <div class="col-12" *ngIf="responseMessage">

          <bvl-form-alert [type]="messageType">{{ responseMessage }}</bvl-form-alert>

        </div>

        <div class="col-12">

          <div class="g-pb--15">
            <bvl-form-input [label]="TEXT.contactus.form.nameAndLastName"
              formControlName="mFullName"
              [error]="validateControl('mFullName')">
            </bvl-form-input>
          </div>

          <div class="g-pb--15">
            <bvl-form-input [label]="TEXT.contactus.form.phone"
              formControlName="mPhone"
              [error]="validateControl('mPhone')">
            </bvl-form-input>
          </div>

          <div class="g-pb--15">
            <bvl-form-input [label]="TEXT.contactus.form.email"
              formControlName="mEmail"
              [error]="validateControl('mEmail')">
            </bvl-form-input>
          </div>

          <div class="g-pb--15">
            <bvl-form-checkbox formControlName="mTerms">
              {{ TEXT.contactus.form.termsAndConditions.iHaveReadAndAcceptThe }}&nbsp;<a ctrl="termsConditionsLink" href="javascript:void(0)" (click)="termsConditions()">{{ TEXT.contactus.form.termsAndConditions.termsAndConditions }}</a>
            </bvl-form-checkbox>
          </div>

          <div class="d-flex justify-content-center g-pb--15">
            <re-captcha formControlName="mRecaptcha"
              [siteKey]="recaptchaKey">
            </re-captcha>
          </div>

        </div>

      </div>

    </div>

    <div class="col-12 col-md-5 col-lg-3">

      <button class="btn btn-primary btn-block"
        (click)="contact()">
        {{ TEXT.contactus.buttons.contact }}
      </button>

    </div>

  </div>

</form>