<div class="row">
  <div class="col-4  pl-3">
    <textarea
      class="g-textarea mb-0 w-100"
      rows="30"
      placeholder="Ingresar Array de componentes"
      [formControl]="control">
    </textarea>
    <div>
      <button ca-button
      theme="square"
      class="g-btn-square-primary"
      (click)="save()">
      Generar response
    </button>
    <div *ngIf="htmlResponse">
      <textarea
        class="g-textarea mb-0"
        rows="6"
        [value]="htmlResponse">
      </textarea>
    </div>
    <div *ngIf="formResponse">
      <textarea
        class="g-textarea mb-0"
        rows="6"
        [value]="formResponse">
      </textarea>
    </div>
    </div>
  </div>
  <div class="col-8">
    <admin-dynamic-form
      *ngIf="components"
      [components]="components">
    </admin-dynamic-form>
  </div>
</div>
