<div class="row no-gutters mb-xs-2" [formGroup]="group">
  <div class="col-auto g-w-100" *ngIf="config.label">
    <h5 class="g-fs-15">{{ config.label }}:</h5>
  </div>
  <div class="col">
    <div class="g-relative">
      <admin-gallery-select
        [formControlName]="config.code"
        [size]="config.imageSize"
        [mimeTypes]="config.mimeTypes"
        [maxLength]="config.maxLength"
        [placeholder]="config.width + 'x'+ config.height"
        [type]="config.type"
        [responseFormat]="config.type === 'badge' ? 'string': ''"
        [maxSize]="(config.weight || 0) / (1024 * 1024)"
        [error]="validateControl()">
      </admin-gallery-select>

      <div class="c-indicator-slider c-indicator-slider--sm">
        <div class="c-indicator-slider-wrapper" #contentLayouts>
        </div>
      </div>

    </div>
    <div class="mt-xs-1" *ngIf="config.label">
      <span class="d-block g-fs-14">
        <strong>Medidas</strong>: {{ config.width }} x {{ config.height }}px
      </span>
      <span class="d-block g-fs-14">
        <strong>Peso máx.</strong>: {{ config.weight || 0 | fileSize }}
      </span>
    </div>
  </div>
</div>
