<div class="g-admin-editor-header sticky-top">
  <form [formGroup]="frmEditorHeader">
    <div class="row align-items-center">
      <div class="col d-flex justify-content-end align-items-center">
        {{ GENERAL_LANG?.labels?.language }}
        <bvl-switch-value formControlName="mLanguage"
          [valueOff]="LANGUAGE_TYPES_CODE?.es"
          [valueOn]="LANGUAGE_TYPES_CODE?.en"
          (change)="onChangeLanguage()">
        </bvl-switch-value>
      </div>
      <div class="col-auto pr-xs-0">
        <div class="g-admin-editor-header-buttons">
          <ng-container *ngFor="let button of actionButtons.secundary">
            <button bvl-button
              theme="square"
              (click)="onButtonAction(button.actionType)">
              <div class="d-flex align-items-center">
                <i class="la" [ngClass]="button?.icon"></i>
              </div>
              <span>{{ button?.description }}</span>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="col-auto px-0 align-self-stretch">
        <ng-container *ngFor="let button of actionButtons.primary">
          <button bvl-button
            theme="square"
            class="g-admin-btn-square-primary"
            (click)="onButtonAction(button.actionType)">
            <div class="d-flex align-items-center">
              <i class="la" [ngClass]="button?.icon"></i>
            </div>
            <span>{{ button?.description }}</span>
          </button>
        </ng-container>
      </div>
    </div>
  </form>
</div>