<form [formGroup]="frmRole">
  <bvl-card accordion="true" [disabled]=role?.disabled>
    <bvl-card-header>
      <div class="row align-items-strech">
        <div class="col-2">
          <div class="g-admin-card-info">
            <span class="g-fs-13 g-fw-medium">{{ ROLE_LANG?.labels?.role }}</span>
            <span class="g-info-w-icon">
              <i class="la la-briefcase"></i>
              {{ role?.roleName }}
            </span>
          </div>
        </div>
        <div class="col-7">
          <div class="g-admin-card-info">
            <span class="g-fs-13 g-fw-medium">{{ ROLE_LANG?.labels?.permissions }}</span>
            <span class="g-info-w-icon">
            <i class="la la-key"></i>
            <ng-container *ngFor="let permission of role?.permissionCodeList; let last = last">
              {{ permission?.permissionName }}{{ (last) ? '.' : ', ' }}
            </ng-container>
            </span>
          </div>
        </div>
        <div class="col-3 text-right">
          <ng-container *ngFor="let item of TRAY_COLLAPSE_BUTTONS">
            <button *ngIf="item.isCollapsed === isCollapsed"
              bvl-button
              theme="square"
              [ngClass]="item.customClass"
              (click)="buttonAction(item)">
              <i class="la" [ngClass]="item.icon"></i>
              <span>{{ item?.description }}</span>
            </button>
          </ng-container>
        </div>
      </div>
    </bvl-card-header>
    <div [collapse]="isCollapsed">
      <bvl-card-content>
        <div class="row align-items-center">
          <div class="col-1">
            <span class="g-info-w-icon">
            <i class="la la-briefcase"></i>
            {{ ROLE_LANG?.labels?.role }}
            </span>
          </div>
          <div class="col-6">
            <bvl-input type="text" maxlength="47"
              formControlName="roleText"
              [error]="validateControl('roleText')"
              readonly="true">
            </bvl-input>
          </div>
        </div>
        <hr class="g-hr mt-xs-2 mb-xs-2">
        <div class="row">
          <div class="col-12">
            <h5 class="g-fs-1 g-text--uppercase mb-xs-1">
              {{ ROLE_LANG?.labels?.permissions }}
            </h5>
          </div>
          <div class="col-12">
            <ng-container formArrayName="permissionsCheck"
              *ngFor="let permission of permissionsList; let i = index">
              <bvl-checkbox [formControlName]="i">
                {{ permission?.permissionName }}
              </bvl-checkbox>
            </ng-container>
          </div>
        </div>
      </bvl-card-content>
    </div>
  </bvl-card>
</form>

<swal
  #swalDelete
  [options]="swalDeleteOptions"
  (confirm)="delete()">
</swal>
