{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    {{#notification}}
      {{>molecules-Main-notification}}
    {{/notification}}

    {{#searchForm}}
      {{>organisms-Search-form}}
    {{/searchForm}}

    <div class="g-card-wrapper">

      <div class="text-right mb-xs-2">

        {{#addPublication}}
          {{>atoms-Link-with-icon}}
        {{/addPublication}}

      </div>

      {{#summaryPages}}
        {{>organisms-Page-summary}}
      {{/summaryPages}}

      {{#pagination}}
        {{>molecules-Pagination}}
      {{/pagination}}

    </div>

  </main>
</div>
