<bvl-searcher [searcherControls]="searcherControls"
  (formValue)="formValue($event)"
  (formClear)="formClear()">
</bvl-searcher>

<bvl-filter [filterControls]="filterControls"
  (formValue)="filter($event)">
</bvl-filter>

<bvl-table-file-link class="g-px--15 g-py--10"
  [header]="tableHeader"
  [tableData]="tableData"
  [message]="tableMessage">
</bvl-table-file-link>

<bvl-pagination *ngIf="tableData?.length && totalPages > 1"
  customClass="pagination--invert"
  paginateByService="true"
  [totalPages]="totalPages"
  (emitChangePage)="pagination($event)">
</bvl-pagination>
