{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    {{#searchForm}}
      {{>organisms-Search-form}}
    {{/searchForm}}

    <div class="g-card-wrapper">

      {{#iconAndText}}
        {{>molecules-Icon-and-text-block}}
      {{/iconAndText}}

    </div>

  </main>
</div>
