<div class="main-app">

  <div class="g-loader">

    {{#loader}}
      {{>organisms-Loader-block}}
    {{/loader}}

  </div>

  <div class="container-fluid">

    <div class="row">
      <div class="col mt-xs-8">

        {{#formLogin}}
          {{>organisms-Login-block}}
        {{/formLogin}}
        
      </div>
    </div>

    {{#infoLogin}}
      <div class="row mt-xs-4 justify-content-center">

        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">

          <p class="g-fs-13 text-center">{{{text}}}</p>

        </div>

      </div>
    {{/infoLogin}}

  </div>

</div>