<section *ngIf="stocks" class="d-none d-lg-block g-site-realtime">
  <div class="container">
    <div class="content">
      <div class="stocks">
        <div class="list">
          <dl *ngFor="let element of stocks">
            <dt>{{ element.name }}</dt>
            <span>{{ element.value }}</span>
            <dt>
              <bvl-amount-cell [variation]="element.variation">
                ({{ element.variation | number:'1.2-2' }}%)
              </bvl-amount-cell>
            </dt>
          </dl>
        </div>
      </div>
      <footer *ngIf="footerLink">
        <a [attr.href]="footerLink.url"
            class="btn btn-bordered btn-xs">
            {{ footerLink.label }} <i class="icon-arrow-right last"></i>
        </a>
      </footer>
    </div>
  </div>
</section>

