@import "../../../../core/lib/src/styles/main.scss";

bvl-real-time {
  section.d-lg-block {
    min-height: 41px;
    background-color: $body-color;
    bottom: 0;
    box-shadow: 0 2px 9px 0px rgba(0, 0, 0, 0.7);
    color: $white;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 5;

    & > .container {
      position: absolute;
      height: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
    }

    .row {
      justify-content: center;
    }

    .content {
      display: flex;
      height: 100%;
    }

    header {
      padding: 1rem 1.7rem 1rem 0;
      position: relative;

      &::before {
        background-color: lighten($body-color, 2.5%);
        bottom: 0;
        content: '';
        left: -9999rem;
        position: absolute;
        right: 100%;
        top: 0;
      }

      h3 {
        font-family: $title-font;
        font-size: 1.31rem;
        font-weight: normal;
        margin: 0;
        text-transform: uppercase;
      }

      strong {
        display: block;
      }
    }

    .stocks {
      align-items: center;
      display: flex;
      flex: 1;
      font-weight: 700;
      overflow: hidden;
      position: relative;

      &::before,
      &::after {
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 40px;
        z-index: 1;
      }

      &::before {
        background: linear-gradient(to left, $transparent 25%, $body-color);
        left: 0;
      }

      &::after {
        background: linear-gradient(to left, $body-color, $transparent 75%);
        right: 0;
      }
    }

    bvl-amount-cell {
      display: inline-block;
    }

    .list {
      animation: marquee 35s linear infinite forwards;
      display: flex;
      width: 200%;
      padding: 0.15rem 0;
      white-space: nowrap;

      &:hover {
        animation-play-state: paused;
      }
    }

    dt {
      margin: 0 0.25em 0 1em;
      display: inline-block;
    }

    dd {
      margin-right: 1em;
      display: inline-block;
    }

    span {
      display: inline-block;
    }

    footer {
      align-items: center;
      display: flex;
      padding-left: 0.85rem;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(930px);
  }

  100% {
    transform: translateX(-66.6%);
  }
}
