<div class="container">
  <bvl-tabs [ga]="ga"
    class="g-site-content g-site-main-tabs">
    <bvl-tab title="Hechos de importancia">
      <div class="g-pb--15 g-mt--5">

        <bvl-important-facts></bvl-important-facts>

      </div>
    </bvl-tab>

    <bvl-tab title="Estados financieros">
      <div class="g-pb--15 g-mt--5">

        <bvl-financial-statements></bvl-financial-statements>

      </div>
    </bvl-tab>

    <bvl-tab title="Memorias">
      <div class="g-pb--15 g-mt--5">

        <bvl-memories></bvl-memories>

      </div>
    </bvl-tab>
  </bvl-tabs>
</div>
