<div [ngClass]="(verticalCentered) ? 's-form-center-vert' : 'w-100'">
  <div class="w-100">
    <div class="row" *ngIf="title">

      <div class="col">

        <bvl-section-header [title]="title"></bvl-section-header>

      </div>

    </div>

    <div class="row">

      <div class="col page-subsection first">

        {{ message }}

      </div>

    </div>

    <ng-content></ng-content>

  </div>
</div>