<section class="with-details-row onboarding-home-table">
  <div class="tables">
    <bvl-home-table-header
      [ga]="ga"
      (activeFilters)="onFilterChange($event)"
    ></bvl-home-table-header>

    <ng-container *ngIf="(tablesData | json) !== '[]'; else noData">
      <div class="tables-container tables-fit loaded">
        <ng-container *ngFor="let table of tablesData?.data">
          <article class="table-article scrolling-table">
            <div class="table-wrapper" [ngClass]="{ 'table-wrapper-details-open': table.metadata.expandedElement }">
              <table class="table-dark table">
                <thead>
                  <tr class="bvl-row">
                    <th [ngSwitch]="column.name"
                      *ngFor="let column of tableColumns; index as i">
                      <ng-container *ngSwitchCase="'inWatchlist'">
                        <i class="icon-watch"></i>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        {{ tableColumns[i].label }}
                        <button
                          type="button"
                          (click)="sortBy(tableColumns[i], table)"
                          class="btn btn-icon btn-sortBy"
                          [class.active]="table.metadata.sortedBy.column === tableColumns[i]">
                          <i class="icon-sort"></i>
                        </button>
                      </ng-container>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let element of table.entries._value; index as i">
                    <tr
                      class="bvl-row"
                      [ngClass]="{ 'selected-row': table.metadata.expandedElement && table.metadata.expandedElement.id === element.id }"
                      [style.cursor]="element.code !== 'XXX' ? 'pointer' : 'auto'"
                      ctrl="rowItem"
                      (domChange)="onDomChange($event, element)">
                      <td (click)="expandElement(element, table)">{{ element.name }}</td>
                      <td (click)="expandElement(element, table)" class="text-right">
                        {{element.currency.symbol}} {{ element.price }}
                      </td>
                      <td (click)="expandElement(element, table)">
                          <bvl-amount-cell [variation]="element.variation">
                            {{ element.variation | number }}%
                          </bvl-amount-cell>
                      </td>
                      <td (click)="expandElement(element, table)" class="text-right">{{element.currency.symbol}} {{ element.negotiatedAmount }}</td>
                      <td (click)="expandElement(element, table)">{{ element.operations }}</td>
                      <td>
                        <button
                          *ngIf="element.code !== 'XXX'"
                          class="btn btn-icon"
                          (click)="toggleInWatchList(element)"
                          ctrl="watchlist"
                          (domChange)="onDomChange($event, getLabelWatchList(element))">
                          <i [ngClass]="element.inWatchlist ? 'icon-minus-circle' : 'icon-add'" [style.color]="element.inWatchlist ? 'red' : ''"></i>
                        </button>
                      </td>
                    </tr>
                    <tr class="details-row">
                      <td
                        [attr.colspan]="tableColumns.length"
                        [ngClass]="{
                          expanded:
                            table.metadata.expandedElement &&
                            table.metadata.expandedElement.id === element.id
                        }"
                      >
                        <article
                          class="element-details"
                          [@detailExpand]="getAnimationState(element, table)"
                        >
                          <header>
                            <h3 class="title">{{ element.name }}</h3>
                            <button
                              class="btn btn-close"
                              (click)="table.metadata.expandedElement = null"
                            >
                              <span class="sr-only">Close</span>
                              <i class="icon-close"></i>
                            </button>
                          </header>
                          <div class="row no-gutters">
                            <div
                              [ngClass]="
                                tablesData.data.length === 1
                                  ? 'col-md-8'
                                  : 'col-md-12'
                              "
                            >
                              <div
                                [id]="'home-graphic-' + element.id"
                                class="graphic-wrapper"
                              ></div>
                            </div>
                            <div
                              [ngClass]="
                                tablesData.data.length === 1
                                  ? 'col-md-4'
                                  : 'col-md-12'
                              ">
                              <bvl-links-list
                                [ga]="ga"
                                [links]="element.links"
                              ></bvl-links-list>
                            </div>
                          </div>
                          <div
                            class="advice row no-gutters"
                            *ngIf="media.isActive('xs')"
                          >
                            <div class="col-6">
                              <h4>{{ TEXT.general.turnPhone }}</h4>
                            </div>
                            <i class="icon-close"></i>
                          </div>
                        </article>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </article>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <ng-template #noData>
    <div class="no-data">
      {{ TEXT.filters.noData }}
    </div>
  </ng-template>

  <footer>
    <ng-container *ngIf="completeData?.length > 0">
      <bvl-pagination
        [ga]="ga"
        [width]="'large'"
        [max]="maxRows"
        [totalPages]="getTotalPages()"
        [paginateByService]="true"
        (emitChangePage)="emitChangePage($event)">
      </bvl-pagination>
    </ng-container>
    <a [href]="getUrlViewAll()" class="btn btn-primary btn-sm"
    ctrl="button"
    (domChange)="onDomChange($event, { textLink: TEXT.general.viewAll })">{{ TEXT.general.viewAll }}</a>
  </footer>
</section>
