@import "../../../fancy-table/src/app/fancy-table.component.scss";

bvl-home-table {
  .table-dark {
    th {
      &:nth-child(2),
      &:nth-child(4) {
        text-align: right;
      }
    }
  }

  .table-wrapper {
    &-details-open {
      overflow-x: hidden;
    }
  }

  footer {
    position: relative;
    min-height: 70px;
    & > a {
      position: absolute;
      right: 18px;
      top: 18px;
    }

    @include media-breakpoint-down(xs) {
      text-align: center;
      & > a {
        position: static;
        margin-top: 15px;
      }
    }
  }
}
