<article [ngClass]="{'showing-actions': actionsShown}"
         class="entry-{{variant}}">
  <header>
    <h3>{{ entry.title }}</h3>

    <h4 *ngIf="entry.category">
      {{ entry.category.label }}
    </h4>

    <a
      *ngIf="entry.tags && entry.tags.length === 1"
      [attr.href]="entry.tags[0].url"
      [attr.title]="entry.tags[0].label"
      class="label">
      {{ entry.tags[0].label }}
    </a>

    <p *ngIf="(!entry.tags || entry.tags.length !== 1) && entry.author"
       class="label">
      {{ entry.author }}
    </p>

    <div *ngIf="entry.image" class="image-wrapper">
      <img [attr.src]="entry.image">
    </div>

    <button
      *ngIf="actions.length"
      type="button"
      class="btn btn-icon"
      (click)="showingActions()">
      <span class="sr-only">See actions</span>
      <i class="icon-contextual-menu"></i>
    </button>

  </header>
  <div class="content">
    <div class="files" *ngIf="entry.files">
      <ul>
        <li *ngFor="let title of entry.titles">
          {{ title.text }}
        </li>
      </ul>
      <p *ngIf="entry.subtitle" ellipsis>
        {{ entry.subtitle }}
      </p>
      <strong>{{ TEXT.general.viewDocument }}</strong>
      <br>
      <ng-container *ngFor="let file of entry.files">
        <ng-container *ngIf="entry.fileList">
          <div>
            <a target="_blank" [href]="file.url">
              <i [title]="file.url" class="icon-file"></i>
              <span>{{ file.title }}</span>
            </a>
          </div>
        </ng-container>
        <ng-container *ngIf="!entry.fileList">
          <a target="_blank" [href]="file.url">
            <i [title]="file.url" class="icon-file"></i>
          </a>
        </ng-container>
      </ng-container>
    </div>

    <p *ngIf="entry.description" ellipsis>
      {{ entry.description }}
    </p>

    <time *ngIf="entry.date">{{ entry.date | date : 'd MMMM y hh:mm a'}}</time>

    <div class="g-pt--10">
      <a *ngIf="!entry.files"
        ctrl="entryLink"
        (domChange)="onDomChange($event, { entryTitle: entry.title, entryLink: entry['text-link'] })"
        class="entry-link"
        target="_blank"
        [attr.href]="setUrl(entry.url)"
        [attr.title]="entry.title">
      </a>
    </div>

    <span *ngIf="entry['is-link'] == true" class="link">
      {{ entry['text-link'] }} <i class="icon-arrow-right"></i>
    </span>

  </div>

  <div *ngIf="actions.length" class="actions">
    <button
      *ngIf="canDo(entry.saved ? 'delete': 'save')"
      ctrl="entryAction" (domChange)="onDomChange($event, { entryTitle: entry.title, entryAction: (entry.saved) ? 'Eliminar' : 'Guardar' })"
      (click)="updateVideoState(entry)"
      class="btn">
        {{ entry.saved ? 'Eliminar' : 'Guardar' }}
    </button>
  </div>
</article>
