@import "../styles/main.scss";

bvl-entry {
  article {
    position: relative;
    height: 100%;
    header {
      .btn-icon {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        padding: 0.33em 0.5em;
        font-size: 1.3em;
        color: white;
        z-index: 2;
        line-height: 0;
      }
    }
    &:not(.showing-actions) .actions {
      opacity: 0;
      visibility: hidden;
    }
    h3 {
      margin: 0;
    }
    &.entry-basic {
      justify-content: center;
      display: flex;
      flex-direction: column;
      background-color: $body-color;
      color: white;
      padding: 1rem 1.5rem;
      line-height: 1.17;
      min-height: 11.75em;
      transition: background-color 0.3s ease;

      @include media-breakpoint-up(md) {
        padding: 1.5rem 3rem;
      }

      header {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        h3 {
          font-size: 1.08rem;
          font-weight: 700;
        }
      }
      .excerpt {
        max-height: 45px;
      }

      &:hover {
        background-color: $red;
      }
      .content {
        p {
          margin-bottom: 4px;
        }
      }
    }
    &.entry-default {
      border-radius: 5px 5px 0 0;
      background-color: white;
      overflow: hidden;
      header {
        color: white;
        min-height: 140px;
        background-color: $red;
        display: flex;
        position: relative;
        padding: 1.85em;
        align-items: center;
        h3 {
          font-family: $base-font;
          font-size: 1.769rem;
          font-weight: normal;
          line-height: 1.3;
          margin-bottom: 1.2rem;
          position: relative;
          z-index: 1;
        }
        h4 {
          margin: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          display: inline-block;
          font-size: 0.923rem;
          font-weight: 700;
          padding: 0.22em 0.83em;
          background-color: black;
          z-index: 2;
          line-height: inherit;
          font-family: $title-font;
          a {
            color: inherit;
          }
        }
        .label {
          position: absolute;
          color: white;
          top: 100%;
          left: 0;
          background-color: $dark-gray;
          z-index: 2;
          font-family: $title-font;
        }
        .image-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-color: rgba(black, 0.5);
          }
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
      .content {
        padding: 0.5em 1.85em 2em;
        .excerpt {
          height: 6.54em;
          overflow: hidden;
          margin-top: 2.5em;
          margin-bottom: 0;
        }
        time {
          font-weight: 700;
          font-size: 0.92em;
          margin-top: 1em;
          display: inline-block;
          font-family: $title-font;
        }
      }
    }
    .entry-link {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      z-index: 1;
    }
    .actions {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background-color: rgba(black, 0.83);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 1;
      transition: opacity 0.2s;
      .btn {
        background-color: transparent;
        color: white;
        font-weight: 500;
        padding: 0.33rem;
        margin-bottom: 0.33rem;
      }
      .btn-icon {
        font-size: 1.85rem;
        font-weight: normal;
        padding: 0.33rem;
        margin: 0 0.25rem;
      }
    }
    .files {
      ul {
        padding-left: 16px;
        li {
          list-style: disc;
          a {
            text-decoration: underline;
            color: #828282;
          }
        }
      }
      a {
        margin-right: 5px;
        font-size: 20px;
        color: #000;

        span {
          font-size: 13px;
          overflow: hidden;
          margin-left: 5px;
          white-space: nowrap;
        }
      }
    }
  }
}
