* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

body {
  &.site {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: $background-color;
    color: $body-color;
    font-family: $base-font;
    line-height: 1.69;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    width: 100%;
    transition: margin-top .3s ease;
  }
}

legend {
  display: table;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
}

blockquote {
  margin: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

a {
  color: $red1;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: darken($red1, 15%);
  }
}

p {
  margin: 0 0 1em;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  &:focus {
    outline: none;
  }
}
