@font-face {
  font-family: "formata";
  src: url("#{$font-path}/formata-regular.woff2") format("woff2"),
    url("#{$font-path}/formata-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "formata";
  src: url("#{$font-path}/formata-italic.woff2") format("woff2"),
    url("#{$font-path}/formata-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "formata";
  src: url("#{$font-path}/formata-medium.woff2") format("woff2"),
    url("#{$font-path}/formata-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "formata";
  src: url("#{$font-path}/formata-mediumitalic.woff2") format("woff2"),
    url("#{$font-path}/formata-mediumitalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "formata";
  src: url("#{$font-path}/formata-bold.woff2") format("woff2"), url("#{$font-path}/formata-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "formata";
  src: url("#{$font-path}/formata-bolditalic.woff2") format("woff2"),
    url("#{$font-path}/formata-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "avant-garde";
  src: url("#{$font-path}/avantGarde-medium.woff2") format("woff2"),
    url("#{$font-path}/avantGarde-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "avant-garde";
  src: url("#{$font-path}/avantGarde-bold.woff2") format("woff2"),
    url("#{$font-path}/avantGarde-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "lucida-grande";
  src: url("#{$font-path}/LucidaGrande-Bold.woff2") format("woff2"),
    url("#{$font-path}/LucidaGrande-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "lucida-grande";
  src: url("#{$font-path}/LucidaGrande.woff2") format("woff2"), url("#{$font-path}/LucidaGrande.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
