*:active,
*:focus {
  outline: none;
}

//color

.g-site-color--white {color: $white}
.g-site-color--black {color: $black}

.g-site-color--red1 {color: $red1}
.g-site-color--red2 {color: $red2}

.g-site-color--green1 {color: $green1}

.g-site-color--blue1 {color: $blue1}
.g-site-color--blue2 {color: $blue2}

.g-site-color--gray1 {color: $gray1}
.g-site-color--gray2 {color: $gray2}
.g-site-color--gray3 {color: $gray3}
.g-site-color--gray4 {color: $gray4}
.g-site-color--gray5 {color: $gray5}
.g-site-color--gray6 {color: $gray6}
.g-site-color--gray7 {color: $gray7}
.g-site-color--gray8 {color: $gray8}
.g-site-color--gray9 {color: $gray9}

//background

.g-site-bg--white {background: $white}
.g-site-bg--black {background: $black}

.g-site-bg--red1 {background: $red1}
.g-site-bg--red2 {background: $red2}

.g-site-bg--green1 {background: $green1}

.g-site-bg--blue1 {background: $blue1}
.g-site-bg--blue2 {background: $blue2}

.g-site-bg--gray1 {background: $gray1}
.g-site-bg--gray2 {background: $gray2}
.g-site-bg--gray3 {background: $gray3}
.g-site-bg--gray4 {background: $gray4}
.g-site-bg--gray5 {background: $gray5}
.g-site-bg--gray6 {background: $gray6}
.g-site-bg--gray7 {background: $gray7}
.g-site-bg--gray8 {background: $gray8}
.g-site-bg--gray9 {background: $gray9}

.g-p {

  $p-start: 0;
  $p-end: 20;

  @for $i from $p-start through $p-end {
    $number: 5 * $i;

    &--#{$number} {padding: $number * 1px !important}
    &t--#{$number} {padding-top: $number * 1px !important}
    &l--#{$number} {padding-left: $number * 1px !important}
    &r--#{$number} {padding-right: $number * 1px !important}
    &b--#{$number} {padding-bottom: $number * 1px !important}

    &x--#{$number} {
      padding-left: $number * 1px !important;
      padding-right: $number * 1px !important;
    }

    &y--#{$number} {
      padding-bottom: $number * 1px !important;
      padding-top: $number * 1px !important;
    }
  }

  @include media-breakpoint-up("sm") {
    @for $i from $p-start through $p-end {
      $number: 5 * $i;

      &-sm--#{$number} {padding: $number * 1px !important}
      &t-sm--#{$number} {padding-top: $number * 1px !important}
      &l-sm--#{$number} {padding-left: $number * 1px !important}
      &r-sm--#{$number} {padding-right: $number * 1px !important}
      &b-sm--#{$number} {padding-bottom: $number * 1px !important}

      &x-sm--#{$number} {
        padding-left: $number * 1px !important;
        padding-right: $number * 1px !important;
      }

      &y-sm--#{$number} {
        padding-bottom: $number * 1px !important;
        padding-top: $number * 1px !important;
      }
    }
  }

  @include media-breakpoint-up("md") {
    @for $i from $p-start through $p-end {
      $number: 5 * $i;

      &-md--#{$number} {padding: $number * 1px !important}
      &t-md--#{$number} {padding-top: $number * 1px !important}
      &l-md--#{$number} {padding-left: $number * 1px !important}
      &r-md--#{$number} {padding-right: $number * 1px !important}
      &b-md--#{$number} {padding-bottom: $number * 1px !important}

      &x-md--#{$number} {
        padding-left: $number * 1px !important;
        padding-right: $number * 1px !important;
      }

      &y-md--#{$number} {
        padding-bottom: $number * 1px !important;
        padding-top: $number * 1px !important;
      }
    }
  }

  @include media-breakpoint-up("lg") {
    @for $i from $p-start through $p-end {
      $number: 5 * $i;

      &-lg--#{$number} {padding: $number * 1px !important}
      &t-lg--#{$number} {padding-top: $number * 1px !important}
      &l-lg--#{$number} {padding-left: $number * 1px !important}
      &r-lg--#{$number} {padding-right: $number * 1px !important}
      &b-lg--#{$number} {padding-bottom: $number * 1px !important}

      &x-lg--#{$number} {
        padding-left: $number * 1px !important;
        padding-right: $number * 1px !important;
      }

      &y-lg--#{$number} {
        padding-bottom: $number * 1px !important;
        padding-top: $number * 1px !important;
      }
    }
  }

  @include media-breakpoint-up("xl") {
    @for $i from $p-start through $p-end {
      $number: 5 * $i;

      &-xl--#{$number} {padding: $number * 1px !important}
      &t-xl--#{$number} {padding-top: $number * 1px !important}
      &l-xl--#{$number} {padding-left: $number * 1px !important}
      &r-xl--#{$number} {padding-right: $number * 1px !important}
      &b-xl--#{$number} {padding-bottom: $number * 1px !important}

      &x-xl--#{$number} {
        padding-left: $number * 1px !important;
        padding-right: $number * 1px !important;
      }

      &y-xl--#{$number} {
        padding-bottom: $number * 1px !important;
        padding-top: $number * 1px !important;
      }
    }
  }
}

.g-m {

  $p-start: 0;
  $p-end: 20;

  @for $i from $p-start through $p-end {
    $number: 5 * $i;

    &--#{$number} {margin: $number * 1px !important}
    &t--#{$number} {margin-top: $number * 1px !important}
    &l--#{$number} {margin-left: $number * 1px !important}
    &r--#{$number} {margin-right: $number * 1px !important}
    &b--#{$number} {margin-bottom: $number * 1px !important}

    &x--#{$number} {
      margin-left: $number * 1px !important;
      margin-right: $number * 1px !important;
    }

    &y--#{$number} {
      margin-bottom: $number * 1px !important;
      margin-top: $number * 1px !important;
    }
  }

  @include media-breakpoint-up("sm") {
    @for $i from $p-start through $p-end {
      $number: 5 * $i;

      &-sm--#{$number} {margin: $number * 1px !important}
      &t-sm--#{$number} {margin-top: $number * 1px !important}
      &l-sm--#{$number} {margin-left: $number * 1px !important}
      &r-sm--#{$number} {margin-right: $number * 1px !important}
      &b-sm--#{$number} {margin-bottom: $number * 1px !important}

      &x-sm--#{$number} {
        margin-left: $number * 1px !important;
        margin-right: $number * 1px !important;
      }

      &y-sm--#{$number} {
        margin-bottom: $number * 1px !important;
        margin-top: $number * 1px !important;
      }
    }
  }

  @include media-breakpoint-up("md") {
    @for $i from $p-start through $p-end {
      $number: 5 * $i;

      &-md--#{$number} {margin: $number * 1px !important}
      &t-md--#{$number} {margin-top: $number * 1px !important}
      &l-md--#{$number} {margin-left: $number * 1px !important}
      &r-md--#{$number} {margin-right: $number * 1px !important}
      &b-md--#{$number} {margin-bottom: $number * 1px !important}

      &x-md--#{$number} {
        margin-left: $number * 1px !important;
        margin-right: $number * 1px !important;
      }

      &y-md--#{$number} {
        margin-bottom: $number * 1px !important;
        margin-top: $number * 1px !important;
      }
    }
  }

  @include media-breakpoint-up("lg") {
    @for $i from $p-start through $p-end {
      $number: 5 * $i;

      &-lg--#{$number} {margin: $number * 1px !important}
      &t-lg--#{$number} {margin-top: $number * 1px !important}
      &l-lg--#{$number} {margin-left: $number * 1px !important}
      &r-lg--#{$number} {margin-right: $number * 1px !important}
      &b-lg--#{$number} {margin-bottom: $number * 1px !important}

      &x-lg--#{$number} {
        margin-left: $number * 1px !important;
        margin-right: $number * 1px !important;
      }

      &y-lg--#{$number} {
        margin-bottom: $number * 1px !important;
        margin-top: $number * 1px !important;
      }
    }
  }

  @include media-breakpoint-up("xl") {
    @for $i from $p-start through $p-end {
      $number: 5 * $i;

      &-xl--#{$number} {margin: $number * 1px !important}
      &t-xl--#{$number} {margin-top: $number * 1px !important}
      &l-xl--#{$number} {margin-left: $number * 1px !important}
      &r-xl--#{$number} {margin-right: $number * 1px !important}
      &b-xl--#{$number} {margin-bottom: $number * 1px !important}

      &x-xl--#{$number} {
        margin-left: $number * 1px !important;
        margin-right: $number * 1px !important;
      }

      &y-xl--#{$number} {
        margin-bottom: $number * 1px !important;
        margin-top: $number * 1px !important;
      }
    }
  }
}

// Font Size
$f-start: 9;
$f-end: 60;

@for $i from $f-start through $f-end {
  .g-fs--#{$i} {
    font-size: #{$i * 1px} !important;
  }
}

@include media-breakpoint-up("sm") {
  @for $i from $f-start through $f-end {
    .g-fs-sm--#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@include media-breakpoint-up("md") {
  @for $i from $f-start through $f-end {
    .g-fs-md--#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@include media-breakpoint-up("lg") {
  @for $i from $f-start through $f-end {
    .g-fs-lg--#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@include media-breakpoint-up("xl") {
  @for $i from $f-start through $f-end {
    .g-fs-xl--#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

// Font Weight
@each $font-weight in map-keys($font-weights) {
  .g-#{$font-weight} {
    font-weight: map-get($font-weights, $font-weight);
  }
}

// Font Style
@each $font-style in map-keys($font-styles) {
  .g-#{$font-style} {
    font-style: map-get($font-styles, $font-style);
  }
}

// Text Transform
.g-text {
  &--uppercase {
    text-transform: uppercase;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--none {
    text-transform: none;
  }

  &--through {
    text-decoration: line-through;
  }
}

@mixin fancyScrollbar($thumbColor, $trackColor) {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-track-piece {
    background: darken($trackColor, 5%);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border-radius: 4px;
  }
}
