.container {
  @include make-container();
  @include make-container-max-widths();
}

.row {
  @include make-row();
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@include make-grid-columns();
