.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.m-0 {
  margin: 0px !important;
}
.p-0 {
  padding: 0px !important;
}
.pt-0 {
  padding-top: 0px !important;
}
.pb-0 {
  padding-bottom: 0px !important;
}
.pb-4 {
  padding-bottom: 40px !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.border-right-grey {
  border-right: 1px solid #e8e8e8;
}
