
@font-face {
  font-family: '#{$icon-font-family}';
  src:
    url('#{$font-path}/icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-flickr {
  &:before {
    content: $icon-flickr;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-question {
  &:before {
    content: $icon-question;
  }
}
.icon-file1 {
  &:before {
    content: $icon-file1;
  }
}
.icon-download-archive {
  &:before {
    content: $icon-download-archive;
  }
}
.icon-file-down-border {
  &:before {
    content: $icon-file-down-border;
  }
}
.icon-file-down-border-out {
  &:before {
    content: $icon-file-down-border-out;
  }
}
.icon-file-down-out {
  &:before {
    content: $icon-file-down-out;
  }
}
.icon-file-down {
  &:before {
    content: $icon-file-down;
  }
}
.icon-file {
  &:before {
    content: $icon-file;
  }
}
.icon-file-out {
  &:before {
    content: $icon-file-out;
  }
}
.icon-success {
  &:before {
    content: $icon-success;
  }
}
.icon-success-out {
  &:before {
    content: $icon-success-out;
  }
}
.icon-spinner {
  &:before {
    content: $icon-spinner;
  }
}
.icon-map-marker {
  &:before {
    content: $icon-map-marker;
  }
}
.icon-map-marker-solid {
  &:before {
    content: $icon-map-marker-solid;
  }
}
.icon-cerrar {
  &:before {
    content: $icon-cerrar;
  }
}
.icon-cerrar {
  &:before {
    content: $icon-cerrar;
  }
}
.icon-alert {
  &:before {
    content: $icon-alert;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-bar-chart {
  &:before {
    content: $icon-bar-chart;
  }
}
.icon-camera {
  &:before {
    content: $icon-camera;
  }
}
.icon-download-h {
  &:before {
    content: $icon-download-h;
  }
}
.icon-progress-graph {
  &:before {
    content: $icon-progress-graph;
  }
}
.icon-simple-arrow-down {
  &:before {
    content: $icon-simple-arrow-down;
  }
}
.icon-simple-arrow-left {
  &:before {
    content: $icon-simple-arrow-left;
  }
}
.icon-simple-arrow-right {
  &:before {
    content: $icon-simple-arrow-right;
  }
}
.icon-simple-arrow-top {
  &:before {
    content: $icon-simple-arrow-top;
  }
}
.icon-phone-rotation {
  &:before {
    content: $icon-phone-rotation;
  }
}
.icon-dot {
  &:before {
    content: $icon-dot;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-close-circle {
  &:before {
    content: $icon-close-circle;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-sort {
  &:before {
    content: $icon-sort;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-thin-arrow-right {
  &:before {
    content: $icon-thin-arrow-right;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-alarm {
  &:before {
    content: $icon-alarm;
  }
}
.icon-timer {
  &:before {
    content: $icon-timer;
  }
}
.icon-contextual-menu {
  &:before {
    content: $icon-contextual-menu;
  }
}
.icon-align-left {
  &:before {
    content: $icon-align-left;
  }
}
.icon-open {
  &:before {
    content: $icon-open;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-podcast {
  &:before {
    content: $icon-podcast;
  }
}
.icon-quotes-close {
  &:before {
    content: $icon-quotes-close;
  }
}
.icon-quotes-open {
  &:before {
    content: $icon-quotes-open;
  }
}
.icon-twitter-filled {
  &:before {
    content: $icon-twitter-filled;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-upvote {
  &:before {
    content: $icon-upvote;
  }
}
.icon-downvote {
  &:before {
    content: $icon-downvote;
  }
}
.icon-watch {
  &:before {
    content: $icon-watch;
  }
}
.icon-logo {
  &:before {
    content: $icon-logo;
  }
}
.icon-expand {
  &:before {
    content: $icon-expand;
  }
}
.icon-contract {
  &:before {
    content: $icon-contract;
  }
}
.icon-writing {
  &:before {
    content: $icon-writing;
  }
}
