<div class="g-admin-login-block clearfix">
  <form [formGroup]="frmLogin">

    <div class="row mb-xs-4">
      <div class="col-12">

          <div class="g-admin-brand g-block-center">
            <img src="{{ IMAGES?.logoBvl?.src }}" alt="{{ IMAGES?.logoBvl?.alt }}">
          </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-xs-1">
        <bvl-input type="text"
          name="nInputText"
          [placeholder]="LOGIN_LANG.labels.user"
          formControlName="username"
          [error]="validateControl('username')">
        </bvl-input>
      </div>
      <div class="col-12 mb-xs-1">
        <bvl-input type="password"
          name="nInputPassword"
          [placeholder]="LOGIN_LANG.labels.password"
          formControlName="password"
          [error]="validateControl('password')">
        </bvl-input>
      </div>
      <div class="col-12">
        <bvl-switch formControlName="rememberUser">
          {{ LOGIN_LANG?.labels?.rememberUser }}
        </bvl-switch>
      </div>
    </div>

    <div class="row mt-xs-4">
      <div class="col-12">
        <button bvl-button
                block
                (click)="login()">
          <span>{{ LOGIN_LANG?.buttons?.enter }}</span>
          <span class="g-icon g-icon-right"></span>
        </button>
      </div>
    </div>

    <div *ngIf="invalidUser"
        class="row mt-xs-1">
      <div class="col">
        <bvl-alert-error>{{ LOGIN_LANG?.messages?.invalidUser }}</bvl-alert-error>
      </div>
    </div>

  </form>
</div>