.g-acordion {
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-component {
      .g-acordion-list {
        &-item {
          background-color: $c-gray7;

          &.active {
            .g-acordion-list-header {
              &:before {
                content: "\f131";
              }
            }
          }
        }

        &-header {
          &:before {
            content: "\f131";
          }
        }
      }
    }

    &-sidebar {
      .g-acordion-list {
        &-item {
          &.active {
            .g-acordion-list {
              &-header {
                &:before {
                  content: none;
                }
              }

              &-body {
                padding: 20px 15px 10px;
              }
            }
          }
        }

        &-header {
          background-color: $c-gray5;
          padding: 15px 25px;
          border-radius: 0;

          i {
            font-size: $font-20;
            vertical-align: middle;
            margin-right: 8px;
          }

          &:before {
            content: none;
          }
        }

        &-body {
          display: flex;
          justify-content: space-between;
          align-content: flex-start;
          flex-wrap: wrap;
          padding: 0 15px;
        }
      }
    }

    &-item {
      display: block;
      background: $c-gray6;
      margin-bottom: 10px;
      @include prefix(border-radius, 5px);
      @include prefix(box-shadow, $box-shadow2);

      &.active {
        .g-acordion-list-header {
          @include prefix(box-shadow, $box-shadow-button2);

          &:before {
            content: "\f200";
          }

          &:after {
            content: "\f113";
          }
        }

        .g-acordion-list-body {
          padding: 20px 30px;

          .g-card {
            opacity: 1;
            transition: opacity .3s ease .2s;
          }
        }
      }
    }

    &-header {
      position: relative;
      display: flex;
      align-items: center;
      color: $c-gray1 !important;
      background-color: $c-white;
      font-weight: $fw-bold;
      padding: 20px 25px;
      @include prefix(border-radius, 5px);

      &:before {
        content: "\f1ff";
        @extend %pseudo-icon;
        font-size: $font-20;
        vertical-align: middle;
        margin-right: 8px;
      }

      &:after {
        position: absolute;
        top: 50%;
        right: 25px;
        content: "\f110";
        color: $c-red1;
        @extend %pseudo-icon;
        font-size: $font-17;
        transform: translateY(-50%);
      }
    }

    &-body {
      list-style: none;
      padding: 0 30px;
      margin: 0;
      transition: $tr-3-ease ;

      .g-card {
        box-shadow: none;
        opacity: 0;
        transition: opacity .2s ease 0s;
      }
    }
  }
}
