body {
  color: $c-gray1;
  font-size: $font-15;
  font-weight: $fw-normal;
  font-family: $font-family;
  line-height: 1.2;
  background-color: $c-gray6 !important;
  .main-app {
    width: 100%;
    display: flex;
    position: relative;
    min-height: 100vh;
    .g-content-wrapper {
      order: 2;
      width: 100%;
      position: relative;
      padding: 25px 30px;
      overflow: hidden;
    }
  }
}
a {
  color: inherit;
  &:hover, &:focus, &:link, &:visited {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: $fw-bold;
}
h1 {
  font-size: $font-30
}
h2 {
  font-size: $font-24
}
h3 {
  font-size: $font-20
}
h4 {
  font-size: $font-17
}
h5 {
  font-size: $font-14
}
h6 {
  font-size: $font-13
}
p {
  margin-top: 0;
  margin-bottom: 5px;
}
input, button {
  outline: none;
}
