.g-breadcrumb {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 3px 0;

  li {
    color: $c-red1;
    font-size: $font-12;
    white-space: nowrap;
    font-weight: $fw-normal;

    &:after {
      content: "\f112";
      @extend %pseudo-icon;
      font-size: $font-15;
      margin-left: 3px;
      vertical-align: bottom;
    }

    + li {
      margin-left: 3px;
    }
  }
}
