.g-btn {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 14px 30px;
  font-family: inherit;
  font-weight: $fw-medium;
  border-radius: 7px;
  transition: $tr-3-ease;

  &-icon {
    padding: 13px 13px 12px;

    i {
      font-size: $font-20;
    }
  }

  &-with-icon {
    padding-left: 50px !important;
    padding-right: 50px !important;

    i {
      top: 35%;
      right: 25px;
      position: absolute;
      @include prefix(transition, all 0.3s ease);
    }

    &:hover {
      i {
        right: 18px;
      }
    }
  }

  &-login {
    width: 100%;
  }

  &-primary {
    color: $c-white;
    background-color: $c-red1;
    @include prefix(box-shadow, inset 0 3px 0 0 lighten($c-red1, 20%));
    &:hover {
      background-color: darken($c-red1, 5%);
    }
  }

  &-green {
    color: $c-white;
    background-color: $c-green1;
    @include prefix(box-shadow, inset 0 3px 0 0 lighten($c-green1, 20%));
    &:hover {
      background-color: darken($c-green1, 5%);
    }
  }

  &-gray {
    color: $c-white;
    background-color: $c-gray2;
    @include prefix(box-shadow, inset 0 3px 0 0 lighten($c-gray2, 20%));
    &:hover {
      background-color: darken($c-gray2, 5%);
    }
  }

  &-transparent {
    color: $c-white;
    background-color: $c-transparent;

    &:hover {
      color: $c-white;
      background-color: $c-transparent;
    }
  }

  &-outline {
    color: $c-red1;
    padding: 12px 30px;
    border: 2px solid $c-red1;
    background-color: $c-transparent;
    &:hover {
      color: $c-white;
      border: 2px solid $c-red1;
      background-color: $c-red1;
    }
  }

  &-create {
    padding: 20px;
    color: inherit;
    text-transform: uppercase;
    border: 2px dotted $c-gray2;
    background-color: $c-transparent;
    &:hover {
      opacity: .6;
    }
  }

  &-square {
    min-width: 66px;
    min-height: 54px;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px 10px;
    color: $c-gray1;
    background-color: $c-gray6;
    @include prefix(border-radius, 5px);

    span {
      font-size: $font-12;
      font-weight: $fw-normal;
      text-transform: none;
    }

    i {
      position: static !important;
      font-size: $font-20;
      margin-bottom: 3px;
    }

    &-danger {
      color: $c-red1;
    }

    &-primary {
      min-width: 100px;
      background-color: $c-red1;
      color: $c-white;
      border-radius: 0;
    }

    &:hover {
      opacity: .6;
    }
  }

  &-circle {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: $c-white;
    background-color: $c-red1;
    @include prefix(border-radius, 50%);

    i {
      position: static !important;
      font-size: $font-20;
    }

    &:hover {
      background-color: darken($c-red1, 5%);
    }

    &.invert {
      background-color: transparent;
      color: $c-red1;

      &:hover {
        color: darken($c-red1, 5%);
      }
    }
  }

  &-dropdown {
    position: relative;
    font-size: $font-15;
    border: 1px solid $c-transparent;
    padding: 12px 15px;
    cursor: pointer;

    .g-block {
      > i {
        position: absolute;
        right: 15px;
        top: 50%;
        color: $c-red1;
        pointer-events: none;
        transform: translateY(-50%);
      }
    }

    .g-options-list {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 1000;
    }

    &.active {
      .g-options-list {
        display: block;
      }
    }
  }

  &-group {
    display: inline-flex;
    background-color: $c-white;
    border: 1px solid $c-gray4;
    border-radius: 5px;
    padding: 3px;

    input {
      display: none;

      &:checked {
        + .button {
          background-color: $c-gray4;
        }
      }
    }

    .button {
      display: block;
      background-color: $c-white;
      margin: 0;
      padding: 8px 10px;
      transition: $tr-3-ease;
      border-radius: 3px;

      &:hover {
        background-color: $c-gray6;
      }

      i {
        font-size: $font-20;
      }
    }

    .g-btn {
      border-radius: 0;
      padding: 8px 10px 7px;

      span {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $c-white;
        background-color: $c-red1;
        font-size: $font-10;
        border-radius: 100%;
      }

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
  }

  &-close {
    appearance: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-white;
    background-color: $c-red1;
    border: none;
    border-radius: 5px;
    padding: 0;
    transition: $tr-3-ease;
    cursor: pointer;

    i {
      font-size: $font-14;
    }

    &:hover {
      background-color: darken($c-red1, 10%);
    }
  }

  &-disabled {
    background-color: $c-gray2;
    @include prefix(box-shadow, none);
    cursor: not-allowed;

    &:hover {
      background-color: $c-gray2;
    }
  }

  &-iconLeft {
    i {
      left: 25px;
      right: 100% !important;
    }
    &:hover {
      i {
        left: 18px;
      }
    }
  }
}

.g-link {
  display: inline-flex;
  align-items: center;
  color: $c-green4;
  font-size: $font-13;
  font-weight: $fw-bold;

  &-icon {
    i {
      font-size: $font-20;
      margin: 0 3px;
    }
  }

  &:link {
    color: $c-green4;
  }

  &:hover {
    color: darken($c-green4, 5%);
  }

  &-red {
    color: $c-red1;

    &:link {
      color: $c-red1;
    }

    &:hover {
      color: darken($c-red1, 5%);
    }
  }

  &-gray {
    color: $c-gray1;

    &:link {
      color: $c-gray1;
    }

    &:hover {
      color: darken($c-gray1, 10%);
    }
  }
}
