.g-datepicker {
  position: relative;
  font-size: $font-15;
  border: 1px solid $c-transparent;
  padding: 12px 15px;
  cursor: pointer;

  input {
    display: inline-block;
    width: 100%;
    border: 0;
    padding-left: 25px;
    cursor: pointer;
  }

  > span, > i {
    position: absolute;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
  }

  > span {
    left: 15px;
  }

  >  i {
    right: 15px;
    color: $c-red1;
  }

  .dropdown-menu {
    top: 100% !important;
    left: inherit !important;
    right: 0;
    background-color: $c-white;
    border: 0;
    padding: 10px !important;
    transform: translate(0, 0) !important;
    box-shadow: 0 4px 16px 0 rgba($c-gray2, .4);
    z-index: 1;

    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: -7px;
      right: 17px;
      border-left: 7px solid $c-transparent;
      border-right: 7px solid $c-transparent;
      border-bottom: 7px solid $c-white;
    }

    .ngb-dp-header {
      background-color: $c-gray5;
      padding: 6px;
      border-radius: 3px;

      .custom-select {
        border: 0;

        + .custom-select {
          margin-left: 5px;
        }
      }

      .ngb-dp-arrow-btn {
        color: $c-gray1;

        &:hover {
          color: $c-red1;
        }
      }
    }

    .ngb-dp-months {
      padding: 20px 10px 10px;
    }

    .ngb-dp-weekdays {
      background-color: $c-transparent !important;
      border: 0;
    }

    .ngb-dp-weekday {
      color: $c-gray1;
      font-size: $font-13;
      font-weight: $fw-medium;
      font-style: normal;
    }

    [ngbDatepickerDayView] {
      font-size: $font-13;
      border-radius: 50%;

      &:hover {
        background-color: $c-gray5;
      }
    }

    .bg-primary {
      background-color: $c-red1 !important;
    }
  }
}
