// Font Size
$f-start: 9;
$f-end: 60;

@for $i from $f-start through $f-end {
  .g-fs-#{$i} {
    font-size: #{$i * 1px} !important;
  }
}

@media (min-width: $break-small) {
  @for $i from $f-start through $f-end {
    .g-fs-sm-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@media (min-width: $break-medium) {
  @for $i from $f-start through $f-end {
    .g-fs-md-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@media (min-width: $break-large) {
  @for $i from $f-start through $f-end {
    .g-fs-lg-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

@media (min-width: $break-xlarge) {
  @for $i from $f-start through $f-end {
    .g-fs-xl-#{$i} {
      font-size: #{$i * 1px} !important;
    }
  }
}

// Font Weight
@each $font-weight in map-keys($font-weights) {
  .g-#{$font-weight} {
    font-weight: map-get($font-weights, $font-weight);
  }
}

// Text Transform
.g-text-uppercase { text-transform: uppercase }

.g-text-lowercase { text-transform: lowercase }

.g-text-none { text-transform: none }

// Headings
.g-heading {
  &-1 {
    position: relative;
    font-size: $font-20;
    margin-bottom: 25px;

    &:before {
      content: "";
      width: 30px;
      height: 2px;
      position: absolute;
      bottom: -10px;
      left: 0;
      background-color: $c-red1;
    }
  }

  &-2 {
    position: relative;
    font-size: $font-15;
    margin-bottom: 20px;

    &:before {
      content: "";
      width: 30px;
      height: 2px;
      position: absolute;
      bottom: -6px;
      left: 0;
      background-color: $c-red1;
    }
  }
}

.g-subheading-section {
  display: flex;
  align-items: center;
  font-size: $font-15;
  font-weight: $fw-normal;
  text-transform: uppercase;

  span {
    font-size: $font-13;
    font-weight: $fw-bold;
    margin-left: 5px;
  }
}
