@import './utility';
@import './colors';
@import './font';

* {
  outline: none !important;
}

body {
  min-width: 1200px;
}

a,
a:link {
  color: $c-blue1;
}

a {
  &:hover {
    color: darken($c-blue1, 10%);
  }
}

label {
  display: block;
  margin: 0;
}

// Container
.g-container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// Full Width
.g-block {
  width: 100%;
  display: block;
}

// Block Center
.g-block-center {
  display: block;
  margin: 0 auto;
}

// Cursor Pointer
.g-cursor-pointer {
  cursor: pointer;
}

// Borders
@each $alias, $type in (line, solid), (dotted, dotted), (double, double), (dashed, dashed) {
  .g-b-#{$alias} {
    border: 1px #{$type} $c-gray1 !important;
  }
}

@each $prefijo, $position in (t, top), (b, bottom), (l, left), (r, right) {
  @each $alias, $type in (line, solid), (dotted, dotted), (double, double), (dashed, dashed) {
    .g-b#{$prefijo}-#{$alias} {
      border-#{$position}: 1px #{$type} $c-gray5 !important;
    }
  }
}

// Border color
@each $color in map-keys($colors) {
  .g-bc-#{$color} {
    border-color: map-get($colors, $color) !important;
  }
}

// Border Style
@each $type in (solid), (dotted), (double), (dashed) {
  .g-border-#{$type} {
    border: 2px #{$type} $c-gray1 !important;
  }
}

// Line Heigth
.g-lh-1 {
  line-height: 1;
}

// Overflow
.g-overflow-y-auto {
  overflow-y: auto;
}

.g-overflow-x-auto {
  overflow-x: auto;
}

.g-overflow-hidden {
  overflow: hidden;
}

// Aplicar Box Shadow
.g-box-shadow1 {
  @include prefix(box-shadow, $box-shadow1);
}
.g-box-shadow2 {
  @include prefix(box-shadow, $box-shadow2);
}
.g-box-shadow-none {
  @include prefix(box-shadow, none !important);
}

// Wrapper
.g-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

// Main
.g-main {
  min-width: calc(100% - 80px);
  max-width: calc(100% - 80px);
  min-height: calc(100vh - 80px);
  background-color: $c-gray6;
  padding: 0;
  transition: $tr-2-ease-out .1s;

  &-full {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
  }

  &-static {
    min-width: calc(100% - 265px);
    max-width: calc(100% - 265px);
  }
}

// Photo profile
.g-photo-profile, .g-circle-profile {
  width: 51px;
  height: 51px;
  overflow: hidden;
  background-color: $c-gray5;
  border: 2px solid $c-white;
  @include prefix(border-radius, 50%);

  img {
    max-width: 100%;
    min-height: 100%;
  }
}

.g-circle-profile {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  span {
    text-align: center;
    font-size: $font-24;
    font-weight: $fw-light;
  }
}

// Hr
.g-hr {
  color: $c-transparent;
  border-color: $c-transparent;
  border-top: 1px solid $c-gray5;
  margin: 0;
}

// Sender name
.g-sender-name {
  font-size: $font-14;
  margin-bottom: 0;

  span {
    display: block;
    font-size: $font-12;
    font-weight: $fw-normal;
  }

  &-img {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .g-sender-name {
      margin-left: 5px;
    }
  }
}

// Info With Icon
.g-info-w-icon {
  display: inline-flex;
  align-items: center;
  color: $c-gray1;
  font-size: $font-15;

  i {
    color: $c-gray1;
    font-size: $font-20;
    margin-right: 3px;
  }
}

// Options List
.g-options {
  &-list {
    position: relative;
    min-width: 175px;
    background-color: $c-white;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 4px 16px 0 rgba($c-gray2, .4);
    transition: $tr-3-ease;

    li {
      position: relative;

      + li {
        border-top: 1px solid $c-gray6;
      }
    }

    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: -7px;
      right: 17px;
      border-left: 7px solid $c-transparent;
      border-right: 7px solid $c-transparent;
      border-bottom: 7px solid $c-white;
    }

    &-checkbox {
      li {
        padding: 16px 15px;

        .g-checkbox {
          width: 100%;
          font-size: $font-13;
          font-weight: $fw-medium;
          letter-spacing: .087em;
          white-space: nowrap;
        }
      }
    }
  }
}

// Circle Info
.g-circle-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-gray6;
  border-radius: 50%;

  i {
    font-size: $font-30;
    color: $c-gray1;
  }
}

// Disabled state
.g-disabled {
  position: relative;
  opacity: .35;
  pointer-events: none;
  cursor: not-allowed;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// Items in columns
.g-row {
  display: flex;
  flex-wrap: wrap;

  .g-col-50 {
    width: 50%;
  }
}

// Editor
.g-editor {
  &-header {
    position: relative;
    background-color: $c-white;
    padding: 0 15px;
    box-shadow: $box-shadow2;

    &-buttons {
      padding: 3px;

      .g-btn-square {
        margin-left: 3px;
      }
    }
  }

  &-form {
    &-header {
      border-bottom: 10px solid $c-gray1;
    }

    &-title {
      display: inline-block;
      background-color: $c-gray1;
      text-align: center;
      border-radius: 5px 5px 0 0;
      padding: 15px 40px 5px;

      h3 {
        margin-bottom: 0;
        font-weight: $fw-bold;
        font-size: $font-15;
        color: $c-white;
      }
    }

    &-body {
      display: block;
      background-color: $c-gray5;
      padding: 20px;
      border-radius: 0 0 5px 5px;
    }
  }
}

// Component Wrapper
.g-component {
  &-wrapper {
    position: relative;
    display: block;

    &:hover {

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $c-transparent;
        cursor: pointer;
        z-index: 1;
      }

      .g-component-edit {
        opacity: 1;
        visibility: visible;
        pointer-events: inherit;
        transform: translate(-50%, 15px);
        transition: transform .4s ease-in 0s, opacity .3s ease-in .2s;
        z-index: 2;
      }
    }

    &-empty {
      background-color: $c-gray5;
      border-radius: 5px;
      border: 1px solid $c-gray5;
    }

    &-drag {
      border: 1px dashed $c-gray2;
      transition: $tr-3-ease;
    }
  }

  &-edit {
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 0;
    transform: translate(-50%, 54px);
    transition: transform .3s ease-out 0s, opacity .1s ease-out 0s;
  }
}

// Template select
.g-template-select {
  background-color: $c-gray5;
  border-radius: 5px;
  padding: 20px;

  &-img {
    max-height: 300px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;

    &:hover {
      .g-template-select-overlay {
        background-color: rgba($c-black, .8);
        transition: $tr-3-ease 0s;

        .g-btn {
          opacity: 1;
          transition: opacity .3s ease-in .2s;
        }
      }
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba($c-black, 0);
    border-radius: 5px;
    transition: $tr-3-ease .1s;

    .g-btn {
      opacity: 0;
      transition: opacity .3s ease-out 0s;
    }
  }
}

// Restored
.g-restored {
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid $c-gray2;
    }
  }

  &-preview {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.g-drag-icon {
  width: 105px;
  background-color: $c-white;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid $c-gray4;
  overflow: hidden;
  cursor: move;

  &-header, &-body {
    pointer-events: none;
  }

  &-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $c-gray5;
    height: 60px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-body {
    line-height: 1;
    padding: 5px 10px;
    min-height: 55px;
  }
}

// Site layout
.page-section {
  padding-top: 40px;
  padding-bottom: 40px;

  &.dark {
    background-color: $c-gray10;
    color: $c-white;
  }

  &.white {
    background-color: $c-white;
  }

  &.gray {
    background-color: $c-gray9;
  }
}

.details-main {
  padding: 40px;
  background-color: $c-white;
  border-radius: 6px;
  overflow-x: hidden;

  @media (max-width: $break-medium) {
    padding: 24px 15px;
    border-radius: 0;
  }
}

.g-height-100 {
  height: 100px;
}

// Sticky
.sticky-top {
  position: sticky;
  top: 0;

  &-sidebar {
    max-height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0px;
    @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
  }
}

@import './inputs';
@import './selects';
@import './textarea';
@import './forms';
@import './buttons';
@import './alerts';
@import './header';
@import './sidebar';
@import './login';
@import './acordions';
@import './tabs';
@import './modals';
@import './card';
@import './badge';
@import './notifications';
@import './breadcrumb';
@import './pagination';
@import './loader';
@import './images';
@import './datepicker';
