.g-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $c-gray11;

  .g-brand {
    width: 235px;
    padding: 10px;

    img {
      max-height: 60px;
    }
  }

  .g-profile {
    height: 80px;
  }

  &-editor {
    .g-brand {
      img {
        max-height: 30px;
      }
    }

    .g-profile {
      height: 50px;

      &-info {
        i {
          width: 30px;
          height: 30px;
          font-size: $font-24;
        }
      }
    }
  }
}

// Image brand
.g-brand {
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

// Profile info block
.g-profile {
  display: flex;

  &-info, &-logout {
    display: flex;
    align-items: center;
    color: $c-white;
    padding: 10px 30px;
  }

  &-info {
    i {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $c-red1;
      font-size: $font-26;
      border-radius: 50%;
      margin-right: 10px;
    }
    span {
      font-size: $font-13;

      strong {
        display: block;
        font-size: $font-15;
      }
    }
  }

  &-logout {
    justify-content: center;
    border-left: 1px solid $c-gray1;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $c-white;;
      font-size: $font-13;
      font-weight: $fw-bold;
      transition: $tr-3-ease;

      i {
        font-size: $font-20;
        margin-right: 5px;
      }

      &:link {
        color: $c-white;
      }

      &:hover {
        color: $c-red1;
      }
    }
  }
}
