.g-img {
  &-preview {
    position: relative;
    width: 260px;
    height: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $c-gray4;
    border: 1px solid $c-transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: $tr-3-ease;

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        font-size: $font-60;
      }

      span {
        font-size: $font-15;
        text-align: center;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      transition: $tr-3-ease;
    }

    .g-btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &-select {
      width: 94px;
      height: 94px;
      margin-right: 15px;
      margin-bottom: 15px;

      .g-img-preview-icon {

        i {
          font-size: 50px;
          margin-bottom: 8px;
        }

      }

      .g-checkbox, .g-radio {
        position: absolute;
        top: 9px;
        left: 9px;
      }
    }

    &:hover {
      background-color: $c-gray5;

      .g-img-preview-img {
        opacity: .75;
      }
    }
  }

  &-full {
    display: block;
    width: 100%;
  }

  &-fluid {
    height: auto;
    max-width: 100%;
  }

  &-border {
    border-radius: 5px;
  }
}
