.g-input {
  width: 100%;
  color: $c-gray1;
  padding: 13px 20px;
  font-size: $font-15;
  margin-bottom: 10px;
  font-family: $font-family;
  border: 1px solid $c-gray4;
  background-color: $c-white;

  &-error {
    border-color: $c-red1 !important;
  }

  &-password {
    position: relative;

    span {
      top: 12px;
      z-index: 1;
      right: 20px;
      position: absolute;
    }
  }

  &-search {
    position: relative;

    i {
      position: absolute;
      top: 50%;
      left: 15px;
      font-size: $font-20;
      transform: translateY(-50%);
      z-index: 2;
    }

    .g-input {
      margin-bottom: 0;
      padding: 13px 20px 13px 40px;
    }
  }

  &-invisible {
    background-color: $c-transparent;
    border-color: $c-transparent;
  }

  &-autocomplete {
    position: relative;

    &-search, &-close {
      position: absolute;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 3;
    }

    &-search {
      left: 12px;
      font-size: $font-20;
    }

    &-close {
      right: 8px;

      .g-btn-circle {
        i {
          font-size: $font-20;
        }
      }
    }

    input {
      position: relative;
      padding: 13px 20px 13px 40px;
      margin: 0;
      z-index: 2;
    }

    .dropdown-menu {
      width: 100%;
      max-height: 114px;
      overflow-y: auto;
      @include prefix(border-radius, 0 0 5px 5px);
      @include prefix(box-shadow, $box-shadow2);
      @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
      z-index: 1;
    }

    .dropdown-item {
      appearance: none;
      width: 100%;
      background-color: $c-white;
      color: $c-gray1;
      text-align: left;
      padding: 10px 15px;
      border: none;
      cursor: pointer;

      &.active {
        background-color: $c-gray5;
      }
    }

    ul {
      left: 0;
      margin: 0;
      width: 100%;
      z-index: 10;
      top: inherit;
      padding: 10px 0;
      overflow-x: auto;
      max-height: 130px;
      position: absolute;
      background-color: $c-white;
      border: 1px solid $c-gray4;
      border-top: none;
      @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));
      li {
        list-style: none;
        padding: 7px 15px;
      }
    }
  }
}

.g-switch {
  text-align: left;
  position: relative;
  display: inline-block;
  font-weight: $fw-normal;
  padding: 0 0 0 45px;
  margin: 6px 0;
  cursor: pointer;

  input {
    display: none;

    &:checked {
      + .switch {
        background-color: $c-green1;

        &:before {
          @include prefix(transform, translate(90%, -50%));
        }
      }
    }
  }

  .switch {
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 20px;
    background-color: $c-gray3;
    margin: 0;
    outline: 0;
    @include prefix(transition, all 0.3s ease);
    @include prefix(transform, translate(0, -50%));
    @include prefix(border-radius, 30px);
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 3px;
      width: 15px;
      height: 15px;
      background-color: $c-white;
      @include prefix(transition, all 0.3s ease);
      @include prefix(transform, translate(0, -50%));
      @include prefix(border-radius, 50%);
    }
  }

  &-text {
    padding: 0;

    input {
      display: none;

      &:checked {
        + .switch {
          background-color: $c-white;

          &:before {
            @include prefix(transform, translate(30px, -50%));
          }

          span {
            &:first-child {
              color: $c-gray1;
            }

            &:last-child {
              color: $c-white;
            }
          }
        }
      }
    }

    .switch {
      position: static;
      display: inline-flex;
      width: 62px;
      height: 32px;
      background-color: $c-white;
      border: 1px solid $c-gray5;
      font-size: $font-12;
      text-transform: uppercase;
      vertical-align: middle;
      margin-left: 5px;
      @include prefix(transform, translate(0, 0));

      &:before {
        left: 0;
        width: 30px;
        height: 30px;
        background-color: $c-gray1;
        @include prefix(transform, translate(0, -50%));
      }

      span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        transition: $tr-3-ease;

        &:first-child {
          color: $c-white;
        }

        &:last-child {
          color: $c-gray1;
        }
      }
    }
  }
}

.g-checkbox, .g-radio {
  display: inline-block;
  position: relative;
  min-height: 18px;
  text-align: left;
  font-weight: $fw-bold;
  padding: 0 0 0 32px;
  margin: 0;
  cursor: pointer;

  input {
    display: none;
    &:checked {
      & ~ .checkmark {
        &:before {
          content: "";
        }
      }
    }
  }

  .checkmark {
    height: 22px;
    width: 22px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: $c-white;
    border: 2px solid $c-gray3;
    @include prefix(border-radius, 5px);
    transform: translateY(-50%);

    &:before {
      content: none;
      position: absolute;
      top: 55%;
      left: 20%;
      background: $c-red1;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 $c-red1,
        4px 0 0 $c-red1,
        4px -2px 0 $c-red1,
        4px -4px 0 $c-red1,
        4px -6px 0 $c-red1,
        4px -8px 0 $c-red1;
      transform: rotate(45deg) translate(-50%, -50%);
    }
  }
}

.g-radio {
  .checkmark {
    @include prefix(border-radius, 50%);
  }
}
