.g-login-block {
  position: relative;
  background-color: $c-white;
  width: 500px;
  padding: 50px 70px 80px 70px;
  @include prefix(border-radius, 10px);
  @include prefix(box-shadow, $box-shadow3);
  background-size: 45% 40%;

  &:before, &:after {
    content: "";
    z-index: -1;
    opacity: .6;
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url($url-images + '/texture.png');
  }

  &:before {
    top: -30px;
    left: -15px;
  }

  &:after {
    top: 86%;
    right: -15px;
  }
}
