.g-pagination {
  display: flex;
  justify-content: center;

  .pagination {
    width: 100%;
    margin: 15px 0;
    padding-left: 0;
    border-radius: 5px;
    text-align: center;
    display: inline-block;

    > li {
      zoom: 1;
      margin: 0 5px;
      display: inline-flex;

      > a {
        border: 0;
        color: $c-gray1;
        padding: 6px 10px;
        font-weight: $fw-bold;
        background-color: $c-transparent;
        @include prefix(border-radius, 7px);

        span {
          display: none;
        }
      }

      &.page {
        > a {
          &:hover {
            color: $c-white;
            border-color: $c-red1;
            background-color: $c-red1;
          }
        }
      }

      &.active {
        > a {
          z-index: 2;
          color: $c-white;
          cursor: default;
          border-color: $c-red1;
          background-color: $c-red1;
        }
      }

      &.disabled {
        > a {
          opacity: 0;
          cursor: not-allowed;
        }
      }
      &:first-child, &:last-child {
        margin: 2px 0 0 0;
        > a {
          border: 0;
          padding: 0;
          color: $c-red1;
          &:hover {
            color: $c-red1;
          }
        }
      }
      &:first-child {
        margin-right: 10px;
        > a {
          &:before {
            left: 0;
            content: "\f111";
            @extend %pseudo-icon;
          }
        }
      }
      &:last-child {
        margin-left: 10px;
        > a {
          &:before {
            right: 0;
            content: "\f112";
            @extend %pseudo-icon;
          }
        }
      }
    }
  }
}
