.g-select {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;

  select {
    width: 100%;
    color: $c-gray1;
    padding: 13px 20px;
    font-size: $font-15;
    font-family: $font-family;
    border: 1px solid $c-gray4;
    background-color: $c-white;
    appearance: none;
  }

  span {
    position: absolute;
    top: 50%;
    right: 5px;
    background-color: $c-white;
    padding: 5px 10px;
    transform: translateY(-50%);
    pointer-events: none;

    &:after {
      content: "\f110";
      color: $c-gray1;
      @extend %pseudo-icon;
      font-size: $font-17;
    }
  }

  &-error {
    select {
      border-color: $c-red1;
    }
  }
}
