.g-sidebar {
  min-width: 80px;
  max-width: 80px;
  min-height: calc(100vh - 80px);
  background-color: $c-gray11;
  padding: 50px 0;
  transition: $tr-2-ease-out .1s;

  &:hover {
    min-width: 235px;
    max-width: 235px;
    transition: $tr-3-ease-in 0s;

    ~ .g-main {
      min-width: calc(100% - 235px);
      max-width: calc(100% - 235px);
      transition: $tr-3-ease-in 0s;

      &-full {
        min-width: 100%;
        max-width: 100%;
      }
    }

    .g-main-menu-link {
      max-height: 50px;

      span {
        visibility: visible;
        opacity: 1;
        transition: $tr-5-ease-in .2s;
      }

      &:hover, &:focus, &:active, &.active {
        &:before {
          width: 58px;
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }

  &-static {
    min-width: 265px;
    max-width: 265px;
    background-color: $c-white;
    box-shadow: inset 0 25px 30px 0 rgba($c-black, .05);
    padding: 0;

    &:hover {
      min-width: 265px;
      max-width: 265px;

      ~ .g-main {
        &-static {
          min-width: calc(100% - 265px);
          max-width: calc(100% - 265px);
        }
      }
    }
  }
}

// Main menu
.g-main-menu {
  display: block;
  width: 100%;

  &-list {
    list-style: none;
    padding: 0;
  }

  &-item {
    width: 100%;
    padding: 5px 0;
    overflow: hidden;
  }

  &-link {
    width: 235px;
    max-height: 40px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 27px;
    transition: $tr-3-ease;

    i, span {
      position: relative;
      color: $c-white;
    }

    i {
      font-size: $font-26;
    }

    span {
      visibility: hidden;
      opacity: 0;
      margin-left: 10px;
      transition: $tr-3-ease-out 0s;
    }

    &:before {
      content: "";
      width: 0;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: 0;
      background-color: rgba($c-white, .1);
      transition: $tr-3-ease;
    }

    &:hover, &:focus, &:active, &:link {
      color: $c-white;
    }

    &:hover, &:focus, &:active, &.active {
      &:before {
        width: 80px;
        border-radius: 0;
      }
    }

    &.active {
      &:before {
        background-color: $c-red1;
      }
    }
  }
}
