.g-tabs {
  &-heading {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    background-color: $c-white;
    .g-tab {
      padding: 22px;
      margin: 0 20px;
      color: $c-gray1;
      cursor: pointer;
      font-size: $font-13;
      font-weight: $fw-medium;
      text-transform: uppercase;
      transition: $tr-3-ease;
      &.active, &:hover {
        color: $c-red1;
        border-bottom: 2px solid $c-red1;
      }
    }
  }
}
