.g-textarea {
  width: 100%;
  color: $c-gray1;
  padding: 13px 20px;
  font-size: $font-15;
  margin-bottom: 10px;
  font-family: $font-family;
  border: 1px solid $c-gray4;
  background-color: $c-white;
  @include fancyScrollbar(rgba($c-black, .3), rgba($c-black, .1));

  &-error {
    border-color: $c-red1;
  }
}
