// Formata font
@font-face {
  font-family: 'Formata';
  font-weight: $fw-light;
  src: url($url-fonts + '/Formata-light/formatalight.eot');
  src: url($url-fonts + '/Formata-light/formatalight.eot') format('embedded-opentype'),
    url($url-fonts + '/Formata-light/formatalight.woff2') format('woff2'),
    url($url-fonts + '/Formata-light/formatalight.woff') format('woff'),
    url($url-fonts + '/Formata-light/formatalight.ttf') format('truetype'),
    url($url-fonts + '/Formata-light/formatalight.svg#formatalight') format('svg');
}

@font-face {
  font-family: 'Formata';
  font-weight: $fw-normal;
  src: url($url-fonts + '/Formata-regular/formataregular.eot');
  src: url($url-fonts + '/Formata-regular/formataregular.eot') format('embedded-opentype'),
    url($url-fonts + '/Formata-regular/formataregular.woff2') format('woff2'),
    url($url-fonts + '/Formata-regular/formataregular.woff') format('woff'),
    url($url-fonts + '/Formata-regular/formataregular.ttf') format('truetype'),
    url($url-fonts + '/Formata-regular/formataregular.svg#formataregular') format('svg');
}

@font-face {
  font-family: 'Formata';
  font-weight: $fw-medium;
  src: url($url-fonts + '/Formata-medium/formatamedium.eot');
  src: url($url-fonts + '/Formata-medium/formatamedium.eot') format('embedded-opentype'),
    url($url-fonts + '/Formata-medium/formatamedium.woff2') format('woff2'),
    url($url-fonts + '/Formata-medium/formatamedium.woff') format('woff'),
    url($url-fonts + '/Formata-medium/formatamedium.ttf') format('truetype'),
    url($url-fonts + '/Formata-medium/formatamedium.svg#formatamedium') format('svg');
}

@font-face {
  font-family: 'Formata';
  font-weight: $fw-bold;
  src: url($url-fonts + '/Formata-bold/formatabold.eot');
  src: url($url-fonts + '/Formata-bold/formatabold.eot') format('embedded-opentype'),
    url($url-fonts + '/Formata-bold/formatabold.woff2') format('woff2'),
    url($url-fonts + '/Formata-bold/formatabold.woff') format('woff'),
    url($url-fonts + '/Formata-bold/formatabold.ttf') format('truetype'),
    url($url-fonts + '/Formata-bold/formatabold.svg#formatabold') format('svg');
}
