<div class="row">
  <div class="col-md-6">
    <div class="g-pb--20 g-pb-md--0 onboarding-filters g-site-bg--white">
      <bvl-filters
        [ga]="ga"
        [title]="TEXT.general.filterByProfile"
        iconTitle="icon-align-left"
        [filters]="views"
        [active]="activeView"
        (filterChanged)="onViewChanged($event)">
      </bvl-filters>
    </div>
  </div>
  <div class="col-md-6">
    <section class="onboarding-operations">
      <h3>{{ TEXT.general.today }}</h3>
      <div>
        <dl *ngIf="transactions" class="ops">
          <dt>{{ TEXT.general.operations }}</dt>
          <dd>{{ transactions }}</dd>
        </dl>
        <dl *ngIf="solesAmount">
          <dt>{{ TEXT.general.amountIn }} soles</dt>
          <dd>{{ solesAmount | currency:'PEN':'S/' }}</dd>
        </dl>
        <dl *ngIf="dollarAmount">
          <dt>{{ TEXT.general.amountIn }} {{ TEXT.general.dolars | lowercase }}</dt>
          <dd>{{ dollarAmount | currency:'USD' }}</dd>
        </dl>
      </div>
    </section>
  </div>
</div>
