@import "../../../../core/lib/src/styles/main.scss";

section {
  display: flex;
  align-items: center;
  background-color: $almost-white;
  padding: 1rem 0.5rem;
  font-family: $title-font;
  @include media-breakpoint-up(sm) {
    padding: 1rem 1.77rem;
  }
  h3 {
    position: relative;
    margin: 0.5em 0.5em 0 0;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1.6em 1.1em 1.5em;
    line-height: 1;
    @include media-breakpoint-up(sm) {
      margin: 0 1.5em 0 0;
    }
    @include media-breakpoint-up(md) {
      padding-top: 1.9em;
    }
    @include media-breakpoint-up(xl) {
      margin-right: 2em;
    }
    &::before {
      content: $icon-calendar;
      position: absolute;
      font-family: "font-icons";
      color: rgba(#8c8c8c, 0.3);
      font-size: 4rem;
      font-weight: normal;
      top: 0;
      left: calc(50% - 2rem);
      @include media-breakpoint-up(sm) {
        font-size: 4.92rem;
        left: calc(50% - 2.46rem);
      }
    }
  }
  div {
    display: flex;
    align-items: center;
    @include media-breakpoint-only(xs) {
      flex-wrap: wrap;
    }
    @include media-breakpoint-up(sm) {
      flex: 1;
      justify-content: space-between;
    }
    @include media-breakpoint-only(md) {
      flex-wrap: wrap;
    }
  }
  dl {
    @include media-breakpoint-only(xs) {
      flex-basis: 50%;
    }
    @include media-breakpoint-only(md) {
      flex-basis: 50%;
    }
    dt {
      @include media-breakpoint-only(xs) {
        font-size: 0.92rem;
      }
      @include media-breakpoint-only(md) {
        font-size: 0.92rem;
      }
    }
    dd {
      font-size: 1.15rem;
      font-weight: 700;
      @include media-breakpoint-only(xs) {
        font-size: 0.77rem;
      }
      @include media-breakpoint-only(md) {
        font-size: 0.77rem;
      }
    }
    &.ops {
      @include media-breakpoint-only(xs) {
        display: flex;
        flex-basis: 100%;
        align-items: center;
      }
      @include media-breakpoint-only(md) {
        display: flex;
        flex-basis: 100%;
        align-items: center;
      }
      dt {
        @include media-breakpoint-only(xs) {
          font-size: 1rem;
          margin-right: 0.5em;
        }
        @include media-breakpoint-only(md) {
          font-size: 1rem;
          margin-right: 0.5em;
        }
      }
      dd {
        @include media-breakpoint-only(xs) {
          font-size: 1.15rem;
        }
        @include media-breakpoint-only(md) {
          font-size: 1.15rem;
        }
      }
    }
  }
}
