<form [formGroup]="frmIssuerType">
  <div class="d-md-flex g-pt--20 g-pb--20 g-px--35">

    <ng-container *ngFor="let radioCtrl of radioControls">
      <div class="g-site-radio g-mb--10 g-mb-md--0 d-block">
        <label class="radio">
          <input ctrl="issuerTypeRadio" (domChange)="onDomChange($event, { radio: radioCtrl?.description })"
            type="radio"
            [formControlName]="radioCtrl?.code"
            [value]="radioCtrl?.value">
          {{ radioCtrl?.description }}
          <span class="checkmark"></span>
        </label>
      </div>
    </ng-container>

  </div>
</form>

<ng-container *ngIf="(mIssuerType.value === ISSUER_TYPE?.issuers); else tplInvestmentFund">
  <bvl-m-issuers></bvl-m-issuers>
</ng-container>

<ng-template #tplInvestmentFund>
  <bvl-m-investment-fund></bvl-m-investment-fund>
</ng-template>