<bvl-searcher [searcherControls]="searcherControls"
  (formValue)="formValue($event)"
  (formClear)="clear()">
</bvl-searcher>

<bvl-table-file-link class="g-px--15 g-py--10"
  [header]="tableHeader"
  [tableData]="tableData"
  [message]="tableMessage">
</bvl-table-file-link>

<bvl-pagination *ngIf="tableAllData.length"
  customClass="pagination--invert"
  [data]="tableAllData"
  [max]="10"
  (emitChangePage)="pagination($event)">
</bvl-pagination>