<div class="language-switcher onboarding-language-switcher">
  <div class="language" *ngFor="let lang of LANGUAGE_TYPES">
    <a [href]="getUrlLanguage(lang.code)" [ngClass]="{ 'active': isLanguageCurrent(lang.code) }"
    ctrl="linkLang" (domChange)="onDomChange($event, { lang: lang.code })">
      <span [attr.for]="'lang-' + lang.code">{{ lang.code | uppercase }}</span>
    </a>
  </div>
</div>
