@import "../../../../styles/partials/lib.scss";

.language-switcher {
  border-radius: 1.23rem;
  border: 1px solid $gray7;
  display: flex;
  padding: 1px;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  input {
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
    position: absolute;
  }

  span {
    border-radius: 50%;
    color: $gray7;
    cursor: pointer;
    display: inline-block;
    padding: .35rem;
    text-align: center;
    transition: color .2s;
    width: 2.31rem;
    pointer-events: none;
  }
  .active > span {
    background-color: $gray3;
    color: white;
    cursor: default;
    font-weight: 700;
  }

  .language {
    span:hover() {
      color: darken($gray7, 30%);
    }
  }
}
