<div class="collapsible-info">
  <bvl-accordion *ngFor="let item of info">
    <div bvl-accordion-toggler>
      <bvl-section-header [title]="item.title" noMargins noLine> </bvl-section-header>
    </div>
    <div class="content">
      <article [innerHTML]="item.description"></article>
    </div>
  </bvl-accordion>
</div>
