// Colors
$background-color: #f4f6fa;
$body-color: #5c5c5c;

$white: #ffffff;
$black: #000000;
$transparent: transparent;

$gray1: #2a2a2a;
$gray2: #353535;
$gray3: #646464;
$gray4: #8c8c8c;
$gray5: #979797;
$gray6: #b2b2b2;
$gray7: #dcdcdc;
$gray8: #ececec;
$gray9: #f5f5f5;
$gray10: #7D7D7D;
$gray11: #a7a9ac;
$gray12: #333232;
$gray13: #e2e4ec;
$gray14: #4c4c4c;
$gray15: #cccccc;

$red1: #ff0100;
$red2: #eb5a5a;
$red3: #D80201;
$red4: #bf4343;

$green1: #6bbd45;

$blue1: #34bdb2;
$blue2: #3589bb;

$table-dark-background: #403f3f;
$table-dark-selected-row: #edecf1;
$table-dark-details-row: white;

// Fonts
$base-font: "formata", sans-serif;
$title-font: "avant-garde", sans-serif;
$lucida-font: "lucida-grande", sans-serif;
$font-path: "./styles/fonts";

// Icon font
$icon-font-family: 'font-icons';

$icon-add: "\e935";
$icon-alarm: "\e927";
$icon-alert: "\e908";
$icon-align-left: "\e931";
$icon-arrow-down: "\e923";
$icon-arrow-left: "\e920";
$icon-arrow-right: "\e921";
$icon-arrow-up: "\e922";
$icon-bar-chart: "\e900";
$icon-calendar: "\e92f";
$icon-camera: "\e902";
$icon-cerrar: "\e909";
$icon-check: "\e938";
$icon-chevron-down: "\e937";
$icon-close-circle: "\e939";
$icon-close: "\e93a";
$icon-contextual-menu: "\e932";
$icon-contract: "\e90d";
$icon-dot: "\e93d";
$icon-download-archive: "\e91b";
$icon-download-h: "\e904";
$icon-download: "\e933";
$icon-downvote: "\e943";
$icon-envelope: "\e925";
$icon-expand: "\e90c";
$icon-facebook: "\e92b";
$icon-file-down-border-out: "\e91a";
$icon-file-down-border: "\e919";
$icon-file-down-out: "\e917";
$icon-file-down: "\e918";
$icon-file-out: "\e916";
$icon-file1: "\e91c";
$icon-file: "\e915";
$icon-flickr: "\e91f";
$icon-info: "\e906";
$icon-instagram: "\e941";
$icon-linkedin: "\e91e";
$icon-logo: "\e945";
$icon-map-marker-solid: "\e949";
$icon-map-marker: "\e90a";
$icon-minus-circle: "\e934";
$icon-minus: "\e93b";
$icon-open: "\e930";
$icon-phone-rotation: "\e93e";
$icon-pinterest: "\e948";
$icon-plus: "\e93c";
$icon-podcast: "\e92e";
$icon-progress-graph: "\e905";
$icon-question: "\e91d";
$icon-quotes-close: "\e92d";
$icon-quotes-open: "\e92c";
$icon-search: "\e924";
$icon-simple-arrow-down: "\e947";
$icon-simple-arrow-left: "\e901";
$icon-simple-arrow-right: "\e946";
$icon-simple-arrow-top: "\e903";
$icon-sort: "\e93f";
$icon-spinner: "\e90b";
$icon-success-out: "\e914";
$icon-success: "\e913";
$icon-thin-arrow-right: "\e936";
$icon-timer: "\e940";
$icon-twitter-filled: "\e928";
$icon-twitter: "\e929";
$icon-upvote: "\e942";
$icon-user: "\e926";
$icon-watch: "\e944";
$icon-writing: "\e90e";
$icon-youtube: "\e92a";

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  xl: 1200px
);

$columns: 12;
$col-gutter: 30px;

// Buttons
$btn-radius: 0.54em;

$font: inherit;
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-20: 20px;
$font-24: 24px;
$font-26: 26px;
$font-30: 30px;
$font-40: 40px;
$font-50: 50px;
$font-60: 60px;

// Font Weight
$fw-thin: 100;
$fw-light: 200;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-ultra-bold: 900;

$font-weights: (
  fw-thin: $fw-thin,
  fw-light: $fw-light,
  fw-normal: $fw-normal,
  fw-medium: $fw-medium,
  fw-bold: $fw-bold,
  fw-ultra-bold: $fw-ultra-bold,
);

// Font Style
$fs-normal: normal;
$fs-italic: italic;
$fs-oblique: oblique;
$font-styles: (
  fs-normal: $fs-normal,
  fs-italic: $fs-italic,
  fs-oblique: $fs-oblique
);

$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;
