<div class="row">
  <div class="col-md-4" *ngFor="let plan of plans">
    <div class="g-box-block">
      <div class="g-box-block--header">
        <span class="g-box-block--text">{{ plan?.title }}</span> <span class="g-box-block--dcto">{{ plan?.titleDscto }}</span>
      </div>

      <div class="g-box-block--content">
        <div>
          {{ plan?.total }}
        </div>

        <div class="g-fs--21 g-font--bold">
          {{ plan?.totalDscto }}
        </div>

        <div class="g-pt--15">
          <a href="/pago-plan/tarjeta?plan={{plan?.codeCulqui}}"
            class="btn btn-primary btn-width">
            {{ TEXT.general.buy }}
          </a>
        </div>
      </div>

    </div>
  </div>
</div>