<div *ngIf="isCapableOf('search')" [style.visibility]="toolBarFilterIsVisible ? 'visible' : 'hidden'"  class="toolbar-items-wrapper search-wrapper">
  <div
    class="search"
    [ngClass]="{
      'with-search': searchTerm.length,
      'search-focused': searchFocused
    }"
  >
    <div
      class="form-group"
      [ngClass]="{ 'd-flex': !searchInputShowed }"
    >
      <input
        #searchTermInput
        type="text"
        class="form-control"
        [(ngModel)]="searchTerm"
        (keyup.enter)="onSearch()"
        (ngModelChange)="onSearch(true)"
        (focus)="searchFocused = true"
        (blur)="onSearch(); searchFocused = false"
        ctrl="toolbarSearch"
        (domChange)="onDomChange($event)"
      />
    </div>
    <button
      class="btn search--close btn-icon"
      *ngIf="searchTerm"
      (click)="
        toggleSearch();
        setFocusToElement(searchTermInput);
        resetSearch()">
      <i class="icon-close"></i>
    </button>
  </div>
</div>

<div
  *ngIf="media.isActive('gt-sm') || !searchInputShowed"
  class="toolbar-items-wrapper"
>
  <ng-container *ngIf="isCapableOf('type')">
    <label *ngIf="byTypeFilter.label" for="type" class="control-label">{{ byTypeFilter.label }}: </label>
    <select
      id="type"
      class="select"
      [(ngModel)]="selectedType"
      (ngModelChange)="onTypeChange()"
      [ngClass]="{ active: selectedType }">
      <option
        *ngFor="let option of byTypeFilter.options"
        [ngValue]="+option.id">
        {{ option.label }}
      </option>
    </select>
    <div class="g-site-select">
      <div class="g-site-select--label">
        <span>{{ getSelectedLabel(selectedType, byTypeFilter.options) }}</span>
        <i class="icon-simple-arrow-down"></i>
      </div>
      <div class="g-site-select--list" [bvlToggleByPosition]="['g-site-select--list-left', 'default']">
        <div
        [ngClass]="{ 'active' : selectedType === +option.id }"
        (click)="selectedType = +option.id; onTypeChange()"
        *ngFor="let option of byTypeFilter.options">
          {{ option.label }}
        </div>
      </div>
    </div>
  </ng-container>
  <div *ngIf="periods?.options">
    <label *ngIf="periods.label" for="type" class="control-label">{{ periods.label }}: </label>
    <select
      id="type"
      class="select"
      [(ngModel)]="period"
      (ngModelChange)="onPeriodChange(period)"
      [ngClass]="{ active: selectedType }">
      <option
        *ngFor="let option of periods.options"
        [ngValue]="+option.value">
        {{ option.label }}
      </option>
    </select>
    <div class="g-site-select">
      <div class="g-site-select--label">
        <span>{{ getSelectedLabel(period, periods.options) }}</span>
        <i class="icon-simple-arrow-down"></i>
      </div>
      <div class="g-site-select--list" [bvlToggleByPosition]="['g-site-select--list-left', 'default']">
        <div
        [ngClass]="{ 'active' : period === +option.value }"
        (click)="period = +option.value; onPeriodChange(period)"
        *ngFor="let option of periods.options">
          {{ option.label }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="yearRange">
    <label *ngIf="yearLabel" for="type" class="control-label">{{ yearLabel }}: </label>
    <select
      class="select"
      [(ngModel)]="year"
      (ngModelChange)="onYearChange(year)"
      [ngClass]="{ active: selectedType }">
      <option
        *ngFor="let year of years"
        [ngValue]="year">
        {{ year }}
      </option>
    </select>
    <div class="g-site-select" [ngClass]="alignClass">
      <div class="g-site-select--label">
        <span>{{ year || '--' }}</span>
        <i class="icon-simple-arrow-down"></i>
      </div>
      <div
        class="g-site-select--list"
        [bvlToggleByPosition]="['g-site-select--list-left', 'default']">
        <div
          *ngFor="let item of years"
          [ngClass]="{ 'active' : year === item }"
          (click)="year = item === year ? null : item ; onYearChange(year)">
          {{ item }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="periodByYear">
    <label for="type" class="control-label">{{ TEXT.general.periodByYear }}: </label>
    <select
      class="select"
      [(ngModel)]="periodBy"
      (ngModelChange)="onPeriodAccountChange(periodBy)"
      [ngClass]="{ active: selectedType }">
      <option
        *ngFor="let period of periodBy"
        [ngValue]="period">
        {{ period.name }}
      </option>
    </select>
    <div class="g-site-select">
      <div class="g-site-select--label">
        <span>{{ periodAccount.name }}</span>
        <i class="icon-simple-arrow-down"></i>
      </div>
      <div
        class="g-site-select--list"
        [bvlToggleByPosition]="['g-site-select--list-left', 'default']">
        <div
          *ngFor="let period of periodBy"
          [ngClass]="{ 'active' : periodAccount === period }"
          (click)="periodAccount = period; onPeriodAccountChange(period)">
          {{ period.name }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isCapableOf('sortByLocation')">
    <button
      class="btn btn-link"
      [ngClass]="{ active: location }"
      (click)="toggleLocation()"
    >
      <i class="icon-map-marker-solid g-fs--20"></i>
      {{ TEXT.general.closeToMe }}
    </button>
  </div>
</div>


<ng-container *ngIf="isCapableOf('filterByNemonic')">
  <div class="select-container">
    <select
      class="select select-xl red tablist"
      role="tablist"
      [(ngModel)]="nemonic"
      (change)="onNemonicChange(nemonic)"
    >
      <option *ngFor="let item of nemonics; index as i" [ngValue]="item">
        {{ item }}
      </option>
    </select>
    <div class="g-site-select">
      <div class="g-site-select--label--large">
        <span>{{ nemonic }}</span>
        <i class="icon-simple-arrow-down"></i>
      </div>
      <div class="g-site-select--list g-site-select--list-left">
        <div
        [ngClass]="{ 'active' : nemonic === item }"
        (click)="nemonic = item; onNemonicChange(nemonic)"
        *ngFor="let item of nemonics; index as i">
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isCapableOf('filterByDate')">
  <div
    *ngIf="media.isActive('gt-sm') || !searchInputShowed"
    class="toolbar-items-wrapper dates-filter"
  >
    <div class="form-group">
      <bvl-form-datepicker
        label="{{ TEXT.general.since + ':' }}"
        format="dd/MM/yyyy"
        [(ngModel)]="startDate"
        (dateSelect)="dateChange($event, 'startDate')">
      </bvl-form-datepicker>
    </div>

    <div class="form-group">
      <bvl-form-datepicker
        label="{{ TEXT.general.until + ':' }}"
        format="dd/MM/yyyy"
        [(ngModel)]="endDate"
        (dateSelect)="dateChange($event, 'endDate')">
      </bvl-form-datepicker>
    </div>
  </div>
</ng-container>
