@import "../../../../core/ui/src/styles/partials/variables";
@import "../../../../core/ui/src/styles/modules/datepicker";
@import "../styles/main.scss";

bvl-toolbar {
  align-items: center;
  background-color: $lightest-gray;
  border-radius: 0.38rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 1.26rem 15px 1.38rem;

  bvl-datepicker {
    .g-admin-datepicker {
      padding: 0px;
      & > *:not(ngb-datepicker) {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
    margin: 0 -15px;
    padding: 1.26rem 2.77rem 1.38rem;
  }
  .control-label {
    margin-right: 0.73em;
    font-weight: bold;
    color: #404040;
  }
}

.toolbar-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  font-family: $title-font;

  @include media-breakpoint-up(md) {
    margin: 0 -1rem;
    flex-wrap: nowrap;
  }

  &.search-wrapper {
    padding-right: 20px;
    width: 100%;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
      padding-left: 20px;
    }
  }

  .g-site-select--label span,
  .control-label {
    white-space: nowrap;
  }

  & > * {
    padding: 0 15px;
    display: flex;
    align-items: center;
    @include media-breakpoint-up(md) {
      padding: 0 1rem;
    }
  }
}

.search-wrapper {
  @include media-breakpoint-down(sm) {
    order: 9;
    flex: 1;
  }
}

.search {
  display: flex;
  width: 100%;

  @include media-breakpoint-down(md) {
    flex: 1;
    justify-content: flex-end;
  }

  .form-group {
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0.6;
    transition: opacity 0.2s;
    width: 100%;

    @include media-breakpoint-down(md) {
      flex: 1;
      margin-right: 1rem;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: $icon-search;
      font-family: $icon-font-family;
      pointer-events: none;
      font-size: 20px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &.with-search,
  &.search-focused {
    .form-group {
      opacity: 1;
    }
  }

  .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $gray;
    padding: 0.425rem 0 0.375rem 2rem;
    width: 100%;
  }
}

.dates-filter {
  @include media-breakpoint-down(sm) {
    .form-group {
      display: block;
    }
  }
  label {
    padding: 0.375em 0;
    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
      display: block;
    }
    @include media-breakpoint-up(md) {
      margin-right: 0.33em;
    }
  }

  .select {
    font-weight: 700;
    border-radius: 0;
    transition: opacity 0.2s, box-shadow 0.2s;
    opacity: 0.6;
    cursor: pointer;
    @include media-breakpoint-down(sm) {
      margin-top: -0.375em;
    }
    &:hover,
    &:focus {
      opacity: 1;
    }
    &.active {
      opacity: 1;
      box-shadow: inset 0 -0.153rem 0 0 $red;
    }
  }
}

.btn-link {
  padding: 0.529em 0;
  opacity: 0.6;
  &:hover,
  &:focus {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    box-shadow: inset 0 -0.153rem 0 0 $red;
  }
}
