<bvl-card>
  <bvl-card-header>
    <div class="row justify-content-between">
      <div class="col-3">
        <bvl-card-cell borderRight>
          <h4 class="g-fs-17 mb-xs-0">
            {{ component?.name }}
          </h4>
        </bvl-card-cell>
      </div>
      <div class="col-2 pl-xs-0">
        <bvl-card-cell [label]="GENERAL_LANG?.labels?.lastUpdate">
          <span class="g-info-w-icon">
            <i class="la la-calendar"></i>
            {{ component?.lastUpdate | date: DATE_FORMAT?.ddMMyyyy }}
          </span>
          <span class="g-info-w-icon">
            <i class="la la-user"></i>
            {{ component?.username }}
          </span>
        </bvl-card-cell>
      </div>
      <div class="col-7 text-right">
        <ng-container *ngFor="let item of actionButtons">
          <button type="button"
            bvl-button
            theme="square"
            (click)="buttonAction(item, component)">
            <div class="d-flex align-items-center">
              <i class="la" [ngClass]="item?.icon"></i>
            </div>
            <span>{{ item?.description }}</span>
          </button>
        </ng-container>
      </div>
    </div>
  </bvl-card-header>
</bvl-card>