<form [formGroup]="frmCardPayment">

  <div class="row">

    <div class="col-12">
      <bvl-section-header title="Datos de pago"></bvl-section-header>
    </div>

    <div class="col-12 g-pb--20">
      <bvl-form-input label="Número de tarjeta"
        formControlName="mCardNumber"
        [error]="validateControl('mCardNumber')">
      </bvl-form-input>
    </div>

    <div class="col-12 col-sm-6 g-pb--20">
      <div class="row">
        <div class="col-6">
          <bvl-form-input label="MM"
          formControlName="mMM"
          [error]="validateControl('mMM')">
        </bvl-form-input>
        </div>
        <div class="col-6">
          <bvl-form-input label="AAAA"
            formControlName="mYYYY"
            [error]="validateControl('mYYYY')">
          </bvl-form-input>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 g-pb--20">
      <bvl-form-input label="CVV"
        formControlName="mCVV"
        [error]="validateControl('mCVV')">
      </bvl-form-input>
    </div>

    <div class="col-12 col-sm-6 g-pb--20">
      <bvl-form-input label="Email"
        formControlName="mEmail"
        [error]="validateControl('mEmail')">
      </bvl-form-input>
    </div>

    <div class="col-12 col-sm-6 g-pb--20">
      <bvl-form-input label="Teléfono"
        formControlName="mPhone"
        [error]="validateControl('mPhone')">
      </bvl-form-input>
    </div>

    <div class="col-12 col-sm-4 g-pb--20">
      <bvl-form-select label="Departamento"
        placeholder="-Seleccione-"
        formControlName="mRegion"
        [error]="validateControl('mRegion')"
        [dataList]="regionsList"
        valueField="id"
        textField="name"
        (change)="getProvincesList()">
      </bvl-form-select>
    </div>

    <div class="col-12 col-sm-4 g-pb--20">
      <bvl-form-select label="Provincia"
        placeholder="-Seleccione-"
        formControlName="mProvince"
        [error]="validateControl('mProvince')"
        [dataList]="provincesList"
        valueField="id"
        textField="name"
        (change)="getDistrictsList()">
      </bvl-form-select>
    </div>

    <div class="col-12 col-sm-4 g-pb--20">
      <bvl-form-select label="Distrito"
        placeholder="-Seleccione-"
        formControlName="mDistrict"
        [error]="validateControl('mDistrict')"
        [dataList]="districtsList"
        valueField="id"
        textField="name">
      </bvl-form-select>
    </div>

    <div class="col-12 g-pb--20">
      <bvl-form-input label="Dirección"
        formControlName="mAddress"
        [error]="validateControl('mAddress')">
      </bvl-form-input>
    </div>

    <div class="col-12 g-pb--20 g-font--medium g-font--15">
      <bvl-form-checkbox formControlName="mInvoice"
        (change)="changeInvoice(mInvoice.value)">
        Deseo factura
      </bvl-form-checkbox>
    </div>

    <ng-container *ngIf="mInvoice.value">
      <div class="col-12 col-sm-6">
        <bvl-form-input label="RUC"
          formControlName="mRuc"
          [error]="validateControl('mRuc')">
        </bvl-form-input>
      </div>

      <div class="col-12 col-sm-6">
        <bvl-form-input label="Razón social"
          formControlName="mLegalName"
          [error]="validateControl('mLegalName')">
        </bvl-form-input>
      </div>
    </ng-container>

  </div>

  <button #submitButton
    class="d-none">
    submitButton
  </button>

</form>