<div class="page-section">
  <div class="container">
    <bvl-toolbar
      [capabilities]="['search']"
      [yearRange]="true"
      (activeFilters)="onFilterChange($event)"
      [byTypeFilter]="toolbarFilters">
    </bvl-toolbar>

    <ng-container
      *ngIf="publications?.last && (filter?.categoryId === 'boldia' || filter?.categoryId === 'ibmat')"
      [ngTemplateOutlet]="simplePublication"
      [ngTemplateOutletContext]="{ object: publications?.last, last: true }">
    </ng-container>
    <ng-container
      *ngIf="publications?.searched && (filter?.categoryId === 'boldia' || filter?.categoryId === 'ibmat' || filter?.categoryId === 'eeffcom')"
      [ngTemplateOutlet]="simplePublication"
      [ngTemplateOutletContext]="{ object: publications?.searched, bulletin: publications?.searched.categoryId === 'boldia' }">
    </ng-container>


    <ng-container
      *ngIf="publications?.anexo && filter?.categoryId === 'ibmat'"
      [ngTemplateOutlet]="simplePublication"
      [ngTemplateOutletContext]="{ object: publications?.anexo, last: true }">
    </ng-container>

  </div>
</div>

<ng-template #simplePublication let-object="object" let-last="last" let-bulletin="bulletin">
  <div class="box">
    <bvl-accordion>
      <div class="toggler" bvl-accordion-toggler>
        <h2 class="section-title">
          <span class="title-light g-pr--10">{{  getTitleSection(last, bulletin, object.category, object) }}</span>
          <span class="title-icon icon-download"></span>
        </h2>
      </div>
      <div class="content">
        <div class="bulletin-bullet">
          <ng-container *ngIf="( object.items | json ) !== '[]'; else noData ">
            <ul>
              <li *ngFor="let item of object.items | orderBy: ['isFileToday']">
                <a [href]="item.url" target="_blank" [title]="item.url" [ngClass]="{ 'g-fw-bold': item.isFileToday }">{{ item.isFileToday ? TEXT.general.latestNewsletter : '' }}{{ item.title || TEXT.general.unknown }}</a>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </bvl-accordion>
  </div>
</ng-template>

<ng-template #noData>
  <div class="text-center">
    {{ TEXT.filters.noData }}
  </div>
</ng-template>
