@import '../../../../core/lib/src/styles/main.scss';

bvl-publications {
  .box {
    margin-top: 20px;
    padding: 10px 20px;
  }
  .accordion-toggler{
    padding: 0px!important;
  }
  .bulletin-bullet {
    @media (min-width: 991px) {
      padding-left: 20px;
    }
    ul {
      @media (min-width: 991px) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      li {
        color: $gray2;
        display: flex;
        list-style: none;
        margin-bottom: 7px;
        position: relative;

        @media (min-width: 991px) {
          width: 50%;
        }

        &:before {
          color: black;
          content: $icon-dot;
          display: block;
          font-family: $icon-font-family;
          font-size: $fs-5;
          margin-right: 15px;
          margin-top: 6px;
        }

        a {
          color: $gray2;
          margin-right: 4px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .bulletin-gallery {
    ul {
      display: flex;
      flex-wrap: wrap;
  
      li {
        list-style: none;
      }
  
      .info-content {
        border-radius: 4px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 15px;
        width: 100%;
  
        @media (min-width: 468px) {
          display: flex;
        }
  
        @media (min-width: 991px) {
          margin-right: 10px;
          padding: 20px;
          width: calc(50% - 10px);
        }
      }
  
      .info-content:nth-child(2n+2) {
        @media (min-width: 991px) {
          margin-left: 10px;
          margin-right: 0;
        }
      }
  
      .info-title {
        font-size: $fs-16;
        margin-bottom: 15px;
        margin-top: 20px;
        text-align: center;
  
        @media (min-width: 468px) {
          margin-top: 5px;
          text-align: left;
        }
      }
  
      .info-description {
        width: 100%;
      }
  
      .info-combo {
        @media (min-width: 468px) {
          max-width: 350px;
        }
  
        @media (min-width: 991px) {
          max-width: inherit;
        }
      }
  
      .info-imagen {
        border-radius: 4px;
        box-shadow: 5px 5px 5px #ccc;
        height: 200px;
        margin: auto;
        min-width: 160px;
        overflow: hidden;
        width: 160px;
  
        @media (min-width: 468px) {
          height: 160px;
          margin-left: 0;
          margin-right: 20px;
          min-width: 120px;
          width: 120px;
        }
  
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
