<article>
  <bvl-section-header *ngIf="title" [title]="title"></bvl-section-header>
  <ul class="link-list"
    *ngFor="let link of links"
    [ngClass]="(links.length > 1) ? 'w-50' : 'w-100'">
    <li *ngFor="let lnk of link"
      class="link">
      <a ctrl="link" (domChange)="onDomChange($event, { headerTitle: title, link: lnk?.title })"
        [href]="lnk?.url">{{ lnk?.title }}</a>
    </li>
  </ul>
</article>
