@import "../../../../core/lib/src/styles/main.scss";

bvl-links {
  display: block;
  height: 100%;
  padding-bottom: 20px;
  article {
    position: relative;
    background-color: white;
    padding: 1.77rem;
    border-radius: 5px;
    border: 1px solid white;
    height: 100%;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: $red;
    }
  }

  .link-list {
    display: inline-block;
    vertical-align: top;
    li {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media all and (-ms-high-contrast: none) {
    *::-ms-backdrop,
    .link-list li {
      flex: 1 1 50px;
    }
  }
}
