<bvl-slider [ga]="ga" [interval]="interval">
  <ng-container *ngFor="let item of banners">
    <ng-container *bvlSliderItem>
      <article class="item"
        [bvlBackgroundImgUrl]="item?.backgroundImage[0]">
        <div class="content">
          <bvl-section-header *ngIf="item.title" [title]="item.title"></bvl-section-header>
          <p *ngIf="item.description">{{ item.description }}</p>
          <div *ngIf="item?.isPopup && item?.popup" class="modal-link" (click)="loadPopUp(item)"></div>
          <a *ngIf="item.isButton"
            ctrl="itemButton" (domChange)="onDomChange($event, { headerTitle: item?.title, itemButton: item?.textButton })"
            [href]="item.urlButton" class="btn btn-primary">{{ item.textButton }}</a>
          <ng-container *ngIf="item.isLink">
            <a [href]="item.urlLink">
              {{item.textLink}}
              <i class="icon-simple-arrow-right"></i>
            </a>
          </ng-container>
        </div>
      </article>
    </ng-container>
  </ng-container>
</bvl-slider>
