<bvl-card-wrapper>
  <button bvl-button type="button" (click)="generateSitemap()">
    <i class="la la-cogs g-pr--5 g-fs-20"></i>
    <span>Generar sitemap</span>
  </button>
  <div class="mt-xs-2" *ngIf="isVisibleFrame">
    <bvl-tabs>
      <bvl-tab header="sitemap.xml">
        <div class="py-3 px-3 g-bgc-white">
          <iframe
            [src]="siteMapLink | safeUrl"
            frameborder="0"
            height="500px"
            width="100%"
          >
          </iframe>
        </div>
      </bvl-tab>
      <bvl-tab header="post_es_sitemap.xml">
        <div class="py-3 px-3 g-bgc-white">
          <iframe
            [src]="siteMapEsLink | safeUrl"
            frameborder="0"
            height="500px"
            width="100%"
          >
          </iframe>
        </div>
      </bvl-tab>
      <bvl-tab header="post_en_sitemap.xml">
        <div class="py-3 px-3 g-bgc-white">
          <iframe
            [src]="siteMapENLink | safeUrl"
            frameborder="0"
            height="500px"
            width="100%"
          >
          </iframe>
        </div>
      </bvl-tab>
    </bvl-tabs>
  </div>
</bvl-card-wrapper>
