<header class="g-admin-header" [ngClass]="customClass">
  <div class="g-admin-brand">
    <img [src]="IMAGES?.logoBvl?.src" [alt]="IMAGES?.logoBvl?.alt">
  </div>
  <div class="g-admin-profile">
    <div class="g-admin-profile-info">
      <i class="la la-user"></i>
      <span>
        <strong>{{ fullname }}</strong>
        {{ roleName }}
      </span>
    </div>
    <div class="g-admin-profile-logout">
      <a href="javascript:void(0)"
        (click)="logout()">
        <i class="la la-sign-out"></i>
        {{ GENERAL_LANG?.links?.signOff }}
      </a>
    </div>
  </div>
</header>