<div class="g-input-password">
  <span class="la la-eye g-fs-24 {{classModifier}} g-cursor-pointer"></span>
  <input class="g-input" type="{{type}}" name="{{name}}" placeholder="{{placeHolder}}">
</div>
