
<ng-container *ngIf="popover; else simpleLabel">
    <ng-template #popTitle>{{ popover.title }}</ng-template>
    <ng-template #popContent>{{ popover.body }}</ng-template>
    <span class="label label-sm"
          [attr.class]="class"
          [bvlPopover]="popContent"
          [popoverTitle]="popTitle"
          [popoverUrl]="popover.url"
          [popoverClass]="popover.class">
        {{ label }}
    </span>
</ng-container>

<ng-template #simpleLabel>
    <span class="label label-sm"
          [ngClass]="class">
        {{ label }}
    </span>
</ng-template>