@import '../styles/main.scss';

.label {
    color: white;
    background-color: $light-red;
    border-radius: .2rem;
    text-align: center;
    min-width: 2em;
    &.with-popover {
        cursor: pointer;
    }
}

.label-HI {
    color: $table-dark-background;
}