<div class="g-admin-template-select g-bgc-gray5 h-100">
  <div class="g-admin-template-select-img">
    <img class="g-img-full g-img-border"
      [src]="template?.imageUri"
      alt="">
    <div class="g-admin-template-select-overlay">
      <button type="button"
        bvl-button
        class="g-admin-btn-with-icon g-admin-btn-iconLeft"
        (click)="selectTemplate(template)">
        <span>{{ GENERAL_LANG?.buttons?.select }}</span>
        <i class="la la-mouse-pointer"></i>
      </button>
      <button type="button"
        bvl-button
        theme="transparent"
        class="g-admin-btn-with-icon g-admin-btn-iconLeft"
        (click)="templatePreview(template)">
        <span>{{ GENERAL_LANG?.buttons?.preview }}</span>
        <i class="la la-eye"></i>
      </button>
    </div>
  </div>
  <div class="">
    <h3 class="g-fw-medium m-0">
      {{ template?.name }}
    </h3>
    <p class="m-0">
      {{ template?.description }}
    </p>
  </div>
</div>