@mixin clearfix() {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin fancyScrollbar($thumbColor, $trackColor) {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
    &::-webkit-scrollbar-track-piece {
        background: darken($trackColor, 5%);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $thumbColor;
        border-radius: 4px;
    }
}