// Colors
$background-color: #f4f6fa;
$body-color: #5c5c5c;

$white: #ffffff;
$black: #000000;
$transparent: transparent;

$almost-black: #2a2a2a;
$darkest-gray: #353535;
$darker-gray: #646464;
$dark-gray: #8c8c8c;
$gray: #979797;
$light-gray: #b2b2b2;
$lighter-gray: #dcdcdc;
$lightest-gray: #ececec;
$almost-white: #f5f5f5;

$gray2: #4a4a4a;
$red: #ff0100;
$light-red: #eb5a5a;
$green: #6bbd45;
$blue: #34bdb2;

$table-dark-background: #403f3f;
$table-dark-selected-row: #edecf1;
$table-dark-details-row: white;

// Fonts
$base-font: 'formata', sans-serif;
$title-font: 'avant-garde', sans-serif;
$lucida-font: 'lucida-grande', sans-serif;
$font-path: './assets/fonts';

// Icon font
$icon-font-family: 'font-icons';
$icon-phone-rotation: "\e93e";
$icon-dot: "\e93d";
$icon-plus: "\e93c";
$icon-minus: "\e93b";
$icon-close: "\e93a";
$icon-close-circle: "\e939";
$icon-check: "\e938";
$icon-arrow-left: "\e920";
$icon-arrow-right: "\e921";
$icon-arrow-up: "\e922";
$icon-arrow-down: "\e923";
$icon-sort: "\e93f";
$icon-chevron-down: "\e937";
$icon-thin-arrow-right: "\e936";
$icon-add: "\e935";
$icon-minus-circle: "\e934";
$icon-download: "\e933";
$icon-simple-arrow-right: "\e946";
$icon-simple-arrow-down: "\e947";
$icon-search: "\e924";
$icon-envelope: "\e925";
$icon-user: "\e926";
$icon-alarm: "\e927";
$icon-timer: "\e940";
$icon-contextual-menu: "\e932";
$icon-align-left: "\e931";
$icon-open: "\e930";
$icon-calendar: "\e92f";
$icon-podcast: "\e92e";
$icon-quotes-close: "\e92d";
$icon-quotes-open: "\e92c";
$icon-twitter-filled: "\e928";
$icon-twitter: "\e929";
$icon-youtube: "\e92a";
$icon-facebook: "\e92b";
$icon-instagram: "\e941";
$icon-upvote: "\e942";
$icon-downvote: "\e943";
$icon-watch: "\e944";
$icon-logo: "\e945";

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  xl: 1200px
);
$columns: 12;
$col-gutter: 30px;

// Buttons
$btn-radius: .54em;

$fs-5: .385rem;
$fs-6: .462rem;
$fs-8: .615rem;
$fs-10: .769rem;
$fs-11: .846rem;
$fs-13: 1rem;
$fs-14: 1.077rem;
$fs-15: 1.154rem;
$fs-16: 1.231rem;
$fs-17: 1.308rem;
$fs-18: 1.385rem;
$fs-19: 1.462rem;
$fs-20: 1.538rem;
$fs-21: 1.615rem;
$fs-35: 2.692rem;
$fs-44: 3.385rem;