<div class="g-drag-icon" bvlComponentIcon [component]="component">
  <div class="g-drag-icon-header">
    <img class="" [src]="component?.imageUri" alt="">
  </div>
  <div class="g-drag-icon-body">
    <span class="g-fs-10 g-fw-normal text-center">
      {{ component?.name }}
    </span>
  </div>
</div>
