<div class="page-section">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-auto">
          <bvl-section-header
            [title]="title"
            [align]="titleAlign"></bvl-section-header>
      </div>
    </div>

    <form [formGroup]="frmSearch" class="w-100">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="row">
            <div class="col">
              <bvl-form-input type="search"
                formControlName="mSearch"
                [formControl]="mSearch">
              </bvl-form-input>
            </div>
            <div class="col-auto">
              <button class="btn btn-primary d-block" (click)="search()">{{ TEXT.searchPageSite.form.search }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col">
        <p class="search-text" *ngIf="resultSearch" >{{ resultSearch }} <strong *ngIf="countResult">{{ countResult }}</strong></p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4" *ngFor="let item of searchs">
        <div class="search-item">
          <a [href]="item.path" class="search-card">
            <bvl-section-header [title]="item.title"></bvl-section-header>
            <p>{{ item.metadata.description || TEXT.searchPageSite.results.itemNoDescription }}</p>
          </a>
        </div>
      </div>

    </div>

  </div>
</div>
