:host {
  .search-text {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
  }

  .search-item {
    padding-bottom: 20px;
  }

  .search-card {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    display: block;
    height: 100%;
    padding: 1.77rem;
    transition: border-color .3s ease;

    &:hover {
      border-color: #ff0100;
    }

    p {
      color: #5c5c5c;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
