<article>
  <div class="card">
    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let brand of brands">
        <ng-container *ngFor="let image of brand['background-image']">
          <a ctrl="link" (domChange)="onDomChange($event, { imageTitle: image?.properties?.title, imageAlt: image?.properties?.alt })"
            [href]="brand['url-link']">
            <img [bvlImgSrcset]="image" [alt]="image?.properties?.alt" [title]="image?.properties?.title">
          </a>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row"
    *ngIf="isButton">
    <div class="col-12">
      <a [href]="urlButton" class="btn btn-primary">{{ textButton }}</a>
    </div>
  </div>
</article>
