@import "../../../../core/lib/src/styles/main.scss";

bvl-brands {
  display: block;
  height: 100%;
  article {
    .card {
      background-color: white;
      padding: 1rem 1.77rem;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 10px auto;
      pointer-events: none;
    }
  }
}
