<div [ngClass]="{ 'page-section dark': !privateSite }">
  <ng-container *ngIf="!privateSite">
    <div class="page-subsection first text-center">
      <h1 class="page-title">{{ TEXT.general.indexes }}</h1>
    </div>
    <div class="page-subsection">
      <div class="row justify-center">
        <div class="g-max-w--62 w-100">
          <bvl-movements-summary
            [risingValues]="up"
            [downsidingValues]="down"
            [maintainedValues]="equal">
          </bvl-movements-summary>
        </div>
      </div>
    </div>
  </ng-container>
  <section class="with-details-row" [ngClass]="{ 'full-width': !privateSite }">
    <div class="tables">
      <ng-container *ngIf="privateSite">
        <div class="table-header">
          <div class="table-header-content with-only-today container">
            <div class="header-items-wrapper">
              <h3 class="title">Watchlist: {{ TEXT.general.indexes }}</h3>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="tablesData && tablesData?.data && tablesData?.data?.length; else noData">
        <div class="tables-container loaded" [ngClass]="{ 'container': !privateSite }">
          <ng-container *ngFor="let table of tablesData?.data">
            <article class="table-article">
              <div class="table-wrapper" topScrollbar>
                <table class="table-dark table" scrolledElement>
                  <thead>
                    <tr class="bvl-row">
                      <th
                        class="bvl-header-cell"
                        [ngSwitch]="column.name"
                        *ngFor="let column of tableColumns; index as i"
                      >
                        <ng-container *ngSwitchCase="'inWatchlist'">
                          <i class="icon-watch"></i>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ tableColumns[i].label }}
                          <button
                            type="button"
                            (click)="sortBy(tableColumns[i], table)"
                            class="btn btn-icon btn-sortBy"
                            [class.active]="
                              table.metadata.sortedBy.column === tableColumns[i]
                            "
                          >
                            <i class="icon-sort"></i>
                          </button>
                        </ng-container>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let element of table.entries._value; index as i">
                      <tr
                        class="bvl-row"
                        [ngClass]="{
                          'selected-row':
                            table.metadata.expandedElement &&
                            table.metadata.expandedElement.id === element.id
                        }"
                        ctrl="rowItem"
                        (domChange)="onDomChange($event, element)"
                      >
                        <td style="cursor: pointer" (click)="expandElement(element, table)">{{ element.index | truncate}}</td>
                        <td style="cursor: pointer" class="text-right" (click)="expandElement(element, table)">{{ element.last | number}}</td>
                        <td style="cursor: pointer" class="text-right" (click)="expandElement(element, table)">{{ element.previous | number}}</td>
                        <td style="cursor: pointer" class="text-right" (click)="expandElement(element, table)">{{ element.open | number}}</td>
                        <td style="cursor: pointer" class="text-right" (click)="expandElement(element, table)">{{ element.high | number}}</td>
                        <td style="cursor: pointer" class="text-right" (click)="expandElement(element, table)">{{ element.low | number}}</td>
                        <td style="cursor: pointer" class="text-right" (click)="expandElement(element, table)">{{ element.variation}}</td>
                        <td>
                          <button
                            class="btn btn-icon"
                            (click)="toggleInWatchList(element)"
                            ctrl="watchlist"
                            (domChange)="onDomChange($event, getLabelWatchList(element))">
                            <i [ngClass]="element.inWatchlist ? 'icon-minus-circle' : 'icon-add'"
                              [style.color]="element.inWatchlist ? 'red' : ''"></i>
                          </button>
                        </td>
                      </tr>
                      <tr class="details-row">
                        <td
                          [attr.colspan]="tableColumns.length"
                          [ngClass]="{
                            expanded:
                              table.metadata.expandedElement &&
                              table.metadata.expandedElement.id === element.id
                          }"
                        >
                          <article
                            class="element-details"
                            [@detailExpand]="getAnimationState(element, table)"
                          >
                            <header>
                              <h3 class="title">{{ element.name }}</h3>
                              <button
                                class="btn btn-close"
                                (click)="table.metadata.expandedElement = null"
                              >
                                <span class="sr-only">Close</span>
                                <i class="icon-close"></i>
                              </button>
                            </header>
                            <div class="row no-gutters">
                              <div class="col-md-8 col-sm-12">
                                <div
                                  [id]="'graphic-' + element.id"
                                  class="graphic-wrapper"
                                ></div>
                              </div>
                              <div class="col-md-4 col-sm-12">
                                <bvl-links-list
                                  [links]="element.links"
                                  [ga]="ga"
                                ></bvl-links-list>
                              </div>
                            </div>
                            <div class="advice row no-gutters" *ngIf="media.isActive('xs')">
                              <div class="col-6">
                                <h4>{{ TEXT.general.turnPhone }}</h4>
                              </div>
                              <i class="icon-close"></i>
                            </div>
                          </article>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </article>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #noData>
        <bvl-without-data [type]="WITHOUT_DATA_TYPE?.table"></bvl-without-data>
      </ng-template>
    </div>
  </section>
</div>
