@import "../../../fancy-table/src/app/fancy-table.component.scss";
@import "../../../fancy-table/src/app/fancy-table-header/fancy-table-header.component.scss";

bvl-index-table {
  .page-section {
    overflow: hidden;
  }
  .table-dark tbody tr:nth-of-type(2n) {
    background: #fff;
  }
}
