<ul class="tablist d-none d-md-flex">
  <li *ngFor="let tab of tabs">
    <a ctrl="buttonTab" (domChange)="onDomChange($event, { button: tab.title })"
      href="javascript:void(0)"
      class="btn"
      [ngClass]="{'btn-primary active': tab.active}"
      (click)="selectTab(tab)">
      {{ tab.title }}
    </a>
  </li>
</ul>

<div class="tablist d-block d-md-none">
  <bvl-form-select
    [(ngModel)]="mSelectTab"
    [dataList]="tabs"
    valueField="title"
    textField="title"
    (change)="selectTab(mSelectTab)">
  </bvl-form-select>
</div>

<ng-content></ng-content>
