{{#header}}
  {{>organisms-Header}}
{{/header}}

<div class="g-wrapper">

  {{#sidebar}}
    {{>organisms-Sidebar}}
  {{/sidebar}}

  <main class="g-main">

    <div class="g-card-wrapper">

      {{#pagesList}}
        {{>organisms-Pages-list}}
      {{/pagesList}}

    </div>

  </main>

</div>
