<div class="row no-gutters mb-xs-2" [formGroup]="group">
  <div class="col-auto g-w-100 d-flex" style="height: 46px">
    <label [for]="config.label" class="g-fw-bold g-fs-15 align-self-center">{{ config.label }}:</label>
  </div>
  <div class="col g-bgc-white" [ngClass]="{ 'g-admin-input-error' : validateControl() }">
    <quill-editor
      [modules]="modules"
      [theme]="'snow'"
      [style]="{height: '200px'}"
      [format]="'html'"
      [formControlName]="config.code">
    </quill-editor>
  </div>
</div>
