<label class="g-admin-radio">
  <input type="radio"
        [(ngModel)]="model"
        [value]="value"
        [disabled]="disabled">
  <ng-content></ng-content>
  <span class="checkmark"></span>
</label>