<admin-search-form showUsers="true"
  (search)="search($event)">
</admin-search-form>
<bvl-card-wrapper [withoutResults]="withoutResults">
  <ng-container *ngFor="let item of approvalsList?.content">
    <admin-item-page [page]="item"></admin-item-page>
  </ng-container>
</bvl-card-wrapper>
<bvl-paginator *ngIf="approvalsList?.totalPages > 1"
  [(page)]="pagination.page"
  [collectionSize]="approvalsList?.totalElements"
  (pageChange)="pageChange($event)">
</bvl-paginator>