<bvl-section-header [align]="titleAlign" [title]="title"></bvl-section-header>

<div class="body">
  <bvl-paragraph [description]="description">
  </bvl-paragraph>

  <ng-container *ngFor="let item of sliders">

    <ng-container *ngTemplateOutlet="
      item.backgroundVideo? video: item.backgroundImage? image: null;
      context:{
         $implicit: item.backgroundVideo || item.backgroundImage
      }"
    >
    </ng-container>

  </ng-container>

  <div *ngIf="isLink">
    <a class="link" rel="nofollow" [href]="urlLink">{{ textLink }}<i class="icon-arrow-right"></i></a>
  </div>
</div>

<ng-template #video let-videos>
  <ng-container *ngFor="let video of videos">
    <div class="video">
      <video [src]="video.url" controls></video>
    </div>
  </ng-container>
</ng-template>

<ng-template #image let-images>
  <ng-container *ngFor="let image of images">
    <div class="image">
      <img [bvlImgSrcset]="image" [alt]="image.properties?.alt" [title]="image.properties?.title">
    </div>
  </ng-container>
</ng-template>
