<div class="g-admin-select">
  <select [(ngModel)]="model"
    [ngClass]="{'g-admin-input-error': error}"
    [disabled]="disabled">
    <option *ngIf="placeholder" ngValue="">{{ placeholder }}</option>
    <option *ngFor="let item of dataList"
      [ngValue]="item">
      {{ item[textField] }}
    </option>
  </select>
  <span></span>
</div>