<bvl-card-wrapper>
  <div class="mb-xs-2">
    <button bvl-button
      (click)="openModal(ACTION_TYPES?.add)">
      <i class="la la-plus-circle g-pr--5 g-fs-20"></i>
      <span>Agregar</span>
    </button>
  </div>
  <bvl-card *ngFor="let category of categories?.content">
    <bvl-card-header>
      <div class="row justify-content-between">
        <div class="col-3">
          <bvl-card-cell label="{{ GENERAL_LANG.labels?.category + ' (es/en)'}}">
            <ng-container *ngFor="let language of category?.languages; let last = last">
              <ng-container *ngIf="language?.category">
                {{ language?.category }}{{ (last) ? '' : ' / ' }}
              </ng-container>
            </ng-container>
          </bvl-card-cell>
        </div>
        <div class="col-3">
          <bvl-card-cell label="{{ GENERAL_LANG.labels?.path + ' (es/en)'}}">
            <ng-container *ngFor="let language of category?.languages; let last = last">
              <ng-container *ngIf="language?.path">
                {{ language?.path }}{{ (last) ? '' : ' / ' }}
              </ng-container>
            </ng-container>
          </bvl-card-cell>
        </div>
        <div class="col-3 text-right">
          <ng-container *ngFor="let item of TRAY_COLLAPSE_BUTTONS">
            <button *ngIf="item.isCollapsed === true"
              bvl-button
              theme="square"
              [ngClass]="item.customClass"
              (click)="openModal(item.actionType, category)">
              <i class="la" [ngClass]="item.icon"></i>
              <span>{{ item?.description }}</span>
            </button>
          </ng-container>
        </div>
      </div>
    </bvl-card-header>
  </bvl-card>
</bvl-card-wrapper>
<bvl-paginator
  *ngIf="categories?.totalPages > 1"
  [(page)]="currentPage"
  [collectionSize]="categories?.totalElements"
  (pageChange)="pageChange($event)">
</bvl-paginator>