@import '../styles/main.scss';

.link-list {
    color: white;
    background-color: $red;
    padding: .9em;
    a,
    a::after {
        color: inherit;
    }
    a {
        font-weight: 700;
    }
}