<ul *ngIf="links" class="link-list">
  <li *ngFor="let link of links">
    <a [attr.href]="link.url" [attr.title]="link.title"
    ctrl="linkListLink" (domChange)="onDomChange($event, { textLink: link.title })">{{ link.title }}</a>
  </li>
</ul>
