<div class="container">
  <div class="row">
    <div class="col-4 mb-2" *ngFor="let comp of components">
      <a href="javascript:void(0)"
        (click)="componentSelect(comp)">
        <img class=""
          [src]="comp?.imageUri"
          alt="">
        <div class="">
          <h3 class="g-fw-medium m-0">
            {{ comp?.name }}
          </h3>
          <p class="m-0">
            {{ comp?.description }}
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
