@import "../../../../core/lib/src/styles/main.scss";

bvl-issuer-details {
  #company-name {
    font-size: 28px;
  }

  .image {
    max-width: 100%;
  }

  .description {
    font-size: 14px;
    text-align: justify;
  }

  .value-title {
    font-size: 1.3rem;
    color: $red;
    margin: 0.375em 0;
    font-family: $title-font;
    @include media-breakpoint-up("lg") {
      font-size: 1.6rem;
    }
  }
  .g-site-select {
    &--label {
      padding: 0px;
      &--large {
        color: $red;
        span {
          font-family: $title-font;
          font-weight: 700;
          font-size: 21px;
        }
        i {
          margin-left: 20px;
        }
      }
    }
  }

  .source {
    position: absolute;
    bottom: 0;
    color: #5f5f5f;
    font-weight: 600;
    margin-bottom: -18px;
  }
  .details {
    ul {
      list-style: none;
      li {
        .description-list {
          margin: 0;
          position: relative;
          padding-left: 0.92em;
          &::before {
            content: "•";
            color: $red;
            position: absolute;
            font-weight: 700;
            left: 0;
            top: 0.08em;
          }
          dt,
          dd {
            float: none;
            display: inline;
          }
          dd {
            margin-left: 0.38rem;
          }
        }
        p {
          padding-left: 0.92em;
          color: $dark-gray;
        }
      }
    }
  }

  .article-title {
    font-size: 1.53rem;
    margin: 0.66em 0;
    font-family: $title-font;
  }

  .directory,
  .table-details {
    border-radius: 0.38em;
    overflow: hidden;
    position: relative;
    margin-bottom: 0.75rem;
    color: #fff;
    table {
      width: 100.1%;
    }
    .head,
    li,
    th,
    td {
      padding: 0.76em 1.3em;
    }
    li {
      width: 50%;
      float: left;
    }
    .head,
    thead {
      background: #403f3f;
    }
    ul,
    tbody tr {
      background: #333232;
    }
    ul {
      display: table;
      width: 100%;
    }
    footer {
      background: #403f3f;
      padding: 12px;
    }

    @media (max-width: 1199px) {
      overflow-y: hidden;
      overflow-x: auto;
    }
  }

  .transaction-details {
    border: 1px solid $lighter-gray;
    border-radius: 5px;
    padding: 1rem 1.15rem;
    margin: 0.75rem 0;

    .pie-list {
      li {
        span {
          font-size: 30px;
          line-height: 0px;
          margin-right: 8px;
          position: relative;
          top: 6px;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      margin-left: -15px;
      margin-right: -15px;
    }
    @include media-breakpoint-up(sm) {
      padding: 1.5rem 2rem;
    }
    @include media-breakpoint-up(md) {
      padding: 2rem;
    }
    dl {
      &.title {
        margin-bottom: 0.5rem;
        dt {
          display: inline;
          &::after {
            content: ":";
            margin-right: 0.38rem;
          }
        }
        dd {
          display: inline;
        }
      }
      &.big {
        dt {
          font-weight: 700;
        }
        dd {
          font-size: 1.92rem;
          line-height: 1.1;
          color: $green;
          @include media-breakpoint-up(sm) {
            font-size: 2.5rem;
          }
          @include media-breakpoint-up(md) {
            font-size: 2.5rem;
          }
        }
      }
      &.gray {
        color: $dark-gray;
        dt {
          display: inline;
          &::after {
            content: ":";
            margin-right: 0.38rem;
          }
        }
        dd {
          display: inline;
        }
      }
      &.description-list {
        line-height: 1.5;
        margin-bottom: 0;
        dt,
        dd {
          float: none;
        }
        dd {
          margin: 0 0 0.75rem;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
    & > .row {
      & > div:first-of-type {
        border-right: 1px solid $lightest-gray;
      }
    }
  }

  bvl-resources {
    margin: -1.38rem -2.31rem;
  }
  .btn-set {
    display: block;
    width: 550px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 7px;
    button {
      display: inline-block;
      padding: 15px;
      font-size: 14px;
      color: #414141;
      border: 0px;
      border-right: 1px solid #a7a7a7;
      &:hover {
        background: white;
      }
      i {
        position: relative;
        top: 2px;
        left: -5px;
        font-size: 16px;
      }
    }
  }
  .realtime-info {
    border: 0.6px solid #dddddd;
    border-bottom-color: #8a8a8a;
    border-right-color: #8a8a8a;
    display: inline-block;
    width: 550px;
    max-width: 100%;
    margin-top: 16px;
    padding: 6px 20px;
    border-radius: 6px;
    cursor: pointer;
    a {
      font-size: 12px;
    }
  }
  bvl-simple-table {
    .table {
      th {
        font-size: 2em;
        text-align: right;
        &:first-of-type {
          padding-left: 1.5rem;
          text-align: left;
        }
        &:last-of-type {
          padding-right: 1.5rem;
        }
      }
    }
  }
}
