<section class="page-section dark text-center">
  <h1 id="company-name">{{ companyName }}</h1>
  <div class="head-options" *ngIf="nemonics?.length">
    <div class="btn-set">
      <button (click)="toggleWatchList(watchListCheck)">
        <span>
          <i class="icon-watch"></i> {{ watchListCheck ? TEXT.general.remove : TEXT.general.add }} Watchlist
        </span>
      </button>
    </div>
  </div>
  <div class="realtime-info">
    <div class="pull-left">
      <i class="icon-info"></i>
      {{ TEXT.issuers.realTimeBagPlay }}
    </div>
    <div class="pull-right">
      <a [href]="TEXT?.general?.urlRealTime">
        {{ TEXT.general.moreInfo | uppercase}}
        <i class="icon-arrow-right"></i>
      </a>
    </div>
  </div>
</section>
<ng-container *ngIf="nemonics?.length">
  <bvl-details-chart [selectData]="[nemonics, currentNemonic]" [ga]="gaChartOptions"></bvl-details-chart>
</ng-container>

<div class="page-section">
  <div class="container">
    <bvl-tabs (selectTabChange)="onTabChange($event)" class="main-tabs" [ga]="gaTab">
      <bvl-tab
        [active]="isActiveTab('corporativeInfo')"
        [title]="TEXT.issuers.corporativeInfo">
        <article class="details">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <img class="image" *ngIf="companyInfo?.rpjCode" [src]="getLogoCompany(companyInfo?.rpjCode)" alt="">
                </div>
                <div class="col-md-9">
                  <ul>
                    <li>
                      <dl class="description-list">
                        <dt>{{ labelsForm.companyName }}</dt>
                        <dd>{{companyInfo?.name}}</dd>
                      </dl>
                    </li>
                    <li *ngIf="showFieldForCompany">
                      <dl class="description-list">
                        <dt>{{ TEXT.general.phones }}</dt>
                        <dd>{{companyInfo?.phone}}  <span *ngIf="companyInfo?.fax">Fax : {{companyInfo.fax}}</span></dd>
                      </dl>
                    </li>
                    <li *ngIf="showFieldForCompany">
                      <dl class="description-list">
                        <dt>{{ TEXT.general.address }}</dt>
                        <dd>{{companyInfo?.address}}</dd>
                      </dl>
                    </li>
                    <li *ngIf="showFieldForCompany">
                      <dl class="description-list">
                        <dt>{{ TEXT.general.webSite }}</dt>
                        <dd><a [href]="'https://' + companyInfo?.website" target="_blank">{{companyInfo?.website}}</a></dd>
                      </dl>
                    </li>
                    <li>
                      <dl class="description-list">
                        <dt>{{ labelsForm.foundation }}</dt>
                        <dd>{{companyInfo?.fundation}}</dd>
                      </dl>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <h2>{{ TEXT.general.description }}:</h2>
                  <p class="description">{{companyInfo?.descripcion}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <article class="transaction-details" *ngFor="let comp of companyInfo?.shareComposition; index as i">
                <dl class="title">
                  <dt>{{ TEXT.general.stockComposition }} {{ TEXT.general.of }} {{ TEXT.general.lastDayDecember }} {{ TEXT.general.of }} {{ comp.year }} (<strong>{{ comp.type }}</strong>)</dt>
                </dl>
                <div class="row" >
                  <div class="col-5">
                    <div [id]="'pie-chart-' + i"></div>
                  </div>
                  <div class="col-7">
                    <ul class="pie-list">
                      <li *ngFor="let detail of comp.compositions">
                        <span [style.color]="detail.color">&#8226;</span>{{detail.descripcion}}: {{detail.value ? detail.value : '--'}}
                      </li>
                    </ul>
                    <span class="source">{{ TEXT.general.source }}: {{ TEXT.general.annualMemory }}</span>
                  </div>
                </div>
              </article>
            </div>
          </div>

          <section class="directory">
            <div class="head">
              <strong>{{ labelsForm.directory }}</strong><span> - {{ TEXT.general.period }}: {{ companyInfo?.validity }}</span>
            </div>
            <div class="details">
              <ul>
                <li *ngFor="let directory of companyInfo?.directory">
                  <strong>{{ directory.position }}: </strong>{{ directory.name }}
                </li>
              </ul>
            </div>
          </section>

          <section class="directory">
            <div class="head">
              <strong>{{ TEXT.general.generalManager }}</strong>
            </div>
            <div class="details">
              <ul>
                <li *ngFor="let directory of companyInfo?.manager">
                  <strong>{{ directory.position }}: </strong>{{ directory.name }}
                </li>
              </ul>
            </div>
          </section>
        </article>
      </bvl-tab>
      <bvl-tab
        *ngIf="nemonics?.length"
        [active]="isActiveTab('value')"
        [title]="TEXT.issuers.value">
        <ng-container *ngIf="details?.values; else noData">
          <ng-container
            *ngFor="let value of details?.values"
            [ngTemplateOutlet]="valueDetails"
            [ngTemplateOutletContext]="{value: value}">
          </ng-container>
        </ng-container>
      </bvl-tab>
      <bvl-tab
        *ngIf="nemonics?.length"
        [active]="isActiveTab('quotationHistory')"
        [title]="TEXT.issuers.quotationHistory">
        <bvl-toolbar
          [capabilities]="['filterByDate', 'filterByNemonic']"
          [nemonicsData]="[nemonics, currentNemonic]"
          [dateFilter]="dateRange"
          (activeFilters)="onDateFilterChange($event)">
        </bvl-toolbar>
        <section class="table-details">
          <table class="text-right table">
            <thead>
              <th class="text-left">{{ TEXT.general.date }} {{ TEXT.general.of }}<br />{{ TEXT.general.quotation | lowercase }}</th>
              <th>{{ TEXT.general.opening }}</th>
              <th>{{ TEXT.general.closing }}</th>
              <th>{{ TEXT.general.max }}</th>
              <th>{{ TEXT.general.min }}</th>
              <th>{{ TEXT.general.average }}</th>
              <th>{{ TEXT.general.negotiatedQuantity }}</th>
              <th>{{ TEXT.general.negotiatedAmount }}<br />({{quotationData && quotationData[0]?.currencySymbol }})</th>
              <th>{{ TEXT.general.yesterday }}</th>
              <th>{{ TEXT.general.yesterdayClose }}</th>
            </thead>
            <tbody>
              <ng-container *ngIf="quotationData?.length; else noDataDates">
                <tr *ngFor="let item of quotationData">
                  <td class="text-left">{{ item.date }}</td>
                  <td>{{ item.open }}</td>
                  <td>{{ item.close }}</td>
                  <td>{{ item.high }}</td>
                  <td>{{ item.low }}</td>
                  <td>{{ item.average }}</td>
                  <td>{{ item.quantityNegotiated }}</td>
                  <td>{{ item.negotiatedAmount }}</td>
                  <td>{{ item.yesterday }}</td>
                  <td>{{ item.yesterdayClose }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <footer *ngIf="allQuotation?.length > maxRows">
            <bvl-pagination [data]="allQuotation" [max]="maxRows" (emitChangePage)="emitChangePage($event)"></bvl-pagination>
          </footer>
        </section>
      </bvl-tab>
      <bvl-tab
        [active]="isActiveTab('importantFacts')"
        [title]="TEXT.issuers.importantFacts">
        <ng-container *ngIf="importantFacts; else noData">
          <bvl-resources
            [resources]="importantFacts?.content"
            [itemsPerRow]="importantFacts?.content.length > 4 ? 4 : importantFacts?.content.length"
            [entity]="'issuer'"
            [toolBarFilterIsVisible] = "false"
            [datesFilter] = "true"
            [startDate]="startDate"
            [resourceType]="'importantFacts'"
            [totalPages]="importantFacts?.totalPages"
            [tableDownload]="true"
            [capabilities]="[]"
            (toolbarFilter)="onResourcesFilter($event, 'important')">
          </bvl-resources>
        </ng-container>
      </bvl-tab>
      <bvl-tab
        [active]="isActiveTab('finantialInfo')"
        [title]="TEXT.issuers.finantialInfo">
        <ng-container *ngIf="finantialInfoTable">
          <bvl-simple-table [data]="finantialInfoTable"></bvl-simple-table>
        </ng-container>
        <div class="page-section">
          <h1 class="m-0 pb-4">{{ TEXT.general.financialStatements }}</h1>
          <ng-container *ngIf="finantialInfo; else noData">
            <bvl-resources
              [byTypeFilter]="finantialTypes"
              [toolBarFilterIsVisible] = "true"
              [periods]="periods"
              [resources]="finantialInfo?.content"
              [itemsPerRow]="finantialInfo?.content.length > 4 ? 4 : finantialInfo?.content.length"
              [entity]="'issuer'"
              [datesFilter]="false"
              [resourceType]="'finantialInfo'"
              [totalPages]="finantialInfo?.totalPages"
              [yearRange]="true"
              [yearLabel]="'Año'"
              [periodByYear]="true"
              (toolbarFilter)="onResourcesFilter($event, 'finantial')">
            </bvl-resources>
          </ng-container>
        </div>
      </bvl-tab>
      <bvl-tab
        [active]="isActiveTab('memories')"
        [title]="TEXT.issuers.memories">
        <ng-container *ngIf="memories; else noData">
          <bvl-resources
            [capabilities]="[]"
            [maxObjects]="10"
            [yearRange]="true"
            [yearLabel]="'Año'"
            [resources]="memories"
            [paginateByService]="false"
            [itemsPerRow]="memories.length > 4 ? 4 : memories.length"
            [entity]="'issuer'"
            [datesFilter]="false"
            (toolbarFilter)="onResourcesFilter($event, 'memories')">
          </bvl-resources>
        </ng-container>
      </bvl-tab>
    </bvl-tabs>

    <ng-template #valueDetails let-value="value">
      <select class="select select-xl red tablist"
        role="tablist"
        [(ngModel)]="currentNemonic"
        (change)="onNemonicChange(currentNemonic)">
        <option
          *ngFor="let item of nemonics; index as i"
          [value]="item">
          {{ item }}
        </option>
      </select>
      <div class="g-site-select">
        <div class="g-site-select--label--large">
          <span>{{ currentNemonic }}</span>
          <i class="icon-simple-arrow-down"></i>
        </div>
        <div class="g-site-select--list g-site-select--list-left">
          <div
          [ngClass]="{ 'active' : currentNemonic === item }"
          (click)="currentNemonic = item; onNemonicChange(currentNemonic)"
          *ngFor="let item of nemonics">
            {{ item }}
          </div>
        </div>
      </div>
      <article class="details">
        <div class="row">
          <div class="col-lg-8">
            <ul class="row">
              <li class="col-md-6" *ngIf="value?.date">
                <dl class="description-list">
                  <dt>{{ TEXT.general.date }}</dt>
                  <dd>{{ value.date | date:'dd/MM/yyyy' }}</dd>
                </dl>
              </li>
              <li class="col-md-6" *ngIf="value?.nominalValue">
                <dl class="description-list">
                  <dt>{{ TEXT.codification.nominalValue }}</dt>
                  <dd>{{ value.currency.symbol }} {{ value.nominalValue }}</dd>
                </dl>
              </li>
              <li class="col-md-6" *ngIf="value?.shares">
                <dl class="description-list">
                  <dt>{{ (companyInfo?.sectorCode === COMPANY_VALUES.sectorCodeFI) ? TEXT.general.feesNumber : TEXT.issuers.outstandingShares }}</dt>
                  <dd>{{ value.shares }}</dd>
                </dl>
              </li>
              <li class="col-md-6" *ngIf="value?.dateInscription">
                <dl class="description-list">
                  <dt>{{ TEXT.issuers.dateListingBvl }}</dt>
                  <dd>{{ value.dateInscription | date: 'dd/MM/yyyy' }}</dd>
                </dl>
              </li>
              <li class="col-md-6" *ngIf="value?.capitalizationValue">
                <dl class="description-list">
                  <dt>{{ TEXT.issuers.capitalization }}</dt>
                  <dd>{{ value.currency.symbol }}<span></span> {{ value.capitalizationValue }}</dd>
                </dl>
                <p class="info-msg" [innerHtml]="value.cotizacionMessage || ''"></p>
              </li>
            </ul>
          </div>
        </div>
      </article>

      <article class="last-benefits">
        <h4 class="article-title">{{ TEXT.benefits.lastBenefits }}</h4>
        <section class="table-details">
          <table class="table">
            <thead>
              <th>{{ TEXT.benefits.rights }}</th>
              <th class="text-center">{{ TEXT.general.date }} {{ TEXT.general.of }} {{ TEXT.benefits.agreement | lowercase }}</th>
              <th class="text-center">{{ TEXT.general.date }} {{ TEXT.general.of }} {{ TEXT.benefits.cut | lowercase }}</th>
              <th class="text-center">{{ TEXT.general.date }} {{ TEXT.general.of }} {{ TEXT.benefits.registry | lowercase }}</th>
              <th class="text-center">{{ TEXT.general.date }} {{ TEXT.general.of }} {{ TEXT.benefits.delivery | lowercase }}</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of value.lastBenefits | orderBy: ['-agreementDate']">
                <td class="text-right">{{ item.name }}</td>
                <td class="text-center">{{ item.agreementDate | date:'dd/MM/yyyy' }}</td>
                <td class="text-center">{{ item.cutoffDate }}</td>
                <td class="text-center">{{ item.registrationDate }}</td>
                <td class="text-center">{{ item.deliveryDate }}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </article>

      <div class="row">
        <div class="col-lg-5">
          <article class="transaction-details">
            <dl class="title">
              <dt>{{ TEXT.general.lastMovement }}</dt>
              <dd>{{ value.lastMovement?.date | date: 'dd/MM/yyyy HH:mm:ss' }}</dd>
            </dl>
            <div class="row">
              <div class="col-sm-7">
                <dl class="big">
                  <dt>{{ TEXT.general.currentPrice }}</dt>
                  <dd>{{ value.currency.symbol }} {{ value.lastMovement?.actual }}</dd>
                </dl>
                <dl class="gray">
                  <dt>{{ TEXT.general.price }} {{ TEXT.general.of }} {{ TEXT.general.opening | lowercase }}</dt>
                  <dd>{{ value.currency.symbol }} {{ value.lastMovement?.opening }}</dd>
                </dl>
              </div>
              <div class="col-sm">
                <dl class="description-list">
                  <dt>{{ TEXT.general.variation }}</dt>
                  <dd>{{ value.lastMovement?.variation }} ({{ value.lastMovement?.variationPercent }}%)</dd>
                  <dt>{{ TEXT.general.negotiatedAmount }}</dt>
                  <dd>{{ value.currency.symbol }} {{ value.lastMovement?.negotiatedAmount }}</dd>
                </dl>
              </div>
            </div>
          </article>
        </div>
        <div class="col-lg-7">
          <article class="transaction-details">
            <dl class="title">
              <dt>{{ TEXT.general.LastTradingDay }}</dt>
              <dd>{{ value.lastStockMarketDay?.date | date:'dd/MM/yyyy' }}</dd>
            </dl>
            <div class="row">
              <div class="col-sm-4">
                <dl class="big">
                  <dt>{{ TEXT.general.price }} {{ TEXT.general.opening | lowercase }}</dt>
                  <dd>{{ value.currency.symbol }} {{ value.lastStockMarketDay?.open }}</dd>
                </dl>
                <dl class="gray">
                  <dt>{{ TEXT.general.price }} {{ TEXT.general.closing | lowercase }}</dt>
                  <dd>{{ value.currency.symbol }} {{ value.lastStockMarketDay?.close }}</dd>
                </dl>
              </div>
              <div class="col-sm pr-0">
                <div class="row">
                  <div class="col-sm pr-0">
                    <dl class="description-list">
                      <dt>{{ TEXT.general.price }} {{ TEXT.general.min | lowercase }}</dt>
                      <dd>{{ value.currency.symbol }} {{ value.lastStockMarketDay?.min }}</dd>
                      <dt>{{ TEXT.general.price }} {{ TEXT.general.max | lowercase }}</dt>
                      <dd>{{ value.currency.symbol }} {{ value.lastStockMarketDay?.max }}</dd>
                    </dl>
                  </div>
                  <div class="col-sm pr-0">
                    <dl class="description-list">
                      <dt>{{ TEXT.general.variation }}</dt>
                      <dd>{{ value.lastStockMarketDay?.variation }} ({{ value.lastStockMarketDay?.variationPercent }}%)</dd>
                      <dt>{{ TEXT.general.negotiatedAmount }}</dt>
                      <dd>{{ value.currency.symbol }} {{ value.lastStockMarketDay?.negotiatedAmount }}</dd>
                    </dl>
                  </div>
                  <div class="col-sm pr-0">
                    <dl class="description-list">
                      <dt>{{ TEXT.general.noTradedShared }}</dt>
                      <dd>{{ value.lastStockMarketDay?.quantityNegotiated }}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #noData>
  <div class="text-center">
    {{ TEXT.general.noData }}
  </div>
</ng-template>

<ng-template #noDataDates>
  <tr class="text-center">
    <td colspan="10">{{ TEXT.filters.datesRange.noData }}</td>
  </tr>
</ng-template>
