@mixin fancyScrollbar($thumbColor, $trackColor) {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-track-piece {
    background: darken($trackColor, 5%);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border-radius: 4px;
  }
}

:host {
  display: flex;
  flex-direction: column;
  max-height: 65vh;

  bvl-section-header {
    padding-right: 45px;

    ::ng-deep {
      h2 {
        padding-right: 0;
      }
    }
  }

  .body {
    @include fancyScrollbar(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    overflow-y: auto;
  }
}
