<bvl-section-header
  *ngIf="title"
  [align]="titleAlign"
  [title]="title"
>
</bvl-section-header>

<div class="body">
  <bvl-paragraph [description]="description"></bvl-paragraph>
  <div class="overflow-hidden" *ngIf="carousel?.length">
    <bvl-carousel [urlLink]="isLink && urlLink" [textLink]="textLink">
      <ng-container *ngFor="let item of carousel">
        <ng-template bvlCarouselSlide>
          <bvl-image-gallery
            class="slide d-block"
            [hasLink]="item.isLink"
            [image]="item.backgroundImage?.length && item.backgroundImage[0]"
            [link]="item.urlLink"
          >
          </bvl-image-gallery>
        </ng-template>
      </ng-container>
    </bvl-carousel>
  </div>
</div>
