.g-admin-break-word {
  word-wrap: break-word;
}

.g-admin-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.g-admin-controls--right {
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 1;
}

.g-admin-word-extend {
  hyphens: auto;
  word-break: break-all;
}

.c-list {
  &-robots {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    &-item {
      list-style: none;
      font-weight: $fw-bold;

      .g-btn-icon {
        padding: 4px 8px;

        i {
          font-size: 18px;
        }
      }
    }

    &-title {
      background-color: $c-gray6;
      padding: 8px 20px;
      border-bottom: 1px solid $c-gray5;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-detail {
      background-color: $c-gray7;
      padding: 6px 20px;
      border-bottom: 1px solid $c-gray6;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.c-sublist {
  &-robots {
    list-style: none;
    padding: 0;

    &-item {
      font-weight: $fw-normal;
    }
  }
}
