<form [formGroup]="frmLogin"
  class="w-100">

  <div class="row">

    <div class="col">
      <bvl-section-header title="Identifícate"></bvl-section-header>
    </div>

  </div>

  <div class="row">

    <div class="page-subsection first col-12">

      <div class="row">

        <div class="col-12 col-lg-8">

          <bvl-form-alert *ngIf="errorMessage">{{ errorMessage }}</bvl-form-alert>

          <div class="g-pb--15">
            <bvl-form-input label="Email"
              formControlName="mEmail"
              [error]="validateControl('mEmail')">
            </bvl-form-input>
          </div>

          <bvl-form-input type="password"
            label="Contraseña"
            formControlName="mPassword"
            [error]="validateControl('mPassword')"
            [customErrorMessages]="{ minlength: { en : 'La contraseña ingresada debe tener al menos 8 caracteres', es: 'La contraseña ingresada debe tener al menos 8 caracteres' }}">
          </bvl-form-input>

        </div>

      </div>

    </div>

    <div class="col-12 col-md-5 col-lg-3">

      <button ctrl="signInButton"
        class="btn btn-primary btn-block"
        (click)="signIn()">
        Ingresar
      </button>

    </div>

  </div>

  <div class="row">

    <div class="page-subsection col-12">

      <a ctrl="forgotPasswordLink"
        href="javascript:void(0)"
        (click)="goTo('/restablecer-contrasena', 'forgotPassword')">¿Olvidaste tu contraseña?</a>
      <br>
      Si no eres miembro de la BVL, <a ctrl="signUpHereLink" href="javascript:void(0)" (click)="goTo('/registrate', 'signUpHere')">regístrate aquí.</a>

    </div>

  </div>

</form>
