<ul class="nav g-admin-tabs-heading">
  <li *ngFor="let item of tabItemsList"
    [routerLinkActive]="['active']"
    [routerLink]="[item?.route]"
    class="g-admin-tabs-item">
    {{ item.name }}
  </li>
</ul>