<form [formGroup]="frmAddUser">
  <p class="mb-xs-2">
    {{ USER_LANG?.descriptions?.addUserCms }}
  </p>
  <div class="mb-xs-2">
    <bvl-autocomplete [placeholder]="USER_LANG?.labels?.user"
      formControlName="user"
      [dataList]="usersList"
      matchField="username"
      textField="username"
      [error]="validateControl('user')">
    </bvl-autocomplete>
  </div>
  <div class="g-admin-card g-admin-card-gray">
    <div class="row">
      <div class="col-12">
        <span class="d-block mb-xs-2 g-fw-medium">
          {{ USER_LANG?.titles?.assignRole }}
        </span>
      </div>
      <div class="col-12">
        <div class="row align-items-center"
          *ngFor="let item of rolesList">
          <div class="col-4">
            <bvl-radio-button
              formControlName="radioRoles"
              [value]="item">
              {{ item?.roleName }}
            </bvl-radio-button>
          </div>
          <div class="col-8">
            <ng-container *ngFor="let permission of item?.permissionCodeList; let last = last">
              {{ permission?.permissionName }}{{ (last) ? '.' : ', ' }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
