<label class="g-admin-switch g-admin-switch-text">
  <input type="checkbox"
    [(ngModel)]="model">
  <span class="switch">
    <span>{{ valueOff }}</span>
    <span>{{ valueOn }}</span>
  </span>
  <ng-content></ng-content>
</label>