<header>

  <div class='g-height-100 g-bgc-red1'>
  </div>

</header>

<main>
  <section class='page-section'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente - Título de sección -->
          <!-- Componente - Noticias -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section pt-0'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente - Banner -->
        </div>
      </div>

    </div>
  </section>

</main>

<footer>

  <div class='g-height-100 g-bgc-gray10'>
  </div>

</footer>
