<header>

  <div class='g-height-100 g-bgc-red1'>
  </div>

</header>

<main>
  <section class='page-section'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-4 col-lg-3'>
          <!-- Componente - Menu -->
        </div>

        <div class='col-md-8 col-lg-9'>

          <div class='details-main'>

            <div id='' class=''>
              <!-- Componente -->
            </div>

          </div>

        </div>
      </div>
    </div>

  </section>

  <section class='page-section pt-0'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-4'>
          <!-- Componente - Links -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Links -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Links -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section pt-0'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente - Banner -->
        </div>
      </div>

    </div>
  </section>

</main>

<footer>

  <div class='g-height-100 g-bgc-gray10'>
  </div>

</footer>
