<header>

  <div class='g-height-100 g-bgc-red1'>
  </div>

</header>

<main>
  <section class='page-section white'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente <bvl-today></bvl-today> -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-8'>
          <!-- Componente <bvl-home-table></bvl-home-table> -->
        </div>

        <div class='col-md-4'>
          <!-- Componente <bvl-indices in-column='xl' carousel-on='lt-xl'></bvl-indices> -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section pt-0'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente <bvl-commodities></bvl-commodities> -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section pt-0'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente <bvl-banner-slider></bvl-banner-slider> -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section gray'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente <bvl-news></bvl-news> -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-6'>
          <!-- Componente - Título de sección -->
          <!-- Componente <bvl-items-grid></bvl-items-grid> -->
        </div>

        <div class='col-md-6'>
          <!-- Componente <bvl-banner></bvl-banner> -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section pt-0'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente <bvl-media></bvl-media> -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section gray'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-6'>
          <!-- Componente - Título de sección -->
          <!-- Componente <bvl-items-grid></bvl-items-grid> -->
        </div>

        <div class='col-md-6'>
          <!-- Componente - Título de sección -->
          <!-- Componente <bvl-feed></bvl-feed> -->
        </div>
      </div>

    </div>
  </section>
</main>

<footer>

  <div class='g-height-100 g-bgc-gray10'>
  </div>

</footer>
