<header>

  <div class='g-height-100 g-bgc-red1'> <!-- Borrar clases css -->
  </div>

</header>

<main>

  {{#section}}
    <section class='page-section {{modifierClass}}'>

      {{#container}}
        <div class='{{containerClass}}'>

          {{#row}}
            <div class='{{rowClass}}'>

              {{#col}}
                <div class='{{colClass}}'>

                  {{#componentWrapper}}
                    {{>organisms-Component-wrapper}}
                  {{/componentWrapper}}

                </div>
              {{/col}}

            </div>
          {{/row}}

        </div>
      {{/container}}

    </section>
  {{/section}}

</main>

<footer>

  <div class='g-height-100 g-bgc-gray10'> <!-- Borrar clases css -->
  </div>

</footer>
