<header>

  <div class='g-height-100 g-bgc-red1'>
  </div>

</header>

<main>
  <section class='page-section dark'>
    <div class="container-fluid p-0">

      <div class="row no-gutters">
        <div class="col-12">
          <!-- Componente - Tabla: Movimientos diarios -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-4'>
          <!-- Componente - Links -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Links -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Links -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section pt-0'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente - Banner -->
        </div>
      </div>

    </div>
  </section>

</main>

<footer>

  <div class='g-height-100 g-bgc-gray10'>
  </div>

</footer>
