<header>

  <div class='g-height-100 g-bgc-red1'>
  </div>

</header>

<main>
  <section class='page-section'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente - Título de sección -->
        </div>
      </div>

      <div class='row'>
        <div class='col-md-4'>
          <!-- Componente - Card -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Card -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Card -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Card -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Card -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Card -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Card -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Card -->
        </div>

        <div class='col-md-4'>
          <!-- Componente - Card -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section pt-0'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-6'>
          <!-- Componente - Título de sección -->
          <!-- Componente <bvl-items-grid></bvl-items-grid> -->
        </div>

        <div class='col-md-6'>
          <!-- Componente <bvl-banner></bvl-banner> -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section pt-0'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente <bvl-media></bvl-media> -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section gray'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-6'>
          <!-- Componente - Título de sección -->
          <!-- Componente <bvl-items-grid></bvl-items-grid> -->
        </div>

        <div class='col-md-6'>
          <!-- Componente - Título de sección -->
          <!-- Componente <bvl-feed></bvl-feed> -->
        </div>
      </div>

    </div>
  </section>

</main>

<footer>

  <div class='g-height-100 g-bgc-gray10'>
  </div>

</footer>
