<header>

  <div class='g-height-100 g-bgc-red1'>
  </div>

</header>

<main>
  <section class='page-section'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente - Título de sección -->
        </div>
      </div>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente - Banner: Bolsa en linea (img left) -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section white'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente - Informacion -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-6'>
          <!-- Componente - Título de sección -->
          <!-- Componente <bvl-items-grid></bvl-items-grid> -->
        </div>

        <div class='col-md-6'>
          <!-- Componente <bvl-banner></bvl-banner> -->
        </div>
      </div>

    </div>
  </section>

  <section class='page-section pt-0'>
    <div class='container'>

      <div class='row'>
        <div class='col-12'>
          <!-- Componente <bvl-news></bvl-news> -->
        </div>
      </div>

    </div>
  </section>

</main>

<footer>

  <div class='g-height-100 g-bgc-gray10'>
  </div>

</footer>
