<ng-container *ngIf="modalPayload.type === FILE_TYPE.image || modalPayload.type === FILE_TYPE.badge">
  <img [src]="modalPayload.file" />
</ng-container>

<ng-container *ngIf="modalPayload.type === FILE_TYPE.video">
  <bvl-video [videoUri]="modalPayload.file" [mimeType]="modalPayload.mimetype" [autoplay]="true">
  </bvl-video>
</ng-container>
