<form [formGroup]="form" #frmToolbarFilter>

  <div class="g-mt--15 g-mb--5 g-px--15">
    <div class="row align-items-center">

      <ng-container *ngFor="let property of filterControls">

        <ng-container
          *ngTemplateOutlet="
            property?.type === CONTROL_TYPE?.select
              ? tplSelect
              : tplLabel;
            context:{
              $implicit: form,
              property: property
            }">
        </ng-container>

      </ng-container>

    </div>
  </div>

</form>

<ng-template #tplLabel let-form let-property="property">
  <ng-container [formGroup]="form">

    <div [ngClass]="property?.parentClass">
      <div [ngClass]="property?.class">
        {{ property?.label }}
      </div>
    </div>

  </ng-container>
</ng-template>

<ng-template #tplSelect let-form let-property="property">
  <ng-container [formGroup]="form">

    <div [ngClass]="property?.parentClass">
      <bvl-form-select [class]="property?.class"
        [label]="property?.label"
        [placeholder]="property?.placeholder"
        [formControlName]="property?.code"
        [dataList]="property?.list | async"
        [valueField]="property?.valueField"
        [textField]="property?.textField"
        (change)="changeSelect(form.controls[property?.code].value)">
      </bvl-form-select>
    </div>

  </ng-container>
</ng-template>
