<article>
  <div class="row">
    <div class="col-md-2">
      <img [src]="bannerMovil?.backgroundImage" alt="" />
    </div>
    <div class="col-md-8">
      <h2>{{ bannerMovil?.title }}</h2>
      <p>{{ bannerMovil?.description }}</p>
      <ng-container *ngIf="bannerMovil?.isLink">
        <a [href]="bannerMovil?.urlLink"
          class="link"
          rel="nofollow">
          {{ bannerMovil?.textLink }}<i class="icon-arrow-right"></i>
        </a>
      </ng-container>
    </div>
    <div class="col-md-2" *ngIf="bannerMovil?.isButton">
      <a [href]="bannerMovil?.urlButton"
        class="btn btn-primary btn-block">{{ bannerMovil?.textButton }}</a>
    </div>
  </div>
</article>
