@import "../../../../core/lib/src/styles/main.scss";

:host {
  display: block;
}

article {
  display: block;
  padding: 40px 15px 0;
}

.row {
  align-items: center;
  background-color: white;
  padding: 0 15px;

  @include media-breakpoint-down(sm) {
    padding: 0 15px 30px;
  }
}

[class^="col-"] {
  &:first-child {
    align-self: flex-end;

    img {
      display: block;
      max-width: 100%;
      margin: -40px auto 0;
    }
  }

  &:nth-child(2) {
    padding: 15px;
  }
}

h2,
p {
  margin: 0;
}
