@import '../../../../core/lib/src/styles/main.scss';

article + article {
  margin-top: 1.23rem;
}

.title-group {
  margin: 0;
  color: $body-color;
  font-size: 1.62rem;
  font-family: $title-font;
}

ul {
  padding-left: 1em;
}

li {
  padding-right: 2.5rem;
  margin-bottom: 0.5rem;
  bvl-label {
    margin-right: -2.75rem;
    margin-left: 0.25rem;
  }
}
