<article *ngFor="let group of resources">
  <bvl-accordion>
    <div class="toggler" bvl-accordion-toggler>
      <h4 class="title-group">{{ group.title }}</h4>
    </div>
    <ul>
      <li *ngFor="let file of group.files">
        {{ file.name }}
        <bvl-label [label]="file.ext | uppercase"></bvl-label>
      </li>
    </ul>
  </bvl-accordion>
</article>
