<div class="page-subsection" top-paginate>
  <bvl-toolbar
    [capabilities]="['search']"
    (activeFilters)="onFilterChange($event)"
    [byTypeFilter]="newsTypes">
  </bvl-toolbar>
</div>
<div class="page-subsection">
  <ng-container *ngIf="(news | json) !== '[]'; else noData">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-20" *ngFor="let item of news">
        <bvl-entry
          [entry]="item"
          class="slide">
        </bvl-entry>
      </div>
    </div>
  </ng-container>
  <ng-template #noData>
    <div class="text-center">
      <p>{{ TEXT.filters.noData }}</p>
    </div>
  </ng-template>
  <ng-container *ngIf="totalPages > 1">
    <bvl-pagination [totalPages]="totalPages" [paginateByService]="true" (emitChangePage)="emitChangePage($event)"></bvl-pagination>
  </ng-container>
</div>
