<div class="row">
  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <div class="row align-items-center mb-xs-1">
          <div class="col">
            <button class="g-admin-btn g-admin-btn-primary g-admin-btn-with-icon g-admin-btn-icon-left" type="button" (click)="addFile()">
              <span>Agregar</span>
              <i class="la la-plus-circle"></i>
            </button>
          </div>
          <div class="col-auto">
            <div class="g-admin-input-search border">
              <span class="la la-search g-fs-20"></span>
              <input
                class="g-admin-input"
                type="text"
                placeholder="bolsa_valores"
                [ngModel]="currentSearchText"
                (debounceInput)="debounceInput($event)"
                (focus)="openFilter = false">
            </div>
          </div>
          <div class="col-auto text-right">
            <div class="g-admin-btn-dropdown border" [ngClass]="{ 'active' : openFilter }">
              <div class="g-block text-left" style="width: 170px;" [ngClass]="{ 'text-capitalize': currentDate }" (click)="openFilter = !openFilter">
                <span><i class="la la-calendar g-fs-20"></i></span>
                <span>{{ currentDate? (currentDate | date:'yyyy MMMM'): 'Todas las fechas' }}</span>
                <i class="la la-angle-down g-fs-20"></i>
              </div>
              <admin-gallery-filter-date
                [current]="currentDate"
                [type]="modalPayload.type"
                (selected)="selectedDate($event)"></admin-gallery-filter-date>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 g-admin-card-wrapper-images" (infiniteScroller)="getFiles()">
        <div class="row">
          <!-- Imagen cargando - Progress -->
          <div class="col-3" *ngIf="tmpFile">
            <ng-container
              *ngTemplateOutlet="
                modalPayload.type === FILE_TYPE.document? documentPreview: imagePreview;
                context:{
                  $implicit: tmpFile
                }">
            </ng-container>
            <div class="progress-wrapper">
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  [ngStyle]="{ width : tmpFile.progress + '%' }">
                    {{ tmpFile.progress }}%
                </div>
              </div>
            </div>

          </div>

          <div class="col-3" *ngFor="let file of files">
            <ng-container
              *ngTemplateOutlet="
                modalPayload.type === FILE_TYPE.document? documentPreview: imagePreview;
                context:{
                  $implicit: file
                }">
            </ng-container>
          </div>
        </div>
        <div class="text-center mt-xs-2" *ngIf="showLoading">
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Cargando...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 g-bgc-gray7 pt-xs-2 pb-xs-2">
    <ng-container *ngIf="!currentImage">
      <diV style="height: 466px;">
        <div class="d-flex flex-column justify-content-center align-items-center pt-xs-10 pl-xs-3 pr-xs-1-5">
          <i class="g-fs-60 mb-xs-1" [ngClass]="iconNoSelectedFile"></i>
          <span class="g-fw-bold g-fs-14">Selecciona {{ textSelectedFile }} para ver su detalle aquí.</span>
        </div>
      </diV>
    </ng-container>
    <ng-container *ngIf="currentImage">
      <div class="mb-xs-1">
        <ng-container
          *ngTemplateOutlet="
            modalPayload.type === FILE_TYPE.document? documentSelected: imageSelected;">
        </ng-container>
      </div>
      <div class="mb-xs-2" style="height: 200px;" [formGroup]="form">
        <ng-container *ngIf="modalPayload.type === FILE_TYPE.image">
          <!-- Titulo -->
          <div class="row align-items-center no-gutters mb-xs-1">
            <div class="col-12">
              <label class="g-fw-bold">Título:</label>
            </div>
            <div class="col-12">
              <bvl-input
                type="text"
                autocomplete="nope"
                [formControl]="title"
                [error]="validateControl(title)">
              </bvl-input>
            </div>
          </div>
          <!-- Alt -->
          <div class="row align-items-center no-gutters mb-xs-1">
            <div class="col-12">
              <label class="g-fw-bold">Título Alternativo:</label>
            </div>
            <div class="col-12">
              <bvl-input
                type="text"
                [formControl]="alt"
                [error]="validateControl(alt)">
              </bvl-input>
            </div>
          </div>
          <!-- Description -->
          <div class="row align-items-center no-gutters mb-xs-1">
            <div class="col-12">
              <label class="g-fw-bold">Descripción:</label>
            </div>
            <div class="col-12">
              <bvl-input
                type="text"
                [error]="validateControl(description)"
                [formControl]="description">
              </bvl-input>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="mb-xs-1 text-center">
        <button class="g-admin-btn g-admin-btn-primary g-block" type="button" (click)="confirm()">Seleccionar</button>
      </div>
      <div class="text-center">
        <button
          class="g-admin-btn g-admin-btn-outline g-admin-btn-outline--red g-block"
          type="button"
          [swal]="deleteSwal"
          (confirm)="delete()">Eliminar</button>
      </div>
    </ng-container>
  </div>
</div>
<input #file type="file" class="d-none"/>

<ng-template #documentPreview let-file>
  <div class="g-admin-img-preview g-admin-img-preview-select w-100" [ngClass]="{ 'active': currentImage === file }" (click)="selected(file)">
    <div class="g-admin-document--document">
      <div class="g-admin-document--icon">
        <i [iconFile]="file.name || file.url"></i>
      </div>
      <div class="g-admin-document--description">{{ file.name }}</div>
    </div>
  </div>
</ng-template>

<ng-template #imagePreview let-file>
  <div class="g-admin-img-preview g-admin-img-preview-select w-100 mr-0" [ngClass]="{ 'active': currentImage === file }">
    <div
      class="g-admin-img-preview-img"
      [ngClass]="{ 'g-admin-img-preview-img--badge': modalPayload.type === FILE_TYPE.badge }"
      [ngStyle]="{ 'background-image': 'url(' + (!file.small? file.url : file.small.imageUri) + ')'}"
      (click)="selected(file)">
    </div>
  </div>
</ng-template>

<ng-template #imageSelected>
  <div class="g-admin-img-preview w-100" style="height: 100px;" (click)="openPreview()">
    <div class="g-admin-img-preview-img"
      [ngClass]="{ 'g-admin-img-preview-img--badge': modalPayload.type === FILE_TYPE.badge }"
      [ngStyle]="{ 'background-image': 'url(' + (!currentImage.medium? currentImage.url : currentImage.medium.imageUri) + ')'}">
    </div>
  </div>
  <div class="mt-xs-1">
    <span class="d-block g-fs-12 text-truncate">
      <strong>Nombre</strong>: {{ currentImage.name }}
    </span>
    <span class="d-block g-fs-12">
      <strong>Tamaño</strong>: {{ currentImage?.width || currentImage?.large?.width }}x{{ currentImage?.height || currentImage?.large?.height }}
    </span>
  </div>
</ng-template>

<ng-template #documentSelected>
  <div class="mb-xs-1">
    <div class="g-admin-img-preview w-100" style="height: 97px;" (click)="openPreview()">
      <div class="g-icon-preview">
        <i [iconFile]="currentImage.name || file.url"></i>
      </div>
    </div>
    <div class="mt-xs-1">
      <span class="d-block g-fs-12 text-truncate">
        <strong>Nombre</strong>: {{ currentImage.name }}
      </span>
      <span class="d-block g-fs-12">
        <strong>Peso</strong>: {{ currentImage.size | fileSize }}
      </span>
    </div>
  </div>
</ng-template>
