<header [ngClass]="{'no-margins': noMargins}">
  <div class="d-flex align-items-center" [ngClass]="'text-' + align">
    <h2 class="section-title" [ngClass]="{'noLine' : noLine}">{{ title }}</h2>
    <ng-container *ngIf="isLink">
      <a ctrl="headerLink" (domChange)="onDomChange($event, { headerTitle: title, headerLink: textLink })"
        [href]="urlLink">
        {{ textLink }}
        <i class="icon-simple-arrow-right"></i>
      </a>
    </ng-container>
    <ng-content select="[bvl-section-header-left]"></ng-content>
  </div>
  <div>
    <ng-content select="[bvl-section-header-right]"></ng-content>
  </div>
</header>
