@import "../styles/main.scss";

bvl-title,
bvl-section-header{
  header {
    &:not(.no-margins) {
      margin-bottom: 1.69em;
    }
    @include media-breakpoint-up(md) {
      justify-content: space-between;
      flex-direction: row;
    }
    .section-title {
      font-size: 1.15rem;
      padding: .25em .5em .25em 0;
      position: relative;
      margin: 0;
      color: $body-color;
      font-family: $title-font;
      word-wrap: break-word;
      display: block;
      @include media-breakpoint-up(sm) {
        font-size: 1.54rem;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1.5em;
        height: 2px;
        background-color: $red;
      }
      &.noLine{
        &::after {
          content: "";
          background-color: transparent;
        }
      }
    }
    .text-center{
      justify-content: center;

      .section-title{
        &::after{
          right: 0;
          margin: 0 auto;
        }
      }
    }
    .text-right{
      justify-content: flex-end;

      .section-title{
        &::after{
          right: 0;
          left: initial;
        }
      }
    }
    a {
      font-weight: bold;
      margin-left: 6px;
      i {
        position: relative;
        top: 2px;
      }
    }
  }
}

::ng-deep [bvl-section-header-left] {
  & > :first-child {
    margin-left: 3em;
  }
}
