<div class="g-card g-bgc-gray6">

  {{#cardHeader}}
    {{>organisms-Card-header}}
  {{/cardHeader}}

  <div class="g-card-body">

    <div class="row">
      <div class="col mb-xs-1">

        {{#title}}
          {{>atoms-Info-with-icon}}
        {{/title}}

      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-9">

        {{#roles}}
          {{>atoms-Permission}}
        {{/roles}}

      </div>
      <div class="col-3">

        {{#addRolBtn}}
          {{>atoms-Link-with-icon}}
        {{/addRolBtn}}

      </div>
    </div>

  </div>

</div>
