<div class="g-card g-bgc-gray6">

  {{#cardHeader}}
    {{>organisms-Card-header}}
  {{/cardHeader}}

  <div class="g-card-body">

    <div class="row align-items-center">
      <div class="col-1">

        {{#title}}
          {{>atoms-Info-with-icon}}
        {{/title}}

      </div>

      <div class="col-6">

        {{#input}}
          {{>atoms-Input}}
        {{/input}}

      </div>
    </div>

    <hr class="g-hr mt-xs-2 mb-xs-2">

    <div class="row">

      <div class="col-12">

        {{#permissionsTitle}}
          {{>atoms-Text}}
        {{/permissionsTitle}}

      </div>

      <div class="col-12">

        {{#permissions}}
          {{>atoms-Permission}}
        {{/permissions}}

      </div>
    </div>

  </div>

</div>
