{{#navTabs}}
  {{>molecules-Nav-tabs}}
{{/navTabs}}

<div class="g-tabs-content">

  <div class="g-tab-pane">

    {{#searchForm}}
      {{>organisms-Search-form}}
    {{/searchForm}}

    <div class="g-card-wrapper">

      <div class="text-right mb-xs-2">

        {{#addUser}}
          {{>atoms-Link-with-icon}}
        {{/addUser}}

      </div>

      {{#tabContentUsers}}
        {{>organisms-Acordion-user}}
      {{/tabContentUsers}}

      {{#pagination}}
        {{>molecules-Pagination}}
      {{/pagination}}

    </div>

  </div>

</div>
