{{#navTabs}}
  {{>molecules-Nav-tabs}}
{{/navTabs}}

<div class="g-tabs-content">

  <div class="g-tab-pane">

    <div class="g-card-wrapper">

      <div class="text-right mb-xs-2">

        {{#addRol}}
          {{>atoms-Link-with-icon}}
        {{/addRol}}

      </div>

      {{#tabContentRoles}}
        {{>organisms-Acordion-rol}}
      {{/tabContentRoles}}

      {{#pagination}}
        {{>molecules-Pagination}}
      {{/pagination}}

    </div>

  </div>

</div>
