
@import '../styles/main.scss';

.autocomplete{
   display: none;
   position: absolute;
   top: 118%;
   z-index: 5;
   width: 330px;
   border-radius: 5px;
   overflow: hidden;
   background: #fff;
   &.active{
      display: block;
   }
   .input{
      background: #edecf1;
      padding: 10px;
      & > input{
         width: 100%;
         background: transparent;
         border: 0px;
         border-bottom: 1px solid #bfbfbf;
         font-size: 16px;
         color: #565656;
         &:focus{
            outline: none;
         }
      }
   }
   ul{
      li{
         color: #565656;
         padding: 8px 10px;
         border-bottom: 1px solid #edecf1;
         cursor: pointer;
         span{
            color: red;
            font-weight: bold;
         }
         &.focus{
            background: #d4d4d4;
         }
         &:hover {
            background: #e6e6e6!important;
         }
      }
   }
}