<div class="autocomplete" [ngClass]="{'active': active}">
  <div class="input">
    <input type="text" [(ngModel)]="search" (ngModelChange)="filterResults(search)" [placeholder]="placeholder">
  </div>
  <div class="results">
    <ul>
      <li
        [ngClass]="{'focus': focused === i }"
        *ngFor="let result of results; index as i"
        (click)="emitItemSeleted(result.nemonico)">
          {{result.companyName}}
        <span>{{result.nemonico}}</span>
      </li>
    </ul>
  </div>
</div>
