<div class="page-section background">
  <div class="container">

    <div class="page-subsection">
      <div class="box">

        <div class="row">

          <div class="page-subsection col-12 col-sm-10 offset-sm-1">

            <bvl-contact-us-form></bvl-contact-us-form>

          </div>

        </div>

      </div>
    </div>

  </div>
</div>