<div>
  <h2>REGISTRO DE CLIENTE</h2>

  El registro es gratuito y constituye un requisito indispensable para la adquisición de productos y servicios ofrecidos en este sitio web. Para el registro, el cliente o usuario deberá contar con un documento de identidad emitido o validado por el Perú, proporcionar una cuenta de correo electrónico y definir una clave de acceso.

  Con este propósito, el cliente debe ingresar al enlace Registrarse, llenar el formulario con sus datos personales y seguir las indicaciones del proceso de registro.

  El ingreso de una cuenta de correo con su respectiva clave secreta o contraseña, permitirá efectuar compras de manera personalizada, confidencial y segura.

  <h2>CLAVE SECRETA</h2>

  El cliente asume totalmente la responsabilidad por el mantenimiento de la confidencialidad de su clave secreta registrada en este sitio Web. Dicha clave es de uso personal y su entrega a terceros no involucra responsabilidad alguna de la BVL en caso de su mala utilización.

  <h2>DERECHOS DEL CLIENTE</h2>

  El cliente gozará de todos los derechos que le reconoce la legislación sobre protección al consumidor vigente en el territorio del Perú, además de los que se le otorgan en estos términos y condiciones. El usuario dispondrá en todo momento de los derechos de información y rectificación de los datos personales. La sola visita de este sitio en el cual se ofrecen determinados bienes y el acceso a determinados servicios, no impone al consumidor obligación alguna, a menos que haya aceptado las condiciones ofrecidas por la empresa, en la forma indicada en estos términos y condiciones.

  <h2>DE LA CONTRATACIÓN DEL SERVICIO</h2>

  Para poder acceder a los productos o servicios ofrecidos por la BVL, se requiere la identificación del cliente con su cuenta de correo y contraseña. Si olvidó estos datos deberá ingresar al enlace "Si olvidó su contraseña, haga click aquí" o solicitar esta información a través de la opción Contáctenos.

  La BVL informará debidamente los pasos que deben seguirse para realizar la compra de los servicios o productos ofrecidos en su sitio web. Luego de recibido la solicitud del pedido se enviará un correo electrónico al cliente informando la hora y fecha de que fue recibido la correspondiente solicitud. Esta deberá pasar por un proceso de validación de datos del cliente. Un vez realizada la validación de datos, se emitirá un correo de confirmación de la venta efectuada, la cual deberá indicar la dirección de correo electrónico y los medios técnicos a disposición del cliente para identificar y corregir errores en el envío o en los datos proporcionados.

  La BVL se reserva el derecho de modificar cualquier información sobre las condiciones de acceso y uso del servicio, sin previo aviso. Asimismo, se reserva el derecho de interrumpir el servicio de la tienda virtual, ya sea en forma transitoria o permanente, sin previo aviso.

  La BVL se reserva el derecho de modificación de los precios de los productos o servicios ofrecidos en la página web sin previo aviso.

  El sitio web de la BVL atiende el ingreso de pedidos las 24 horas del día y los 7 días de la semana, pero el proceso del pedido es con hora de corte hasta las 19:00 horas; cualquier pedido realizado pasada la hora de corte se tomará como ingreso el día siguiente. Los pedidos realizados pasadas las 19:00 horas del día viernes se procederá como recepción el día hábil inmediato siguiente.

  Los precios de los servicios o productos ofrecidos en la web de la BVL incluyen el Impuesto General a las Ventas (IGV). El pedido será facturado con los precios vigentes al momento del envío del correo electrónico de la confirmación de la transacción realizada.

  La anulación de la compra sólo se podrá realizarse previa comunicación telefónica con un asesor de ventas de la BVL y siempre que medie una anticipación de __ a la realización del servicio contratado.

  La BVL se reserva el derecho de interrumpir el servicio de ventas virtuales, o de bloquear productos o servicios ofrecidos, a través del sitio web, ya sea temporal o permanentemente sin previo aviso o consentimiento de sus clientes.

  <h2>FORMAS DE PAGO</h2>

  Los productos y servicios ofrecidos en este sitio, sólo podrán ser pagados bajo dos modalidades:

  Pagos en línea:

  Unicamente serán aceptadas las tarjetas de crédito Visa, para lo cual deberán indicar el número de tarjeta y la fecha de vencimiento de la misma.

  Si el cliente se encuentra residente aquí o en el exterior es necesario registre sus datos correctamente para validar su información. La web de la BVL cumple con verificar datos adicionales de ser necesario para la entrega del pedido.

  Pagos con Depósito:

  Depósito al Banco de ScotiaBank para residentes y para no residentes.

  Cuando el cliente elige como forma de pago la tarjeta de crédito Visa, emitida fuera del Perú por un banco afiliado al servicio Verified by Visa, deberá revisar las condiciones en el apartado Verified by Visa.

  <h2>ASPECTOS GENERALES DE LA PRESTACIÓN DEL SERVICIO</h2>

  Cuando se realiza una compra con tarjeta de crédito, en la que el cliente emisor y la persona que recibirá el servicio o producto sean la misma persona, al momento de la prestación del servicio se solicitará la presentación de la tarjeta de crédito y el respectivo documento de identidad.

  Cualquiera sea la modalidad de pago, el encargado del servicio o producto exigirá la identificación de la persona que los recibirá, mediante su Documento Nacional de Identidad. No se brindará el servicio a menores de edad, salvo previo consentimiento de los padres o del tutor.

  Si la tarjeta de crédito ha sido emitida en el Perú o en el extranjero, es requisito indispensable la confirmación del pedido para la atención del mismo.

  <h2>POLITICA DE CAMBIO Y DEVOLUCIONES</h2>

  La BVL aceptará cambios o anulaciones en el servicio o producto contratado, siempre que sea solicitado con __ de anticipación a la ejecución del servicio o entrega del producto.

  La anulación únicamente procederá en caso fortuito o fuerza mayor, y sea debidamente justificado por el cliente. En este caso la BVL no realizará devoluciones en efectivo, quedando un saldo a favor del cliente por el monto contratado el cual podrá aplicar a otro servicio o producto brindado por la BVL en el momento que el cliente lo estime conveniente, siempre que la BVL se encuentre en capacidad de ofrecer el servicio o de brindar el producto.

  <h2>RESPONSABILIDAD</h2>

  La BVL es responsable por el contenido de su página web, así como por cualquier cambio producido en la misma.

  La BVL no se responsabiliza frente a los clientes o terceros por los daños y perjuicios que sean consecuencia directa o indirecta de la interrupción, suspensión o finalización de los servicios ofrecidos por el sitio web.

  <h2>PRIVACIDAD EN LA INFORMACIÓN</h2>

  La BVL cuenta con una estricta política de privacidad y confidencialidad de la información.

  Los datos referidos en estos términos y condiciones, tendrán como finalidad validar los pedidos y mejorar la labor de información y comercialización de los productos y servicios prestados por la BVL.
</div>