<div class="table-header">
  <div class="table-header-content search-showed">
    <div class="header-items-wrapper">
      <h3 class="title">
        {{ TEXT.general.variableRent }}
      </h3>
    </div>

    <div class="type-filters">
      <select
        ctrl="selectSector"
        (domChange)="onDomChange($event)"
        class="select arrow-red white"
        [(ngModel)]="sector"
        (change)="onTypeChange(sector)"
        [ngClass]="{'active': isNumber(selectedType)}">
          <option selected value="">{{ byTypeFilter?.label }}</option>
          <option
            *ngFor="let option of byTypeFilter?.options"
            [attr.value]="option.code">
            {{ option.label }}
          </option>
      </select>
      <div class="g-site-select">
        <div class="g-site-select--label">
            <span>{{ (selectedType ? getSelectedLabel(selectedType, byTypeFilter?.options) : byTypeFilter?.label) | truncate: 20 }}</span>
          <i class="icon-simple-arrow-down"></i>
        </div>
        <div class="g-site-select--list" [bvlToggleByPosition]="['g-site-select--list-left', 'default']">
          <div (click)="onTypeChange('');"
            ctrl="selectSector"
            (domChange)="onDomChange($event, { label: byTypeFilter?.label })">>{{ byTypeFilter?.label }}</div>
          <div
            [ngClass]="{ 'active': selectedType === option.code }"
            *ngFor="let option of byTypeFilter?.options"
            (click)="onTypeChange(option.code);"
            ctrl="selectSector"
            (domChange)="onDomChange($event, { label: option.label })">
            {{ option.label }}
          </div>
        </div>
      </div>
    </div>


    <div class="time-filter">
      <div class="btn-group-toggle d-none d-lg-block">
        <label class="btn" [ngClass]="{'btn-primary': selectedTime === 1}">
          <input type="radio" [value]="1" [(ngModel)]="selectedTime" (ngModelChange)="onTimeChange()"
          ctrl="timeFilter" (domChange)="onDomChange($event, { textLink: TEXT.filters.datesRange.day })">
          <span>{{ TEXT.filters.datesRange.day }}</span>
        </label>
      </div>
    </div>

  </div>
</div>
