<form [formGroup]="frmAdvanced">
  <div class="row">
    <div class="col-12 mb-xs-2">
      <div class="mb-xs-1 g-fw-bold">¿Permitir a los motores de búsqueda mostrar esta Entrada en los resultados?</div>
      <bvl-select formControlName="mIndex"
        [placeholder]="defaultNoIndex"
        [dataList]="YES_NO_LIST | orderBy: ['-code']"
        valueField="code"
        textField="description"
        (change)="changeIndex(mIndex?.value)">
      </bvl-select>
    </div>
    <div class="col-12 mb-xs-2">
      <div class="mb-xs-1 g-fw-bold">¿Deberían los motores de búsqueda seguir enlaces en esta Entrada?</div>
      <div class="d-flex">
        <ng-container *ngFor="let item of YES_NO_LIST | orderBy: ['-code']; let last = last">
          <bvl-radio-button [ngClass]="{'pr-xs-2': !last}"
            formControlName="mFollow"
            [value]="item?.code"
            (change)="changeFollow(mFollow?.value)">
            {{ item?.description }}
          </bvl-radio-button>
        </ng-container>
      </div>
    </div>
    <div class="col-12 mb-xs-2">
      <div class="mb-xs-1 g-fw-bold">Meta robots avanzado</div>
      <ng-container formGroupName="mAvancedRobots"
        *ngFor="let item of ADVANCED_ROBOTS_LIST; let last = last">
        <bvl-checkbox class="d-block"
          [ngClass]="{'mb-xs-1': !last}"
          [formControlName]="item?.code"
          (change)="checkRobots(mAvancedRobots?.value)">
          {{ item?.description }}
        </bvl-checkbox>
      </ng-container>
    </div>
    <div class="col-12">
      <div class="mb-xs-1 g-fw-bold">Canonical</div>
      <bvl-input formControlName="mCanonical"
        (input)="changeCanonical(mCanonical?.value)">
      </bvl-input>
    </div>
  </div>
</form>