<div class="g-site-slider">
  <div #sliderWrapper class="g-site-slider-wrapper">
    <div class="g-site-slider-item"
      *ngFor="let item of itemList; let i=index"
      [ngClass]="{'active': i === currentItem}">
      <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
    </div>
  </div>
  <div class="g-site-slider-payer">
    <div ctrl="sliderPayer" (domChange)="onDomChange($event, { sliderPayer: (i + 1) })"
      class="g-site-slider-payer-item"
      [ngClass]="{'active': i === currentItem}"
      *ngFor="let item of itemList; let i=index"
      (click)="payer(i)">
      &#8226;
    </div>
  </div>
</div>
