.loader {
  background-color: #ddd;
  height: 2px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    animation: cargando 1s linear infinite;
    background-color: #ff0100;
    content: '';
    display: block;
    height: 2px;
    left: -200px;
    position: absolute;
    width: 200px;
  }
}

@keyframes cargando {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}
