<div class="g-admin-datepicker">
  <span class="g-admin-info-w-icon">
    <i class="la la-calendar-o"></i>
  </span>
  <input type="text"
  [attr.placeholder]="placeholder"
  [(ngModel)]="model"
  [readonly]="readonly"
  ngbDatepicker
  #dp="ngbDatepicker"
  outsideDays="collapsed"
  (dateSelect)="onDateSelect($event)"
  (click)="dp.toggle()">
  <i class="la g-fs-17" [ngClass]="dp.isOpen() ? 'la-angle-up' : 'la-angle-down'"></i>
</div>
