<div class="page-section dark">
  <div class="page-subsection first text-center">
    <h1 class="page-title">{{ TEXT.general.issuers }}</h1>
  </div>
  <section top-paginate class="full-width">
    <div class="tables">
      <bvl-issuers-list-table-header [ga]="ga" (activeFilters)="onFilterChange($event)"></bvl-issuers-list-table-header>
      <ng-container *ngIf="existData; else noData">
        <div class="tables-container container loaded">
          <ng-container *ngFor="let table of tablesData?.data">
            <article class="table-article">
              <div class="table-wrapper" (scroll)="onscroll($event)" topScrollbar>
                <table class="table-dark table" scrolledElement>
                  <thead>
                    <tr class="bvl-row">
                      <th
                        class="bvl-header-cell"
                        [ngSwitch]="column.valueType"
                        [style.text-align]="column.valueType === 'list' ? 'center' : '' "
                        *ngFor="let column of tableColumns; index as i"
                      >
                        <ng-container *ngSwitchCase="'boolean'">
                          <i class="icon-watch"></i>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ tableColumns[i].title }}
                          <button
                            type="button"
                            (click)="sortBy(tableColumns[i], table)"
                            class="btn btn-icon btn-sortBy"
                            [class.active]="table.metadata.sortedBy.column === tableColumns[i]">
                            <i class="icon-sort"></i>
                          </button>
                        </ng-container>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let element of table.entries._value; index as i">
                      <tr class="bvl-row">
                        <td>
                          <a class="g-site-color--white" [href]="getUrlDetail(element.companyCode)" [title]="element.company"
                          ctrl="columnCompany"
                          (domChange)="onDomChange($event, element)">
                            {{ element.company | truncate: 50 }}
                          </a>
                        </td>
                        <td>
                          <span [title]="element.sector">{{ element.sector | truncate: 50 }}</span>
                        </td>
                        <td class="list">
                          <div *ngIf="element.mnemonic?.length"
                            (click)="showToolTip(i, 'mnemonic', $event)"
                            class="more-number">
                            <p>{{ element.mnemonic[0] }}</p>
                            <span *ngIf="element.mnemonic.length > 1">+{{ element.mnemonic.length - 1 }}</span>
                            <bvl-tooltip *ngIf="element.mnemonic.length > 1"
                                id="tooltip-mnemonic-{{i}}"
                                placement="bvl-issuers-list-table > .page-section > section"
                                [data]="{ title: popoverTitleDescription['mnemonic'], array: element.mnemonic }">
                            </bvl-tooltip>
                          </div>
                        </td>
                        <td class="list">
                          <div *ngIf="element.indexes?.length"
                            (click)="showToolTip(i, 'indexes', $event)"
                            class="more-number">
                            <p>{{ element.indexes[0] }}</p>
                            <span *ngIf="element.indexes.length > 1">+{{ element.indexes.length - 1 }}</span>
                            <bvl-tooltip *ngIf="element.indexes.length > 1"
                                id="tooltip-indexes-{{i}}"
                                placement="bvl-issuers-list-table > .page-section > section"
                                [data]="{ title: popoverTitleDescription['indexes'], array: element.indexes }">
                            </bvl-tooltip>
                          </div>
                        </td>
                        <td class="list">
                          <div *ngIf="element.memory?.length || element.importantFact?.length"
                            ctrl="toolTipItem"
                            (domChange)="onDomChange($event, element)"
                            (click)="showToolTip(i, 'memory', $event)"
                            class="more-number">
                            <span *ngIf="element.memory?.length" class="new-info memory">{{ element.memory[0].shortLabel }}</span>
                            <bvl-tooltip *ngIf="element.memory.length >= 1"
                              id="tooltip-memory-{{i}}"
                              [ga]="ga"
                              placement="bvl-issuers-list-table > .page-section > section"
                              [typetip]="'memory'"
                              [data]="{ title: popoverTitleDescription['memory'], array: element.memory }">
                            </bvl-tooltip>
                          </div>

                          <div *ngIf="element.importantFact?.length"
                            ctrl="toolTipItem"
                            (domChange)="onDomChange($event, element)"
                            (click)="showToolTip(i, 'important', $event)"
                            class="more-number">
                            <span *ngIf="element.importantFact?.length" class="new-info ef">{{ element.importantFact[0].shortLabel }}</span>
                            <bvl-tooltip *ngIf="element.importantFact?.length >= 1"
                              id="tooltip-important-{{i}}"
                              [ga]="ga"
                              placement="bvl-issuers-list-table > .page-section > section"
                              [typetip]="'importantFact'"
                              [data]="{ title: popoverTitleDescription['important'], array: element.importantFact }">
                            </bvl-tooltip>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </article>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <ng-template #noData>
      <div class="no-data">
        {{ TEXT.filters.noData }}
      </div>
    </ng-template>
    <footer>
      <ng-container *ngIf="completeData?.length > 0">
        <bvl-pagination
          [ga]="ga"
          [max]="maxRows"
          [totalPages]="getTotalPages()"
          [paginateByService]="true"
          (emitChangePage)="emitChangePage($event)"
        ></bvl-pagination>
      </ng-container>
    </footer>
  </section>
</div>
