@import "../../../fancy-table/src/app/fancy-table.component.scss";

bvl-issuers-list-table {
  .page-section {
    overflow: hidden;
  }
  tbody {
    tr td span:first-of-type {
      cursor: pointer;
    }
  }
}
