bvl-codification-table {
  .tab-table {
    &-header {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        border-bottom: 1px solid #979797;
        margin-bottom: 1.154rem;

        a {
          display: block;
          color: #4a4a4a;
          background-color: white;
          border-radius: 0.38rem 0.38rem 0 0;
          border: 1px solid white;
          border-bottom-color: #979797;
          padding: 1rem 1.5rem;
          margin-bottom: -1px;
          transition: all 0.3s ease;

          &:hover,
          &.active {
            color: #ff0100;
          }

          &.active {
            font-weight: 700;
            border-left-color: #979797;
            border-top-color: #979797;
            border-right-color: #979797;
            border-bottom-color: white;
          }
        }
      }
    }

    &-body {
      border-radius: 0.38rem;
      overflow: hidden;
    }
  }

  .alfabet-filter,
  .select-filter {
    background-color: #edecf1;
    border-radius: 0.38rem;
    margin-bottom: 1rem;
  }

  .alfabet-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.193rem 1.5rem;

    @media (max-width: 991px) {
      justify-content: center;
    }
  }

  .initial-filter {
    .btn-link {
      text-transform: uppercase;
      padding: 0.77rem 0.23rem;
      margin: 0 0.1rem;
      opacity: 0.5;
      transition: opacity 0.2s;

      &:hover,
      &.active {
        opacity: 1;
      }

      &.active {
        box-shadow: inset 0 -0.153rem 0 0 #ff0100;
      }
    }
  }

  .select-filter {
    padding: 0.785rem 1.5rem;

    .select {
      width: 100%;
      font-weight: bold;
    }
  }

  .table {
    &-wrapper {
      > .table {
        min-width: 770px;
      }
    }

    table-layout: fixed;

    table {
      table-layout: fixed;
    }

    th,
    td {
      white-space: normal;

      &:first-child {
        width: 13%;
        padding-left: 1.5em;
      }

      &:nth-child(2) {
        width: 14%;
      }

      &:nth-child(3) {
        width: 13%;
      }

      &:nth-child(4) {
        width: 13%;
      }

      &:nth-child(5) {
        width: 14%;
      }

      &:nth-child(6) {
        width: 10%;
      }

      &:nth-child(7) {
        width: 14%;
      }

      &:last-child {
        width: 9%;
        padding-right: 1.5em;
      }

      &.table-accordion-wrapper {
        width: 100%;
        background-color: #333232;
        border-top: 1px solid #5c5c5c;
        padding: 0 0 0.5rem;
      }
    }

    th {
      padding: 0.923rem 0.66rem;
    }
  }

  .table-accordion {
    &-item {
      margin-bottom: 1px;
      overflow: hidden;

      &.active {
        .table-accordion {
          &-header {
            .btn {
              &:after {
                transform: rotate(180deg);
              }
            }
          }

          &-body {
            max-height: 1500px;
            transition: max-height 0.4s ease-in;

            table {
              td {
                opacity: 1;
                transition: opacity 0.3s ease-in 0.2s;
              }
            }
          }
        }
      }
    }

    &-header {
      .btn {
        position: relative;
        width: 100%;
        background-color: #403f3f;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
        border-radius: 0;

        &:after {
          content: "\e947";
          position: absolute;
          top: calc(50% -10px);
          right: 1.5rem;
          color: #ff0100;
          font-family: "font-icons";
          font-size: 1.231rem;
          transition: all 0.3s ease;
        }
      }
    }

    &-body {
      max-height: 0;
      transition: max-height 0.3s ease-out;

      table {
        tbody {
          tr {
            background-color: #646464;
            &:nth-of-type(2n) {
              background-color: #646464;
            }
          }
        }

        td {
          font-size: 12px;
          opacity: 0;
          transition: opacity 0.2s ease-out 0s;
          vertical-align: middle;
        }
      }
    }
  }
  .g-site-select .label-xl {
    font-size: 1.2rem;
  }
}
