<article>
  <header class="tab-table-header">
    <ul>
      <li><a (click)='activeFilter = 0' [ngClass]="{ 'active': activeFilter == 0}">{{ TEXT.codification.bySectorIndustry }}</a></li>
      <li><a (click)='activeFilter = 1' [ngClass]="{ 'active': activeFilter == 1}">{{ TEXT.codification.byAlphabet }}</a></li>
    </ul>
    <div class="tab-table-filter">
      <div class="alfabet-filter" *ngIf="activeFilter == 1">
        <span>{{ TEXT.codification.listCompaniesByStart }}</span>
        <div class="initial-filter">
          <button
            class="btn btn-link"
            *ngFor="let letter of letters"
            (click)="currentLetter = letter; onFilterChange(letter, 'letter')"
            [ngClass]="{'active': currentLetter == letter}">
              {{ letter }}
          </button>
        </div>
      </div>
      <div class="select-filter" *ngIf="activeFilter == 0">
        <select
          [(ngModel)]="sector"
          (change)="onFilterChange(sector, 'sector')"
          class="select select-xl arrow-red">
          <option
            [value]="sector.code"
            *ngFor="let sector of sectors?.options">
              {{ sector.label }}
          </option>
        </select>
        <div class="g-site-select g-site-select--full">
          <div class="g-site-select--label">
            <span class="label-xl">{{ getSelectedLabel(sector, sectors) }}</span>
            <i class="icon-simple-arrow-down"></i>
          </div>
          <div class="g-site-select--list">
            <div
            [ngClass]="{ 'active' : sector === item }"
            (click)="sector = item; onFilterChange(sector.code, 'sector')"
            *ngFor="let item of sectors?.options">
              {{ item.label }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="tab-table-body">
    <div class="table-wrapper" topscrollbar>
      <table class="table table-dark" scrolledelement>
        <thead>
          <tr>
            <th>{{ TEXT.codification.mode }}</th>
            <th>Isin</th>
            <th>{{ TEXT.codification.nemonic }}</th>
            <th>{{ TEXT.codification.group }}</th>
            <th>{{ TEXT.codification.type }}</th>
            <th>{{ TEXT.codification.currency }}</th>
            <th>{{ TEXT.codification.nominalValue }}</th>
            <th>{{ TEXT.codification.rate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="8" class="table-accordion-wrapper">
              <div class="table-accordion">
                <ng-container *ngIf="(tableData | json) !== '[]'; else noData">
                  <ng-container *ngFor="let item of tableData; first as isFirst; index as i">
                    <div
                      class="table-accordion-item"
                      (click)="showData = showData !== i ? i : null"
                      [ngClass]="{'active': showData == i}">
                      <header class="table-accordion-header">
                        <button class="btn">{{ item.name }}</button>
                      </header>
                      <div class="table-accordion-body">
                        <table>
                          <tr *ngFor="let elem of item.data">
                            <td><span><strong>{{ elem.mode }}</strong></span></td>
                            <td><span>{{ elem.isin }}</span></td>
                            <td><span>{{ elem.nemonic }}</span></td>
                            <td><span>{{ elem.group }}</span></td>
                            <td><span>{{ elem.type }}</span></td>
                            <td><span>{{ elem.currency }}</span></td>
                            <td><span>{{ elem.nominalValue }}</span></td>
                            <td><span>{{ elem.rate }}</span></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-template #noData>
                  <div class="text-center">
                    {{ TEXT.filters.noData }}
                  </div>
                </ng-template>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</article>
