@import "../../../../core/lib/src/styles/main.scss";

article {
  header {
    display: flex;
    justify-content: space-between;
    h3 {
      margin: 0;
      display: flex;
      color: $red;
      align-items: end;
      i {
        font-size: 1.33rem;
        margin-right: 0.38em;
      }
    }
    .link {
      font-size: 0.85rem;
    }
  }
}
.twitter {
  margin-bottom: 1rem;
  @include media-breakpoint-between(sm, lg) {
    margin-bottom: 0;
  }
  .feed {
    max-height: 200px;
    overflow-y: auto;
    a {
      display: inline-block;
      width: 90%;
      color: inherit;
      border-bottom: 1px solid $lighter-gray;
      padding: 1rem 0;
    }
    .header {
      display: flex;
      align-items: baseline;
      font-weight: 700;
    }
    h5 {
      margin: 0;
      font-size: 1rem;
      color: black;
      margin-right: 0.5rem;
    }
    time {
      margin-left: 0.5rem;
    }
    p {
      margin: 0;
      letter-spacing: 0.05em;
    }
  }
}

.instagram {
  header {
    margin-bottom: 1rem;
  }
  .feed {
    margin: 0 -0.25rem;
    .image-wrapper {
      display: inline-block;
      width: 33.333333%;
      padding: 0 0.25rem;

      @include media-breakpoint-up(lg) {
        width: 16.66666%;
      }

      a {
        width: 100%;
        position: relative;
        display: block;
        line-height: 0;
        overflow: hidden;

        &::before {
          content: "";
          display: block;
          padding-top: 100%;
        }
      }
    }
    img {
      min-width: 100%;
      height: calc(100% + 2px);
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%);
    }
  }
}
