<section>
  <bvl-section-header *ngIf="title" [title]="title"></bvl-section-header>
  <div class="row">
    <div class="col-sm-6 col-lg-12">
      <article class="twitter" *ngIf="twitter && twitter.tweets.length">
        <header>
          <h3><i class="icon-twitter-filled"></i> Twitter</h3>
          <a ctrl="twitterFollowLink" (domChange)="onDomChange($event, { headerTitle: title, title: 'Twitter' })"
            href="{{ twitter.accountUrl }}" class="link" rel="nofollow">{{ TEXT.general.follow }} <i class="icon-arrow-right"></i></a>
        </header>
        <div class="feed">
          <a ctrl="tweetLink" (domChange)="onDomChange($event, { headerTitle: title, title: 'Twitter', twitterUser: tweet?.author })"
            href="{{ tweet.url }}" rel="nofollow"
            *ngFor="let tweet of twitter.tweets; index as i;">
            <div class="header">
              <h5>{{ tweet.author }}</h5> · <time>{{ tweet.time }}</time>
            </div>
            <p ellipsis>{{ tweet.text }}</p>
          </a>
        </div>
      </article>
    </div>
    <div class="col-sm-6 col-lg-12">
      <article class="instagram" *ngIf="instagram && instagram.posts.length">
        <header>
          <h3><i class="icon-instagram"></i> Instagram</h3>
          <a href="{{ instagram.accountUrl }}" class="link" rel="nofollow">{{ TEXT.general.follow }} <i class="icon-arrow-right"></i></a>
        </header>
        <div class="feed">
          <div class="image-wrapper" *ngFor="let post of instagram.posts">
            <a href="{{ post.url }}" [title]="post.caption" target="_blank" rel="nofollow">
              <img src="{{ post.imageUrl }}">
            </a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
