<h4 class="g-text-uppercase">Preview</h4>
<div class="py-3 px-4 g-bgc-white">
  <div id="google" class="metadata-group__display">
    <h4 class="metadata-group__title"><span>Google</span></h4>
    <div class="card-seo-google" [ngClass]="{'card-seo-google-desktop': !isMobile}">
      <span class="card-seo-google__title" [ngClass]="{'card-seo-google__title-desktop': !isMobile}"
        [innerHTML]="viewData?.title"></span>
      <div class="card-seo-google__url text-truncate" [ngClass]="{'card-seo-google__url-desktop': !isMobile}" [title]="viewData?.path">
        <span class="card-seo-google__url-title js-preview-domain" [innerHTML]="viewData?.path"></span>
        <span class="card-seo-google__url-arrow" [ngClass]="{'card-seo-google__url-arrow-desktop': !isMobile}"></span>
      </div>
      <span class="card-seo-google__description js-preview-description" [innerHTML]="viewData?.description"></span>
    </div>
  </div>
</div>
