<div class="g-admin-btn-dropdown active" (mouseleave)="autoClose()">
  <div class="g-block" (click)="toggle()">
    <span class="g-info-w-icon">
      <i *ngIf="icon"
        class="la"
        [ngClass]="icon"></i>
      {{ placeholder }} <span class="ml-1" *ngIf="(model && model?.length)">({{ model?.length }})</span>
    </span>
    <i class="la g-fs-17"
      [ngClass]="(isCollapsed) ? 'la-angle-down' : 'la-angle-up'">
    </i>
  </div>
  <div class="g-options-list">
    <ul class="g-options-list-checkbox"
      [collapse]="isCollapsed">
      <li *ngFor="let item of dataList">
        <bvl-checkbox [(ngModel)]="item.checked" (change)="selectedItem(item)">
          <span [title]="item[textField]">{{ item[textField] }}</span>
        </bvl-checkbox>
      </li>
    </ul>
  </div>
</div>
