@import "../../../styles/partials/lib.scss";

:host {
  display: block;
}

bvl-footer footer {
  background-color: black;
  margin-bottom: 0;
  padding-bottom: 4.15rem;
  position: relative;

  @include media-breakpoint-up(lg) {
    margin-bottom: 41px;
  }

  .colophon {
    background-color: $gray1;

    @include media-breakpoint-up(md) {
      background-color: $gray7;
    }

    .container {
      @include media-breakpoint-up(md) {
        display: flex;
        justify-content: space-between;
      }

      & > div {
        align-items: center;
        display: flex;
      }

      .company-info {
        @include media-breakpoint-down(sm) {
          bottom: 0;
          color: white;
          display: block;
          left: 0;
          padding: 1rem 15px;
          position: absolute;
          right: 0;
          text-align: center;
          z-index: 1;
        }

        @include media-breakpoint-up(md) {
          display: flex;
        }
      }
    }

    .social-networks {
      margin: 0 -0.5rem;

      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
    }

    a {
      color: white;
      display: inline-block;
      font-size: 1.54rem;
      line-height: 1;
      margin: 0.91rem 0.5rem;
      padding: 0.4rem 0.25rem 0.25rem;

      &:hover {
        color: #ff0100;
      }

      @include media-breakpoint-up(md) {
        color: inherit;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }

      .icon-youtube {
        font-size: 1.25em;
      }
    }

    address {
      font-style: normal;
    }

    .separator {
      margin: 0 0.5rem;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    dl {
      display: flex;

      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
    }

    dt,
    dd {
      margin-right: 0.25rem;
    }

    dt {
      font-weight: 700;
    }

    dd:last-of-type {
      margin: 0;
    }
  }

  .footer-link-list {
    @include media-breakpoint-up(md) {
      padding-top: 3rem;
    }

    position: relative;
    z-index: 1;

    .content {
      border-top: none !important;
      padding-top: 5px;
    }
  }

  h4 {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      color: $gray6;
      text-transform: none;
    }
  }

  ul {
    color: $gray4;
    font-size: 0.85rem;
    list-style: none;
  }

  a {
    color: inherit;
    display: inline-block;
    padding: 0.32em 0;
  }

  .certificate-image {
    margin-bottom: 20px;
    width: 60px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      width: 80px;
    }
  }
}
