<footer>
  <div class="colophon">
    <div class="container">
      <div *ngIf="socialNetworks?.length" class="social-networks">
        <a ctrl="socialNetworkLink" (domChange)="onDomChange($event, { socialNetworkLink: element?.name })"
          [attr.href]="element.url"
          rel="nofollow"
          target="_blank"
          [attr.title]="element.name"
          *ngFor="let element of socialNetworks"
        >
          <i class="icon-{{ element.name | slugify }}"></i>
        </a>
      </div>
      <div class="company-info">
        <address *ngIf="address">{{ address }}</address>
        <span *ngIf="address && phoneNumbers" class="separator"> | </span>
        <dl *ngIf="phoneNumbers">
          <dt>Teléfonos:</dt>
          <dd *ngFor="let phone of phoneNumbers; last as isLast">
            {{ phone }}<span *ngIf="!isLast"> . </span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="footer-link-list col-sm-6 col-md-4 col-lg"
        *ngFor="let item of footer | orderBy: ['order']">
        <bvl-accordion activeOn="lt-md"
          iconCollapsed="icon-simple-arrow-down"
          iconExpanded="icon-simple-arrow-up"
          variant="dark">
          <h4 bvl-accordion-toggler>{{ item?.name }}</h4>
          <ul *ngIf="item?.children?.length">
            <li *ngFor="let child of item?.children">
              <a ctrl="link" (domChange)="onDomChange($event, { title: item?.name, link: child?.name })"
                [attr.href]="(child?.path) ? child?.path : ('javascript:void(0)' | safeUrl)">{{ child?.name }}</a>
            </li>
          </ul>
        </bvl-accordion>
      </div>
    </div>

    <div class="row justify-content-center justify-content-md-end mt-20">
      <div class="col-auto" *ngFor="let certificate of certifications">
        <img class="certificate-image" [src]="certificate.url" [alt]="certificate.alt">
      </div>
    </div>
    <div class="row justify-content-center justify-content-md-end mt-20">
      <div class="col-auto">
        Copyright © 2020 - Bolsa de Valores de Lima - Todos los derechos reservados
      </div>
    </div>
  </div>
  <bvl-real-time></bvl-real-time>
</footer>
