@import "../../../../fancy-table/src/app/fancy-table-header/fancy-table-header.component.scss";

@media (max-width: 567px) {
  .table-header-content {
    .header-items-wrapper--search {
      width: 100%;

      .search {
        margin-top: 10px;

        .form-group {
          margin-right: 0;
        }
      }
    }
  }
}
