<div class="table-header full-width g-site-ie-block">
  <div
    class="table-header-content container"
    [ngClass]="{ 'search-showed': searchInputShowed }"
  >
    <div class="type-filters">
      <button
        ctrl="linkAll"
        (domChange)="onDomChange($event, { textLink: TEXT.filters.all })"
        class="btn active"
        (click)="resetFilters()"
        [ngClass]="{ active: selectedType === '' && selectedInitial === '' && searchTerm === '' }">
        {{ TEXT.filters.all }}
      </button>
    </div>
    <div class="header-items-wrapper">
      <div class="category-filter" [ngClass]="{ 'with-selection': sector }">
        <select
          ctrl="selectSector"
          (domChange)="onDomChange($event)"
          [(ngModel)]="sector"
          class="select select-xl white arrow-red"
          (change)="onCategoryChange(sector)">
          <option selected value=''>{{ byTypeFilter?.label }}</option>
          <option *ngFor="let option of byTypeFilter?.options"
            [attr.value]="option.code">{{ option.label }}</option>
        </select>
        <div class="g-site-select">
          <div class="g-site-select--label">
            <span>{{ (selectedType ? getSelectedLabel(selectedType, byTypeFilter?.options) : byTypeFilter?.label) | truncate: 20 }}</span>
            <i class="icon-simple-arrow-down"></i>
          </div>
          <div class="g-site-select--list" [bvlToggleByPosition]="['g-site-select--list-left', 'default']">
            <div (click)="onCategoryChange('');"
              ctrl="selectSector"
              (domChange)="onDomChange($event, { label: byTypeFilter?.label })">{{ byTypeFilter?.label }}</div>
            <div
              [ngClass]="{ 'active': selectedType === option.code }"
              *ngFor="let option of byTypeFilter?.options"
              (click)="onCategoryChange(option.code);"
              ctrl="selectSector"
              (domChange)="onDomChange($event, { label: option.label })">
              {{ option.label }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-items-wrapper header-items-wrapper--search">
      <div
        class="search"
        [ngClass]="{
          'with-search': searchTerm.length,
          'search-focused': searchFocused
        }"
      >
        <div
          class="form-group"
          [ngClass]="{ 'd-flex': !searchInputShowed }"
        >
          <input
            #searchTermInput
            type="text"
            class="form-control"
            [(ngModel)]="searchTerm"
            (focus)="searchFocused = true"
            (keyup.enter)="onSearch(); searchFocused = false"
            ctrl="searchText"
            (domChange)="onDomChange($event)"
          />
        </div>
        <button
          class="btn search--close btn-icon"
          *ngIf="searchTerm"
          (click)="
            toggleSearch();
            setFocusToElement(searchTermInput);
            resetSearch()">
          <i class="icon-close"></i>
        </button>
      </div>
    </div>
    <div class="initial-filter">
      <ng-container *ngFor="let initial of byInitialFilter">
        <button
          ctrl="alphabeticFilter"
          (domChange)="onDomChange($event, { textLink: initial })"
          class="btn btn-link"
          (click)="onInitialChange(initial)"
          [ngClass]="{ active: initial === selectedInitial }">
          {{ initial }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
