<div class="g-admin-card-header g-mb--15">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="g-pr--15">
        <div class="g-admin-card-arrow" [ngClass]="{'disabled': !showUp}" (click)="up()">
          <i class="la la-chevron-up"></i>
        </div>
        <div class="g-admin-card-arrow" [ngClass]="{'disabled': !showDown}" (click)="down()">
          <i class="la la-chevron-down"></i>
        </div>
      </div>
      <div class="d-flex align-items-center">
        {{ item?.name }}
      </div>
    </div>
    <div class="text-right pr-0">
      <ng-container *ngFor="let button of ITEM_MENU_BUTTONS">
        <button [hidden]="parent && button?.actionType === ACTION_TYPES.add"
          bvl-button
          theme="square"
          (click)="buttonAction(button?.actionType)">
          <i class="la" [ngClass]="button?.icon"></i>
          <span>{{ button?.description }}</span>
        </button>
      </ng-container>
      <div class="g-admin-card-dropdown">
        <button [hidden]="!item?.children?.length" bvl-button
          theme="small"
          (click)="collapsed.emit()">
          <i class="la"
            [ngClass]="item?.collapse ? 'la-angle-down': 'la-angle-up'">
          </i>
        </button>
      </div>
    </div>
  </div>
</div>

<swal
  #swalDelete
  [options]="swalDeleteOptions"
  (confirm)="delete()">
</swal>
