<div class="g-alert error text-center">
  <p class="g-fs-12 mb-xs-0 d-inline-flex align-items-center">
    <span class="la {{iconClass}} g-fs-15 g-cl-red2 mr-xs-1"></span>
    {{alert}}
  </p>
</div>
