<div class="g-card-info-border">

  {{#breadcrumb}}
    {{>atoms-Breadcrumb}}
  {{/breadcrumb}}

  <div class="d-flex">

    {{#pageType}}
      {{>atoms-Icon}}
    {{/pageType}}

    {{#pageTitle}}
      {{>atoms-Text}}
    {{/pageTitle}}

  </div>

</div>
