<div class="g-card-info">
  <span class="g-fs-13 g-fw-medium">{{title}}</span>

  {{#infoWithIcon}}
    {{>atoms-Info-with-icon}}
  {{/infoWithIcon}}

  {{#badge}}
    {{>atoms-Badge}}
  {{/badge}}
</div>
