<div class="g-drag-icon {{modifierClass}}">

  <div class="g-drag-icon-header">

    {{#icon}}
      {{>atoms-Image}}
    {{/icon}}

  </div>

  <div class="g-drag-icon-body">

    {{#text}}
      {{>atoms-Text}}
    {{/text}}

  </div>

</div>
