<div class="d-flex justify-content-center align-content-center {{modifierClass}}">

  {{#circleIcon}}
    {{>atoms-Circle-info-icon}}
  {{/circleIcon}}

  {{#text}}
    {{>atoms-Text}}
  {{/text}}

  {{#button}}
    {{>atoms-Button}}
  {{/button}}

</div>
