<div class="row no-gutters mb-xs-2" [formGroup]="group">
  <div class="col-auto g-w-100">
    <label [for]="config.label" class="g-fw-bold g-fs-15">{{ config.label }}:</label>
  </div>
  <div class="col">
    <textarea
      class="g-admin-textarea mb-0"
      rows="3"
      [maxlength]="config.maxLength"
      [placeholder]="config.placeholder || ''"
      [formControlName]="controlName"
      (onblur)="focus()">
    </textarea>
  </div>
  <div class="col-12">
    <span class="g-fs-12 d-block mt-1 text-right">
      ({{ (control.value || '').length }}/{{ config.maxLength }} caracteres max).
    </span>
  </div>
</div>
