<section [ngClass]="{
  'full-width': fullWidth,
  'with-details-row': withDetailsRow,
  'various-tables': tablesData?.data.length > 1
  }">
  <div class="tables">
      <bvl-fancy-table-header
          [title]="headerTitle"
          [capabilities]="capabilities"
          [byTypeFilter]="byTypeFilter"
          [byInitialFilter]="byInitialFilter"
          [byCategoryFilters]="byCategoryFilters"
          (activeFilters)="onFilterChange($event)"
          [fullWidth]="fullWidth"
          [entriesNumber]="showEntriesNumber ? entriesNumber : null"></bvl-fancy-table-header>

      <div class="table-selector btn-group-toggle"
              *ngIf="tablesData.data.length > 1 && !tablesFitInContainer">
          <label class="btn"
                  *ngFor="let table of tablesData.data"
                  [ngClass]="[
                      selectedTable === table.id ? 'active' : '',
                      table.theme ? 'font-' + table.theme : '']">
              <input #tableSelector
                      type="radio"
                      [value]="table.id"
                      name="table-selector"
                      [(ngModel)]="selectedTable">
              <span>{{ table.title }}</span>
              <i *ngIf="table.iconTitle" [ngClass]="table.iconTitle"></i>
          </label>
      </div>
      <div class="tables-container"
          [ngClass]="{
              'container': fullWidth,
              'tables-fit': tablesFitInContainer
          }">

          <ng-container *ngFor="let table of tablesData.data">
              <article class="table-article"
                       *ngIf="tablesFitInContainer || tablesData.data.length === 1 || selectedTable === table.id"
                       [ngClass]="{'scrolling-table': scrollingTable}">
                  <header class="table-article-header"
                          *ngIf="tablesData.data.length > 1 && tablesFitInContainer">
                      <h4 class="table-title"
                          [ngClass]="table.theme ? 'font-' + table.theme : ''">
                          {{ table.title }}
                          <i *ngIf="table.iconTitle" [ngClass]="table.iconTitle"></i>
                      </h4>
                  </header>
                  <div class="table-wrapper" topScrollbar>
                      <div class="scrolling-table-header" *ngIf="scrollingTable">
                          <table class="table table-dark"
                                  [ngClass]="table.theme ? 'table-' + table.theme : ''">
                              <thead>
                                  <th *ngFor="let column of columnsName; index as i"
                                      [ngStyle]="{'width.px': headerCellsWidth[i]}"
                                      [ngSwitch]="column">
                                      <ng-container *ngSwitchCase="'inWatchlist'">
                                          <i class="icon-watch"></i>
                                      </ng-container>
                                      <ng-container *ngSwitchDefault>
                                          {{ tableColumns[i].label }}
                                          <button type="button"
                                                  (click)="sortBy(tableColumns[i], table)"
                                                  class="btn btn-icon btn-sortBy"
                                                  *ngIf="capabilities.indexOf('sort') !== -1"
                                                  [class.active]="table.metadata.sortedBy.column === tableColumns[i]">
                                              <i class="icon-sort"></i>
                                          </button>
                                      </ng-container>
                                  </th>
                              </thead>
                          </table>
                      </div>
                      <table
                            class="table-dark table"
                            scrolledElement>
                            <thead>
                                <tr class="bvl-row">
                                    <th [ngSwitch]="column" *ngFor="let column of columnsName; index as i">
                                        <ng-container *ngSwitchCase="'inWatchlist'">
                                            <i class="icon-watch"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            {{ tableColumns[i].label }}
                                            <button type="button"
                                                    (click)="sortBy(tableColumns[i], table)"
                                                    class="btn btn-icon btn-sortBy"
                                                    *ngIf="capabilities.indexOf('sort') !== -1"
                                                    [class.active]="table.metadata.sortedBy.column === tableColumns[i]">
                                                <i class="icon-sort"></i>
                                            </button>
                                        </ng-container>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let element of table.entries._value; index as i">
                                    <tr class="bvl-row"
                                        [ngClass]="{
                                            'selected-row': table.metadata.expandedElement && table.metadata.expandedElement.id === element.id}
                                        ">
                                        <td *ngFor="let column of columnsName; index as y"
                                            [ngSwitch]="tableColumns[y].valueType"
                                            (click)="withDetailsRow && tableColumns[y].name !== 'inWatchlist' ? expandElement(element, table) : '' "
                                            [style.cursor]="withDetailsRow && (tableColumns[y].name !== 'inWatchlist' ? 'pointer' : '')">
                                            <ng-container *ngSwitchCase="'price'">
                                                <bvl-amount-cell [variation]="element.variation">
                                                    {{ element[column] | currency:element.currency.code:element.currency.symbol }}
                                                </bvl-amount-cell>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'amount'">
                                                {{ element[column] | currency:element.currency.code:element.currency.symbol }}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'percent'">
                                                {{ element[column] | percent:'1.2-2' | slice:0:-1 }}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'date'">
                                                {{ element[column] | date:'dd/MM/yy' }}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'number'">
                                                {{ element[column] | number }}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'list'">
                                                <ng-container *ngFor="let el of element[column]; last as isLast">
                                                    {{ el }}<span *ngIf="!isLast">, </span>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'boolean'">
                                                <ng-container *ngIf="
                                                    column === 'inWatchlist';
                                                    then inWatchListCell; else booleanCell
                                                ">
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'facts'">
                                                <bvl-label *ngFor="let fact of element[column]"
                                                            [label]="fact.shortLabel"
                                                            [popover]="getFactPopover(fact.label, fact.date, fact.url)"
                                                            [class]="'label-' + fact.shortLabel"></bvl-label>
                                            </ng-container>
                                            <ng-container *ngSwitchDefault>
                                                {{ element[column] }}
                                            </ng-container>
            
                                            <ng-template #inWatchListCell>
                                                <button class="btn btn-icon"
                                                        (click)="toggleInWatchList(element)">
                                                    <i [ngClass]="element.inWatchlist ? 'icon-minus-circle' : 'icon-add'"
                                                    [style.color]="element.inWatchlist ? 'red' : ''"></i>
                                                </button>
                                            </ng-template>
            
                                            <ng-template #booleanCell>
                                                <ng-container *ngIf="element[column]">
                                                    Yes
                                                </ng-container>
                                                <ng-container *ngIf="!element[column]">
                                                    No
                                                </ng-container>
                                            </ng-template>
                                        </td>
                                    </tr>
                                    <tr *ngIf="withDetailsRow" class="details-row">
                                        <td                                
                                            [attr.colspan]="columnsName.length"
                                            [ngClass]="{
                                                'expanded': table.metadata.expandedElement && table.metadata.expandedElement.id === element.id}
                                            ">
                                                <article class="element-details"
                                                [@detailExpand]="getAnimationState(element, table)">
                                                <header>
                                                    <h3 class="title">{{element.name}}</h3>
                                                    <button class="btn btn-close"
                                                            (click)="table.metadata.expandedElement = null">
                                                        <span class="sr-only">Close</span>
                                                        <i class="icon-close"></i>
                                                    </button>
                                                </header>
                                                <div class="row no-gutters">
                                                    <div [ngClass]="tablesData.data.length === 1 ? 'col-md-8' : 'col-md-12'">
                                                        
                                                        <div [id]="table.id + '-graphic-' + element.id"
                                                            class="graphic-wrapper">
                                                        </div>
                                                                
                                                    </div>
                                                    <div [ngClass]="tablesData.data.length === 1 ? 'col-md-4' : 'col-md-12'">
                                                        <bvl-links-list [links]="element.links"></bvl-links-list>
                                                    </div>
                                                </div>
                                                <div class="advice row no-gutters" *ngIf="media.isActive('xs')">
                                                    <div class="col-6">
                                                        <h4>Gira tu teléfono para una mejor experiencia</h4>
                                                    </div>
                                                    <i class="icon-close"></i>
                                                </div>
                                            </article>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                      </table>
                    </div>
              </article>
          </ng-container>
      </div>
  </div>

  <footer *ngIf="url">
      <div [ngClass]="{'container': fullWidth}">
          <a [attr.href]="url" class="btn btn-primary btn-sm">Ver todos</a>
      </div>
  </footer>
</section>



