@import "../../../../core/lib/src/styles/main.scss";

section {
  position: relative;
  border-radius: 0.38em;
  &.full-width {
    border-radius: 0;
    @include media-breakpoint-down("lg") {
      .tables-container.container {
        padding: 0;
      }
    }
    @include media-breakpoint-up("xl") {
      // overflow: hidden;
      .table-wrapper {
        overflow: visible;
      }
    }
  }
  &:not(.full-width) {
    @include media-breakpoint-down("sm") {
      border-radius: 0;
    }
  }
}
.tables {
  position: relative;
}
.no-data {
  background: #333232;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.tables-container {
  display: flex;
  width: 100%;
  .table-article {
    flex: 0;
    background-color: darken($table-dark-background, 5%);
    &.scrolling-table {
      .scrolling-table-header {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: darken($table-dark-background, 5%);
        thead {
          display: flex;
        }
      }
      .table-wrapper {
        overflow-y: scroll;
        @include fancyScrollbar($light-gray, darken($darker-gray, 5%));
      }
    }
  }
  &.loaded {
    .table-article {
      flex: 1;
      width: 100%;
    }
  }
}

.table-wrapper {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.table {
  th,
  td {
    transition: color 0.2s, background-color 0.2s;
    &:first-of-type {
      padding-left: 1.46rem;
      @include media-breakpoint-up("md") {
        padding-left: 2.7rem;
      }
    }
    &:last-of-type {
      padding-right: 1.46rem;
      @include media-breakpoint-up("md") {
        padding-right: 2.7rem;
      }
    }
    &.bvl-column-inWatchlist {
      width: 1%;
      i {
        font-size: 1.25em;
      }
    }
    i {
      vertical-align: middle;
    }
    .btn-icon {
      padding: 0;
      line-height: 0;
      background-color: transparent;
      color: $dark-gray;
      transition: color 0.2s;
      &:hover {
        color: white;
      }
    }
    .btn-sortBy.active {
      color: $red;
    }
    &.list {
      text-align: center;
      padding: 8px;
    }
  }

  td.bvl-column-name {
    text-transform: uppercase;
    font-weight: 500;
  }
}

.with-details-row {
  tr {
    &:nth-of-type(4n + 3) {
      background-color: darken($table-dark-background, 5%);
    }
    &.details-row {
      background: white;
      color: $body-color;
      td {
        padding: 0;
      }
    }
    &.selected-row {
      color: $body-color;
      background-color: $table-dark-selected-row;
      .btn-icon:hover {
        color: black;
      }
    }
  }
}

.full-width .table-article {
  &:first-of-type {
    @include media-breakpoint-down("xl") {
      td:first-of-type,
      .bvl-header-cell:first-of-type {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    @include media-breakpoint-up("xl") {
      td:first-of-type,
      .bvl-header-cell:first-of-type {
        position: relative;
        padding-left: 0;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: -9999rem;
          right: 100%;
        }
      }
      td:first-of-type {
        &::after {
          background-color: $table-dark-background;
        }
      }
      .bvl-header-cell:first-of-type {
        &::after {
          background-color: darken($table-dark-background, 5%);
        }
      }
      tr {
        &:nth-of-type(even) {
          td:first-of-type {
            &::after {
              background-color: darken($table-dark-background, 5%);
            }
          }
        }
        &.details-row {
          td:first-of-type {
            &::after {
              background-color: white;
            }
          }
        }
        &.selected-row {
          td:first-of-type {
            &::after {
              background-color: $table-dark-selected-row !important;
            }
          }
        }
      }
    }
  }
  &:last-of-type {
    @include media-breakpoint-down("xl") {
      td:last-of-type,
      .bvl-header-cell:last-of-type {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    @include media-breakpoint-up("xl") {
      td:last-of-type,
      .bvl-header-cell:last-of-type {
        position: relative;
        padding-right: 0;
        &::after {
          bottom: 0;
          content: "";
          left: 100%;
          min-height: 39px;
          position: absolute;
          right: -9999rem;
          top: 0;
        }
      }
      td:last-of-type {
        &::after {
          background-color: $table-dark-background;
        }
      }
      .bvl-header-cell:last-of-type {
        &::after {
          background-color: darken($table-dark-background, 5%);
        }
      }
      tr {
        &:nth-of-type(even) {
          td:last-of-type {
            &::after {
              background-color: darken($table-dark-background, 5%);
            }
          }
        }
        &.details-row {
          td:last-of-type {
            &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: -9999rem;
              right: 100%;
              background-color: white;
            }
            &::after {
              background-color: white;
            }
          }
        }
        &.selected-row {
          td:last-of-type {
            &::after {
              background-color: $table-dark-selected-row !important;
            }
          }
        }
      }
    }
  }
}

.element-details {
  overflow: hidden;
  white-space: normal;
  .btn-close {
    background: red;
    padding: 6px;
    color: #fff;
    font-size: 10px;
    position: relative;
    top: 8px;
    right: 8px;
    z-index: 1;
  }
  header {
    display: none;
    @include media-breakpoint-down("sm") {
      display: block;
    }
  }
  .expanded & {
    @include media-breakpoint-down("sm") {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $background-color;
      z-index: 9;
      overflow-y: auto;
    }
    header {
      @include media-breakpoint-down("sm") {
        text-align: center;
        background-color: $darkest-gray;
        position: relative;
        color: white;
        .title {
          margin: 0;
          font-size: 1.15rem;
          text-transform: uppercase;
          padding: 1.385rem;
        }
        .btn {
          position: absolute;
          top: calc(50% - 20px);
          right: 0.25rem;
          background-color: transparent;
          padding: 0.57rem;
          line-height: 0.8;
          font-size: 1.92rem;
          border-radius: 50%;
        }
      }
    }
  }
  .graphic-wrapper {
    @include media-breakpoint-up("md") {
      padding: 1.23rem 0.5rem 1.23rem 1.85rem;
    }
    height: 230px;
    width: 100%;
  }

  bvl-links-list {
    margin: 1.46rem 2.23rem 1.23rem 2.23rem;
    @include media-breakpoint-up(md) {
      margin: 1.23rem 1.85rem 1.23rem 0.5rem;
    }
  }

  .advice {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0.62rem 1rem 0.62rem 1.38rem;
    h4 {
      font-size: 0.85rem;
      font-weight: 500;
      margin: 0.54rem 0;
    }
  }
}

section footer {
  padding: 1.36rem 15px;
  background-color: darken($table-dark-background, 5%);
  border-radius: 0px 0px 5px 5px;
  @include media-breakpoint-up("md") {
    padding: 1.36rem 1rem 1.36rem 2.7rem;
  }
  & > div {
    display: flex;
    justify-content: center;
    @include media-breakpoint-up("md") {
      justify-content: flex-end;
    }
  }
  .full-width & {
    @include media-breakpoint-up("lg") {
      padding-left: 0;
      padding-right: 0;
    }
    @include media-breakpoint-down("md") {
      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
    & > div {
      justify-content: center;
    }
  }
}

.various-tables {
  @include media-breakpoint-up("md") {
    backface-visibility: hidden;
    perspective: 1000;
  }
  .tables-container {
    @include media-breakpoint-up("md") {
      transform: translateZ(0);
    }
    &.loaded {
      .table-article {
        width: 50%;
      }
    }
    &:not(.tables-fit) th {
      &::before {
        content: none;
      }
    }
  }
  .table-article {
    .table-article-header {
      padding: 1rem 1.46rem;
      @include media-breakpoint-up("md") {
        padding: 1rem 2.7rem;
      }
      color: white;
      .table-title {
        margin: 0;
        font-size: 1.53rem;
        font-family: $title-font;
        i {
          font-size: 0.66em;
          margin-left: 0.33rem;
        }
      }
    }
    > div {
      position: static !important;
    }
    tr.selected-row {
      background: white;
    }
    .details-row {
      article {
        @include media-breakpoint-up("md") {
          background-color: white;
          bottom: 0;
          height: 100%;
          overflow-y: auto;
          position: absolute;
          top: 0;
          z-index: 1;
        }
      }
      header {
        @include media-breakpoint-up("md") {
          display: block;
        }
        @include media-breakpoint-up("md") {
          text-align: right;
        }
        .title {
          @include media-breakpoint-up("md") {
            display: none;
          }
        }
      }
      .graphic-wrapper {
        @include media-breakpoint-up("md") {
          height: 200px;
          padding: 0 1rem 1rem;
        }
      }
      .link-list {
        @include media-breakpoint-up("md") {
          display: flex;
          flex-wrap: wrap;
          margin: 0 1rem;
        }
        li {
          @include media-breakpoint-up("md") {
            flex-basis: 50%;
          }
        }
      }
    }
    &:nth-child(odd) {
      .details-row {
        article {
          @include media-breakpoint-up("md") {
            left: calc(50% - 1px);
            right: 0;
          }
        }
      }
    }
    &:nth-child(even) {
      .details-row {
        article {
          @include media-breakpoint-up("md") {
            left: 0;
            right: calc(50% - 1px);
          }
        }
      }
    }
  }
  /*::ng-deep .amount-cell::before {
        content: none !important;
    }*/
}

.table-selector {
  display: flex;
  background-color: $almost-black;
  color: white;
  .btn {
    flex: 1;
    border-radius: 0;
    &.active {
      background-color: lighten($almost-black, 10%);
    }
    i {
      font-size: 0.66em;
      margin-left: 0.33rem;
    }
  }
}

.table-green,
.table-red,
.table-blue {
  th {
    &:first-of-type {
      &::before {
        left: 1.23rem;
        @include media-breakpoint-up("md") {
          left: 2.47rem;
        }
      }
    }
    &:last-of-type {
      &::before {
        right: 1.23rem;
        @include media-breakpoint-up("md") {
          right: 2.47rem;
        }
      }
    }
  }
}

bvl-label {
  margin-right: 0.77rem;
  &:last-of-type {
    margin-right: 0;
  }
}

.ngx-top-scrollbar {
  @include fancyScrollbar($light-gray, darken($darker-gray, 5%));
  top: 0 !important;
}
.tables-container:not(.tables-fit) {
  .table-wrapper {
    th {
      -webkit-padding-before: calc(0.5em + 8px);
    }
  }
}
.full-width.with-details-row .table-article {
  tr {
    &:nth-of-type(4n + 3) {
      td {
        &:last-of-type {
          &::after {
            background-color: darken($table-dark-background, 5%);
          }
        }
        &:first-of-type {
          &::after {
            background-color: darken($table-dark-background, 5%);
          }
        }
      }
    }
  }
}
