<div [ngClass]="{ 'page-section dark': !privateSite }">
  <ng-container *ngIf="!privateSite">
    <div class="page-subsection first text-center">
      <h1 class="page-title">{{ TEXT.general.dailyMovements }}</h1>
    </div>
    <div class="page-subsection">
      <div class="row justify-center">
        <div class="g-max-w--62 w-100">
          <bvl-movements-summary
            [risingValues]="up"
            [downsidingValues]="down"
            [maintainedValues]="equal">
          </bvl-movements-summary>
        </div>
      </div>
    </div>
  </ng-container>
  <section top-paginate class="with-details-row">
    <div class="tables">
      <bvl-daily-table-header [ga]="ga" [privateSite]="privateSite" [filterOnlyToday]="INITIAL_BODY.today" (activeFilters)="onFilterChange($event)"></bvl-daily-table-header>
      <ng-container *ngIf="(tablesData | json) !== '[]'; else noData">
        <div class="tables-container loaded">
          <ng-container *ngFor="let table of tablesData?.data">
            <article class="table-article">
              <div class="table-wrapper" topScrollbar>
                <table class="table-dark table" scrolledElement>
                  <thead>
                    <tr class="bvl-row">
                      <th
                        class="bvl-header-cell"
                        [ngSwitch]="column.name"
                        *ngFor="let column of tableColumns; index as i"
                      >
                        <ng-container *ngSwitchCase="'inWatchlist'">
                          <i class="icon-watch"></i>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ tableColumns[i].label }}
                          <button
                            type="button"
                            (click)="sortBy(tableColumns[i], table)"
                            class="btn btn-icon btn-sortBy"
                            [class.active]="
                              table.metadata.sortedBy.column === tableColumns[i]
                            "
                          >
                            <i class="icon-sort"></i>
                          </button>
                        </ng-container>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="let element of table.entries._value; index as i"
                    >
                      <tr
                        class="bvl-row"
                        [ngClass]="{
                          'selected-row':
                            table.metadata.expandedElement &&
                            table.metadata.expandedElement.id === element.id
                        }"
                        ctrl="rowItem"
                        (domChange)="onDomChange($event, element)"
                      >
                        <td
                          *ngFor="let column of tableColumns; index as y"
                          [ngSwitch]="tableColumns[y].valueType"
                          (click)="
                            tableColumns[y].name !== 'inWatchlist' && element.companyCode !== 'XXX'
                              ? expandElement(element, table)
                              : ''
                          "
                          [style.cursor]="
                            element.companyCode !== 'XXX' ? 'pointer' : ''
                          "
                        >
                          <ng-container *ngSwitchCase="'price'">
                            <span *ngIf="element[column.name]">
                              {{ element[column.name] | currency : element.currency.code:false:'1.2-3'  }}
                            </span>
                          </ng-container>
                          <ng-container *ngSwitchCase="'amount'">
                            {{ element[column.name] | currency : element.currency.code:false:'1.2-3' }}
                          </ng-container>
                          <ng-container *ngSwitchCase="'percent'">
                              <bvl-amount-cell
                              *ngIf="element[column.name]"
                              [variation]="element.variation">
                              {{ element[column.name] | number }}%
                            </bvl-amount-cell>
                          </ng-container>
                          <ng-container *ngSwitchCase="'date'">
                            {{ element[column.name] | date: "dd/MM/yy" }}
                          </ng-container>
                          <ng-container *ngSwitchCase="'number'">
                            {{ element[column.name] | number }}
                          </ng-container>
                          <ng-container *ngSwitchCase="'list'">
                            <ng-container
                              *ngFor="
                                let el of element[column.name];
                                last as isLast
                              "
                            >
                              {{ el }}<span *ngIf="!isLast">, </span>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngSwitchCase="'boolean'">
                            <ng-container
                              *ngIf="
                                column.name === 'inWatchlist';
                                then inWatchListCell;
                                else booleanCell
                              "
                            >
                            </ng-container>
                          </ng-container>
                          <ng-container *ngSwitchDefault>
                            <span [title]="element[column.name]">
                              {{ element[column.name] | truncate: 40 }}
                            </span>
                          </ng-container>

                          <ng-template #inWatchListCell>
                            <button
                              *ngIf=" element.companyCode !== 'XXX' "
                              class="btn btn-icon"
                              (click)="toggleInWatchList(element)"
                            >
                              <i
                                [ngClass]="
                                  element.inWatchlist
                                    ? 'icon-minus-circle'
                                    : 'icon-add'
                                "
                                [style.color]="element.inWatchlist ? 'red' : ''"
                              ></i>
                            </button>
                          </ng-template>

                          <ng-template #booleanCell>
                            <ng-container *ngIf="element[column]">
                              Yes
                            </ng-container>
                            <ng-container *ngIf="!element[column]">
                              No
                            </ng-container>
                          </ng-template>
                        </td>
                      </tr>
                      <tr class="details-row">
                        <td
                          [attr.colspan]="tableColumns.length"
                          [ngClass]="{
                            expanded:
                              table.metadata.expandedElement &&
                              table.metadata.expandedElement.id === element.id
                          }"
                        >
                          <article
                            class="element-details"
                            [@detailExpand]="getAnimationState(element, table)"
                          >
                            <header>
                              <h3 class="title">{{ element.name }}</h3>
                              <button
                                class="btn btn-close"
                                (click)="table.metadata.expandedElement = null"
                              >
                                <span class="sr-only">Close</span>
                                <i class="icon-close"></i>
                              </button>
                            </header>
                            <div class="row no-gutters">
                              <div
                                [ngClass]="
                                  tablesData?.data.length === 1
                                    ? 'col-md-8'
                                    : 'col-md-12'
                                "
                              >
                                <ng-container *ngIf="(element.chartData | json) !== '[]'; else noData">
                                  <div
                                    [id]="table.id + '-graphic-' + element.id"
                                    class="graphic-wrapper">
                                  </div>
                                </ng-container>
                                <ng-template #noData>
                                  <section class="g-site-nofound">
                                    <div class="g-site-nofound--content">
                                      <div class="g-site-nofound--icon icon-bar-chart"></div>
                                      <div class="g-site-nofound--text">
                                        {{ TEXT.general.noData }}
                                      </div>
                                    </div>
                                  </section>
                                </ng-template>
                              </div>
                              <div
                                [ngClass]="
                                  tablesData?.data.length === 1
                                    ? 'col-md-4'
                                    : 'col-md-12'
                                "
                              >
                                <ng-container *ngIf="element.companyCode != 'XXX'">
                                  <bvl-links-list [ga]="ga" [links]="element.links"></bvl-links-list>
                                </ng-container>
                              </div>
                            </div>
                            <div
                              class="advice row no-gutters"
                              *ngIf="media.isActive('xs')"
                            >
                              <div class="col-6">
                                <h4>
                                  {{ TEXT.general.turnPhone }}
                                </h4>
                              </div>
                              <i class="icon-close"></i>
                            </div>
                          </article>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </article>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <ng-template #noData>
      <bvl-without-data [type]="WITHOUT_DATA_TYPE?.table"></bvl-without-data>
    </ng-template>
    <footer>
      <ng-container *ngIf="completeData?.length > 0">
        <bvl-pagination
          [ga]="ga"
          [max]="maxRows"
          [totalPages]="getTotalPages()"
          [paginateByService]="true"
          (emitChangePage)="emitChangePage($event)"
        ></bvl-pagination>
      </ng-container>
    </footer>
  </section>
</div>
