<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h3 class="c-gray1"><u>Basic Colors</u></h3>
      <ul class="sg-colors">

        {{#basicColors}}
          <li>
            <span class="sg-swatch {{bgcClass}}"></span>
            <span class="sg-label">
              Background: {{bgcClass}} <br />
              ColorClass: {{colorClass}} <br />
              BorderClass: {{borderClass}}<br />
              color: {{colorCode}}
            </span>
          </li>
        {{/basicColors}}

      </ul>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12">
      <h3 class="c-gray1"><u>Gray Colors</u></h3>
      <ul class="sg-colors">

        {{#grayColors}}
          <li>
            <span class="sg-swatch {{bgcClass}}"></span>
            <span class="sg-label">
              Background: {{bgcClass}} <br />
              ColorClass: {{colorClass}} <br />
              BorderClass: {{borderClass}}<br />
              color: {{colorCode}}
            </span>
          </li>
        {{/grayColors}}

      </ul>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12">
      <h3 class="c-gray1"><u>Red Colors</u></h3>
      <ul class="sg-colors">

        {{#redColors}}
          <li>
            <span class="sg-swatch {{bgcClass}}"></span>
            <span class="sg-label">
              Background: {{bgcClass}} <br />
              ColorClass: {{colorClass}} <br />
              BorderClass: {{borderClass}}<br />
              color: {{colorCode}}
            </span>
          </li>
        {{/redColors}}

      </ul>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12">
      <h3 class="c-gray1"><u>Green Colors</u></h3>
      <ul class="sg-colors">

        {{#greenColors}}
          <li>
            <span class="sg-swatch {{bgcClass}}"></span>
            <span class="sg-label">
              Background: {{bgcClass}} <br />
              ColorClass: {{colorClass}} <br />
              BorderClass: {{borderClass}}<br />
              color: {{colorCode}}
            </span>
          </li>
        {{/greenColors}}

      </ul>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12">
      <h3 class="c-gray1"><u>Orange Colors</u></h3>
      <ul class="sg-colors">

        {{#orangeColors}}
          <li>
            <span class="sg-swatch {{bgcClass}}"></span>
            <span class="sg-label">
              Background: {{bgcClass}} <br />
              ColorClass: {{colorClass}} <br />
              BorderClass: {{borderClass}}<br />
              color: {{colorCode}}
            </span>
          </li>
        {{/orangeColors}}

      </ul>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12">
      <h3 class="c-gray1"><u>Alpha Colors</u></h3>
      <ul class="sg-colors">

        {{#alphaColors}}
          <li>
            <span class="sg-swatch {{bgcClass}}"></span>
            <span class="sg-label">
              Background: {{bgcClass}} <br />
              ColorClass: {{colorClass}} <br />
              BorderClass: {{borderClass}}<br />
              color: {{colorCode}}
            </span>
          </li>
        {{/alphaColors}}

      </ul>
    </div>
  </div>

</div>
