<div class="container-fluid">

  <div class="row">

    <div class="col-12">

      <h3 class="c-gray1"><u>Images</u></h3>
      <ul class="sg-images">

        {{#images}}

          <li>

            <div>
              <img src="{{srcImage}}" class="sg-image"></span>
            </div>

          </li>

        {{/images}}

      </ul>

    </div>

  </div>

</div>