<button class="g-btn g-btn-square {{classModifier}}" type="{{type}}">

  <div class="d-flex align-items-center">

    <i class="{{iconClass}}"></i>

    {{#textCount}}

      <span class="ml-1">{{textCount}}</span>

    {{/textCount}}

  </div>

  <span>{{text}}</span>

</button>
