<div class="g-site-onboarding-window"
  [ngClass]="process?.position"
  [ngStyle]="position">
  <div class="g-site-onboarding-head-buttons">
    <div class="row">
      <div class="col">
        <button
          (click)="changeGuide((this.process.index > 0) ? ONBOARDING_ACTION.prev : ONBOARDING_ACTION.init)"
          *ngIf="process.index"
          class="back"
        >
          <i class="icon-arrow-left"></i>
          {{ TEXT.general.goBack | uppercase }}
        </button>
      </div>
      <div class="col text-right">
        <button class="close" (click)="endGuide()">
          <i class="icon-cerrar"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="g-site-onboarding-body">
    <div class="title">
      <h1>{{ process.title }}</h1>
    </div>
    <div class="description">
      <p>{{ process.description }}</p>
    </div>
    <hr>
    <div class="row">
      <div class="col process-numbers">
        <span class="current">{{ process.index + 1 }}</span>/<span class="total">{{ process.totalGuide }}</span>
      </div>
      <div class="col">
        <button (click)="changeGuide((this.process.index + 1) !== this.process.totalGuide ? ONBOARDING_ACTION.next : ONBOARDING_ACTION.end)" class="w-100 btn btn-primary">
          {{ process.index + 1 !== process.totalGuide ? TEXT.general.next : TEXT.general.finish }}
        </button>
      </div>
    </div>
  </div>
</div>
