<ul class="nav g-admin-tabs-heading">
  <li *ngFor="let tab of tabs"
    class="g-admin-tabs-item"
    [ngClass]="{'active': tab.active}"
    (click)="selectTab(tab)">
    {{ tab?.header }}
  </li>
</ul>
<ng-content></ng-content>