@import "../../../details-chart/src/app/details-chart.component.scss";

.resume-chart {
  position: relative;
  z-index: 2;

  .table-header-content {
    margin: 20px 0px;
  }
}

.highcharts-contextmenu {
  display: block !important;
  top: 25% !important;
  right: 0px !important;
  padding: 0px !important;

  .highcharts-menu {
    background: rgba(115, 114, 114, 0.6196078431372549) !important;
    padding: 0px !important;
    box-shadow: none !important;
    border-color: transparent !important;
    border-radius: 4px 0px 0px 4px;
  }

  .highcharts-menu-item {
    color: #fff !important;
    padding: 7px 10px !important;

    &:hover {
      background: #4c4c4c !important;
    }

    & > i {
      font-size: 16px;
    }
  }
}

.highcharts-drillup-button > text {
  fill: white !important;
}

.loader-chart {
  display: block;
  margin: auto;
  padding-top: 5px;
  width: 324px;
}
