<div class="page-section dark resume-chart">
  <div class="table-header text-center">
    <h1 class="page-title">{{ TEXT.general.marketSummary }}</h1>
    <div class="table-header-content">
      <div class="time-filter">
        <div class="btn-group-toggle d-lg-block">
          <label class="btn" [ngClass]="{ 'btn-primary': selectedTime === 1 }">
            <input
              type="radio"
              [value]="1"
              name="timeFilter"
              [(ngModel)]="selectedTime"
              (ngModelChange)="onTimeChange(1)"
              ctrl="timeFilter" (domChange)="onDomChange($event, { timeFilter: TEXT.filters.datesRange.day })"
            />
            <span>{{ TEXT.filters.datesRange.day }}</span>
          </label>
          <label class="btn" [ngClass]="{ 'btn-primary': selectedTime === 30 }">
            <input
              type="radio"
              [value]="30"
              name="timeFilter"
              [(ngModel)]="selectedTime"
              (ngModelChange)="onTimeChange(30)"
              ctrl="timeFilter" (domChange)="onDomChange($event, { timeFilter: TEXT.filters.datesRange.month })"
            />
            <span>{{ TEXT.filters.datesRange.month }}</span>
          </label>
          <label class="btn" [ngClass]="{ 'btn-primary': selectedTime === 90 }">
            <input
              type="radio"
              [value]="90"
              name="timeFilter"
              [(ngModel)]="selectedTime"
              (ngModelChange)="onTimeChange(90)"
              ctrl="timeFilter" (domChange)="onDomChange($event, { timeFilter: '3 ' + TEXT.filters.datesRange.months })"
            />
            <span>3 {{ TEXT.filters.datesRange.months }}</span>
          </label>
          <label class="btn" [ngClass]="{ 'btn-primary': selectedTime === 180 }">
            <input
              type="radio"
              [value]="180"
              name="timeFilter"
              [(ngModel)]="selectedTime"
              (ngModelChange)="onTimeChange(180)"
              ctrl="timeFilter" (domChange)="onDomChange($event, { timeFilter: '6 ' +  TEXT.filters.datesRange.months })"
            />
            <span>6 {{ TEXT.filters.datesRange.months }}</span>
          </label>
          <label class="btn" [ngClass]="{ 'btn-primary': selectedTime === 365 }">
            <input
              type="radio"
              [value]="365"
              name="timeFilter"
              [(ngModel)]="selectedTime"
              (ngModelChange)="onTimeChange(365)"
              ctrl="timeFilter" (domChange)="onDomChange($event, { timeFilter: TEXT.filters.datesRange.year })"
            />
            <span>{{ TEXT.filters.datesRange.year }}</span>
          </label>
          <bvl-loader class="loader-chart" *ngIf="showLoader"></bvl-loader>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="dataChart?.length > 0; else noData">
    <div id="resume-chart"></div>

  </ng-container>
  <ng-template #noData>
    <div class="text-center">
      {{ TEXT.filters.datesRange.noData }}
    </div>
  </ng-template>
</div>
