<div class="row no-gutters">
  <div class="col-12">
    <bvl-accordion>
      <bvl-accordion-group active="true">
        <bvl-accordion-header>SEO</bvl-accordion-header>
        <bvl-accordion-content>

          <bvl-tabs>

            <bvl-tab header="Optimización de contenido">

              <div class="g-admin-card-wrapper">

                <bvl-accordion>
                  <bvl-accordion-group active="true">
                    <bvl-accordion-header>Vista Previa</bvl-accordion-header>
                    <bvl-accordion-content>
                      <!-- Contenido -->
                      <div class="row">
                        <div class="col-6">
                          <admin-seo-form-meta></admin-seo-form-meta>
                        </div>
                        <div class="col-6">
                          <section class="mb-xs-1">
                            <admin-seo-snippet-preview [isMobile]="isMobile"></admin-seo-snippet-preview>
                          </section><!-- Botones -->
                          <admin-seo-btn-platform (changePlatform)="isMobile = $event?.isMobile">
                          </admin-seo-btn-platform>
                        </div>
                      </div>
                    </bvl-accordion-content>
                  </bvl-accordion-group>

                  <bvl-accordion-group>
                    <bvl-accordion-header>Añadir frase clave relacionada</bvl-accordion-header>
                    <bvl-accordion-content>
                      <admin-seo-valid-metadata></admin-seo-valid-metadata>
                    </bvl-accordion-content>
                  </bvl-accordion-group>
                </bvl-accordion>

              </div>

            </bvl-tab>

            <bvl-tab header="Social">

              <div class="g-admin-card-wrapper">

                <admin-seo-social-snippet-preview></admin-seo-social-snippet-preview>

              </div>

            </bvl-tab>

            <bvl-tab header="Avanzando">

              <div class="g-admin-card-wrapper">

                <div class="g-admin-card-wrapper g-admin-card-wrapper--light mt-xs-0">

                  <admin-seo-form-advance></admin-seo-form-advance>

                </div>

              </div>

            </bvl-tab>

          </bvl-tabs>

        </bvl-accordion-content>
      </bvl-accordion-group>
    </bvl-accordion>
  </div>
</div>
<!--


- Registro Titulo
- Registrar Meta description
- Frase clave objetivo

- Validar titulo
* The focus keyword "multiplica" is used in the Page Title
* The focus keyword "multiplica" is used at the beginning of the Page Title
* The Page Title length is perfect, 1 characters available. (59 of 60 characters used)
- Validar description
* The focus keyword "multiplica" doesn't appear in the Meta description
* The Meta description length is perfect, 0 characters available. (160 of 160 characters used)

Total SEO Score (50)

- Page Title
You've entered a Page Title
The focus keyword "multiplica" is used in the Page Title
The focus keyword "multiplica" is used at the beginning of the Page Title
The Page Title length is perfect, 1 characters available. (59 of 60 characters used)

- Meta description
You've entered a Meta description
The focus keyword "multiplica" doesn't appear in the Meta description
The Meta description length is perfect, 0 characters available. (160 of 160 characters used)

- Contenido
You should add a H1
The focus keyword "multiplica" doesn't appear in the H1
You've added text to the document
Your text doesn't contain enough words, a minimum of 300 words is recommended
The focus keyword "multiplica" doesn't appear in first paragraph of the text
You should use the focus keyword keyword "multiplica" more often, to improve the keyword density (0%)
You should add an image
The focus keyword "multiplica" doesn't appear in the image name
The focus keyword "multiplica" doesn't appear in the image Alt tag
Add relevant links to improve user experience and internal link structure

https://www.seoreviewtools.com/content-analysis/



----
Enlaces salientes: No hay enlaces salientes en esta página. ¡Añade alguno!

Frase clave en la introducción: Tu frase clave o sus sinónimos no aparecen en el primer párrafo. Asegúrate de que el tema esté claro inmediatamente.

Densidad de frase clave: La frase clave objetivo se ha encontrado 0 veces. Eso es menos que el mínimo recomendado de 2 veces para un texto con esta longitud. ¡Céntrate en tu frase clave!

Frase clave en la meta description: La meta description se ha especificado, pero no contiene la frase clave objetivo. ¡Arregla eso!

Atributos de imagen alt: Las imágenes de esta página no tienen atributos alt que reflejen el tema de tu texto. ¡Añade tu frase clave o sinónimos a las etiquetas alt de las imágenes relevantes!

Longitud del texto: El texto contiene 169 palabras. Esto está muy por debajo del mínimo recomendado de 900 palabras. Añade más contenido.

Frase clave en el título: No todas las palabras de tu frase clave "multiplica ipsum" aparecen en el título SEO. Trata de usar exactamente tu misma frase clave en el título SEO.

Frase clave en el slug: (Parte de) tu frase clave no aparece en el slug. ¡Cambia eso!
-
Enlaces internos: Tienes suficientes enlaces internos. ¡Buen trabajo!

Longitud de la frase clave: ¡Buen trabajo!

Longitud de la meta description: ¡Bien hecho!

Frase clave usada previamente: No has usado antes esta frase clave objetivo, muy bien.

Ancho del título SEO: ¡Buen trabajo!

-->

<!--
  Etiqueta	Variable	Descripción
Fecha	%%date%%	Reemplazado con los datos de la entrada/página
Título	%%title%%	Reemplazado con el título de la entrada/página
**Título superior	%%parent_title%%	Reemplazado con el título de la página superior de la página actual
**Título del archivo	%%archive_title%%	Reemplazado con el título normal de un archivo generado por WordPress
Título del sitio	%%sitename%%	El nombre del sitio
Descripción corta	%%sitedesc%%	Descripción corta del sitio
Extracto	%%excerpt%%	Reemplazado con el extracto de la entrada/página (o la autogenerada si no existe)
**Solo el extracto	%%excerpt_only%%	Reemplazado con el extracto de la entrada/página (sin autogeneración)
Etiqueta	%%tag%%	Reemplazado con la(s) etiqueta(s) actuales
Categoría	%%category%%	Reemplazar con las categorías de la entrada (separadas con coma)
Categoría principal	%%primary_category%%	Reemplazado con la categoría principal de la entrada/página
* Descripción de la categoría	%%category_description%%	Reemplazado con la descripción de la categoría
Descripción de la etiqueta	%%tag_description%%	Reemplazado con la descripción de la etiqueta
Descripción del término	%%term_description%%	Reemplazado con la descripción del término
Título del término	%%term_title%%	Reemplazado con el nombre del término
** Frase de búsqueda	%%searchphrase%%	Reemplazado con la frase de búsqueda actual
Separador	%%sep%%	El separador definido en la etiqueta wp_title() de tu tema.
-->

<!--
<-- Primary Meta Tags --
<title>Meta Tags — Preview, Edit and Generate </title>
<meta name="title" content="Meta Tags — Preview, Edit and Generate ">
<meta name="description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">

<-- Open Graph / Facebook --
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="Meta Tags — Preview, Edit and Generate ">
<meta property="og:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

<-- Twitter --
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="Meta Tags — Preview, Edit and Generate ">
<meta property="twitter:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
<meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
-->
