<div class="pl-xs-2 pr-xs-2 mt-xs-3 mb-xs-2">
  <h1 class="g-fs-30 g-fw-normal mb-xs-0" [innerHTML]="welcomeMessage"></h1>
</div>
<ng-container *ngFor="let item of dashboard; let i = index">
  <bvl-card-wrapper [withoutResults]="!item?.content?.length" [worMessage]="GENERAL_LANG?.messages?.notExistUpdates">
    <div class="row">
      <div class="col-8">
        <h3 class="g-admin-subheading-section">
          {{ DASHBOARD[i]?.title }}
          <span class="g-cl-red1">({{ item?.totalElements }})</span>
        </h3>
      </div>
      <div class="col-4 text-right">
        <bvl-link *ngIf="item?.content?.length"
          class="g-text--uppercase"
          color="red"
          (click)="seeAll(DASHBOARD[i]?.stateCode)">
          {{ GENERAL_LANG?.links?.seeAll }}
          <i class="la la-arrow-right"></i>
        </bvl-link>
      </div>
    </div>
    <ng-container *ngFor="let page of item?.content">
      <admin-item-page [page]="page"
        (deletePage)="deletePage($event)">
      </admin-item-page>
    </ng-container>
  </bvl-card-wrapper>
</ng-container>
