<div class="g-site-alert" [ngClass]="{'g-site-alert--success': type === 'success'}">
  <div class="g-site-alert--icon"
    [ngClass]="{
      'icon-check': type === 'success',
      'icon-alert': type === 'error'
    }">
  </div>
  <div class="g-site-alert--content">
    <ng-content></ng-content>
  </div>
</div>
