<ng-container *ngIf="url; then withUrl; else withourUrl"></ng-container>

<ng-template #withUrl>
    <a [attr.href]="url" class="all-link">
        <h5 class="popover-header"
            *ngIf="title">
            <ng-template #simpleTitle>{{ title }}</ng-template>
            <ng-template [ngTemplateOutlet]="isTitleTemplate() ? title : simpleTitle"></ng-template>
        </h5>
        <div class="popover-body">
            <ng-content></ng-content>
        </div>
    </a>
</ng-template>

<ng-template #withourUrl>
    <h5 class="popover-header" *ngIf="title">
        <ng-template #simpleTitle>{{ title }}</ng-template>
        <ng-template [ngTemplateOutlet]="isTitleTemplate() ? title : simpleTitle"></ng-template>
    </h5>
    <div class="popover-body">
        <ng-content></ng-content>
    </div>
</ng-template>