<div class="g-container">
  <div class="row">
    <div class="col-12 mt-xs-3 mb-xs-2">
      <button type="button"
        bvl-button
        theme="gray"
        class="g-admin-btn-with-icon g-admin-btn-iconLeft"
        (click)="goBack()">
        <span>{{ GENERAL_LANG?.buttons?.back }}</span>
        <i class="la la-long-arrow-left"></i>
      </button>
    </div>
    <div class="col-12">
      <h3 class="">
        {{ PAGE_LANG?.titles?.chooseTemplateYouWantAndStartEdit }}
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mb-4"
      *ngFor="let template of templateList">
      <admin-item-template [template]="template"></admin-item-template>
    </div>
  </div>
</div>