<div [ngClass]="{
  'g-admin-input-password': isPasswordType,
  'g-admin-input-search': isSearchType
}">
  <span *ngIf="isPasswordType"
    class="la la-eye g-fs-24 g-cl-gray1 g-cursor-pointer"
    [ngClass]="{'g-cl-green1': viewPassword}"
    (click)="togglePasswordType()">
  </span>
  <span *ngIf="isSearchType"
    class="la la-search">
  </span>
  <input class="g-admin-input"
    [ngClass]="{'g-admin-input-error': error}"
    [attr.type]="type"
    [attr.multipled]="multipled"
    [attr.accept]="accept"
    [attr.placeholder]="placeholder"
    [attr.pattern]="pattern"
    [attr.maxlength]="maxlength"
    [(ngModel)]="model"
    [disabled]="disabled"
    [readonly]="readonly"
    (focus)="onFocusInput($event)"
    (blur)="onBlurInput($event)"
    (change)="onChangeInput($event)">
</div>
