<div class="row row justify-content-center">
  <div class="col-12 col-md-8">
    <div class="box g-pt-sm--25 g-px-sm--35 g-pb-sm--35 g-my-sm--50 text-center text-sm-left">
      <div class="d-sm-flex g-fs--15">
        <div class="g-pt--10">
          <span class="icon-success g-fs--35 font-green"></span>
        </div>
        <div class="g-pl-sm--15 g-pt--15 g-pt-sm--5">
          <div class="g-fs--21">
            Código de suscripción: <strong>{{ subscriptionCode }}</strong>
          </div>
          <div>
            En breve recibirás un e-mail de confirmación
          </div>
        </div>
      </div>
      <div class="g-pt--35 g-pl-sm--50">
        <a href="javascript:void(0)"
          class="btn btn-primary g-px--35"
          routerLink="/sitio-privado">
          Ir al sitio privado
        </a>
      </div>
    </div>
  </div>
</div>
