<bvl-card>
  <bvl-card-header>
    <div class="row justify-content-between">
      <div class="col-3">
        <bvl-card-cell borderRight>
          <bvl-breadcrumb class="d-block w-100" *ngIf="page?.parentPath"
            [list]="[page?.parentPath]">
          </bvl-breadcrumb>
          <div class="d-flex">
            <i class="la g-fs-20 mr-xs-1"
              [ngClass]="(page?.type === PAGE_TYPES.page.code) ?  PAGE_TYPES.page.icon : PAGE_TYPES.publication.icon"></i>
            <h4 class="g-fs-17 mb-xs-0">
              {{ page?.name }}
            </h4>
          </div>
        </bvl-card-cell>
      </div>
      <ng-container *ngIf="page?.type === TYPES_CODE?.dynamic; else notEdit">
        <div class="col-2 pl-xs-0">
          <bvl-card-cell [label]="GENERAL_LANG?.labels?.lastUpdate">
            <span class="g-info-w-icon">
              <i class="la la-calendar"></i>
              {{ page?.lastUpdate | date: DATE_FORMAT?.ddMMyyyy }}
            </span>
            <span class="g-info-w-icon">
              <i class="la la-user"></i>
              {{ page?.username }}
            </span>
          </bvl-card-cell>
        </div>
        <div class="col-2">
          <bvl-card-cell [label]="GENERAL_LANG?.labels?.state">
            <admin-label-state [state]="page?.status"></admin-label-state>
          </bvl-card-cell>
        </div>
        <div class="col-2">
          <bvl-card-cell [label]="GENERAL_LANG?.labels?.language">
            <admin-item-language [languages]="page?.languages"></admin-item-language>
          </bvl-card-cell>
        </div>
      </ng-container>
      <ng-template #notEdit>
        <div class="col-6 pl-xs-0">
          <bvl-card-cell [label]="GENERAL_LANG?.labels?.notEditable">
            <span class="g-info-w-icon">
              <i class="la la-file-text"></i>
              {{ PAGE_LANG?.descriptions?.staticPageCanNotEdit }}
            </span>
          </bvl-card-cell>
        </div>
      </ng-template>
      <div class="col-3 text-right">
        <ng-container *ngFor="let item of actionButtons">
          <button type="button"
            bvl-button
            theme="square"
            (click)="buttonAction(item)">
            <div class="d-flex align-items-center">
              <i class="la" [ngClass]="item?.icon"></i>
              <span class="ml-1" *ngIf="ACTION_TYPES.revise === item.actionType">{{ page?.commentsQuantity }}</span>
            </div>
            <span>{{ item.description }}</span>
          </button>
        </ng-container>
      </div>
    </div>
  </bvl-card-header>
</bvl-card>

<swal
  #swalDelete
  [options]="swalDeleteOptions"
  (confirm)="delete()">
</swal>