<div class="g-admin-wrapper">
  <aside class="g-admin-sidebar g-admin-sidebar-static" [hidden]="seePublication">
    <admin-component-sidebar></admin-component-sidebar>
  </aside>
  <main class="g-admin-main" [ngClass]="(seePublication) ? 'g-admin-main-full' : 'g-admin-main-static'">
    <admin-editor-buttons-header
      [editorType]="(seePublication) ? EDITOR_TYPES.seePublication.code : EDITOR_TYPES.publication.code"
      [pageState]="pageState"
      (changeLanguage)="changeLanguage($event)"
      (buttonAction)="buttonAction($event)">
    </admin-editor-buttons-header>
    <form [formGroup]="frmEditor">
      <div class="g-admin-card-wrapper m-xs-0">
        <div class="row">
          <div class="col-12">
            <div class="g-block mb-xs-2">
              <bvl-input [placeholder]="EDITOR_LANG?.labels?.pageTitle"
                formControlName="mTitlePage"
                [error]="validateControl('mTitlePage')"
                (input)="changeTitlePage(mTitlePage?.value)">
              </bvl-input>
            </div>
          </div>
        </div>
        <div class="row align-items-center no-gutters">
          <div class="col-6">
            <bvl-select
              [hidden]="mParentPathType.value !== PARENT_PATH_TYPE.CATEGORY"
              placeholder="-{{GENERAL_LANG?.labels?.category}}-"
              (change)="changeParentPath(mCategory?.value)"
              [dataList]="categoriesListByLanguage"
              formControlName="mCategory"
              textField="category"
              valueField="category"
            >
            </bvl-select>
            <bvl-autocomplete
              [hidden]="mParentPathType.value !== PARENT_PATH_TYPE.PAGE"
              [canFilter]="false"
              [dataList]="dataListAutocomplete"
              [formControl]="mParentPath"
              matchField="path"
              placeholder="Busca una página"
              textField="path"
            >
            </bvl-autocomplete>
          </div>
          <div class="col-6">
            <bvl-radio-button
              [formControl]="mParentPathType"
              [value]="PARENT_PATH_TYPE.CATEGORY"
              class="mx-2"
            >
              Categoria
            </bvl-radio-button>
            <bvl-radio-button
              [formControl]="mParentPathType"
              [value]="PARENT_PATH_TYPE.PAGE"
            >
              Página
            </bvl-radio-button>
          </div>
        </div>
        <div class="row align-items-center no-gutters mt-4">
          <div class="col-auto">
            <label class="g-fw-bold g-fs-12 mb-0">
              {{ EDITOR_LANG?.labels?.permanentLink }}:
              <bvl-link>{{ canonicalPartial }}</bvl-link>
            </label>
          </div>
          <div class="col-5">
            <bvl-input
              (input)="changePagePath()"
              [error]="validateControl('mPagePath')"
              formControlName="mPagePath"
            >
            </bvl-input>
          </div>
        </div>
      </div>
    </form>

    <div *ngIf="template"
      addDirectives
      class="g-overflow-hidden m-xs-2"
      id="contentHtml"
      [emptyElement]="emptyElement.firstElementChild"
      [hideDelete]="seePublication"
      [hideEdit]="seePublication"
      [idPage]="idPage"
      [innerHTML]="template | safeHtml"
      [language]="language"
      [refComponents]="refComponents"
      (edit)="updateTemplate($event)">
    </div>

    <!-- SEO -->
    <admin-seo-form></admin-seo-form>
    <!-- SEO -->

  </main>
</div>

<div class="d-none" #emptyElement>
  <div class="g-admin-component-wrapper g-admin-component-wrapper-empty mb-xs-2" empty>
    <div class="p-xs-2">
      <div class="d-flex justify-content-center align-content-center align-items-center p-xs-1">
        <div class="g-admin-circle-icon">
          <i class="la la-puzzle-piece"></i>
        </div>
        <span class="g-fs-15 text-center ml-xs-1">
          Arraste aquí un componente
        </span>
      </div>
    </div>
  </div>
</div>

<swal
  #swalCancel
  [options]="swalCancelOptions"
  (confirm)="cancelChanges()">
</swal>
