<bvl-tabs (selectTabChange)="selectTabChange($event)">

  <ng-container *ngFor="let tab of LANGUAGE_TYPES">
    <bvl-tab [header]="tab?.description" [value]="tab?.code">

      <div *ngIf="activeLanguage === tab?.code"
        class="g-admin-card-wrapper">

        <bvl-accordion>

          <bvl-accordion-group active="true">
            <bvl-accordion-header>Header</bvl-accordion-header>
            <bvl-accordion-content>
              <div class="text-right mb-4">
                <button bvl-button
                  type="button"
                  class="g-admin-btn-with-icon g-admin-btn-iconLeft"
                  (click)="addItem(SITE_MENU_TYPE?.HEADER)">
                  <span>Agregar</span>
                  <i class="la la-plus-circle"></i>
                </button>
              </div>
              <ng-container *ngFor="let item of header | orderBy:['+order']; let i = index">
                <ng-container *ngTemplateOutlet="tplAccordion,
                  context: {
                    $implicit: item,
                    index: i,
                    list: header
                  }">
                </ng-container>
              </ng-container>
            </bvl-accordion-content>
          </bvl-accordion-group>

          <bvl-accordion-group>
            <bvl-accordion-header>Footer</bvl-accordion-header>
            <bvl-accordion-content>
              <div class="text-right mb-4">
                <button bvl-button
                  type="button"
                  class="g-admin-btn-with-icon g-admin-btn-iconLeft"
                  (click)="addItem(SITE_MENU_TYPE?.FOOTER)">
                  <span>Agregar</span>
                  <i class="la la-plus-circle"></i>
                </button>
              </div>
              <ng-container *ngFor="let item of footer | orderBy:['+order']; let i = index">
                <ng-container *ngTemplateOutlet="tplAccordion,
                  context: {
                    $implicit: item,
                    index: i,
                    list: footer
                  }">
                </ng-container>
              </ng-container>
            </bvl-accordion-content>
          </bvl-accordion-group>

        </bvl-accordion>

      </div>

    </bvl-tab>
  </ng-container>

</bvl-tabs>

<ng-template #tplAccordion let-item let-index="index" let-list="list" let-parent="parent">
  <div>
    <admin-item-menu [item]="item"
      [parent]="parent"
      [showUp]="index > 0"
      [showDown]="index < (list.length - 1)"
      (upChange)="upChange(index, item, list)"
      (downChange)="downChange(index, item, list)"
      (remove)="remove(index, list)"
      (collapsed)="collapsed(item, list)">
    </admin-item-menu>
  </div>
  <div class="g-admin-card-show" [ngClass]="{'active': !item?.collapse && item?.children?.length }" [collapse]="item?.collapse">
    <ng-container *ngFor="let subItem of item?.children | orderBy:['+order']; let i = index">
      <ng-container *ngTemplateOutlet="tplAccordion,
        context: {
          $implicit: subItem,
          index: i,
          list: item?.children,
          parent: item
        }">
      </ng-container>
    </ng-container>
  </div>
</ng-template>