<article>
  <a ctrl="fileLink"
    (domChange)="onDomChange($event, { fileTitle: file.title })"
    href="javascript:void(0)"
    [title]="file?.title"
    (click)="action(file)">
    <div>
      <header>
        <h3 [title]="file.title">{{ file.title }}</h3>
        <time *ngIf="file.date">{{ file.date | date : 'd MMMM y'}}</time>
      </header>
    </div>
    <i class="icon-download"></i>
  </a>
</article>
