@import "../../../../../core/lib/src/styles/main.scss";

article {
  height: 100%;
  a {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem 2.46rem;
    justify-content: space-between;
    transition: color 0.2s, background-color 0.2s;
    background-color: white;
    color: inherit;
    min-height: 7.7rem;
    height: 100%;
    &:hover {
      background-color: $red;
      color: white;
      i {
        color: white;
      }
    }
  }
  h3 {
    margin: 0;
    font-family: $base-font;
    font-size: 1.08rem;
    font-weight: 700;
  }
  i {
    font-size: 2.46rem;
    color: $red;
    transition: color 0.2s;
  }
}
