<admin-header customClass="g-admin-header-editor"></admin-header>
<bvl-notify [type]="notification?.type" [active]="activeNotify">{{ notification?.description }}</bvl-notify>
<router-outlet></router-outlet>