@import "../../../../../core/lib/src/styles/main.scss";

.in-column{
  .index{
    height: initial!important;
    padding: 0.45rem 1.8rem!important;
  }
}
.index {
  display: flex;
  transition: color 0.2s, background-color 0.2s;
  color: inherit;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  &.sm {
    padding: 1.5rem 1rem;
    height: 7.3rem;
  }
  &.md {
    padding: 1.5rem 1.8rem;
    height: 8.69rem;
    @include media-breakpoint-up(md) {
      height: 10.77rem;
      padding: 1.5rem 1.8rem;
    }
  }
  cursor: pointer;
  &:hover {
    color: $body-color;
    box-shadow: inset 0px 0px 0px 1px #0000002b;
  }
}

.details {
  padding-right: 0.8rem;
}
h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1.62rem;
  font-family: $title-font;
  line-height: 0.9;
}
h4 {
  margin: 0;
  font-size: 0.923rem;
  font-weight: 700;
  font-family: $title-font;
}
p {
  margin: 0;
  font-size: 0.923rem;
  font-family: $title-font;
}
