<a href="javascript:void(0);" class="index" [ngClass]="size">
  <div class="details">
    <h3>{{ index.name }}</h3>
    <h4>
      <ng-container *ngIf="index.variation">
        <bvl-amount-cell [variation]="index.variation">
          {{ index.variation }}%
        </bvl-amount-cell>
      </ng-container>
    </h4>
    <p>{{ index.value }}</p>
  </div>


  <ng-template [ngIf]="index.quotesHistory">
    <div class="graphic-wrapper">
      <div [id]="index.name + '-graphic'"></div>
    </div>
  </ng-template>
</a>
