@import "../styles/main.scss";

bvl-accordion {
  .accordion-toggler {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
  }

  .content {
    overflow: hidden;
  }

  .content-inner {
    padding: 0 0.15rem;
  }

  .accordion-default {
    margin-bottom: 10px;
    text-transform: uppercase;

    .accordion-toggler {
      color: $red;
      padding: 0 0.15rem 1.23rem;

      i {
        color: $red;
      }
    }

    .content-inner {
      padding-bottom: 1.23rem;
      padding-top: 1.23rem;
      max-height: 600px;
      overflow-y: auto;
      @include fancyScrollbar(rgba($black, .3), rgba($black, .1));
    }
  }

  .accordion-dark {
    .accordion-toggler {
      color: white;
      padding-bottom: 0.62rem;
      padding-top: 0.62rem;
    }
  }
}
