<div class="accordion-{{variant}}" [ngClass]="{'active': expanded }">
  <div (click)="toggle()" class="accordion-toggler"
  ctrl="accordion"
  (domChange)="onDomChange($event)"
  [attr.data-action]="expanded ? 'Abrir' : 'Cerrar'">
    <div style="pointer-events: none">
      <ng-content select="[bvl-accordion-toggler]"></ng-content>
    </div>
    <i [ngClass]="expanded ? iconExpanded : iconCollapsed" *ngIf="active"></i>
  </div>
  <div class="content" [@expand]="(expanded || !active) ? 'expanded' : 'collapsed'">
    <div class="content-inner">
      <ng-content></ng-content>
    </div>
  </div>
</div>
