<div [ngClass]="{'container': !privateSite}">
  <section>
    <ng-container *ngIf="privateSite; else notPrivate">
      <bvl-section-header [title]="TEXT.general.myVideos"> </bvl-section-header>
    </ng-container>
    <ng-template #notPrivate>
      <bvl-section-header
        *ngIf="bagPlay?.title"
        [ga]="bagPlay?.ga"
        [title]="bagPlay?.title"
        [align]="bagPlay?.align"
        [isLink]="bagPlay?.isLink"
        [textLink]="bagPlay?.textLink"
        [urlLink]="bagPlay?.urlLink">
      </bvl-section-header>
    </ng-template>
    <ng-container *ngIf="bagPlay?.videos && bagPlay?.videos?.length; else noData">
      <bvl-carousel [ga]="bagPlay?.ga" [canBeActivated]="true">
        <ng-container *ngFor="let entry of bagPlay?.videos | matchesEntryType: activeFilter">
          <ng-template bvlCarouselSlide>
            <bvl-entry
              [ga]="bagPlay?.ga"
              [entry]="entry"
              actions="['save', 'delete']"
              class="slide"
              [env]="env"
              (changeEntry)="changeEntry($event)">
            </bvl-entry>
          </ng-template>
        </ng-container>
      </bvl-carousel>
    </ng-container>
    <ng-template #noData>
      <bvl-without-data [type]="WITHOUT_DATA_TYPE?.video" icon="icon-youtube"></bvl-without-data>
    </ng-template>
  </section>
</div>