@import "../../../../core/lib/src/styles/main.scss";

section ::ng-deep {
  .carousel-item {
    width: 295px;

    @include media-breakpoint-down(sm) {
      min-width: 40vw;
      width: 40vw;
    }

    @include media-breakpoint-down(xs) {
      min-width: 80vw;
      width: 80vw;
    }
  }

  bvl-entry article.entry-default header h3 {
    white-space: normal !important;
  }
}
