<article>
  <div class="g-site-about row no-gutters" [style.background-image]="'url(' + image + ')'">
    <div class="container">
      <div class="g-site-about--wrapper">
        <div class="g-site-about--content">
          <div class="d-md-flex align-items-center">
            <div class="g-pr--35">
              <h2>{{ title }}</h2>
              <p>{{ text }}</p>
            </div>
            <div *ngIf="isButton">
              <a ctrl="button" (domChange)="onDomChange($event, { title: title, button: textButton })"
                [href]="urlButton" class="btn btn-primary g-min-w--18">{{ textButton }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
