@import "../../../../core/lib/src/styles/main.scss";

.g-site-about {
  position: relative;
  background-color: $darkest-gray;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    background: rgba(35, 35, 35, 0.7);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    @include media-breakpoint-up(md) {
      background-color: rgba(35, 35, 35, 0.5);
      background: linear-gradient(
        to left,
        rgba(35, 35, 35, 1) 0%,
        rgba(35, 35, 35, 1) 50%,
        rgba(35, 35, 35, 0.5) 85%,
        rgba(35, 35, 35, 0) 100%
      );
    }
  }

  &--content {
    color: $white;
    padding: 35px 0;
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 60%;
    }
  }

  &--wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}
