.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px none inset;
  transition: background-color 5000s ease-in-out 0s;
}

.g-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.g-sticky-content {
  flex-grow: 1;
  width: 100%;
}

.g-sticky-footer {
  flex-shrink: 0;
  width: 100%;
}

.g-list-none {
  list-style: none;
}

.g-list-50 {
  @include media-breakpoint-up("md") {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    @include media-breakpoint-up("md") {
      width: 50%;
    }
  }
}

.g-transparent {
  display: block;
  position: relative;
  width: 100%;

  &::before {
    @media (min-width: 1300px) {
      background: rgba($background-color, .6);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: calc(50% - 590px);
      z-index: 1;
    }
  }

  &::after {
    @media (min-width: 1300px) {
      background: rgba($background-color, .6);
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: calc(50% - 590px);
      z-index: 1;
    }
  }

  &.g-transparent--gray {
    &::before {
      @media (min-width: 1300px) {
        background: rgba($gray8, .6);
      }
    }

    &::after {
      @media (min-width: 1300px) {
        background: rgba($gray8, .6);
      }
    }
  }
}

.g-min-w--18 {
  min-width: 180px;
}

.g-max-w--62 {
  max-width: 620px;
}

.g-font--normal {
  font-weight: 400;
}

.g-font--medium {
  font-weight: 500;
}

.g-font--bold {
  font-weight: 700;
}

.g-site-nofound {
  background-color: $white;
  border: 1px solid $gray7;
  border-radius: 5px;
  display: flex;
  min-height: 240px;
  padding: 25px;
  text-align: center;

  &--content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    width: 100%;
  }

  &--icon {
    color: $red1;
    font-size: 38px;
    margin-bottom: 5px;
  }

  &.g-site-nofound--data,
  &.g-site-nofound--list {
    background-color: $table-dark-background;
    border-radius: 0;
    border: none;
    color: $white;
    min-height: 190px;

    .g-site-nofound--content {
      padding-top: 30px;
    }

    .g-site-nofound--icon {
      position: relative;

      &::before {
        z-index: 1;
        position: relative;
      }

      &::after {
        background: $white;
        content: '';
        height: 80%;
        left: 10%;
        position: absolute;
        top: 10%;
        width: 80%;
      }
    }
  }

  &.g-site-nofound--data {
    min-height: 485px;
  }
}

.g-site-suscription {
  &--nofound {
    align-items: center;
    display: flex;
    min-height: 80px;
    padding-left: 5px;
  }

  &--icon {
    font-size: 20px;
    color: $red1;
    padding-right: 7px;
  }
}

.text-sm-left {
  @include media-breakpoint-up("sm") {
    text-align: left;
  }
}

.g-site-content {
  background: $white;
  padding: 5px;
  border-radius: 5px;
}

.g-site-main-tabs {
  .tablist {
    background: $table-dark-selected-row;
    padding: 15px 20px;
    border-radius: 4px;

    li {
      margin-right: 5px;
    }
  }
}

.g-site-bar {
  background: $table-dark-selected-row;
  padding: 15px;
  border-radius: 4px;
  width: 100%;

  @include media-breakpoint-up("lg") {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.g-site-form-options {
  align-items: center;
  border-top: 1px solid $gray15;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding-top: 15px;
  width: 100%;

  @include media-breakpoint-up("lg") {
    border-top: none;
    justify-content: flex-end;
    margin-top: 0;
    padding-top: 0;
  }
}

.g-site-w-px--10 {
  width: 100px;
}

.g-site-w-px--11 {
  width: 110px;
}

.g-site-w-px--12 {
  width: 120px;
}

.g-site-w-px--13 {
  width: 130px;
}

.g-site-w-px--14 {
  width: 140px;
}

.g-site-w-px--15 {
  width: 150px;
}

.g-site-ie-block {
  display: block !important;
}

.ml-auto {
  margin-left: auto;
}

.container {
  bvl-banner-full {
    article {
      .background {
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
      }
    }
  }
}

bvl-contact-us {
  > form {
    background-color: #f4f6fa;
    padding: 50px;

    @media (max-width: 767px) {
      padding: 30px 20px;
    }
  }
}
