<form [formGroup]="frmContactUs"
  class="w-100">

  <div class="row">

    <div class="col">
      <bvl-section-header [title]="TEXT.contactus.title"></bvl-section-header>
    </div>

  </div>

  <div class="row">

    <div class="page-subsection first col-12">

      <div class="row">

        <div class="col-12">

          <bvl-form-alert *ngIf="responseMessage" [type]="messageType">{{ responseMessage }}</bvl-form-alert>

        </div>

        <div class="col-12 col-lg-6">

          <div class="g-pb--15">
            <bvl-form-input [label]="TEXT.contactus.form.nameAndLastName"
              formControlName="mName"
              [error]="validateControl('mName')">
            </bvl-form-input>
          </div>

          <div class="g-pb--15">
            <bvl-form-input [label]="TEXT.contactus.form.phone"
              formControlName="mPhone"
              [error]="validateControl('mPhone')">
            </bvl-form-input>
          </div>

          <div class="g-pb--15">
            <bvl-form-input [label]="TEXT.contactus.form.email"
              formControlName="mEmail"
              [error]="validateControl('mEmail')">
            </bvl-form-input>
          </div>

        </div>

        <div class="col-12 col-lg-6">

          <div class="g-pb--15">
            <bvl-form-input [label]="TEXT.contactus.form.subject"
              formControlName="mSubject"
              [error]="validateControl('mSubject')">
            </bvl-form-input>
          </div>

          <div class="g-pb--15">
            <bvl-form-textarea [label]="TEXT.contactus.form.message"
              formControlName="mMessage"
              [error]="validateControl('mMessage')">
            </bvl-form-textarea>
          </div>

          <div class="d-flex justify-content-center">
            <re-captcha formControlName="mRecaptcha"
              [siteKey]="recaptchaKey">
            </re-captcha>
          </div>

        </div>

      </div>

    </div>

    <div class="col-12 g-pb--15">
      <bvl-form-checkbox formControlName="mTerms">
        He leído y acepto los <a href="javascript:void(0)" (click)="termsConditions()">terminos y condiciones.</a>
      </bvl-form-checkbox>
    </div>

    <div class="col-12 col-md-5 col-lg-3">

      <button class="btn btn-primary btn-block"
        (click)="send()">
        {{ TEXT.contactus.buttons.send }}
      </button>

    </div>

  </div>

</form>
